[2019-06-13 10:58] tonystr commented on #320
Already moved it! Lost permission to rename it though, could you handle that?

[2019-06-13 11:07] hacknug commented on #320
Permissions set and repo renamed. Thank you for your contribution!

[2019-06-13 11:07] #320 closed

[2019-06-13 11:08] hacknug commented on #295
Hey @BilelJegham 👋 Would you like to move the theme to the organization?

[2019-06-13 11:08] hacknug commented on #316
Hey @JRevirthuum 👋 Would you like to move the theme to the organization?

[2019-06-13 11:09] hacknug commented on #315
Hey @cweagans 👋 Would you like to move the theme to the organization?

[2019-06-13 11:09] hacknug commented on #311
Hey @sdeibel  👋 Would you like to move the theme to the organization?

[2019-06-13 11:12] hacknug commented on #280
Hey @oguhpereira 👋 Would you like to move the theme to the organization?

[2019-06-13 11:20] hacknug commented on #296
Hey @keegancsmith 👋 Would you like to move the theme to the organization?

@mienaikage yours was updated more recently. Any changes that should be backported to the other repo?

[2019-06-13 11:24] hacknug commented on #258
Hey @peter-er 👋 Would you mind pushing the changes to the org repo?

[2019-06-13 11:28] hacknug commented on #303
Hey @mienaikage 👋 Would you like to move the theme to the organization? You'd need to add the installation instructions and a screenshot to the readme first.

[2019-06-13 11:40] keegancsmith commented on #296
@hacknug yup, happy to do that and take in changes from @mienaikage.

[2019-06-13 11:49] hacknug commented on #296
Just invited you to the org. Feel free to migrate the repo whenever and I'll set the permissions so you can push changes directly.

[2019-06-13 11:57] keegancsmith commented on #296
Looks like it migrated properly :) https://github.com/dracula/kitty-dracula

[2019-06-13 11:57] #296 closed

[2019-06-13 12:38] sdeibel commented on #311
Not sure what you mean but Dracula is already shipped with Wing.

[2019-06-13 14:33] JRevirthuum commented on #316
I hope you do. 🙆🏼‍♂️

[2019-06-13 15:36] hacknug commented on #316
Just sent you the invite to join the team. Let me know once you've moved the repo and I'll change the permissions so you can push changes directly. Thanks!

[2019-06-13 16:07] hacknug commented on #296
@keegancsmith permissions set and repo renamed to `kitty`. Thank you!

[2019-06-13 17:22] cweagans commented on #315
Sure!

[2019-06-13 18:48] shmink commented on #313
Yes that sounds great. The only issue is I no longer have a mac to test and update the theme for limechat and future updates. With that in mind however the code should all be fine and with your approval, I'll go ahead and do what you suggest,

[2019-06-13 20:37] BilelJegham commented on #295
Great idea @hacknug ! 🤩

[2019-06-14 00:22] oguhpereira commented on #280
Yes @hacknug  :smile:

[2019-06-14 04:51] peter-er commented on #258
@hacknug Does it look OK now?

[2019-06-14 10:37] hacknug commented on #258
Thank you so much! I also wanted to ask you if there's any reason to keep both repos active? Won't this make it harder for you to maintain?

(Closing the issue since the org repo is now 👌)

[2019-06-14 10:37] #258 closed

[2019-06-14 10:39] hacknug commented on #280
Just invited you. Let me know once you've moved the repo and I'll set the repo's permissions.

[2019-06-14 10:41] hacknug commented on #295
Just sent you the invite! let me know once you've moved the repo and I'll change the permissions 😃

[2019-06-14 10:45] hacknug commented on #315
Just sent you the invite! let me know once you've move the repo and I'll set the right permissions so you can make changes.

[2019-06-14 10:52] hacknug commented on #313
Just sent you the invite! Let me know once you've move the repo and I'll change the permissions.

I wouldn't worry too much about that for now. If there's anything that needs to be updated people will probably open a issue to complain about it. I'll add myself as a member of the team to make sure I'm also notified 👍

[2019-06-14 11:16] BilelJegham commented on #295
Done !

[2019-06-14 11:19] hacknug commented on #295
Thanks @BilelJegham! Permissions set and repo renamed 🎉

[2019-06-14 11:19] #295 closed

[2019-06-14 15:34] STiXzoOR commented on #310
Hello, yeah sure 👍

[2019-06-14 15:49] hacknug commented on #310
Just sent you the invite to join the team. Let me know once you've transferred the repo and I'll set the right permissions!

[2019-06-14 16:01] STiXzoOR commented on #310
Ok, i think i have transferred the repo to the organisation

[2019-06-14 16:29] hacknug commented on #310
All set. Thank you so much for your contribution!

[2019-06-14 16:29] #310 closed

[2019-06-14 22:06] oguhpereira commented on #280
created https://github.com/dracula/dracula-typora

[2019-06-14 22:39] hacknug commented on #280
All set. Thank you! :tada:

[2019-06-14 22:39] #280 closed

[2019-06-16 19:45] 1337M0nst3r commented on #319
@hacknug First, sorry for the late reply. I double checked before making this repository but I only looked at https://github.com/dracula/dracula-theme since I thought these were all the themes. Going to delete this repo once you see the reply.

[2019-06-17 09:33] hacknug commented on #319
No need to apologize, we all have other things to take care of besides open-source 😉

Did you take a look at that repo? Anything that should be updated/fixed? // cc @dracula/termite

[2019-06-19 13:11] mienaikage commented on #303
@hacknug Installation instructions and screenshot have been added.

[2019-06-22 13:38] 1337M0nst3r commented on #319
The highlight property is not set, it should be #44475a as in you color palette also the site at https://draculatheme.com/termite is not found. Hope it helps.

[2019-06-22 17:49] thismat opened #324 "Windows Terminal Theme"
I ported Dracula to the new Windows Terminal (Preview) app that was released because I use Dracula everywhere.

Figured I would contribute the theme here.

https://github.com/thismat/windows-terminal-dracula-theme

![Screenshot](https://raw.githubusercontent.com/thismat/windows-terminal-dracula-theme/master/screenshot.png)

[2019-06-23 21:27] ahnafalrafi commented on #318
I second this. For (neo)vim I have adjusted this by changing the highlight color for the current line in my init.vim to make it darker than the background (so that it is distinguishable from the background and allows for greater contrast against the colors for comments). I checked for the hex code for hsl(231, 15%, 12%) and it is #1a1b23 (the background has the same first two arguments, but it is

[2019-06-23 21:38] ahnafalrafi commented on #318
Oh the end result looks like this for me:
![Screenshot from 2019-06-23 16-36-30](https://user-images.githubusercontent.com/20092027/59982280-3ddd5980-95d5-11e9-969e-935749599efc.png)

[2019-06-24 20:41] shmink commented on #313
Apologies for the tardy responses. I haven't received any invitation I'm afraid. With that, I'll be able to move the repo to the organisation?

[2019-06-24 21:09] shmink commented on #313
Update: There was definitely no notification that I received but I just used [the following](https://stackoverflow.com/a/44028010) answer to accept. I then went into the settings of my limechat repo and transferred the ownership to `dracula`. Hopefully, that's worked out.

[2019-06-26 09:33] hacknug commented on #303
Perfect! I just invited you to the organization so you can transfer the repo. Let me know once you've done it and I'll set the right permissions so you cna push changes directly.

[2019-06-26 09:36] hacknug commented on #313
Just changed the repo name and set the right permissions. Let me know if you need my help with anything else. Thank you for your contribution!

[2019-06-26 09:36] #313 closed

[2019-06-26 13:34] Sildoreth opened #325 "vstheme not vssettings"
The file for changing the Visual Studio theme should be a .vstheme file, not a .vssettings file. Importing a vssettings file **replaces** all the colors for whatever theme you happen to have active at the time.

I followed the instructions at [draculatheme.com](https://draculatheme.com/visual-studio/), and now instead of having an additional "Dracula" theme, I have a "Dark" theme that has been ove

[2019-06-26 13:48] Sildoreth commented on #325
Moving to the Visual-Studio section.

[2019-06-26 13:48] #325 closed

[2019-06-26 15:04] hacknug commented on #318
Agree this could/should be improved. Would like to hear other users opinion on the issue before we make any changes to the color palette 👍

[2019-06-26 15:16] hacknug commented on #324
Hey @thismat :wave: Just sent you an invite to join the org so you can transfer the repo. Let me know once you've done that and I'll set the right permission so you can push changes directly.

Thanks for the contribution! 🎉

[2019-06-26 15:31] hacknug commented on #322
@sergey27564 just migrated the repo and set the permissions so you can push directly to it from now on. Thanks for your contribution!

[2019-06-26 15:31] #322 closed

[2019-06-26 16:58] thismat commented on #324
Hey @hacknug, great news!

I have accepted the invite. And because I don't want to make a mistake in the transfer, you want it going to the `dracula` organization right? 👍 Thanks again!

[2019-06-26 17:05] hacknug commented on #324
Yes!

[2019-06-26 17:08] thismat commented on #324
Done!

[2019-06-26 17:10] hacknug commented on #324
@thismat all set! Thank you so much for your contribution. Let me know if you need my help with anything else 🎉

[2019-06-26 17:10] #324 closed

[2019-06-27 01:25] apercova opened #326 "Dracula theme for Oracle SQL Developer"
## New Theme

I've developed a theme based on the [color palette](https://github.com/dracula/dracula-theme#color-palette) for [Oracle SQL Developer](https://www.oracle.com/database/technologies/appdev/sql-developer.html) hosted at: [https://github.com/apercova/dracula-sqldeveloper](https://github.com/apercova/dracula-sqldeveloper).

![screenshot](https://raw.githubusercontent.com/apercova/dracula-

[2019-06-27 16:03] #319 closed

[2019-06-27 16:38] hacknug commented on #319
@1337M0nst3r thanks for looking into this. Would you like to become a maintainer of the theme and make the changes yourself? Seems like the current maintainers are busy and I think it'd be cool to have an active user of the theme around in case someone has an issue or something.

[2019-06-28 12:12] mienaikage commented on #303
Ownership transferred, name is still currently `fish-theme-dracula`.

[2019-06-28 12:14] hacknug commented on #303
Thank you so much for your contribution! Just set the right permissions so you can take care of it from now on. Let me know if you ever need my help with anything 👍

[2019-06-28 12:14] #303 closed

[2019-06-28 12:23] hacknug commented on #283
Hey @huezo :wave: Would you like to transfer your repo to the organization and become a maintainer?

[2019-06-28 12:26] hacknug commented on #247
Someone mentioned in #318 that comments were hard to read when highlighted. Guess this would be the right place to discuss that?

[2019-06-28 12:27] hacknug commented on #321
Would be open to a PR adding it to the repo's submodules 👍

[2019-06-28 12:34] hacknug commented on #309
Hey @pavel-agarkov @guerremdq :wave: Would you like to create a repo with screenshots, installation instructions and annything needed to maintain this theme? That way we could have it in the organization and people could report any issues they encounter with the theme.

[My Pythonista theme](https://draculatheme.com/pythonista/) is also one of this weird edge cases and I'll probably be doing this

[2019-06-28 12:37] hacknug commented on #274
Hey @oguhpereira :wave: Would you mind adding the _Team_ section to the readme? You can take a look at it on [the template](https://github.com/dracula/template). After this I think it'll be ready to be moved to the org. Let me know if/when it's done and I'll set the team and send you the invite! 👍

[2019-06-28 12:42] hacknug commented on #314
Hey @AGitBoy :wave: Thanks for bringing this up! I've just sent you an invitation to join the org and become a part of @dracula/zsh so you can help taking care of it from now on.

[2019-06-28 12:42] #314 closed

[2019-06-28 21:21] namitoyokota opened #327 "Dracula for Eclipse"
## New Theme?

We would love to support all code editors out there, but we need your help to accomplish that. Feel free to create a new theme based on our [color palette](https://github.com/dracula/dracula-theme#color-palette).

## Existing Theme?

Consider fixing the issue yourself. That's the best way to contribute ;)

If that doesn't work, take a screenshot that shows the actual bug and mention

[2019-06-29 15:51] hacknug commented on #29
Reopening this because it's been requested once again and maybe someone would like to help putting an official version together 🙏

[2019-06-29 15:52] hacknug commented on #327
Duplicate of #29

[2019-06-29 15:52] #327 closed

[2019-07-01 10:50] SebastianOner opened #328 "Dracula Theme for Windows Terminal"
## New Theme
Recently Microsoft released the new Windows Terminal, I added the Color scheme to the configuration json and think other people could benefit from that as well
![image](https://user-images.githubusercontent.com/42720856/60430916-c1fb9680-9bfe-11e9-8b99-cf57a73a4f29.png)
[My Repo](https://github.com/SebastianOner/Dracula-Windows-Terminal)
I hope everything is according to code so far

[2019-07-01 12:18] hacknug commented on #328
Hey @SebastianOner :wave: We already have a theme for the new [Windows Terminal](https://github.com/dracula/windows-terminal). If there's anything that could be improved/fixed, please open an issue on that repo to let the @dracula/windows-terminal know 😄

[2019-07-01 12:18] #328 closed

[2019-07-01 17:55] pichardoJ commented on #247
@hacknug Isn't that issue related to Vim rather than the emulator?

[2019-07-02 10:19] hacknug commented on #232
Someone mentioned in #318 that comments were hard to read when highlighted. Guess this would be the right place to discuss that?

[2019-07-02 10:22] hacknug commented on #247
Wow. Don't even know how this comment ended up here. it was supposed to go to #232 lol

Since we're here already, @krzysztofzuraw could you please update the repo's screenshot to reflect the changes made to the palette? Once that's done, I think we can move the repo to the organization 👍

[2019-07-02 10:26] hacknug commented on #219
Hey @mgroth0 :wave: Do you think this should be a part of https://github.com/dracula/google-chrome instead of a different theme?

[2019-07-02 11:46] ChildishGiant commented on #219
I imagine some people will want the theme without the new tab part so I think it's best to keep them separate.

[2019-07-02 12:06] hacknug commented on #219
Agree but since they're only a couple links to different extensions, maybe they can be kept together in the same repo then?

[2019-07-07 08:52] krzysztofzuraw commented on #247
Updated - both repo and this issue screenshot

[2019-07-09 14:36] krzysztofzuraw commented on #247
@hacknug should I open PR with theme or you first need to create a new repo in org (via README)?

[2019-07-09 15:04] hacknug commented on #247
@krzysztofzuraw you need to trasfer it to the organization. Once it's been transfer I'll set the permissions so your team (aka @dracula/tilix) can push changes to the repo. Let me know once you've done it so I can do my part 👍

[2019-07-09 15:10] hacknug commented on #293
Hey @ChildishGiant :wave: Just sent you an invitation to join the org. After accepting it, you can transfer the theme to the organization and I'll set the right permissions so you can push changes directly to it. Let me know if you have any questions about the process 👍

[2019-07-09 15:11] hacknug commented on #285
Hey @gkroon :wave: Just sent you an invitation to join the org. After accepting it, you can transfer the theme to the organization and I'll set the right permissions so you can push changes directly to it. Let me know if you have any questions about the process 👍

[2019-07-09 15:13] hacknug commented on #275
Hey @jackdp :wave: Just sent you an invitation to join the org. After accepting it, you can transfer the theme to the organization and I'll set the right permissions so you can push changes directly to it. Let me know if you have any questions about the process 👍

[2019-07-09 21:46] gkroon commented on #285
@hacknug Thanks! I accepted your invitation, added a new [repo](https://github.com/dracula/i3) and copied all my work to this new repo. I also deleted my own repo so everything is in your organisation now.

[2019-07-09 22:27] ChildishGiant commented on #293
I've moved the repo over https://github.com/dracula/dracula-blender. I probably should have renamed it to blender so it'd be dracula/blender but I can't now.

[2019-07-10 10:29] hacknug commented on #285
Thank you so much! You actually didn’t need to create a new one, only move it. That way GitHub would have created redirections for users looking for your repo haha. No problem though 👍

[2019-07-10 10:29] #285 closed

[2019-07-10 10:31] hacknug commented on #293
Just renamed the repo and set the right permissions so you can push changes directly whenever you need to. Let me know if you need my help with anything else. Thank you!

[2019-07-10 10:31] #293 closed

[2019-07-10 10:34] #316 closed

[2019-07-10 10:38] hacknug commented on #311
Just saw your comment about _Wing 7 beta2+_. Do you think it’s still worth keeping around for earlier versions of the software?

[2019-07-10 12:43] sdeibel commented on #311
If https://draculatheme.com/ only contains entries for software that doesn't come with the theme, then I suppose no real need for adding Wing Python IDE there, although Wing 6 users do need to manually install the theme and there are still many of those.

[2019-07-10 15:49] hacknug commented on #311
Then maybe it would be a good idea to move it to the org and leave the instructions the way you have them now. This way users of the old version that look for the theme will find it, and also see a note telling them about the new features of version 7. What do you think?

[2019-07-10 15:55] krzysztofzuraw commented on #247
@hacknug repo transfered https://github.com/dracula/dracula-tilix

[2019-07-10 16:03] sdeibel commented on #311
Sounds fine, thanks.  I've removed the reference to beta2+, so it just says Wing 7+ since at this point nobody is using beta1 and earlier.

[2019-07-10 16:10] hacknug commented on #311
Perfect! just sent you the invitation to join the org. Let me know once the repo’s been transferred, and I’ll set the right permission so you can push directly to it 👍

[2019-07-10 16:11] hacknug commented on #247
Just renamed the repo and set the right permissions so your team can push directly. Thank you so much for your contribution! :tada:

[2019-07-10 16:11] #247 closed

[2019-07-10 16:21] sdeibel commented on #311
Nestor Vera wrote:

I've initiated the transfer and was asked which teams to allow access
and selected Wing so maybe the permissions part is already all set.

Thanks,

- Stephan

[2019-07-17 00:12] Shrek6 commented on #318
I switched away from this theme because of this issue

[2019-07-17 06:41] 9kx4hpum opened #329 "Add Folium to Data Visualization"
Folium - folium builds on the data wrangling strengths of the Python ecosystem and the mapping strengths of the Leaflet.js library.[购买加拿大麦吉尔大学毕业证，办加拿大回国人员证明，办加拿大文凭，办加拿大使馆认证，办加拿大学历学位认证，国外学历学位认证办理](www.diplomaclub.net)

[2019-07-17 10:37] #329 closed

[2019-07-21 13:17] cameronldn opened #330 "Dracula theme for Standard Notes"
## New Theme

I've created a new theme for [Standard Notes](https://standardnotes.org).
Hosted at: https://github.com/cameronldn/sn-theme-dracula

![Preview](https://raw.githubusercontent.com/cameronldn/sn-theme-dracula/master/preview.png)

[2019-07-22 11:40] hacknug commented on #330
Hey @cameronldn! :wave: Would you like to move the theme to the organization?

[2019-08-17 03:09] AnilSonix opened #332 "[Theme Request] Visual Studio 2019"
## New UI Theme for VS 2019

Could you please create an UI theme for **Visual Studio 2019** using
https://marketplace.visualstudio.com/items?itemName=ms-madsk.ColorThemeDesigner

[2019-08-17 21:04] ekaitz-zarraga opened #333 "Konsole theme colors in incorrect order"
Konsole theme has colors in incorrect order and that leads to a failed rendering as different issues of the project show:
https://github.com/dracula/konsole/issues/3
https://github.com/dracula/konsole/issues/2

The issues are supposed to be corrected by this pull request:
https://github.com/dracula/konsole/pull/4

But no response from the maintainer ( @rishabhsrao ) received.

Is there any way to

[2019-08-19 08:18] rishabhsrao commented on #333
Hi! Sorry, I couldn't get back to you sooner. I've merged your pull request. I'll close this issue for now. Please feel free to reopen if you'd like to discuss something else. Thanks!

[2019-08-19 08:18] #333 closed

[2019-08-20 23:43] oguhpereira commented on #274
@hacknug I updated my readme. When you move my repository to dracula and to add in website, I will change install.

[2019-08-21 15:13] hacknug commented on #274
@oguhpereira just sent you the invite. Let me know once you've transferred the repo to the org so I can set the right permissions 👍

Can't add the project to the website because there's no way to build the site as of now (one of the services it depended on shut down a while ago). Will try to rebuild it at some point in the near future tho.

[2019-08-24 12:28] mamyn0va commented on #240
![](https://thepracticaldev.s3.amazonaws.com/i/cn3qgitf5xx7kr223adt.png)

[](https://mamyn0va.github.io/2019/08/14/consistent-developer-journey-with-dracula)

[2019-08-25 14:11] rahul6612 opened #334 "not able to download it in vscode 2019 pro version"
after searching in vs code extension search bar this theme does not appear why?
i am using vscode professional 2019

[2019-08-26 13:37] hacknug commented on #240
Any of you would like to thansfer your theme to the organization so its easier for interested users to find it?

[2019-08-26 13:44] hacknug commented on #334
Just checked and it's still available: https://marketplace.visualstudio.com/items?itemName=dracula-theme.theme-dracula

Maybe you're refering to @dracula/visual-studio?

[2019-08-26 14:48] mamyn0va commented on #240
Why not, but why do you mean by "transfer your theme to the organization" ?

[2019-08-26 14:53] rahul6612 commented on #334
i was trying to install it in visual studio professional 2019 unfortunately this extension is not available for visual studio professional but it is available for visual studio code.

[2019-08-26 15:49] hacknug commented on #334
Yeah, it looks like there's a couple issues on the repo where people mention this. Maybe you could ask there so the maintainers and users can help you out? https://github.com/dracula/visual-studio

[2019-08-26 15:49] #334 closed

[2019-08-28 10:57] hacknug commented on #274
@oguhpereira it's you who have to transfer the repo to the organization. If you don't know how to do that, please read this article: https://help.github.com/en/articles/transferring-a-repository

[2019-08-28 11:06] hacknug commented on #240
@pichardoJ since OP's repo has been archived, do you have a repo with your version of the theme? If not would you mind creating one using the template if @mamyn0va doesn't have one either? You could also use @sei40kr's if the instructions are still correct as long as we update the screenshot to show a little more.

[2019-08-28 11:29] hacknug commented on #274
@oguhpereira repo renamed and permissions all set. Thank you so much for your contribution! :tada:

[2019-08-28 11:29] #274 closed

[2019-09-02 21:30] mamyn0va commented on #240
My tmux dracula theme is forked from another tmux conf (not dracula), so I guess I need to ask the author if I can transfer my theme to your organization, under MIT LICENSE.
@gpakosz What do you think?

[2019-09-06 15:16] silvioprog opened #335 "[Theme Request] tig(1)"
## New UI Theme for tig(1)

Could you please create a UI theme for [tig(1)](https://github.com/jonas/tig) following topic **UI colors** at https://jonas.github.io/tig/doc/tigrc.5.html?

Thank you!

[2019-09-10 19:03] StarrKiss opened #336 "[Theme Request] Blender 2.8"
I think this is a program that deserves a Dracula theme, epiecally considering the ease of use. I put together a Dracula theme (Which I will attach later when I am at my desktop) But accidentally erased it and could not get it back. This needs a new theme.

[2019-09-20 22:45] apercova commented on #326
Hi @hacknug is there any advance on this.
Regards.

[2019-09-20 23:11] huezo commented on #283
Yes, I think it is very good to move the repository to the organization and be a maintainer.

[2019-09-20 23:17] huezo commented on #283
Yes, I think it is very good to move the repository to the organization and be a maintainer.
I would like to participate in the organization, and upload the topic I agree to participate.

[2019-09-23 01:08] silvioprog opened #337 "[Theme Request] gdb(1) v8.3"
## New UI Theme for gdb(1) v8.3

Could you please create a UI theme for [gdb(1) v8.3](https://www.gnu.org/software/gdb) following the new command `set style` featured at https://sourceware.org/git/gitweb.cgi?p=binutils-gdb.git;a=blob;f=gdb/NEWS?

Thank you!

[2019-09-23 09:03] hacknug commented on #326
@apercova I've just invited you to join the org. Once you accept, transfer the repo to the org and let me know over here. I'll set the right permissions and rename. Let me know if you have any questions 👍

[2019-09-23 09:05] hacknug commented on #283
@huezo I've just invited you to join the org. Once you accept, transfer the repo to the org and let me know over here. I'll set the right permissions and rename. Let me know if you have any questions 👍

[2019-09-24 23:47] huezo commented on #283
I already made the repository:
[https://github.com/dracula/telegram-android](https://github.com/dracula/telegram-android)

[2019-09-25 12:01] hacknug commented on #283
Sweet! Just noticed the README.md doesn't use the org's template. Could you please change it so it does? https://github.com/dracula/template

[2019-09-25 22:32] apercova commented on #326
Hi @hacknug
I've created [sql-developer](https://github.com/dracula/sql-developer) repo at dracula org.
Install instructions are pointing to [INSTALL.md](https://github.com/dracula/sql-developer/blob/master/INSTALL.md).
How can I get this instructions on web page at (https://draculatheme.com)[https://draculatheme.com]?

Regards

[2019-09-26 05:06] huezo commented on #283
**Hello, I already modified the README.md, could you tell me if everything is ok like that?**
[telegram-android](https://github.com/dracula/telegram-android)

[2019-09-26 10:23] hacknug commented on #326
Thanks! :tada:

Right now the build process for the website is broken bbut we're working on it. Don't worry, we'll take care of it soon™

[2019-09-26 10:23] #326 closed

[2019-09-26 10:23] hacknug commented on #283
Perfect! Thank you so much :tada:

[2019-09-26 10:23] #283 closed

[2019-09-27 18:48] MatheusKProt opened #338 "[New Theme] Insomnia"
## New Theme

I created a new theme for [Insomnia](http://insomnia.rest).
Hosted at: https://github.com/MatheusKProt/insomnia

![insomnia](https://user-images.githubusercontent.com/13322757/65794239-15b64700-e13e-11e9-8934-e7dfb873ad8e.png)

[2019-09-29 03:30] byyxx128 opened #339 "Dracula Theme was posted on Jetbrains pugins website by a potential maintainer"
**[Updated]
It's my apology for the previous arbitrary conclusion. It seems the author was interested in being an "official" maintainer. but he didn't know how to do.**
***
[Old contents]
This is not a bug. As a fan of Dracula, I think I need to report this problem. If it is not suitable, this issue can be closed or moved.

I noticed someone posted Dracula Theme on the site of Jetbrains plugins. H

[2019-09-29 18:03] MatheusKProt commented on #338
Readme created.

[2019-09-29 18:34] #339 closed

[2019-09-30 06:03] WhiteVermouth opened #340 "New Dracula JetBrains UI plugin"
#  Existing Theme

I've transferred the ownership of my personal JetBrains UI Plugin repository.
Location: https://github.com/dracula/jetbrains-dracula
This new theme may not coexist with the [old JetBrains Dracula theme](https://github.com/dracula/jetbrains).
Could you remove or mark deprecated the old repository.
PS: the author of the old JetBrains theme is no longer maintaining the theme. https

[2019-09-30 10:07] hacknug commented on #338
@MatheusKProt I've just invited you to join the org. Once you're in, you'll be able to transfer the repo (make sure you actually transfer it so GitHub takes care of redirecting users to the new URL). Let me know once its done and I'll rename and set the right permissions 👍

[2019-09-30 10:09] hacknug commented on #340
What do you think would be the best way to handle this update? (bunch of questions below, sorry)
- Is the old one still useful? If not, maybe we could tag the current version or move it to a different branch?
- What do you think would be the best to name the old repo? Would something like `legacy` work?

[2019-09-30 15:30] MatheusKProt commented on #338
@hacknug the transfer was made!

[2019-10-01 05:58] WhiteVermouth commented on #340
- The old one is useful for users who use old version JetBrains IDEs ( version before 2019.1 ). This new UI plugin is only compatible with JetBrains IDEs 2019.1 or later.
- Rename the old one to "legacy-jetbrains" is a good choice, and thus this new one can be renamed to "jetbrains".

[2019-10-01 10:26] hacknug commented on #338
All set. Thank you so much for your contribution! 🙌

[2019-10-01 10:26] #338 closed

[2019-10-01 10:30] hacknug commented on #340
All set. Thank you! 🙌

[2019-10-01 10:30] #340 closed

[2019-10-02 20:23] xereda opened #341 "VSCODE - Inconsistency with chaining and nullish operator"
### Inconsistency with optional chaining and nullish operator

Color misconfiguration happens when we use the new javascript features (tc39 stage 3, by babel plugin). New features are Optional Chaining and Nullish Coalescing, operators long awaited by the community.

For some time now we have access to these resources through babel plugins.

The operators:

https://github.com/tc39/proposal-nullish

[2019-10-02 20:31] xereda commented on #341
Resolved with this vscode issue:

https://github.com/microsoft/vscode/issues/77974

Please install this extension: https://marketplace.visualstudio.com/items?itemName=Levi.nullish-coalescing-operator-grammar

[2019-10-02 20:32] xereda commented on #341
working...

![working](https://user-images.githubusercontent.com/14337850/66079486-8b555500-e53a-11e9-8309-19b4c262d5c5.png)

[2019-10-02 20:32] #341 closed

[2019-10-22 09:17] WhiteVermouth opened #344 "Permission Request"
# New Dracula JetBrains
# Permission
- Azure Pipelines integration, because the theme is built with Azure Pipelines
- Full permission of [dracula/jetbrains](https://github.com/dracula/jetbrains)
# Why
I need these permissions to better update or maintain the new JetBrains theme.
# Ref:
#340

[2019-10-26 21:54] betancour opened #346 "statusbar color"
In the actual theme on vscode the status bar has an horrible color that don't allow to read the remote connection, I use this on my config to make it better

    "statusBarItem.remoteBackground": "#430f4d"

![image](https://user-images.githubusercontent.com/283403/67626445-f2a4b300-f821-11e9-829f-8da45604bf0a.png)

Please put in the next update to make it better for all....

regards Yitz

## New T

[2019-10-28 12:55] #344 closed

[2019-10-28 13:09] JimmyMultani commented on #346
Hey @dsifford, could you take a look at this please?

[2019-10-29 01:08] dsifford commented on #346
Feel free to open a PR @betancour. The background color that you select should be within spec though. The purple color you chose isn't part of the dracula pallette and would look off compared to everything else.

Original PR for that: dracula/visual-studio-code#105 (ping:  @misolori)

[2019-10-29 01:41] betancour commented on #346
I know but that ugly pink makes bad constrast and you can read well, put another color or let it black who makes better constrast with white color....  😑😑😑😑😑

[2019-10-29 14:05] dsifford commented on #346
Or use the background color as the font color.

I think I recall that there was a need to go with the vibrant color so that the user could be clearly aware they were working against a remote machine. I think we should try to follow that guidance with any changes we make.

At any rate: PRs accepted. Feel free to take a stab at it and we can talk more about it there.

[2019-10-29 22:12] misolori commented on #346
You can always override this theme colors by adding this to your user settings (json):

[code]

And you can replace that hex with whatever color you want.

[2019-10-29 22:24] betancour commented on #346
.
I've already did that, if you see my first post, but the question is make it possible to anyone who likes this fabulous theme....

[2019-11-02 22:22] #346 closed

[2019-11-08 10:54] Trollwut opened #347 "Dracula for Vimium-FF (Firefox addon)"
I made a custom CSS for the Firefox addon [Vimium-FF](https://addons.mozilla.org/en-US/firefox/addon/vimium-ff/).

If you want, it could be added to the collection of Dracula themes.

My repo is accessible here: https://github.com/Trollwut/vimium-dracula

[2019-11-08 15:34] mzhukovs opened #348 "[Theme Request] Jupyter Lab"
Jupyter Lab (the successor to Jupyter Notebooks), includes the ability to add custom themes to it (including via its extension manager, which just relies on npm packages - here is [an example of a Jupyter Lab theme extension package](https://github.com/oriolmirosa/jupyterlab_materialdarker)). Jupyter Lab supports python (of course), but also more recently [C# and F# notebooks](https://devblogs.mic

[2019-11-10 06:08] thinkerdu opened #349 "VSCode Activity Bar indicator"
Adjustment to the default color would be nice
[Activity Bar indicator](https://code.visualstudio.com/updates/v1_40#_activity-bar-indicator)

[2019-11-10 11:26] hacknug commented on #347
Hey @Trollwut 👋 `README.md` should look like [the template](https://github.com/dracula/template). If you could make a change and let me know once it's been updated, I'll invite you to the org so you can transfer the repo and maintain it there 👍

[2019-11-11 18:14] Trollwut commented on #347
hey @hacknug !

Thanks for that! I've rewritten the README.md to fit to the template. Only the link to the contributers is not set yet, as I don't know how the repo's full name will be in the Dracula repo. :)

May you please have a look at it?

[2019-11-12 10:31] hacknug commented on #347
Link will be `dracula/vimium` if it's also compatible with the linked Chrome version. Please confirm it will be.

Just sent you the invite to join the org. Once you join, you'll be able to transfer your repo to it (make sure you do this so GitHub takes care of redirecting users visiting your current URL). let me know once it's done and I'll set the right permission for you to take care of it 😉

[2019-11-12 10:34] hacknug commented on #311
@sdeibel sorry for the late reply. All good. Please let me know if you need help with anything else. Thank you for your contribution! 🎉

[2019-11-12 10:34] #311 closed

[2019-11-12 20:29] Trollwut commented on #347
yeah bby, tested it myself!

Working on Chromium 78 with the latest Vimium 1.64.6. Will tell you, when I tranfered the repo!

[2019-11-12 20:35] Trollwut commented on #347
Aaaand it's transfered!

I selected *only* the Vimium group to have access to it. Please adjust if this wasn't sufficient.

Also please check if I did that right, as this was my first transfer of a repo :)

[2019-11-13 12:23] hacknug commented on #347
@Trollwut everything looking good. Thank you so much for your contribution! 🎉

[2019-11-13 12:23] #347 closed

[2019-11-16 05:07] benjifs opened #350 "[New Theme] Termux"
I created a new theme for Termux for Android.

You can find the repo with installation instruction here: https://github.com/benjifs/dracula-termux

![screenshot](https://user-images.githubusercontent.com/4167938/68988414-96b7c380-07fc-11ea-927b-e70ee1eb7ba5.jpg)

[2019-11-16 15:46] hacknug commented on #350
Hey @benjifs 👋 I've just invited you to join the organization. Once you accept, you can transfer the repo to it and I'll set the right permissions so you can take care of it here 👍

[2019-11-17 09:07] benjifs commented on #350
Thank you. I've transfered the repo but I think it needs to be renamed to match the current format. Once renamed, should I also add it to the `.gitmodules` file?

[2019-11-17 12:00] hacknug commented on #350
@benjifs thank you! I just renamed the repo and set everything so you can take care of it from now on. Feel free to open a PR adding it to `.gitmodules`, yeah. just keep in mind they're ordered alphabetically :+1:

[2019-11-17 12:00] #350 closed

[2019-11-19 10:51] JacobEFO opened #352 "Dracula theme in Visual Studio Code Jupyter Notebook - Black cursor"
Hey fellow Draculas,

I absolutely love your theme and have been using it for quite a while.

However, I recently noted that when trying to use a Jupyter Notebook in VSCode using Dracula color theme, the cursor becomes black, as shown in the [link](https://imgur.com/a/mjOEusJ). Note at the end of the second block, the cursor is all black.

I am not sure, how this issue arises, but have any of you

[2019-11-24 08:30] ckipp01 opened #353 "Odd highlighting with floating windows in nvim"
I can't seem to figure out what is happening here with floating windows. I've tried a bunch of combinations with various settings, no settings, and no plugins etc.

When using a lsp client in nvim, coc.nvim for example, that uses floating windows on hover, you should see something like below.

Example with no theme:
<img width="718" alt="Screenshot 2019-11-24 at 09 18 03" src="https://user-images.

[2019-11-24 12:35] dsifford commented on #353
I honestly can’t understand what it is you’re pointing out. The examples you have look fine to me. Am I missing something?

[2019-11-24 16:25] benknoble commented on #353
Let's migrate this to dracula/vim : this doesn't need to be here. We do a fine job working through issues on that repo...

@dsifford the popup features are relatively new to me (and I don't use them at all).

If you look carefully, though, you'll see a slight problem:
<img width="867" alt="Capture d’écran 2019-11-24 à 11 24 27" src="https://user-images.githubusercontent.com/22802209/69497599-0f79e

[2019-11-24 16:46] dsifford commented on #353
Ah okay I see... hard to notice that from my phone!

[2019-11-25 08:20] dinhlongviolin1 commented on #210
Thank alot, solved my propblems 👍

[2019-11-26 21:33] NetOperatorWibby commented on #330
OMG thanks for creating this. I thought I'd have to create the theme myself, SN is looking much better now.

[2019-11-28 19:26] RaphGL opened #354 "Dracula Dark Theme for Firefox"
[dracula-firefox repository](https://github.com/RaphK20/dracula-firefox)
A dracula dark theme for firefox
![screenshot](https://user-images.githubusercontent.com/28673457/69828700-657fc000-120c-11ea-8a8e-cb86bb936013.png)

[2019-11-29 17:19] rogerdahl opened #355 "Outdated instructions on draculatheme.com/jetbrains"
The install instructions on draculatheme.com/jetbrains are outdated, referencing a non-existing `Dracula.icls` file. However, the README.md file in the `jetbrains-master` download describes an installation using a new plugin that works nicely.

Have you considered automatically generating the instructions on draculatheme.com based on the README.md file (or another file) that is part of this reposi

[2019-11-29 17:22] rogerdahl opened #356 "Broken link for jetbrains"
The link for the `jetbrains` submodule at https://github.com/dracula/dracula-theme is broken.

You're not doing anything like `git push --force`, I hope...

[2019-12-05 12:24] hacknug commented on #354
Do you happen to know the differences between yours and [this other theme](https://addons.mozilla.org/en-US/firefox/addon/draculadarktheme/)? Guessing these themes will also be slightly better than [whatever we can accomplish with Firefox Color](https://github.com/dracula/dracula-theme/issues/281#issuecomment-400628362), right?

[2019-12-05 12:33] RaphK20 commented on #354
I've looked it up and the theme you mentioned seem to have been made using Firefox Color, so the theme is not applied to the the home page, the popups and buttons properly and the color scheme used there is different as well, whereas mine is fully themed and written using JSON and the Manifest.json documentation.

The theme you mentioned:
![image](https://user-images.githubusercontent.com/28673457

[2019-12-06 05:19] aaveidt opened #357 "Intellij: Inconsistent scrollbar color on ProjectTree vs Editor panel"
I'm using latest Dracula Theme on Intellij.
Everything's fine except so annoying and unprofessional scrollbar color.

As you can see, project tree and editor panel have different scrollbar color.
I've tried to change it in Code style but doesn't work

![Untitled](https://user-images.githubusercontent.com/5781080/70297986-ac7c3f80-1822-11ea-9423-698dbbb2ec3b.png)

[2019-12-06 15:56] hacknug commented on #356
This is probably because we renamed [the old repo](https://github.com/dracula/jetbrains-legacy) to `jetbrains-legacy` and added [a new one for the recent versions](https://github.com/dracula/jetbrains). Would welcome a PR fixing this and adding the legacy one 👍

[2019-12-06 15:57] hacknug commented on #355
Yes. I talked to @zenorocha about this and we're planning on a website redesign that would introduce this change. Should happen at some point.

[2019-12-07 07:53] vandreleal opened #358 "[New Theme] Fluent Terminal"
Dracula for Fluent Terminal
Repo: [https://github.com/vandreleal/dracula-fluent-terminal](https://github.com/vandreleal/dracula-fluent-terminal)

![screenshot](https://user-images.githubusercontent.com/9258892/70371079-2527de00-18ad-11ea-84a9-fa5432c8234b.png)

[2019-12-09 13:19] jaeseok-park opened #359 "Yellow ANSI color on Konsole"
I'm using Konsole on CentOS 7 KDE.
I applied Dracula theme for Konsole as the instruction https://draculatheme.com/konsole/.
But, yellow color and magenta seem to be wrong.

![ansi](https://user-images.githubusercontent.com/8565274/70438478-4701aa80-1ad1-11ea-91bf-a035b7b6d722.png)

The above screenshot is the result of `cat AnsiEsc.txt` from https://raw.githubusercontent.com/vim-scripts/Improved-

[2019-12-17 02:08] julianeden opened #360 "[Theme request] Windows Subsystem for Linux"
I have ubuntu running on Windows 10 through WSL and would love to get this theme in the shell it uses. Does anyone know if that's possible with any of these existing files, or does a new one need to be created?

[2019-12-17 12:12] hacknug commented on #360
What's the terminal you're using on Ubuntu? Pretty sure there's something for it on the org's repos.

[2019-12-18 03:57] julianeden commented on #360
Well, I'm not sure. It just says "Ubuntu" at the top. I'm not sure how to gain additional information about it. It's what runs by default when you install ubuntu with WSL.

[2019-12-20 18:29] dagadbm commented on #240
any news on this?

[2019-12-21 13:40] mamyn0va commented on #240
I would be happy to provide my theme but I still need the approval from @gpakosz.
In the meanwhile, you can find it here: https://github.com/mamyn0va/tmux

[2019-12-22 10:49] AmericanY opened #361 "Dracula Theme For Centos 7"
I would like to have `Dracula` theme on my `Centos 7` server. I've checked the website and I'm unable to find it for `Centos` !

I'm connecting to my server via SSH on windows. and i know that i can color  the CMD or PowerShell but am looking for bash.

[2019-12-30 11:55] betancour commented on #360
Use the zsh on WSL and that fix what you need... there's plenty of manuals to do that.

[2019-12-30 17:53] benknoble commented on #360
As @hacknug says, to customize a terminal's color palette, you need to know what the terminal is. Check the icon on the bottom bar (if Windows still does that) and see if you can find out which program is running.

[2019-12-30 18:31] julianeden commented on #360
It seems to be Windows terminal. I'm currently trying to find out how to alter its theme.

[2019-12-30 18:46] julianeden commented on #360
And yes I'll try to switch to zsh and see if that works. Still not sure where the dracula theme file would go for zsh on wsl though.

[2019-12-31 13:47] betancour commented on #360
https://draculatheme.com/zsh/

[2020-01-04 22:41] rediffusion opened #362 "Syntax Highlighting for each language..."
## About Syntax.

 First of all th10 for an awesome theme! 🎆
I don't understand why the color syntax for all languages that I use (i.e. - C#, JS, TS, AHK, C++, C, Java, Html, CSS, Python...) is the same?
 Is there a wat to implement for ich language his own different ⚡`Syntax Highlighting`⚡ ?

Regards! 👍✌️

[2020-01-05 15:55] benknoble commented on #362
Couple of notes about the idea:

- wouldn’t it be jarring to have languages use different colors?
- this depends heavily on your editor/program: in vim, the colorscheme is global (but syntax matches can be adjusted individually)
- the point of having a single, somewhat standardized colors is to unify colors, IMO

[2020-01-07 05:41] rediffusion commented on #362
0Key, my friend let me explain it another way...

As an example, I'll take the IDE called «[NotePad++](https://notepad-plus-plus.org/downloads/)».
I have a theme called "Plastic Code Wrap". It looks like this:

![image](https://user-images.githubusercontent.com/30071027/71870673-e2fdf080-3127-11ea-8c28-428853d86fee.png)

Now I put here some `code`, then I switch to other languages...

## C#

![ima

[2020-01-07 20:41] benknoble commented on #362
You're trying to highlight invalid HTML/CSS/JS, so it's not "different color" it's just *wrong*. Code highlighting is (often) going to be broken if the code isn't valid. So I'm still not sure I see your point.

[2020-01-07 22:29] rediffusion commented on #362
@benknoble

💡 _0K I got you!_
 There's a code googled for each language. Now every language has his code.
And yes I wanna tell you that "Syntax Highlighting" is different for ich language.

I've updated the screenshot bottom, please take a look.  👁️🔍

With regards! ✌️

[2020-01-07 22:33] zenorocha commented on #362
Here's an idea - if you're looking to create your own theme and you're wondering how we made it, why don't you fork our code and build your theme on top of that?

Here's the source code: https://github.com/dracula/notepad-plus-plus

Since this is not a bug, I'll go ahead and close it, ok?

Thanks!

[2020-01-07 22:33] #362 closed

[2020-01-07 22:35] rediffusion commented on #362
@zenorocha

As you wish!

[2020-01-08 13:50] betancour commented on #360
Julie also use the theme for CMD and Powershell this gonna display the colors on actual WSL terminal.

[2020-01-11 03:41] zenorocha commented on #348
I just found this: https://github.com/karosc/jupyterlab_dracula.

@karosc would you be interested in moving this theme to the official organization?

[2020-01-11 03:54] cweagans commented on #315
I have moved the repo. Sorry for the long delay.

I no longer use Linux, so I'm not sure how helpful I'll be in maintaining this long term. Feel free to do with it what you'd like though!

[2020-01-11 05:02] zenorocha commented on #315
Thanks @cweagans!

Here's the Ulauncher theme on the site: https://draculatheme.com/ulauncher ;)

[2020-01-11 05:02] #315 closed

[2020-01-11 15:25] zenorocha commented on #356
Just fixed that, thanks for reporting @rogerdahl!

[2020-01-11 15:25] #356 closed

[2020-01-11 15:28] zenorocha commented on #355
I'm happy to announce that this has been completed. Our site is now automatically generated based on a INSTALL.md file that is located on each individual theme.

THanks!

[2020-01-11 15:28] #355 closed

[2020-01-11 15:30] zenorocha commented on #321
Fixed: https://github.com/dracula/dracula-theme/commit/6245537b0cc0444710778fed0bb7e6a908d551cf

Thanks for your patience @minusf!

[2020-01-11 15:30] #321 closed

[2020-01-11 15:33] zenorocha commented on #236
I'm going to close this one since it's not an issue, but that's super awesome @ButsAndCats!

[2020-01-11 15:33] #236 closed

[2020-01-11 15:36] zenorocha commented on #361
Hey @AmericanY, can you try using https://github.com/allamiro/dracula-bash or https://draculatheme.com/gnome-terminal.

Thanks!

[2020-01-11 15:36] #361 closed

[2020-01-11 15:37] #360 closed

[2020-01-11 15:38] zenorocha commented on #358
Hey @vandreleal, would you be interested on moving this theme to the official organization? You would still be the owner and maintainer, but the repo would live under https://github.com/dracula.

Let me know and I'll send further instructions.

[2020-01-11 15:40] zenorocha commented on #332
Let's move this discussion to here: https://github.com/dracula/visual-studio/issues/7

[2020-01-11 15:40] #332 closed

[2020-01-11 15:41] zenorocha commented on #292
https://draculatheme.com/powershell ;)

[2020-01-11 15:41] #292 closed

[2020-01-11 15:42] zenorocha commented on #277
https://draculatheme.com/typora ;)

Thanks @oguhpereira!

[2020-01-11 15:42] #277 closed

[2020-01-11 15:43] zenorocha commented on #242
Hey @jelohe, would you be interested in moving this theme to the official organization? You would still be the owner and maintainer, but the repo would live under https://github.com/dracula.

Let me know and I'll send further instructions.

[2020-01-11 16:50] vandreleal commented on #358
Hey @zenorocha,
Yes, that sounds great. thank you!

[2020-01-11 19:49] zenorocha commented on #358
That's awesome! I just invited you to the org, so know all you have to do is:
1. Accept GitHub invitation
2. Transfer the repository
3. Apply the same format used on https://github.com/dracula/template

The last step is important because it will be used to auto-generate the site. Especially the `screenshot.png` and `INSTALL.md` files.

Let me know if you have any questions

[2020-01-11 23:16] vandreleal commented on #358
Thanks for the instructions, @zenorocha . Can you please take a look and let me know if everything looks good? [https://github.com/dracula/fluent-terminal](https://github.com/dracula/fluent-terminal)

[2020-01-12 18:12] zenorocha commented on #358
It's live! https://draculatheme.com/fluent-terminal

Thanks @vandreleal!

[2020-01-12 18:12] #358 closed

[2020-01-13 13:02] karosc commented on #348
Sure, although I have neglected the repo since the release of Jupyterlab Version 1.0.0. It works fine with the current version of JupyterLab, but may benefit with some more public use and contribution. Do you need anything from me to add to the org?

[2020-01-14 19:16] DottedGlass opened #363 "Dracula for Spyder 4.0.x"
https://github.com/DottedGlass/spyder-dracula

Open to suggestions on color choice
![image](https://user-images.githubusercontent.com/29390846/72374463-5e3b4580-36d8-11ea-8fc1-e21922242ed9.png)

[2020-01-15 00:03] benknoble commented on #363
If possible, take a look at https://dsifford.github.io/dracula-spec/

[2020-01-15 14:47] JimmyMultani commented on #354
Hey @RaphGL, we'd love to have this taken into the organization! Would you mind updating your repo to follow the template [here](https://github.com/dracula/template)? Thanks!

[2020-01-15 16:19] RaphGL commented on #354
@JimmyMultani I've changed my repo to adhere to the template. Take a look and let me know if there's anything that needs some tweaking!

[2020-01-15 16:51] JimmyMultani commented on #354
Hey @RaphGL, could you just update your avatar to match the template please? Link should be https://avatars2.githubusercontent.com/u/28673457?s=70.

Thank you!

[2020-01-15 17:28] RaphGL commented on #354
@JimmyMultani Done.

[2020-01-16 03:01] zenorocha commented on #348
That's awesome! I just invited you to the org, so know all you have to do is:

* Accept GitHub invitation
* Transfer the repository
* Apply the same format used on https://github.com/dracula/template

The last step is important because it will be used to auto-generate the site. Especially the screenshot.png and INSTALL.md files.

Let me know if you have any questions

[2020-01-16 03:05] zenorocha commented on #363
That looks awesome! Would you be interested in moving the repository to our official organization? You'd still be the owner and maintainer of the repo? The only difference is that it would be hosted here and have a page on draculatheme.com.

[2020-01-16 03:09] zenorocha commented on #354
That's awesome! I just invited you to the org, so know all you have to do is:

* Accept GitHub invitation
* Transfer the repository

Let me know if you have any questions.

[2020-01-16 10:12] nickimola opened #364 "Add google chrome theme to the Dracula official website"
Hi

I have a theme for google chrome migrated to the organization almost 3years ago, but this was never featured nor mentioned on the official website.
Will you be able to add it please?
https://github.com/dracula/google-chrome

Thanks

[2020-01-16 11:19] shmink opened #365 "peacock vs code extension"
## New Theme

Peacock extension on vs code you can choose _favourite _colours__ so of course it had to be the dracula colour palette.

https://gist.github.com/shmink/01e977af077dd3070842b2ae9de64cf1

I can add as a repo if it's liked.

[2020-01-16 12:56] #354 closed

[2020-01-16 13:20] karosc commented on #348
alright, should be [all set](https://github.com/dracula/JupyterLab).

[2020-01-16 17:42] shmink commented on #365
Update: I created a repo for it.

https://github.com/shmink/dracula-peacock-extension

[2020-01-17 02:40] zenorocha commented on #364
Hey @nickimola, for sure! Thanks for your patience.

[2020-01-17 03:33] zenorocha commented on #364
It's live! https://draculatheme.com/chrome

[2020-01-17 03:33] #364 closed

[2020-01-17 03:33] zenorocha commented on #354
It's live! Thanks @RaphGL 🎉

https://draculatheme.com/firefox

[2020-01-17 03:34] zenorocha commented on #348
It's live! Thanks @karosc ;)

https://draculatheme.com/jupyterlab

[2020-01-17 03:34] #348 closed

[2020-01-17 23:52] ChildishGiant opened #366 "Theme for tabletop simulator"
I did a thing https://github.com/ChildishGiant/dracula-tabletop

[2020-01-18 14:18] ianpan870102 opened #367 "Current-line and selection shouldn't be the same"
As #191 mentioned (but was closed due to inactivity), current-line and selection shouldn't be the same HEX value, as it confuses users. For example, if an editor supports the "select line" action, such as vim or other vi-like keybindings, it's hard to tell whether it's just the current line background or is the current line being selected.

[2020-01-19 02:51] ianpan870102 commented on #232
I love this thread and the idea behind it. It's been a while since the last comment, is there any updates so far?

[2020-01-24 23:56] zenorocha opened #368 "New MATLAB theme"
https://github.com/scottclowe/matlab-schemer

[2020-01-28 09:45] j-hap commented on #368
I have one ready to go, but I'm not sure where to put it. I could either make a PR to [](https://github.com/scottclowe/matlab-schemes) or you create dracula/matlab. Since one would need scott's schemer anyway, I think the scheme would reach more people if it's there.

[2020-02-04 02:40] zenorocha commented on #368
Hey @j-hap, looks like this repo is not maintained for a long time, so I think it's better to create a dedicated dracula/matlab repo. Can you create a repo based on https://github.com/dracula/template?

[2020-02-06 12:21] avatar-lavventura opened #369 "dracula-theme on emacs"
The way I run `emacs`:

`TERM=xterm-256color emacs -nw <my_file>`

---

I am trying to have background on `dracula-theme` (https://github.com/dracula/dracula-theme).

[![enter image description here][1]][1]

---

I have added following line into `.emacs`:

`(add-to-list 'default-frame-alist '(background-color . "#282a36"))`

Expected color:

[![enter image description here][2]][2]

but some blue c

[2020-02-06 14:54] benknoble commented on #369
Have you tried https://github.com/dracula/emacs/tree/master?

[2020-02-07 07:32] avatar-lavventura commented on #369
Yes I have also followed (https://draculatheme.com/emacs/) guide, and back ground was black possible bug (https://github.com/dracula/emacs/issues/32).

[2020-02-07 12:44] julienrbrt opened #370 "Dracula in Azure Data Studio"
[Azure Data Studio](https://github.com/microsoft/azuredatastudio) seems to be based on Visual Studio Code.

Simply copying the Dracula extension installed from VScode into Azure Data Studio, leads to a satisfactory result:

![image](https://user-images.githubusercontent.com/29894366/74030323-0f1ec280-49af-11ea-916f-66e0811cf58b.png)

Would be however easier if the extension could be published in t

[2020-02-07 23:57] zenorocha opened #371 "Dracula for iA Writer"
I would love to have a custom template for iA Writer!

Reference: https://github.com/iainc/iA-Writer-Templates

[2020-02-08 22:01] rediffusion opened #372 "🆘 Theme Color docs sucks [help wanted]."
Hi! 🙂

Sorry, but [Theme Color](https://code.visualstudio.com/api/references/theme-color) docs sucks.

**NOTE**:
_I've already googled (3 days) and can't find info about a few features._

---

I don't understand how it works? Maybe it works with some kind of extension?
If you can please provide 🎬 screencast or 🖼️ screenshot.

---

ℹ️ Features for which clarification is needed:

## 📑 Base colors:

[2020-02-08 22:03] benknoble commented on #372
Sorry, what's the issue? Are you having trouble customizing a VS Code theme, or are you looking to request a dracula theme for it?

For the former, you're at the wrong place (try https://github.com/microsoft/vscode).

For the latter, https://draculatheme.com/visual-studio-code/

[2020-02-09 05:53] rediffusion commented on #372
@benknoble

No bro, I just can figure what do these features do. For example, we have:

📑 [Base colors](https://code.visualstudio.com/api/references/theme-color#base-colors):

 Yes, I read docs a few times but it's not a pill. I need more understandable info, 🎬 screencast or 🖼️ screenshot It will be great.

P.S. ··· and yes I know it's not your job and you don't need to go on official docs site an

[2020-02-09 14:39] benknoble commented on #372
@zenorocha I'm going to close this as it seems off-topic. I don't mind a discussion about the OP's questions happening, I just don't think it needs to clutter dracula's issue space.

[2020-02-09 14:39] #372 closed

[2020-02-12 10:32] avatar-lavventura commented on #369
Please follow here (https://github.com/dracula/emacs/issues/32) for further updates

[2020-02-12 10:32] #369 closed

[2020-02-14 12:30] alexherbo2 opened #373 "Dracula for Kakoune"
## [Dracula for Kakoune]

![Screenshot](https://github.com/alexherbo2/kakoune-dracula-theme/raw/master/resources/screenshot.webp)

[Dracula for Kakoune]: https://github.com/alexherbo2/kakoune-dracula-theme
[Kakoune]: https://kakoune.org

[2020-02-22 13:17] andys8 commented on #242
Looks like the content of the repo and the suckless patch are identical. https://st.suckless.org/patches/dracula/

Would it make sense to link to the patch from the draculatheme website?

[2020-02-22 18:30] zenorocha commented on #235
It took years but it's finally here:
- https://draculatheme.com/adobe
- https://github.com/dracula/adobe

I made it as a `.ase` instead of `.aco` for Adobe Illustrator compatibility.

Thanks for doing this @jef!

[2020-02-22 18:30] #235 closed

[2020-02-23 01:34] jef commented on #235
Wow... forgot this even existed. That download site is even dead 🤣

Thanks for merging!

[2020-02-29 18:09] nathanblair opened #375 "Theme for wofi launcher"
## New Theme?

We would love to support all code editors out there, but we need your help to accomplish that. Feel free to create a new theme based on our [color palette](https://github.com/dracula/dracula-theme#color-palette).

^^ Not a code editor, but a wayland launcher application

[Documentation for wofi config](https://cloudninja.pw/docs/wofi.html)

![screenshot](https://user-images.githubus

[2020-03-09 21:30] Lilja opened #376 "Vim + vue files not highlighting javascript?"
I'm running Vim with a few plugins, more specifically a plugin that fixes a few syntax highlights for .vue files [posva/vim-vue](https://github.com/posva/vim-vue).

When I'm running it with gruvbox I get some highlighting. To the left, a .vue file and to the right is some random babel javascript file.

<img width="1280" alt="bild" src="https://user-images.githubusercontent.com/6134511/76258997-f70

[2020-03-10 10:57] Azeveco opened #377 "JavaScript loses highlight after a second with file open"
I'm currently using Dracula with my VSCode and having this issue.

When I open a file, everything is ok but after a second, lots of this loses the hightlight.

As you can see on the video, the file opens with everything ok and a second later, things like module.exports and require lost its highlight for some reason. You can check the video and the screenshots.

Video: https://drive.google.com/open

[2020-03-10 19:02] #377 closed

[2020-03-10 19:07] Azeveco commented on #377
As stated [here](https://github.com/microsoft/vscode/issues/92308#issuecomment-596885893), the February 2020 patch updated the identifiers that the themes use to apply colors to variables, functions, classes, etc.

The answer is there.

[2020-03-12 09:13] zx1986 commented on #318
me too :-( @Shrek6

[2020-03-12 14:16] jundge opened #378 "Latest version of vscode is inaccurate in .html file"
![BAC0CA69831FDAEC41662DC7C](https://user-images.githubusercontent.com/24717511/76530609-ef4b5480-64ae-11ea-8f0f-bed089df909b.jpg)
The color of console.log is the same as the parameter color？

[2020-03-13 02:45] benknoble commented on #378
Perhaps this would be better in the vscode repo?

[2020-03-13 21:50] jwdinker commented on #378
The root cause can be found here with a fix that needs to be implemented by theme authors. [VS Studio Update](https://github.com/microsoft/vscode/wiki/Semantic-Highlighting-Overview)

[2020-03-14 02:38] benknoble commented on #378
@jwdinker not sure why the :-1:... perhaps you didn't realize I meant the dracula vs-code theme repo?

[2020-03-18 09:30] milouse opened #379 "Please give me back write-right to my repositories"
Hi @zenorocha and anyone involved,

Some time ago, someone took the decision to limit the right of the dracula organization members and creates « team » to manage repositories, which is a very nice thing.

But since then I lose the access on the two repository I maintain:

- [Mattermost](https://github.com/dracula/mattermost): I'm in the [related team](https://github.com/orgs/dracula/teams/matterm

[2020-03-18 22:49] zenorocha commented on #379
I'm really sorry about that @milouse. This should be fixed now.

[2020-03-18 22:49] #379 closed

[2020-03-19 08:29] milouse commented on #379
Yes it works, thank you very much @zenorocha!

[2020-03-22 02:07] DustVoice opened #380 "Dracula for bspwm"
# Dracula for [bspwm](https://github.com/baskerville/bspwm)

**Pink accent color:**

![Screenshot](https://raw.githubusercontent.com/DustVoice/template/master/screenshot.png "Monitor focused - Pink focus") | ![Screenshot unfocused monitor](https://raw.githubusercontent.com/DustVoice/template/master/screenshot_unfocused_monitor.png "Monitor unfocused - Pink focus")
--- | ---
Monitor focused (_focus

[2020-03-22 02:08] DustVoice commented on #380
Link to the repository, as requested: https://github.com/DustVoice/template

[2020-03-23 00:59] zenorocha commented on #232
The spec is now official! 🎉

* https://spec.draculatheme.com

I'm going to close this issue for now, but feel free to start new discussions about each color over here:

* https://github.com/dracula/spec

[2020-03-23 00:59] #232 closed

[2020-03-25 04:14] jundge commented on #378
the lastest vscode was fixed about this

[2020-03-29 22:44] DustVoice commented on #380
Thanks for inviting me into the team and creating the repository. I just wanted to mention that the webpage will still have to be created. And big props to the creators and maintainers of this awesome color scheme, I'm using everywhere I can

[2020-03-29 22:49] zenorocha commented on #380
Hey @DustVoice, as you noticed, the repository has been transferred (https://github.com/dracula/bspwm) and you can now delete the previous one (https://github.com/DustVoice/template).

The page for bspwm is also live: http://draculatheme.com/bspwm 🎉 🎉 🎉

Please take a look there, and if you want to change something, go ahead and update the `screenshot.png` or `INSTALL.md` files.

[2020-03-29 22:49] #380 closed

[2020-03-29 22:51] zenorocha commented on #380
Thank **you** for creating this theme and I really appreciate all the effort.

[2020-03-29 22:59] zenorocha commented on #375
Hello @nathanblair! I saw your PR: https://github.com/dracula/dracula-theme/pull/374 and I love the fact that you're creating a theme for wofi.

In terms of how to distribute it, the best way would be to fork this template, add your files and instructions on how to install it: https://github.com/dracula/template

After you're done with that, we can transfer to the Dracula organization and create a

[2020-03-29 23:04] zenorocha commented on #373
Sorry for the delay @alexherbo2. I just sent you an invite to join the Dracula team. Once you accept it, you can transfer the repository to this organization, and I'll create the official website page :)

[2020-03-29 23:10] #254 closed

[2020-03-29 23:12] zenorocha commented on #366
Hey @ChildishGiant, thanks for your patience. Can you move ahead with transferring the repository to the Dracula organization?

[2020-03-29 23:17] zenorocha commented on #363
Friendly ping @DottedGlass

[2020-03-29 23:18] zenorocha commented on #297
Closing since this is not really a theme request, but a programming language that code editors should support.

[2020-03-29 23:18] #297 closed

[2020-03-29 23:21] zenorocha commented on #29
Seems like Eclipse Color Theme is down: https://www.reddit.com/r/eclipse/comments/f8rv55/eclipse_color_theme_is_down_and_there_is_no

So I'm not sure if we can proceed with that. If you're looking at this message in the future and you'd like to see a Dracula theme for Eclipse, please create a theme and submit. You can find more info about how to contribute here: https://draculatheme.com/contribute

[2020-03-29 23:23] zenorocha commented on #275
Friendly ping :)

[2020-03-30 01:02] DottedGlass commented on #363
Hi @zenorocha
I've been busy with school so I haven't had time to revise the colors based on the dracula spec. If the current colors are okay I'm fine with moving the repo into the official dracula repo.  Let me know if there's anything I need to do on my end.

[2020-03-30 08:18] ChildishGiant commented on #366
All done 😄 How does it get added to the website?

[2020-03-31 02:06] zenorocha commented on #366
Aaaaand it's live! https://draculatheme.com/tabletop-simulator

Thanks @ChildishGiant :D

[2020-03-31 02:06] #366 closed

[2020-03-31 22:17] jordanvidrine opened #381 "A Dark theme for Discourse"
Hey there, I'm a designer over at [Discourse](https://www.discourse.org/). We create software that enables civilized discussion communities, teams, fans, and clubs.

I love using the Dracula theme in VScode for work, so I decided to create a Dracula dark theme for our users to be able to use for themselves.

Thanks so much for the work you do!

https://github.com/jordanvidrine/discourse-dracula-th

[2020-04-01 19:31] zenorocha commented on #381
That's amazing Jordan! Can you believe that a couple weeks ago I set up a Discourse instance and started working on something like this??? I ended up dropping the idea of using Discourse at that time, because of the price, but seeing this theme makes me very happy and excited about Discourse again :D

I just sent you an invitation to join the Dracula organization. Once you accept, can you transfer

[2020-04-01 21:32] jordanvidrine commented on #381
Ah that is so cool to hear that you set up and were trying Discourse out. Not sure what your purpose was behind the forum, but if it is for an open source project, we offer free hosting for that [here](https://blog.discourse.org/2018/11/free-hosting-for-open-source-v2/).

I'll go ahead and make these changes, accept the invite, and transfer the repo.

Thanks!

[2020-04-02 15:07] zenorocha commented on #381
It's live! https://draculatheme.com/discourse

Thanks @jordanbrown, this is really exciting ;)

[2020-04-06 14:41] jordanvidrine commented on #381
Looks awesome! So glad this got to happen

[2020-04-06 23:10] danerwilliams commented on #240
https://github.com/danerwilliams/tmux-dracula

Only tested my theme on mac os so far. I need to look in to how my unix pipelines for getting battery information and network SSID might change from mac to linux.

![image](https://user-images.githubusercontent.com/22798229/78613343-74145e80-7820-11ea-9baf-33121c739cae.png)

Install with tpm by adding `set -g @plugin 'danerwilliams/tmux-dracula'` to .

[2020-04-08 00:28] #381 closed

[2020-04-08 00:37] zenorocha commented on #240
It took a while, but now it's official:
* https://draculatheme.com/tmux
* https://github.com/dracula/tmux

I would love to hear your thoughts on this @mamyn0va @pichardoJ @sei40kr

[2020-04-08 00:37] #240 closed

[2020-04-08 00:38] zenorocha commented on #373
It's live! https://draculatheme.com/kakoune

[2020-04-08 00:38] #373 closed

[2020-04-08 00:40] zenorocha commented on #281
Closing since we already have this theme live:
* https://draculatheme.com/firefox
* https://github.com/dracula/firefox
* https://addons.mozilla.org/en-US/firefox/addon/dracula-dark-colorscheme/

[2020-04-08 00:40] #281 closed

[2020-04-08 00:41] #219 closed

[2020-04-08 00:41] zenorocha commented on #219
Closing since I agree with @ChildishGiant

[2020-04-08 08:46] samyak039 opened #382 "[Theme Request] Dark Reader"
Can you implement a Dracula mode or theme for [Dark Reader](https://github.com/darkreader/darkreader), by that I can browse the complete web in Dracula Theme.

[2020-04-08 09:13] dagadbm commented on #240
nice!

i just wish there was an easier way to have tmux themes with customization
on the  bottom bar. For example the one dark tmux theme has those powerline
symbols and so on and I always wanted to know how to have that more custom
but with the color scheme maintaining and it seems the two are very tightly
coupled right?

On Wed, Apr 8, 2020 at 1:38 AM Zeno Rocha <notifications@github.com> wrote:

[2020-04-08 16:10] danerwilliams commented on #240
@dagadbm I think that it's possible to set it up so that powerline symbols would be an optional setting. It looks like  [nord theme tmux](https://github.com/arcticicestudio/nord-tmux/blob/develop/nord.tmux) does this.

if [ "$status_content" != "0" ]; then
    if [ "$no_patched_font" != "1" ]; then
      tmux source-file "$_current_dir/$NORD_TMUX_STATUS_CONTENT_FILE"
    else
      tmux source-fil

[2020-04-09 13:39] hisnawi opened #383 "PS1 setup for a Dracula theme basic and simple Bash prompt"
I love the Dracula theme but I am looking for very basic and simple PS1 setup that has same colors. I tried looking in other theme files in the repo trying to extract the correct formula I need but I failed.
Basically I am looking for a prompt to like like the following but with Dracula theme colors:

`export PS1="\[\033[36m\]\u\[\033[m\]@\[\033[32m\]\h:\[\033[33;1m\]\w\[\033[m\]\$ "`

[2020-04-09 17:39] benknoble commented on #383
You'll want to set up your terminal first; e.g., if you use Apple's Terminal.app: https://github.com/dracula/terminal-app

Then you can do what you're doing—your current `PS1` uses the terminals colors, so you need to set up its colors first.

[2020-04-09 17:39] #383 closed

[2020-04-09 18:20] hisnawi commented on #383
Got it, I am not too familiar with the PS1 formula and how it picks up the colors.
Is there a way to customize there colors directly in the PS1 assignment without relying on the terminal colors?
Reason I am asking because I use Tmux to access remote systems that I can't control or can change their settings (including the terminal theme). But I can control the shell sessions I open with Tmux. That

[2020-04-09 19:29] benknoble commented on #383
You can't customize the colors directly in PS1 (other than picking attributes like bold, reverse, blink, etc., and picking which of the 8–16 colors are used).

To be clear, you're customizing your terminal emulator's colors. When you use `ssh` (not `tmux`—`tmux` is a terminal multiplexer it doesn't connect you remotely at all) to access a remote system, the system sends back the text for your term

[2020-04-09 19:39] hisnawi commented on #383
Thanks for the detailed explanation.

[2020-04-12 11:31] elumbella commented on #375
I created a fork and threw together a quick stylesheet. It is very simple atm, but I like it. However, I'm open to ideas!

Check it out here: https://github.com/elumbella/template

[2020-04-12 16:15] zenorocha commented on #375
Hey @elumbella, that was great! I just cloned the repository and moved to the Dracula org: https://github.com/dracula/wofi

I had to make some small changes there, let me know if that's correct or not: https://github.com/dracula/wofi/commit/e13c362bf84446b0b573d02ecea2bc82d9e4983b

You should have received an invitation to join the org now.

Here's the page on the site now: https://draculatheme.co

[2020-04-12 16:15] #375 closed

[2020-04-12 23:13] zenorocha opened #384 "Theme for Roam Research"
Inspiration
 * https://github.com/theianjones/roam-research-themes
* https://github.com/roam-unofficial/roam-toolkit

[2020-04-13 11:47] elumbella commented on #375
Thanks @zenorocha for the quick integration and invitation to the team. I have happily accepted!

I have since edited the INSTALL.md to match the actual installation process. Thanks for pointing that out :)

[2020-04-13 19:48] GuilhermeCaruso opened #385 "Dracula for Spacemacs"
## Repository
- Solution made to use dracula with spacemacs. Below is the repository
[Dracula for Spacemacs](https://github.com/GuilhermeCaruso/dracula-spacemacs)

[2020-04-14 22:32] QuietImCoding opened #386 "Dracula Ableton Live Theme"
## Dracula Theme for Ableton Live

Ableton Live is a really popular DAW, probably used by thousands of music producers. I figured it would be fun for them to have access to this one incredibly widely supported theme. This theme was built with [abletonthemes.com](https://www.abletonthemes.com), and you can remix it [here](https://www.abletonthemes.com/themes/dracula/8546) if you'd like.

[repo link

[2020-04-15 14:11] atgmello commented on #240
Not sure if this is the appropriate place, but it's about Dracula and tmux, so I guess it fits.

After checking this recent release I realized that my tmux needed a revamp to match my whole Dracula setup. However, I'm already using the great [Oh My Tmux](https://github.com/gpakosz/.tmux) configuration file. Inspired by this release and Dracula's Vim Airline theme, I decided setting up a minimal "t

[2020-04-15 14:17] mamyn0va commented on #240
Great job!
I admit that my version is not so synced with @gpakosz's repo ;)

[2020-04-16 20:55] alucard835 opened #387 "Website, custom webfonts are broken"
Currently the web fonts custom to the https://draculatheme.com/ page are broken.

[2020-04-17 03:50] damiiani opened #388 "Dracula for Godot"
## Dracula for Godot

I created Dracula theme for the Godot Engine, below is the repository:
[Dracula for Godot](https://github.com/damiiani/dracula-godot)

And the current look:
![Godot](https://github.com/damiiani/dracula-godot/raw/master/screenshot.png)

Any tips are welcome...

[2020-04-17 17:03] zenorocha commented on #388
This looks beautiful @damiiani! Congrats 🎉 🎉 🎉

Would you be willing to transfer the repository to the Dracula organization? You would still be the maintainer and everything.

If you're okay with that, I just sent you an invite to join the Dracula team. Once you accept it, you can transfer the repository to this organization, and I'll create the official website page :)

[2020-04-17 17:14] damiiani commented on #388
Already transfer it @zenorocha :)

[2020-04-17 17:30] zenorocha commented on #388
https://draculatheme.com/godot 🎉 🎉 🎉

[2020-04-17 17:31] #388 closed

[2020-04-17 17:31] zenorocha commented on #388
Thanks Gustavo! 🇧🇷

[2020-04-17 17:49] zenorocha commented on #387
Thank you @alucard835! This should be fixed now :D https://github.com/dracula/draculatheme.com/commit/92208c5e01c5d6f3852868431aadc05231225599

[2020-04-17 17:49] #387 closed

[2020-04-18 17:30] zenorocha commented on #193
Hello everyone,

I decided to restart this topic in order to improve the quality of the screenshots.

## New Snippet

[code]

## Why use this?

* It contains examples of string, number, and array
* It contains examples of single line and multi-line comments
* It contains examples of inheritance and functions
* It's simple, funny, and silly

## Where to store them?

They are going to be kept on the

[2020-04-20 20:15] RaphGL opened #389 "Dracula for rofi"
A dark theme for the rofi launcher.
[Dracula for rofi](https://github.com/RaphGL/rofi)
![screenshot](https://user-images.githubusercontent.com/28673457/79795560-46103d80-833b-11ea-9c9c-c56228e9fbf2.jpg)

[2020-04-21 20:52] pipiscrew opened #390 "Dracula for Codelobster ?"
hi all,

Very nice work!

http://codelobster.com/

is a PHP / HTML / CSS / JavaScript **cross platform** editor used by many people.

Website, alexa rank is **388k**.. Please consider to create a theme...

[2020-04-22 16:00] zenorocha commented on #389
Hey @RaphGL, that's great! Congrats on the new theme 🎉

Before we move to the Dracula org, can you make some adjustments for the site?
1. Add a INSTALL.md with instructions
2. Use the same README.md pattern
3. Convert the screenshot from JPG to PNG

You can see the https://github.com/dracula/template for reference.

[2020-04-22 16:48] RaphGL commented on #389
I have adhered to the template on: RaphGL/rofi@ba82d15c0486469642a4c71dd222b7a67539670c
Could you check to see if everything is in order?

[2020-04-22 23:48] pichardoJ commented on #240
Is great, good job guys.

[2020-04-23 00:33] scottzach1 commented on #29
Hi guys,

Ihave been playing around a bit with what can be done regarding Eclipse.
Not the most knowledgeable with the software (assignments are marked in them).

Anyways, I found that the closest you can get to a full IDE theme is using the [Darkest Dark](https://marketplace.eclipse.org/content/darkest-dark-theme-devstyle) from the Eclipse Marketplace.

This is what I was able to produce: https:/

[2020-04-23 14:50] zenorocha commented on #29
It looks great @scottzach1! I'd love to have this as an official theme.

Can you make some adjustments for the site?

1. Add a INSTALL.md with instructions
2. Use the same README.md pattern
3. Rename screenshot to `screenshot.png`

[2020-04-23 14:51] zenorocha commented on #389
Looks perfect now :D Can you transfer the repo?

[2020-04-23 15:04] RaphGL commented on #389
Done!

[2020-04-23 15:17] zenorocha commented on #389
Aaaaand we're live: https://draculatheme.com/rofi

Thanks again @RaphGL, keep rocking  🎉

[2020-04-23 15:17] #389 closed

[2020-04-24 02:23] scottzach1 commented on #29
Hi @zenorocha, made those changes and [repo](https://github.com/scottzach1/dracula-theme-eclipse) now follows the official template. I wasn't super sure what to do regarding the [draculatheme.com](http://draculatheme.com/) hyperlinks. But I guessed what they might likely become.

Happy for it to be put up on the official repo. Let me know if there is anything else that needs to be done / changed :

[2020-04-24 15:58] ryandevz opened #391 "Updating Telegram Theme - Sidebar"
Please update telegram theme.
Telegram added new future called Chat Folders

**Issue:** https://github.com/dracula/telegram/issues/14

**Solution:** in the end of file "_colors.tdesktop-theme_" add
[code]

[2020-04-26 10:43] ysm0622 opened #392 "Dracula theme for Github website"
Thank you so much for creating a nice theme. Is there a theme for the Github website?
I am using the Dracula theme in vscode, but I'm wondering why there is no Dracula theme in the Github website where we see the code the most.

[2020-04-26 12:55] benknoble commented on #392
Afaik there is no cross-browser way to theme GitHub. Some browsers have plugins that allow theming sites, though.

[2020-04-26 15:20] ysm0622 commented on #392
Thank you for the quick reply. I found a lot of Github Dark theme browser extension, but I couldn't find Dracula theme for Github.
If you know, then can you give me the link?

[2020-04-26 16:41] benknoble commented on #392
I don't know of any off the top of my head, though if they use something Pygments-ish you could try the following CSS: https://github.com/dracula/pygments

[2020-04-27 08:56] thanhvule0310 opened #393 "Dracula theme for Oh-my-posh(Powershell)"
## New Theme

I've created a new theme for [Oh-my-posh](https://github.com/JanDeDobbeleer/oh-my-posh)

Repository: https://github.com/thanhvule0310/dracula-ohmyposh

[2020-04-27 19:30] SebDanielsson commented on #246
Is there a reason why EliverLara/Ant-Dracula isn't linked to on the website? What work would be required to add the theme to the website?

[2020-04-28 01:16] scottzach1 commented on #246
https://github.com/EliverLara/Ant-Dracula/issues/40

[2020-04-28 03:53] SebDanielsson commented on #246
Wow, what a coincidence. This is really good news.

[2020-04-28 04:01] zenorocha commented on #246
Yeah, it would be great if we can have @EliverLara's theme as our official one.

[2020-04-28 04:21] zenorocha commented on #29
That's awesome @scottzach1! Great work 🎉

I just sent you an invitation to join the Dracula org, once you accept you can transfer the repository, and I'll handle the site part.

[2020-04-28 04:23] zenorocha commented on #390
Hey @pipiscrew, that's a great suggestion. Have you thought about creating the theme yourself?

Here are the instructions on how to do it: https://draculatheme.com/contribute

[2020-04-28 04:26] zenorocha commented on #386
That's awesome @QuietImCoding!

Would you be interested in transferring this repository to the official organization (https://github.com/dracula)? You'll continue maintaining this project, the only difference is that we can make it more visible and include it on the site (https://draculatheme.com).

What do you think? I sent you an invite :)

[2020-04-28 04:29] zenorocha commented on #363
The current colors look great @DottedGlass! I just sent you an invite to join the Dracula organization. Once you accept, just transfer the repository and I'll make the adjustments needed for the website :)

[2020-04-28 04:31] zenorocha commented on #385
Hey @GuilhermeCaruso, that's awesome, thanks for doing this!

I just sent you an invite to join the Dracula organization. Once you accept, just transfer the repository and I'll make the proper adjustments for the website page ;)

[2020-04-28 05:47] scottzach1 commented on #29
Lovely! The repo has now been transfered to [dracula/eclipse](https://github.com/dracula/eclipse) :)

[2020-04-28 06:29] pipiscrew commented on #390
Sorry, Im not an artist, I will try with the then given colors when free.

[2020-04-28 14:18] GuilhermeCaruso commented on #385
Invite accepted and transfer made! Thanks!

[2020-04-28 14:51] zenorocha commented on #29
It's live! https://draculatheme.com/eclipse 🎉 🎉 🎉

Thanks @scottzach1, I can't believe we're going to close an issue from Nov 18, 2013 lol

[2020-04-28 14:51] #29 closed

[2020-04-28 14:57] zenorocha commented on #385
Hey @milouse, can you review this before I publish it on the site? I'm not very familiar with Emacs, so I don't know the difference between Emacs and Spacemacs.

@GuilhermeCaruso can you describe the difference between your theme and https://github.com/dracula/emacs?

[2020-04-28 15:13] GuilhermeCaruso commented on #385
@zenorocha Spacemacs is a development kit for emacs, it runs alongside emacs, however its visual configurations / styles are defined in an exclusive layer, for this reason the need to create a unique style for it.

[2020-04-28 15:55] QuietImCoding commented on #386
Hey! Sounds good 👍
I'm working on transferring it now. Unfortunately I forked your template repo so I need to somehow unfork it before I can transfer the repository.

[2020-04-28 20:37] milouse commented on #385
Yeah, Spacemacs packages its own themes and modules, thus I'm not surprised it exists another way to make a dracula theme on it. I cannot say much as I never used it :/

[2020-04-28 21:27] scottzach1 commented on #392
For what it is worth. I have been using this for a little while now and have been really happy with how it performs.

https://github.com/dracula/dracula-theme/issues/309

Looks pretty great on GitHub. For what it is worth, I would personally prefer having 1 extension manage all of the colors than having to install extensions for all the popular websites.

If someone wants to implement, perhaps it

[2020-05-01 15:12] benknoble commented on #318
Is there any forward progress on trying different values?

[2020-05-02 07:34] the-zero885 opened #394 "Dracula for Openbox"
Hi Dracula Team! I made a Dracula theme for the Window Manager Openbox (used in Linux distros with LXDE, LXQt and some environments).

**Repository:** https://github.com/the-zero885/dracula-Openbox

**Screenshots:**
It has two versions, one with a border and one without.

![Theme with border](https://raw.githubusercontent.com/the-zero885/dracula-Openbox/master/dracula_withoutborder.png)
![Borderle

[2020-05-03 19:29] rev1e opened #395 "Dracula theme for tint2"
I created dracula theme for [tint2](https://gitlab.com/o9000/tint2)

Repository: [rev1e/dracula-tint2](https://github.com/rev1e/dracula-tint2)

Screenshot:
![screenshot](https://raw.githubusercontent.com/rev1e/dracula-tint2/master/screenshot.png)

[2020-05-05 23:11] Abbabon opened #396 "Aseprite dracula color theme :)"
Hi there! I've just finished creating a Dracula theme. Here is the repo:

https://github.com/Abbabon/aseprite-dracula-theme

I've tried to fill your template to the best of my knowledge, but some editing will be required for the Readme.

I think the theme looks cool :) Still haven't worked with it a lot, but with several years of Dracula on both all my terminals, IDEs and even Chrome, I feel right

[2020-05-06 15:31] PsyPeke opened #397 "Dracula theme for Total Commander"
## Dracula for Total Commander
I've created this first version of [Dracula Theme for Total Commander](https://github.com/PsyPeke/dracula-totalcommander). Maybe it's not perfect, but I hope it's a starting point.

[2020-05-06 22:40] zenorocha opened #398 "New Dracula Community"
## Why?

Hello @dracula/maintainers!

For a long time, I missed having a place where we can openly discuss about Dracula.

GitHub is great, but I feel like Wiki and Issues are not the appropriate places to share our ideas. In the spirit of finding a place where we could all hang out, I started looking at several different options:

1. [Slack](http://slack.draculatheme.com/) / [Discord](https://dis

[2020-05-06 23:16] dsifford commented on #398
Chiming in late here to mention that the new [GitHub Discussions Beta](https://github.blog/2020-05-06-new-from-satellite-2020-github-codespaces-github-discussions-securing-code-in-private-repositories-and-more/#discussions) might be the perfect thing for this (and avoid the $$ associated with hosting a discourse).

[2020-05-07 00:26] nesl247 commented on #398
I would definitely prefer to wait for GitHub discussions. I'd much rather not have another site to have to browse.

[2020-05-07 08:02] milouse commented on #398
I'm not really found to have another new site too… However maybe a good way to ease the adoption curve would be to activate github-related plugins?

- https://meta.discourse.org/t/discourse-github/99895 to have some integration
- https://meta.discourse.org/t/openid-connect-authentication-plugin/103632 to allow us to connect/create account through our github credentials?

[2020-05-07 09:26] oswaldoacauan commented on #398
I would also suggest to wait for GitHub discussions. Having scattered communities for the same project just discourage new people to join imo.

[2020-05-07 14:38] GuilhermeCaruso commented on #385
@zenorocha  Do you need any more information?

[2020-05-07 15:14] zenorocha commented on #398
Thanks for providing this feedback, you guys are awesome!

Let me share some opinions about GitHub Discussions:

1. First of all, it looks amazing. It's a shiny new thing, and whenever there's a new thing, there's always excitement and hope. Unfortunately, we don't know if that feature is really going to be adopted, remember [Team Discussions](https://help.github.com/en/github/building-a-strong-co

[2020-05-07 15:17] BlakeWilliams commented on #398
Hey, I'm actually on the discussions team at GitHub. If discussions is something you're still considering feel free to reach out and we can chat about it. :)

[2020-05-07 15:25] nesl247 commented on #398
How perfect.

1) I'm 99% sure it will be adopted. People already use Issues for discussion. Team Discussions isn't used because it's generally just a bad idea. Why use that instead of Slack?

2) Seems like we have an in for early access

3) Just because it has an Answered button doesn't mean it has to be used like SO.

4) I feel searching for discussions on GH will be a lot easier than having to k

[2020-05-07 15:48] zenorocha commented on #398
Wow, that's amazing news, thanks @BlakeWilliams. Let's make it happen!

[2020-05-07 16:15] oswaldoacauan commented on #398
This is the main point imo.

[2020-05-07 21:29] zenorocha commented on #396
Hey @Abbabon, it looks great!

I just sent you an invite to join the [Dracula organization](https://github.com/dracula). Can you transfer the repository? Once you do that, I'll be able to add the theme to the [official site](https://draculatheme.com) :)

What do you think?

[2020-05-07 21:31] zenorocha commented on #385
Sorry for the delay @GuilhermeCaruso. You can transfer the repo now.

[2020-05-07 23:14] GuilhermeCaruso commented on #385
@zenorocha  The repository is already owned by @dracula/spacemacs

[2020-05-08 15:56] zenorocha commented on #386
Hey @QuietImCoding, the theme is finally live!

https://draculatheme.com/ableton-live

I had to make some small adjustments in order to follow the same pattern as the other repositories, but other than that it looks amazing.

https://github.com/dracula/ableton-live/commit/c5c18246b557ccaa6bddd8940ff4fa0e5febdc60

[2020-05-08 15:56] #386 closed

[2020-05-08 16:09] zenorocha commented on #385
Hey @GuilhermeCaruso, the theme is finally live!

https://draculatheme.com/spacemacs

I had to make some small adjustments in order to follow the same pattern as the other repositories, but other than that it looks amazing.

https://github.com/dracula/spacemacs/commit/ee1052bff2b954bedd5e9ee1ddb694d3cf75fa66

[2020-05-08 16:09] #385 closed

[2020-05-08 16:10] zenorocha commented on #397
It looks great @PsyPeke! I sent you an invite to join the Dracula organization. Can you transfer the repository? Once you do that, I'll be able to add the theme to the official site :)

[2020-05-08 17:44] Abbabon commented on #396
Hi Zeno! I've moved the repository :)

Anything else required at my end?

On Fri, May 8, 2020 at 12:29 AM Zeno Rocha <notifications@github.com> wrote:

[2020-05-10 03:17] zenorocha commented on #397
Hey @PsyPeke, I was able to move the Total Commander repository to the Dracula organization:
* https://github.com/dracula/total-commander

You can go ahead and delete this repo now:
* https://github.com/PsyPeke/total-commander

You see the live page here:
* https://draculatheme.com/total-commander

Thanks @PsyPeke!! Good job on this :)

[2020-05-10 03:17] #397 closed

[2020-05-10 09:46] zshzero opened #399 "Grub2 Dracula theme"
I have created a Dracula theme for Grub2.
[Link to the repo](https://github.com/zshzero/dracula-grub2)

[2020-05-12 05:54] AGitBoy commented on #398
I feel that having a community forum would be a good thing overall, but it depends on the time frame for the GitHub discussion system to be launched, if its a couple months we should probably wait it out, but if its more than 4 months we should probably consider the forum. If we do go ahead with it there are a couple things that I have questions/suggestions on.

1. When GitHub discussions goes up

[2020-05-12 15:58] zenorocha commented on #398
Okay, everyone, we are live! 🎉🎉🎉

[GitHub Discussions](https://github.com/dracula/dracula-theme/discussions) have been enabled and we'll now start shutting down [community.draculatheme.com](https://community.draculatheme.com).

I'd like to kick things off with two posts:

* [Welcome to the Dracula Community](https://github.com/dracula/dracula-theme/discussions/400)
* [Share your Sublime Text setup

[2020-05-12 17:42] GrbavaCigla opened #402 "GNOME Builder"
Theme request for GNOME Builder. I can make the theme, but I cant find a way to use custom themes. Also I don't how the theme file is formatted, but it looks like it is similar to GNOME Terminal.

[2020-05-12 17:46] GrbavaCigla commented on #246
https://github.com/EliverLara/Ant-Dracula/issues/40#issuecomment-626375071

[2020-05-12 19:18] GrbavaCigla commented on #402
Update, found where the styles are located

[2020-05-12 19:24] GrbavaCigla commented on #402
Found a solution! Just copy `gedit` dracula theme to `/usr/share/gtksourceview-4/styles` or `$HOME/.gtksourceview-4/styles`

[2020-05-12 19:24] #402 closed

[2020-05-14 18:58] #246 closed

[2020-05-15 15:33] DottedGlass commented on #363
@zenorocha I joined the Dracula organization but I'm having trouble transfering the repo.
Both "Dracula Theme" and "dracula-theme" has a cannot find owner error.

![image](https://user-images.githubusercontent.com/29390846/82068289-c0fd1780-969f-11ea-9830-77195a2795df.png)

[2020-05-16 02:16] crThiago opened #404 "php closing tag '?>'"
I don't know if it is a bug, but when commenting the php closing tag '?>', It appears that way
![image](https://user-images.githubusercontent.com/33141686/82107958-d440cf00-9701-11ea-8f55-d34788ef22ac.png)

[2020-05-16 02:18] #404 closed

[2020-05-16 13:48] benknoble commented on #404
@crThiago Since you marked this closed, did you find a solution? Note that in general you’ll get better replies if you post issues on the specific repository of the program you’re using (eg, if it’s a vim issue, post it on dracula/vim).

[2020-05-16 15:45] makitsune opened #405 "Dracula for GitLab"
I added a new theme for GitLab syntax highlighting and diffs!

It's currently available here: https://github.com/makitsune/dracula-gitlab

The `INSTALL.md` will explain how to compile the CSS files and there's a guide for installing it with a browser extension. It's possible to also install this on a self-hosted GitLab instance but that's much more complicated.

All the links are already pointing

[2020-05-17 17:40] Natur3-Boy opened #406 "Dracula for Lightline"
# Dracula for [Lightline](https://github.com/Natur3-Boy/dracula-for-lightline)

I've really enjoyed having this, so I thought I would share.

I know Lightline has darcula, but it's not the same.

Cheers.

[2020-05-17 22:33] crThiago commented on #404
yes, sorry i posted an issue in the vscode repository

[2020-05-18 13:05] benknoble commented on #406
We have (some) support for lightline in dracula/vim; would you consider opening a PR there?

[2020-05-18 14:05] Natur3-Boy commented on #406
Oh! Please forgive my incompetence. I hadn't even thought of looking
there and just assumed Lightline would be supported under a separate
program. You're code is much better than mine; although, I had to do
some digging to find it.

Sorry for the inconvenience,
Dan

[2020-05-18 15:08] benknoble commented on #406
No inconvenience; I'll close this. But honestly, if there's something you want to see changed, let us know via an issue or PR and we'll consider it!

[2020-05-18 15:08] #406 closed

[2020-05-26 12:13] zenorocha commented on #363
Hey @DottedGlass, in the first field you must write `dracula` which is the name of the organization. Would you mind trying again?

[2020-05-28 21:09] bigpick opened #411 "colorls theme/config file"
## New Theme
New theme for [colorls](https://github.com/athityakumar/colorls)

### Dracula directory created from template available [here](https://github.com/bigpick/colorls).

Not sure where to put the installation instructions in the meantime

[2020-05-29 12:04] bigpick commented on #411
@benknoble what’s the difference between a new theme request and a new theme submission? Looking through the existing Issues it seems that a request is for asking?

[2020-05-29 12:42] benknoble commented on #411
@bigpick Hm unclear. I _thought_ it was for saying “hey I built a Dracula X lets get it transferred to the dracula org and on the website to make it official.” Best wait for @zenorocha regardless.

[2020-06-01 08:10] spazmantiz opened #413 "Dracula for mousepad"
Hey, i made this little tutorial for installing dracula theme for mousepad text editor.
currently is in my github repo https://github.com/spazmantiz/dracula-mousepad

[2020-06-04 10:14] faviobecker commented on #209
Yes, let's do it, I suggest we start by using the Brackets light theme as a basis :) - Van Helsing ftw 👍

[2020-06-10 19:12] specter78 opened #415 "[FR] Dracula for Mailspring"

[2020-06-11 10:53] avatar-lavventura opened #416 "dracula-theme for Thunderbird"
## New Theme?

Is is possible to apply dracula-theme into `[Thunderbird](https://www.thunderbird.net/en-US/)`?

[2020-06-12 01:16] zenorocha commented on #246
We officially have a GTK theme now. Thanks @EliverLara for doing such a great job on this!

https://draculatheme.com/gtk

[2020-06-19 05:59] douglasdamasio opened #417 "Adminer-Dracula-Theme"
New Theme?

Oh yes!
First, Good morning / Good afternoon / Good night ;)
I am proposing to submit a new topic to the **Adminer**,
[Adminer](https://www.adminer.org/) is a Database management in a single PHP file, a great alternative to phpMyAdmin.
Lately I've been using it through a docker container and their default theme is eye-popping! LOL!

Look:
![img](https://www.adminer.org/static/screensho

[2020-06-20 08:23] PitcherTear22 opened #418 "[question] Function parameters"
https://spec.draculatheme.com/#FunctionParameters

Are function parameters supposed be Orange Italic in declaration, invocation or both?

[2020-06-23 16:20] jldohmann opened #419 "New theme: Dracula for Mathematica/Wolfram Notebooks"
Hi, team! I implemented the Dracula theme for Wolfram Notebooks 😄 you can find it here: ![Dracula for Wolfram Notebooks](https://github.com/jldohmann/wolfram-notebooks)

Here's a preview for how it works:

![image](https://user-images.githubusercontent.com/14860856/85428551-fc162480-b542-11ea-93d4-2813f29500b7.png)

If you have a Wolfram desktop application, you can try it out interactively; it's

[2020-06-27 08:28] nesteiner opened #420 "color is too dark when matching brackets"
I found it when matching brackets, though the color shines,but too dark to notice it,
anymethod to fix it?
thank you

[2020-07-01 07:41] amine2233 opened #421 "New theme: Tower 5"
## New Theme

The new version of Tower 5 integer a new text editor with the possibility to customise the theme, it will be nice if you can add the new theme for this nice Git Client

[2020-07-01 10:39] gh0stkey opened #422 "what font is used in the screenshot in the README"
what font is used in the screenshot in the README

[2020-07-01 16:45] #422 closed

[2020-07-01 16:46] zenorocha commented on #421
Ohh, that's interesting. I like Tower :)

[2020-07-02 06:16] #418 closed

[2020-07-06 20:22] gabrielzschmitz commented on #392
https://github.com/poychang/github-dark-theme

[2020-07-09 03:54] sodomon2 opened #423 "New theme: Textadept"
so I have seen dracula theme is for many editors like sublime text,vscode,etc but it is not for the textadept editor and it would be great if it was so I make this issue

it would be very good if they implemented it in textadept :b

[2020-07-10 08:50] mamyn0va commented on #290
It's there: https://github.com/csalmeida/protonmail-themes/blob/master/themes/dracula/dracula.css

[2020-07-13 14:50] andybyers21 opened #424 "New Theme: Obsidian.md"
Hi All, I made a new theme for the markdown note taking app, Obsidian.md

### GitHub Repo Here:
https://github.com/andybyers21/Obsidian.md

![screenshot](https://raw.githubusercontent.com/andybyers21/Obsidian.md/master/screenshot.png)

[2020-07-13 20:54] Abbabon commented on #424
Been using it for a while now :O
Great contribution!

[2020-07-14 08:42] andybyers21 commented on #424
Thanks, it's a fantastic app

[2020-07-15 15:14] bkclerke opened #425 "New Theme: Colorls"
## New Theme Idea

I'm using Dracula with iTerm2 and I have Powerlevel10k and Colorls installed. I was trying to make the [colorls](https://github.com/athityakumar/colorls) match the Dracula theme. This is what I got so far:
<img width="762" alt="Screen Shot 2020-07-15 at 8 04 54 AM" src="https://user-images.githubusercontent.com/4968254/87561750-f4452e00-c671-11ea-8154-eae7201f8227.png">

#### Co

[2020-07-16 09:29] loohoo opened #426 "Directory not found in 'packpath': "pack/*/opt/dracula""
env:
os: window linux sub system  debian
vim version : 8.0
install method: vim-plug

them
[code]
comes out

[2020-07-16 11:14] benknoble commented on #426
Er, is this vim related? If so, let's migrate it to the vim repository.

[2020-07-17 11:16] jesperkallunki opened #427 "Youtube theme"
https://github.com/Jepulisk/youtube

Youtube theme using https://github.com/RaitaroH/YouTube-DeepDark as base and dracula as color scheme.

Didn't find anything else except https://old.reddit.com/r/unixporn/comments/8cbhoq/kde_vivaldiyoutube_dracula_colors/ and the repo in comments doesn't exist anymore.

[2020-07-17 13:15] bigpick commented on #425
Heya! You should check this out too: https://github.com/dracula/dracula-theme/issues/411 (I had added this support into colorls, and then opened that PR here once the colorls work was in)

[2020-07-17 17:05] SlyBouhafs opened #428 "Dracula palette for TiddlyWiki"
Hey! I just ported the Dracula theme to TiddlyWiki, here's the repo : https://github.com/SlyBouhafs/TiddlyWikiDracula

![screenshot](https://user-images.githubusercontent.com/1410462/87834259-e1a14380-c881-11ea-9a2f-4f6fb8a4f147.png)

What do you think ?

[2020-07-18 09:48] NicTanghe opened #429 "Dracula themed Aurora theme"
## New Theme?
Ok i made a colortheme. For keyboards using aurora.
Its scewed because keyboard LEDs don't emit the same colours as a a pcscreen.

## Existing Theme?

They dont exist yet

Theme at https://github.com/NicTanghe/Aurora-Dracula/blob/master/README.md

[2020-07-20 21:47] rgieseke commented on #423
It's in the latest update of base16-textadept - you would have to update Textadept to the latest nightly release though.

https://github.com/rgieseke/base16-textadept/blob/master/themes/base16-dracula.lua

[2020-07-22 04:17] davrosull commented on #421
I've created a Dracula theme for Tower 5 here: https://github.com/davrosull/tower

 ![Screenshot](https://raw.githubusercontent.com/davrosull/tower/master/screenshot.png)

[2020-07-23 04:07] zenorocha commented on #421
Hey @davrosull,

Good job on this!

Would you be interested in transferring this repository to the official organization (https://github.com/dracula)? You'll continue maintaining this project, the only difference is that we can make it more visible and include it on the site (https://draculatheme.com).

If you're ok with it, I sent you an invitation to join the org so you can transfer the repo :)

[2020-07-23 04:08] zenorocha commented on #423
Does that solve your problem @sodomon2? Thanks for sharing @rgieseke!

[2020-07-23 05:03] davrosull commented on #421
Thanks @zenorocha - more than happy to transfer it.

[2020-07-23 08:55] timescam opened #430 "New Theme: Pywal"
Dracula for Pywal
![screenshot](https://user-images.githubusercontent.com/45168541/90750147-ffd9e380-e306-11ea-956b-4d6d44ed38a9.png)

~Currently Pywal only has the base16 version as base16-dracula, this is based on the [.xrecourse ](https://github.com/dracula/xresources) instead~
Repo: https://github.com/timescam/pywal

[2020-07-23 14:44] bigpick commented on #411
FYI - [most recent colorls release](https://github.com/athityakumar/colorls/releases/tag/v1.4.2) now includes the required hex support is now in the latest gem for colorls 🎉

@zenorocha I've updated https://github.com/bigpick/colorls/blob/master/INSTALL.md accordingly; do you have any thoughts on the colorscheme/values?

[2020-07-24 10:34] prathampowar2001 opened #431 "Dracula Wallpaper"
## Wallpaper to go with the theme

Many people ricing their desktop would like to have a matching wallpaper.After some research I came across a wallpaper just perfect for me except the manjaro logo which I don't mind.If you agree this could be a cool wallpaper to go along with colorschemes.
The link
https://preview.redd.it/skkl2ln1sk551.png?width=8001&format=png&auto=webp&s=94a185f32f1e9d69e044962

[2020-07-24 10:52] NicTanghe opened #432 "I created an ableton live10 Skin with the dracula theme"
## New Theme?

Not sure if I named correctly [color palette](https://github.com/dracula/dracula-theme#color-palette).

This time I did use the propper Github Template.
Repo can be found at.
https://github.com/NicTanghe/Dracula-AbletonTheme

Its stil somewhat of a wip.

[2020-07-26 18:00] zenorocha commented on #432
Hey @NicTanghe, we already have an Ableton Live 10 theme.

Site: https://draculatheme.com/ableton-live
Source Code: https://github.com/dracula/ableton-live

It would be great if you could contribute to that one instead.

Thanks for using Dracula and creating new themes!

[2020-07-26 18:00] #432 closed

[2020-07-26 18:03] zenorocha commented on #421
We're live! Thanks @davrosull for building this theme :D

https://draculatheme.com/tower

[2020-07-26 18:03] #421 closed

[2020-07-29 06:00] ethancedwards8 opened #433 "New theme: Zathura"
Thanks for creating this awesome theme, I contribute to the tmux theme regularly and I thought I would make my own. [Dracula-zathura theme!](https://github.com/ethancedwards8/dracula-zathura).

The user can hit C-i to switch between a dark background and a light background. The reasoning for this is sometimes it can be hard to read text if the background is dark.

[2020-07-31 04:39] danspinola opened #434 "dracula for thonny ide"
Hi there! I ported Dracula for a thonny, which is a Python IDE for beginners. 😋

https://github.com/danspinola/thonny

[2020-08-01 00:32] mly32 opened #435 "A Dracula Theme for MusicBee (https://github.com/mly32/Dracula-MusicBee)"
## New Theme

This is a theme (using the Dracula color palette) for [MusicBee](https://www.getmusicbee.com/), the popular music manager and player.

## Repo link

https://github.com/mly32/Dracula-MusicBee

[2020-08-02 00:14] siqueirabt opened #436 "Theme for B4X"
New Theme
I've created a new theme for B4X

Repository: https://github.com/siqueirabt/b4x-theme-dracula

[2020-08-03 18:34] sodomon2 commented on #423
why is textadept version 10.3 not supported??

[2020-08-04 18:57] helderburato opened #437 "Enable Dracula Theme for DOOM Emacs"
## New Theme

This is a theme (using Dracula color palette) for [DOOM Emacs](https://github.com/hlissner/doom-emacs), a popular framework for Emacs.

## Repository

Added to [helderburato/doom-emacs](https://github.com/helderburato/doom-emacs).

[2020-08-06 14:12] NicTanghe commented on #432
Ooh i dident c it when i made this.

[2020-08-07 00:01] KabirKwatra opened #438 "🎉 New Theme: BetterDiscord"
## [New Theme: BetterDiscord](https://github.com/KabirKwatra/BetterDiscord)

### Dracula for [BetterDiscord](https://betterdiscord.net)

![Screenshot](https://github.com/KabirKwatra/BetterDiscord/raw/master/screenshot.png)

### Install

All instructions can be found at [draculatheme.com/betterdiscord](https://draculatheme.com/betterdiscord).

### Team

This theme is maintained by the following per

[2020-08-07 23:06] aravindps opened #439 "New Theme: Hex Installer OneUI/OneUI 2.0 Theme"
## New Hex Installer OneUI/OneUI 2.0

I have add a Dracula based One UI theme for samsung One UI.

https://github.com/aravindps/dracula-one-ui-hex

[2020-08-10 15:22] karosc commented on #209
seems like a fork of the vscode theme has [made an attempt](https://github.com/ashrafhadden/dracula.min)

[2020-08-10 15:26] bigpick commented on #438
When I try to load this via the `themes` route, nothing seems to get applied (after updating it to load from your repo's raw URL in the meantime).

If I straight copy/paste the `base.css` into the custom CSS, some things change, but looks like _only_ the background colors change; none of the sidebar titles colors/etc change?

[2020-08-10 19:11] raghavmallampalli commented on #368
I was looking around for a MATLAB dracula theme and came across this thread. Since I don't have time to create a repo and I couldn't find the config file in the repos previously made I thought I'd share my config file and install method.

- Download the following file and unzip to a known location: [dracula.zip](https://github.com/dracula/dracula-theme/files/5052836/dracula.zip)
- Go to the Get Ad

[2020-08-10 20:45] KabirKwatra commented on #438
Should be fixed with kabirkwatra/BetterDiscord@a430ab9

[2020-08-10 21:00] bigpick commented on #438
Cool - thanks! That got the theme file application working now.

Am curious though -- how'd you get the title of the role sections to be colored? I know you can get a individual role a color, but could not figure out how to get the role title itself colored as well

[2020-08-10 21:06] KabirKwatra commented on #438
I seemed to have this plugin enabled when taking that screenshot: [BetterRoleColors](https://github.com/rauenzi/BetterDiscordAddons/tree/master/Plugins/BetterRoleColors)

[2020-08-11 06:09] j-hap commented on #368
I finally came around to creating the repo as promised. It's here: https://github.com/j-hap/matlab and I already made all the links point to to the dracula website and project so it can be merged into https://github.com/dracula/. What do I do now?

[2020-08-11 11:56] bigpick commented on #438
One thing that'd be nice is to also update the mention highlight background/lefthand sidebar so that it's not that default off-yellow... I thought I've seen ways to do so, but has been a while since I've looked at BD things (also not sure what Dracula/Zeno's take on that type of stuff, since technically is against ToS)

[2020-08-11 21:47] dgisolfi opened #440 "Dracula for Marp"
## New Theme: Marp

Repo: https://github.com/dgisolfi/marp

[2020-08-12 04:10] zenorocha commented on #368
That's awesome. Thanks for putting this together :)

I just sent you an invitation to join the Dracula org. Once you accept the invite, you can transfer that repository.

[2020-08-12 04:32] zenorocha commented on #437
Hey @helderburato! Thanks for your patience man.

I just sent you an invitation to join the Dracula org. Once you accept the invite, you can transfer the repository.

Let me know if you have any other question.

[2020-08-12 04:34] zenorocha commented on #436
Hey @siqueirabt! Thanks for your patience.

I just sent you an invitation to join the Dracula org. Once you accept the invite, you can transfer the repository.

Let me know if you have any other questions.

[2020-08-12 04:35] zenorocha commented on #435
Hey @mly32! Thanks for your patience.

I just sent you an invitation to join the Dracula org. Once you accept the invite, you can transfer the repository.

Let me know if you have any other questions.

[2020-08-12 04:37] zenorocha commented on #434
Hey @danspinola! Thanks for your patience.

I just sent you an invitation to join the Dracula org. Once you accept the invite, you can transfer the repository.

Let me know if you have any other questions.

[2020-08-12 04:38] zenorocha commented on #440
Hey @dgisolfi!

I just sent you an invitation to join the Dracula org. Once you accept the invite, you can transfer the repository.

Let me know if you have any other questions.

[2020-08-12 04:38] weltonfelix opened #441 "Dracula for Plank"
Hi! I have created [Dracula theme for Plank dock](https://github.com/weltonfelix/plank).

[2020-08-12 04:42] zenorocha commented on #431
Hey @prathampowar2001, thanks a lot for the suggestion.

We do have all these wallpapers available now:
* https://github.com/dracula/wallpaper
* https://draculatheme.com/wallpaper

[2020-08-12 04:42] #431 closed

[2020-08-12 05:34] TheBossProSniper commented on #363
@zenorocha I also love this theme but unfortunately i couldn't find it on the official dracula website... It seems like vtwang seems busy and I would like to help get this on the website of my favourite theme! Thanks and i would appreciate it if you could let me know if I could help in any way! Cheers!

[2020-08-12 08:48] rgieseke commented on #423
I use TA11 only and the updates with the new theme were pulled from the base16 repo after i did the update.

You could paste the color values from https://github.com/rgieseke/base16-textadept/blob/master/themes/base16-dracula.lua#L10 into an older theme file and it should work.

[2020-08-12 11:21] wobushou opened #442 "Where are the fonts installed installed"
this is my Screenshot ；it's look like lost a font ;

![image](https://user-images.githubusercontent.com/22932984/90009536-ce429600-dcd0-11ea-927f-3d7cd4837e3d.png)

[2020-08-12 11:41] hacknug commented on #442
That's node.js' logo :wink:

[2020-08-12 11:41] #442 closed

[2020-08-12 12:06] helderburato commented on #437
Hey @zenorocha! No problem. 😄

All right, I accepted and I'll transfer the repository to Dracula.

[2020-08-12 14:53] vtwang commented on #363
@zenorocha I've transfered this repo to the Dracula website.

[2020-08-12 18:55] danspinola commented on #434
Feito!

Ei, gostei muito do seu livro, 14 hábitos. Achei muito importante, principalmente pra mim que estou começando agora. 😄❤

[2020-08-13 02:59] zenorocha commented on #434
Switching to English in order for this content to be accessible by others on GitHub...

Thank you so much man, I'm glad to hear that you enjoyed the book.

P.S.: I like that you created a sample.py too, just added to the template: https://github.com/dracula/template/blob/master/sample/sample.py

[2020-08-13 03:10] zenorocha commented on #434
@danspinola I really like the fact that you translated that sample code to Python.

Can you leave a comment on this thread with your code snippet?

https://github.com/dracula/dracula-theme/discussions/444

Thanks!

[2020-08-13 14:01] j-hap commented on #368
It's done. I tranferred it to https://github.com/dracula/matlab

[2020-08-13 14:01] #368 closed

[2020-08-13 15:20] zenorocha commented on #434
It's live! https://draculatheme.com/thonny :D

Feel free to share with the Thonny community!

[2020-08-13 15:20] #434 closed

[2020-08-13 15:21] zenorocha commented on #437
Aaaaand it's live! https://draculatheme.com/doom-emacs :D

Feel free to share with the DOOM Emacs community!

[2020-08-13 15:21] #437 closed

[2020-08-13 15:22] zenorocha commented on #435
It's live @mly32! https://draculatheme.com/musicbee :D

Feel free to share with the MusicBee community!

[2020-08-13 15:22] #435 closed

[2020-08-13 15:22] zenorocha commented on #436
It's live @siqueirabt! https://draculatheme.com/b4x :D

Feel free to share with the B4X community!

[2020-08-13 15:22] #436 closed

[2020-08-13 15:23] zenorocha commented on #440
It's live @dgisolfi! https://draculatheme.com/marp :D

Feel free to share with the Marp community!

[2020-08-13 15:23] #440 closed

[2020-08-13 20:15] helderburato commented on #437
Amazing! ✨
Thanks @zenorocha!

[2020-08-15 06:44] pspiagicw opened #446 "Dracual Theme for DWM-Dynamic Window Manager"
## New Theme

Recently after discovering your website draculatheme.com . I riced my linux install with Dracula theme.Only problem my window manager was not according to the theme.I configured my dwm to go with the dracula theme.So I then contributed my colors.

[The Link](https://github.com/prathampowar2001/dracula-dwm)

[2020-08-17 10:26] xnegra80 commented on #382
enable the new view of dark reader in the advanced settings
then set the background colour and text colour to `#282a36` and `#f8f8f2` respectively

![17-08-2020 18:26:10](https://user-images.githubusercontent.com/22794866/90386448-2bff2580-e0b7-11ea-966b-63d053cceeee.png)

[2020-08-20 08:57] timescam opened #447 "New theme: IDLE"
Dracula for [IDLE](https://docs.python.org/3/library/idle.html)
![screenshot](https://user-images.githubusercontent.com/45168541/90749502-16cc0600-e306-11ea-8b23-595ffcf00cc0.png)

Repo: [https://github.com/timescam/idle](https://github.com/timescam/idle)

[2020-08-20 09:04] timescam commented on #430
Updated the colors to the ANSI Color Palette under Dracula Specification.

[2020-08-25 06:40] pragomer commented on #416
I would also very much like a dracula theme for thunderbird. (and, if some makes so.. not only color but perhaps it would be possible to do a little wider line spacing :-))

[2020-08-28 10:11] Windslab opened #448 "Drakula theme does't work at ZSH"
![image](https://user-images.githubusercontent.com/60715874/91549537-c40ad380-e92f-11ea-969d-f00d5d1d7ca8.png)

.zshrc:

[code]
Xtresources:

[code]

[2020-08-28 13:54] benknoble commented on #448
Having your entire config isn't much help. See if you can reduce it (binary search works well) to a smaller piece that "doesn't work." I recommend transferring this over to the dracula/zsh repo, though

[2020-08-28 13:59] Windslab commented on #448
@benknoble As you see It's they all configs working with no errors, but result is NOT EXPECTED. What is wrong, what I need to check?

I did only this:

Install manually
Download using the [GitHub .zip](https://github.com/dracula/zsh/archive/master.zip) download option and unzip them.
Move `dracula.zsh-theme` file to oh-my-zsh's theme folder: `oh-my-zsh/themes/dracula.zsh-theme`.
Move `/lib` to oh-

[2020-08-28 14:09] benknoble commented on #448
I fear you've missed my point; try to narrow down your configuration (eg, by commenting out half of your code at a time) until you have a small example that doesn't work.

I don't have the time or knowledge to debug your whole config (though maybe someone does), in part because I use a custom zsh and not oh-my-zsh, so I have no idea how to troubleshoot it or its theming system.

However, troublesh

[2020-08-28 17:44] n0f3 commented on #424
hi @andybyers21 how does it compare to: https://github.com/jarodise/Dracula-for-Obsidian.md?

[2020-08-28 18:43] andybyers21 commented on #424
Hi @n0f3, it's similar but closer to the official Dracula spec. Headings are all one colour rather than multi coloured. HTML, strong's and em's are also correctly coloured according to the spec. I've used a subtler font and colour scheme for the icons and interface and it also includes Andy Matuschak style note scrolling.

[2020-08-28 19:44] sodomon2 commented on #423
oh thank you for working

[2020-08-28 19:44] #423 closed

[2020-08-28 20:47] n0f3 commented on #424
Thank you for the reply andy! I didn't like the multiple colors in the other theme implementation, so I'll give yours a go instead!

[2020-08-29 14:09] andybyers21 commented on #424
Thanks. Let me know if you have any suggestions for improvement.

[2020-08-31 14:12] digz6666 commented on #234
@jpitchardu I found similar one here: https://github.com/jasontdev/dracula-theme-for-netbeans

[2020-09-01 10:27] ronilaukkarinen opened #449 "New theme: Dracula theme for thelounge"
## New Theme?

Hello! I have created a Dracula theme for [thelounge IRC client](https://github.com/thelounge/thelounge), it's available [here on GitHub](https://github.com/ronilaukkarinen/thelounge-theme-dracula).

<img src="https://i.imgur.com/rBadsRb.png" alt="Screenshot of the Dracula theme for The Lounge" width="550">

[2020-09-01 19:23] molotovbliss opened #450 "New ReNoise Theme"
## New ReNoise Theme

![ReNoise](https://raw.githubusercontent.com/molotovbliss/dracula-renoise-theme/master/mb-dracula-renoise.png)

- https://github.com/molotovbliss/dracula-renoise-theme

### What's ReNoise?
ReNoise is a multiOS tracker based DAW (Digital Audio Workstation)
- https://www.renoise.com/
- https://wikipedia.org/wiki/Renoise
- https://forum.renoise.com/t/color-themes-for-renoise/180

[2020-09-02 21:57] bigpick commented on #411
bump?

[2020-09-05 19:53] NicTanghe commented on #309
It works verry wel this should be added to the main repo.
Dit you make a fork and give it a propper discription ?

If yiu do those things and try and get a hold of the peeps they should give you push acces.

[2020-09-05 21:40] ArthurBacci64 opened #451 "New theme - xfce4-terminal"
# dracula for xfce4-terminal

So, I created this theme based on `gnome-terminal` dracula theme, with some modifications, like the background color, to match with the window manager's color.
<https://github.com/ArthurBacci64/dracula-xfce4-terminal>

[2020-09-10 15:23] pavel-agarkov commented on #309
@hacknug do I need to create a repo under my organization and then transfer it to dracula?

[2020-09-10 15:49] hacknug commented on #309
Yeah, you should clone [the template repo](https://github.com/dracula/template), make any changes you need to showcase your theme and explain how everything works (take a look at any of the other repos in the org if you need an example), and then you can transfer your repo to the @dracula org.

Not sure if @zenorocha needs anything else for the new site, haven't been able to help out much lately (

[2020-09-10 17:20] pavel-agarkov commented on #309
@hacknug I've created the repo: https://github.com/pavel-agarkov/midnight-lizard
But I cannot transfer it to dracula org: You don’t have the permission to create public repositories on dracula

[2020-09-13 16:54] nsgrantham commented on #384
Hi Zeno, I've made [Dracula for Roam Research](https://github.com/nsgrantham/roam-research-dracula-theme) and adapted it to meet the new theme requirements for Dracula. Let me know what you think.

[2020-09-15 13:55] KabirKwatra commented on #438
I would still love for this to be merged

[2020-09-16 10:58] hacknug commented on #309
@pavel-agarkov I think you'll first need to "fix" the fact your repo shows as a fork of the template. I don't think we can transfer this until it is its own repo. Everything else looks correct :+1:

[2020-09-18 20:00] bdielman opened #452 "New theme: Nova by Panic"
I'm not the author, but I noticed Panic created the Dracula theme for their new editor, Nova, and thought I'd add the link here so this could be added to this org (it's currently in a GitLab repo).

https://dev.panic.com/panic/dracula-theme/-/tree/master

[2020-09-19 04:20] ChildishGiant opened #453 "Keypirinha theme"
I made a theme for keypirinha but I'm not quite sure how to package it.
Here it is:

[code]

[2020-09-20 18:20] zenorocha commented on #453
Hey @ChildishGiant, that's great!

I suggest you create a new repository based on the [template](https://github.com/dracula/template) and then create a file to store this code snippet. We did something similar with the [Slack theme](https://github.com/dracula/slack) (see dracula.md).

Having its own dedicated repo is important to keep track of any future changes and also to feature on the site :)

[2020-09-20 18:27] zenorocha commented on #450
Hey @molotovbliss!

I'm glad to see that you create a theme for ReNoise! Are you interested in transferring this repository to the official organization (https://github.com/dracula)? You'll continue maintaining this project, the only difference is that we can make it more visible and include it on the site (https://draculatheme.com).

I just sent you an invite to join the organization. If you acce

[2020-09-20 18:34] zenorocha commented on #449
Hey @ronilaukkarinen!

I'm glad to see that you created a theme for thelounge! Are you interested in transferring your repository to the official organization (https://github.com/dracula)? You'll continue maintaining this project, the only difference is that we can make it more visible and include it on the site (https://draculatheme.com).

I just sent you an invite to join the organization. If yo

[2020-09-20 18:36] zenorocha commented on #447
Hey @timescam!

I'm glad to see that you created a theme for IDLE! Are you interested in transferring your repository to the official organization (https://github.com/dracula)? You'll continue maintaining this project, the only difference is that we can make it more visible and include it on the site (https://draculatheme.com).

I just sent you an invite to join the organization. If you accept, yo

[2020-09-20 18:38] zenorocha commented on #441
Hey @weltonfelix!

I'm glad to see that you created a theme for Plank! Are you interested in transferring your repository to the official organization (https://github.com/dracula)? You'll continue maintaining this project, the only difference is that we can make it more visible and include it on the site (https://draculatheme.com).

I just sent you an invite to join the organization. If you accept

[2020-09-20 18:41] zenorocha commented on #438
Hey @KabirKwatra! I just sent you an invite to join the Dracula organization 🎉

You can proceed with the transfer now.

Thanks for your patience :)

[2020-09-20 18:42] zenorocha commented on #433
Hey @ethancedwards8!

I'm glad to see that you created a theme for Zathura! Are you interested in transferring your repository to the official organization (https://github.com/dracula)? You'll continue maintaining this project, the only difference is that we can make it more visible and include it on the site (https://draculatheme.com).

I just sent you an invite to join the organization. If you a

[2020-09-20 18:45] zenorocha commented on #430
Hey @timescam, you can transfer the repository now.

Thanks for your patience!

[2020-09-20 18:47] zenorocha commented on #428
Hey @SlyBouhafs!

I'm glad to see that you created a theme for TiddlyWiki! Are you interested in transferring your repository to the official organization (https://github.com/dracula)? You'll continue maintaining this project, the only difference is that we can make it more visible and include it on the site (https://draculatheme.com).

I just sent you an invite to join the organization. If you ac

[2020-09-20 18:51] zenorocha commented on #424
Hey @andybyers21! Good job on this theme. Obsidian looks great and I'm excited to try it out using this theme :)

I just sent you an invite to join the Dracula organization. Now you can transfer the repository.

By the way, @jarodise would you like to join efforts on this theme?

Thanks for your patience @andybyers21!

[2020-09-20 18:54] zenorocha commented on #417
Hey @douglasdamasio!

I'm glad to see that you created a theme for Adminer! I used this app a while ago and it looks much better now with Dracula colors ;)

Are you interested in transferring your repository to the official organization (https://github.com/dracula)? You'll continue maintaining this project, the only difference is that we can make it more visible and include it on the site (https:/

[2020-09-20 18:55] zenorocha commented on #413
Hey @spazmantiz!

I'm glad to see that you created a theme for Mousepad!

Are you interested in transferring your repository to the official organization (https://github.com/dracula)? You'll continue maintaining this project, the only difference is that we can make it more visible and include it on the site (https://draculatheme.com).

I just sent you an invite to join the organization. If you acc

[2020-09-20 18:58] zenorocha commented on #419
Hey @jldohmann!

I'm glad to see that you created a theme for Wolfram Notebooks!

Are you interested in transferring your repository to the official organization (https://github.com/dracula)? You'll continue maintaining this project, the only difference is that we can make it more visible and include it on the site (https://draculatheme.com).

I just sent you an invite to join the organization. If

[2020-09-20 19:01] zenorocha commented on #411
Hey @bigpick, I just sent you an invite to join the org. Once you accept, you can transfer the repo ;)

[2020-09-20 19:03] zenorocha commented on #425
I'll be closing this issue in favor of #411, but great job @bkclerke!

@bigpick what do you think of using @bkclerke's screenshot on https://github.com/bigpick/colorls? It looks phenomenal! ;)

[2020-09-20 19:03] #425 closed

[2020-09-20 19:04] zenorocha commented on #384
That's amazing @nsgrantham! I just sent you an invitation to join the Dracula org. Once you accept, you can transfer the repo ;)

Thanks for doing that!

[2020-09-20 19:05] #398 closed

[2020-09-20 19:05] weltonfelix commented on #441
That sounds great! I just transferred it.

[2020-09-20 19:05] #396 closed

[2020-09-20 20:23] ethancedwards8 commented on #433
Sure thing! I can attempt the transfer now or I can wait?

[2020-09-21 02:39] timescam commented on #430
transferred

[2020-09-21 02:39] timescam commented on #447
transferred

[2020-09-21 03:47] ethancedwards8 commented on #433
Thanks for adding this, I guess we should close this issue?

[2020-09-21 04:28] zenorocha commented on #430
And we're live! https://draculatheme.com/pywal 🎉 🎉 🎉

[2020-09-21 04:28] #430 closed

[2020-09-21 04:28] zenorocha commented on #447
https://draculatheme.com/idle :D

[2020-09-21 04:28] #447 closed

[2020-09-21 04:29] zenorocha commented on #433
We're live! Thanks @ethancedwards8 :D

https://draculatheme.com/zathura/

[2020-09-21 04:29] #433 closed

[2020-09-21 04:30] zenorocha commented on #428
https://draculatheme.com/tiddlywiki/

Thanks @SlyBouhafs 🎉 🎉 🎉

[2020-09-21 04:30] #428 closed

[2020-09-21 04:31] zenorocha commented on #441
https://draculatheme.com/plank

Thanks @weltonfelix!

[2020-09-21 04:31] #441 closed

[2020-09-21 04:32] zenorocha commented on #438
Thanks @KabirKwatra!  🎮 🎮 🎮

https://draculatheme.com/betterdiscord

[2020-09-21 04:32] #438 closed

[2020-09-21 09:39] ronilaukkarinen commented on #449
Yes! Transferred it just now, can be found [here](https://github.com/dracula/thelounge). I did not notice the template, will add stuff from there asap. Thanks for this privilege!

[2020-09-21 09:39] #449 closed

[2020-09-21 13:02] douglasdamasio commented on #417
Wow it's amazing **@Zeno** !!
I am very happy with this news and also happy to be able to be part of this project that I admire a lot.
I'll transfer the project!

Congrats for us!

[2020-09-21 15:50] jldohmann commented on #419
Thanks @zenorocha ! I just transferred it over! [https://github.com/dracula/wolfram-notebooks](https://github.com/dracula/wolfram-notebooks)

[2020-09-21 16:53] zenorocha commented on #449
https://draculatheme.com/thelounge :D

[2020-09-21 16:53] zenorocha commented on #419
https://draculatheme.com/wolfram-notebooks 🎉 🎉 🎉

[2020-09-21 16:53] #419 closed

[2020-09-21 17:16] douglasdamasio commented on #417
@zenorocha https://github.com/dracula/adminer-dracula-theme

[2020-09-21 18:21] andybyers21 commented on #424
Thanks @zenorocha, I have initiated the transfer to the Dracula organisation.

Also, more than happy to have @jarodise along for the ride.

[2020-09-21 19:35] bigpick commented on #425
I agree -- they do look much nicer :)

TiL - On mac, press space after pressing the CMD+Shift+4 to get a screen shot to get a full window capture (with fancy drop shadow and all).

 I've updated https://github.com/bigpick/colorls with some new samples accordingly, what do you think? (I don't usually user powerlevel, so I just configured it for the screenshot purposes)

[2020-09-21 20:54] bigpick commented on #411
Hiya @zenorocha , awesome! I've done so accordingly: https://github.com/dracula/colorls. (also updated per comments in #425)

[2020-09-22 00:53] nsgrantham commented on #384
Thanks Zeno! Transferred. https://github.com/dracula/roam-research

[2020-09-22 00:53] #384 closed

[2020-09-22 04:12] zenorocha commented on #417
It's live! https://draculatheme.com/adminer 🎉 🎉 🎉

[2020-09-22 04:12] #417 closed

[2020-09-22 04:13] zenorocha commented on #424
https://draculatheme.com/obsidian 🎉 🎉 🎉  Thanks @andybyers21!

[2020-09-22 04:13] #424 closed

[2020-09-22 04:13] zenorocha commented on #425
https://draculatheme.com/colorls :DDD

[2020-09-22 04:14] zenorocha commented on #384
We're live! https://draculatheme.com/roam-research

Thanks @nsgrantham :D

[2020-09-22 12:13] bigpick commented on #411
Live at https://draculatheme.com/colorls 🎉

One question I do have: what is the process (if any) for getting a specific theme's submodule version bumped on [dracula-theme](https://github.com/dracula/dracula-theme) / [draculatheme.com](https://draculatheme.com/)? For example, since it's been added, I realized the main screenshot.png needed updated to the finalized color scheme, which I've since com

[2020-09-22 16:18] zenorocha commented on #411
Unfortunately, today is a very manual process :/

I have to go the draculatheme.com repo and run the deploy command. Ideally, we should automate this process, so that whenever there's a commit on any Dracula repo, we can deploy the site right away.

[2020-09-22 16:26] zenorocha commented on #411
FYI, I just redeployed the site and it now has the new screenshot: https://draculatheme.com/colorls

[2020-09-23 15:45] betancour commented on #425
@bkclerke Blake, can you share the powelevel10k color configurations too?

[2020-09-23 22:27] bigpick commented on #411
Awesome -- thanks a lot @zenorocha  looks great!

[2020-09-27 08:45] spazmantiz commented on #413
thanks @zenorocha for the invitation, i'll try to maintain the repo

[2020-09-27 10:30] molotovbliss commented on #450
Hey @zenorocha No problem maintaining the repo and transferring it to the organization.

* https://github.com/molotovbliss/renoise

Let me know, Thanks! 🧛

[2020-09-27 18:32] sf-pear opened #454 "theme for fman"
Hi there,

I have adjusted my settings on fman based on dracula as I love it on sublime and hyper. So I thought I'd share: https://github.com/sf-pear/dracula-for-fman

It's pretty basic, to use it all you have to do is copy the code to update the styles.

This is the first time ever I'm sharing something on github, so if I did something incorrectly and need to fix anything please let me know!

Che

[2020-09-29 10:19] spazmantiz commented on #413
hey @zenorocha, i'm new to all of this can you give me detail how to transfer the repo? and i don't receive invitation that you mention.

[2020-09-30 00:02] #452 closed

[2020-09-30 20:23] davison opened #455 "New theme for midnight commander (mc)"
## New Theme

Simple theme for midnight commander (mc) - a terminal based file manager
https://github.com/davison/mc

At present this has a dependency on a suitable terminal theme also being installed (as it simply references colours defined in the terminal theme palette) - don't know if that breaks any rules for inclusion.

Tested in gnome-terminal on Linux and iTerm2 on macos with the appropriat

[2020-10-01 09:12] davison commented on #455
pushed a version that works independently of the terminal's colour palette but which has theme colours that are not as true to the Dracula theme. Either or both can be installed giving the user a choice at runtime.

[2020-10-01 13:26] SlyBouhafs opened #456 "Dracula theme for StandardNotes"
## Dracula theme for StandardNotes

Hey, i created another theme for StandarNotes, i know there are two Dracula themes for Standarnotes out there but they didn't feel too Draculish for me, so i made this one.

Here's a screenshot:
![preview](https://user-images.githubusercontent.com/1410462/94815036-fce80d80-03f1-11eb-8708-9e580781f7ea.png)

And here's the repo: https://github.com/SlyBouhafs/sn-th

[2020-10-01 15:53] bigpick commented on #411
Closing, as repo is live at:
* https://github.com/dracula/colorls

and site is live at:
* https://draculatheme.com/colorls

🎉

[2020-10-01 15:53] #411 closed

[2020-10-02 16:37] mawiseman opened #457 "New Theme: Keypirinha"
Please checkout my theme contribution for the windows launcher Keypirinha
https://github.com/mawiseman/keypirinha-theme-dracula

[2020-10-08 20:25] #395 closed

[2020-10-11 20:11] kshaner opened #458 "CopyQ Theme"
I've created a Dracula based theme for the [CopyQ ](https://hluk.github.io/CopyQ/) clipboard manager. Here's the link: https://github.com/kshaner/dracula-copyq

[2020-10-14 04:18] mawiseman commented on #453
@zenorocha  i didn't see this ticket wen i created mine.

Are we doing the same thing here?
Not sure how different this is but we could include it as an alternative .ini file in my repo

https://github.com/mawiseman/keypirinha-theme-dracula

[2020-10-17 09:51] ChildishGiant commented on #453
![image](https://user-images.githubusercontent.com/13716824/96334182-a3751500-1066-11eb-8a95-86d8036f879d.png)
This is what mine looks like

[2020-10-23 17:45] diogorsergio opened #460 "Dracula theme for Cryptowatch"
Hi! I've created a Dracula theme for Cryptowatch (crypto trading terminal).

Repo: https://github.com/diogorsergio/dracula-cryptowatch

[2020-10-23 18:27] spikecodes opened #461 "Dracula Theme for Micro"
Hi! I love the Dracula theme and I use the popular terminal text editor, [Micro](https://github.com/zyedidia/micro).
I have ported the Dracula theme to Micro here: https://github.com/spikecodes/dracula-micro.

![image](https://user-images.githubusercontent.com/19519553/97040392-b4200200-1522-11eb-81fe-874c6db935bc.png)

Thank you in advance!

[2020-10-23 18:30] spikecodes commented on #454
Looks good! Maybe delete the [sample](https://github.com/sf-pear/dracula-for-fman/tree/master/sample) folder?

[2020-10-23 22:00] zoe-bat opened #462 "Oreo Mouse Cursors"
i made a bunch of different oreo mouse cursors based on the dracula color scheme and thought it might be interesting

https://tildegit.org/zoe/oreo-dracula-cursors.git

[2020-10-23 23:27] sf-pear commented on #454
Deleted it :) Thanks!

[2020-10-26 01:47] zenorocha commented on #454
Hey @sf-pear!

I'm glad to see that you create this theme! Are you interested in transferring your repository to the official organization (https://github.com/dracula)? You'll continue maintaining this project, the only difference is that we can make it more visible and include it on the site (https://draculatheme.com).

I just sent you an invite to join the organization. If you accept, you'll be

[2020-10-26 01:50] zenorocha commented on #455
Hey @davison!

I'm glad to see that you create this theme! Are you interested in transferring your repository to the official organization (https://github.com/dracula)? You'll continue maintaining this project, the only difference is that we can make it more visible and include it on the site (https://draculatheme.com).

I just sent you an invite to join the organization. If you accept, you'll be

[2020-10-26 01:52] zenorocha commented on #461
Hey @spikecodes!

I'm glad to see that you create this theme! Are you interested in transferring your repository to the official organization (https://github.com/dracula)? You'll continue maintaining this project, the only difference is that we can make it more visible and include it on the site (https://draculatheme.com).

I just sent you an invite to join the organization. If you accept, you'll

[2020-10-26 01:53] zenorocha commented on #460
Hey @diogorsergio!

I'm glad to see that you create this theme! Are you interested in transferring your repository to the official organization (https://github.com/dracula)? You'll continue maintaining this project, the only difference is that we can make it more visible and include it on the site (https://draculatheme.com).

I just sent you an invite to join the organization. If you accept, you'l

[2020-10-26 01:56] zenorocha commented on #458
Hey @kshaner!

I'm glad to see that you create this theme! Are you interested in transferring your repository to the official organization (https://github.com/dracula)? You'll continue maintaining this project, the only difference is that we can make it more visible and include it on the site (https://draculatheme.com).

I just sent you an invite to join the organization. If you accept, you'll be

[2020-10-26 01:59] spikecodes commented on #461
Hey Zeno!

Thank you, I accepted the invite!

I will happily transfer the micro port of Dracula to the main org!

[2020-10-26 01:59] #461 closed

[2020-10-26 02:07] zenorocha commented on #457
Hey @mawiseman!

I'm glad to see that you create this theme! Are you interested in transferring your repository to the official organization (https://github.com/dracula)? You'll continue maintaining this project, the only difference is that we can make it more visible and include it on the site (https://draculatheme.com).

I just sent you an invite to join the organization. If you accept, you'll b

[2020-10-26 02:08] zenorocha commented on #453
Closing this in favor of #457, since it contains the entire repository ;)

Thank you so much @ChildishGiant and @mawiseman for pushing this!

[2020-10-26 02:08] #453 closed

[2020-10-26 02:10] spikecodes commented on #461
@zenorocha How might I go about submitting micro to [draculatheme.com](https://github.com/dracula/draculatheme.com)?

[2020-10-26 02:12] zenorocha commented on #413
Hey @spazmantiz, sorry about that, I just sent the invitation. You can now go to Settings > Options > Transfer.

![image](https://user-images.githubusercontent.com/398893/97127038-be462a00-16f5-11eb-8ca5-c61598a12dc9.png)

[2020-10-26 02:15] zenorocha commented on #456
This looks great @SlyBouhafs! Are you interested in merging efforts @cameronldn @jansendotsh?

Related:
* https://github.com/dracula/dracula-theme/issues/330
* https://github.com/cameronldn/sn-theme-dracula
* https://github.com/jansendotsh/sn-dracula-theme

[2020-10-26 02:53] zenorocha commented on #450
And we're live, thanks @molotovbliss! 🎉 🎉 🎉

https://draculatheme.com/renoise

[2020-10-26 02:53] #450 closed

[2020-10-26 02:53] zenorocha commented on #461
I just added ;)

https://draculatheme.com/micro

[2020-10-26 03:01] spikecodes commented on #461
Wonderful, thank you :D

[2020-10-26 09:53] diogorsergio commented on #460
Hi @zenorocha!

Thanks for the amazing theme I manage to use everywhere.

I've made the transfer and renamed from 'dracula-cryptowatch' to 'cryptowatch' to follow convention. But feel free to change if thats not how it should be.

Thanks!

[2020-10-26 11:18] davison commented on #455
transferred. https://github.com/dracula/mc

[2020-10-26 14:45] sf-pear commented on #454
Of course, I have transferred it. Happy to contribute :)

[2020-10-26 22:23] kshaner commented on #458
No problem! I've transferred the repo. Feel free to add the submodule in the main repo whenever you have time. :)

[2020-10-27 23:25] zenorocha commented on #455
It's live! https://draculatheme.com/midnight-commander 🎉 🎉 🎉

[2020-10-27 23:25] #455 closed

[2020-10-27 23:26] zenorocha commented on #460
Thanks @diogorsergio, it's live on the site now! https://draculatheme.com/cryptowatch

Happy Halloween! 🎃

[2020-10-27 23:26] #460 closed

[2020-10-27 23:26] zenorocha commented on #458
It's live on the site now! https://draculatheme.com/copyq

Thanks @kshaner and happy Halloween! 🎃

[2020-10-27 23:26] #458 closed

[2020-10-27 23:27] zenorocha commented on #454
Thank you so much @sf-pear, it's live now!

https://draculatheme.com/fman

Happy Halloween 👻

[2020-10-27 23:27] #454 closed

[2020-10-28 14:08] SlyBouhafs commented on #456
I started the repository transfer over to the Dracula organization.

[2020-10-29 15:54] bagnaram opened #464 "Kicad"
## New Theme?

Support for a dark [Kicad](https://kicad-pcb.org) 5.x JSON theme for eschema and pcbnew. See https://github.com/bagnaram/dracula-kicad

[2020-10-30 20:52] redbrain opened #465 "New theme submission - HTML/CSS"
We would love to support all code editors out there, but we need your help to accomplish that. Feel free to create a new theme based on our \[color palette\]\(https://github.com/dracula/dracula-theme#color-palette).

[redbrain/html](https://github.com/redbrain/html) is a variant of Dracula for HTML, easily importable as a CSS stylesheet. Simple apps, static doc pages, and personal websites could a

[2020-10-31 17:48] pspiagicw commented on #382
Where can I find the advanced Setting of Dark Reader

[2020-11-01 11:39] #413 closed

[2020-11-09 01:14] zenorocha commented on #464
Hey @bagnaram!

I'm glad to see that you create this theme! Are you interested in transferring your repository to the official organization (https://github.com/dracula)? You'll continue maintaining this project, the only difference is that we can make it more visible and include it on the site (https://draculatheme.com).

I just sent you an invite to join the organization. If you accept, you'll be

[2020-11-09 01:25] zenorocha commented on #413
It's live! https://draculatheme.com/mousepad

Thanks @spazmantiz ;)

[2020-11-09 01:25] zenorocha commented on #457
It's live! https://draculatheme.com/keypirinha

Thanks @mawiseman for adding the submodule on dracula-theme and for adding the entry on the website too!

[2020-11-09 01:25] #457 closed

[2020-11-09 15:07] bagnaram commented on #464
Hey @zenorocha  I am interested in maintaining the theme and happy to merge it to the dracula org

[2020-11-14 02:18] omre86 commented on #382
Here:
https://darkreader.org/blog/v4-9-16/

[2020-11-15 03:59] huy-truong-le opened #466 "Typo in https://draculatheme.com/idle"
When browsing the dracula theme website, I saw typos in the "Activating Theme" section as follow:

![image](https://user-images.githubusercontent.com/59074303/99162557-88fb8d80-2731-11eb-8097-9735bba30bfc.png)

Please fix this issue.

[2020-11-16 03:02] cvandal opened #467 "New theme for Albert"
Hello :wave:

I have created a Dracula theme for [Albert](https://github.com/albertlauncher/albert). The repo can be found here: [https://github.com/cvandal/albert-dracula-theme](https://github.com/cvandal/albert-dracula-theme).

[2020-11-17 09:49] zdmgmail opened #468 "[FR] Dracula for awesomewm"
hope a theme for  https://github.com/awesomeWM/awesome

[2020-11-17 13:09] delucca opened #469 "Atom theme breaking Atom on Typescript projects"
Hi!

I've tried to install Dracula on my Atom editor, but it seems to break my editor on any Typescript project.

To reproduce it you can simply install the theme and open a Typescript project. Atom simply stops to work (preferences won't open, files won't open)

Even after restarting Atom, the editor keeps crashed. To fix that you need to run `atom --clear-window-state`

[2020-11-17 19:12] delucca commented on #469
Never mind. It was a issue with Gnome Keyring. I don't know why in my tests it started working again after removing the theme.

Closing.

[2020-11-17 19:12] #469 closed

[2020-11-17 23:01] Ruthess opened #470 "Best Theme For IDEs and Editors"
Dracula Theme ♥️

[2020-11-18 02:26] zdmgmail opened #471 "[FR] Dracula for qbittorrent"
hope a theme for https://github.com/qbittorrent/qBittorrent

[2020-11-23 16:51] slottwo opened #472 "Icon theme support for github desktop and stacer"

[2020-11-26 19:06] maxfrei750 opened #473 "New Theme: Thunderbird"
Thunderbird theme based on the [Firefox theme](https://github.com/dracula/firefox). Already available for testing at:

https://addons.thunderbird.net/en-US/thunderbird/addon/dracula-theme-for-thunderbird/
https://github.com/maxfrei750/thunderbird

Would close https://github.com/dracula/dracula-theme/issues/416.

## TODO

- [x] Screenshot
- [x] Testing on Windows

[2020-11-27 09:59] devhammed opened #474 "New Theme: MailSpring"
Hello there, I created Dracula theme for MailSpring and the repo is available at https://github.com/devhammed/mailspring-ui-dracula.

Would close #415

[2020-11-27 11:49] maxfrei750 commented on #473
![Screenshot](https://raw.githubusercontent.com/maxfrei750/thunderbird/main/screenshot.png)
![Screenshot Calendar](https://raw.githubusercontent.com/maxfrei750/thunderbird/main/screenshot_calendar.png)

[2020-12-04 23:13] jamieshiers opened #475 "New Theme: Linear"
Good Morning,

I've create a new theme for [Linear](https://linear.app) Desktop app.

Repo can be found here:

[https://github.com/jamieshiers/Dracula-for-Linear](https://github.com/jamieshiers/Dracula-for-Linear)

[2020-12-05 17:38] TechieAndroid opened #476 "Qt5 Dracula Theme"
I made a custom Qt5 theme for Dracula. https://github.com/TechieAndroid/dracula-themes/blob/master/qt5/colors/Dracula.conf
Tested on Gentoo. ![qt5](https://imgur.com/TdAMzps.png)

[2020-12-10 01:48] gabrielcaussi opened #477 "New Theme?"
Support for a dark Arduino Pro IDE theme. See https://github.com/gabrielcaussi/arduino-pro-ide

[2020-12-10 12:44] zenorocha commented on #477
I just sent you an invitation to join the Dracula org. Can you transfer the repository now? Thanks @gabrielcaussi!

[2020-12-10 12:49] zenorocha commented on #475
Hey @jamieshiers!

I'm glad to see that you create this theme! I've used Linear myself and loved the app.

Are you interested in transferring your repository to the official organization (https://github.com/dracula)? You'll continue maintaining this project, the only difference is that we can make it more visible and include it on the site (https://draculatheme.com).

I just sent you an invite to

[2020-12-10 12:54] zenorocha commented on #474
Hey @devhammed, I'm afraid we already have a Mailspring theme. Have you seen this?

* https://draculatheme.com/mailspring
* https://github.com/dracula/mailspring

Sorry for keeping that issue open. This was built by @avelino a couple of months ago.

Thanks for the effort and let's combine forces.

[2020-12-10 12:54] #474 closed

[2020-12-10 12:54] zenorocha commented on #415
Already available:

https://draculatheme.com/mailspring
https://github.com/dracula/mailspring

[2020-12-10 12:54] #415 closed

[2020-12-10 12:56] zenorocha commented on #470
Thank you @Ruthess, you're the best!

[2020-12-10 12:56] #470 closed

[2020-12-10 12:56] devhammed commented on #474
Though I didn't see that while looking for it 🙂🙂🙂

[2020-12-10 13:04] zenorocha commented on #467
Hey @cvandal!

I'm glad to see that you create this theme! Are you interested in transferring your repository to the official organization (https://github.com/dracula)? You'll continue maintaining this project, the only difference is that we can make it more visible and include it on the site (https://draculatheme.com).

I just sent you an invite to join the organization. If you accept, you'll be

[2020-12-10 13:10] zenorocha commented on #464
@bagnaram I see that you accepted the invitation already, but did not transfer yet. Can you transfer the repository to the `dracula` organization now? Thanks!

[2020-12-10 13:45] gabrielcaussi commented on #477
Repository transferred to the dracula repository. Thanks @zenorocha!

[2020-12-10 14:41] bagnaram commented on #464
Oh I did transfer it already @zenorocha. It is located here: https://github.com/dracula/kicad

[2020-12-11 00:39] jamieshiers commented on #475
Good Morning @zenorocha!,

I've accepted your requested and transferred the repository.

[2020-12-11 00:39] #475 closed

[2020-12-13 00:05] zenorocha commented on #475
It's live https://draculatheme.com/linear 🎉 🎉 🎉

[2020-12-13 01:03] zenorocha commented on #464
It's live https://draculatheme.com/kicad. Thanks @bagnaram! 🎉 🎉 🎉

[2020-12-13 01:03] #464 closed

[2020-12-13 01:03] zenorocha commented on #477
It's live, thanks Gabriel! https://draculatheme.com/arduino-pro-ide 🎉 🎉 🎉

[2020-12-13 01:03] #477 closed

[2020-12-13 01:04] zenorocha commented on #467
It's live https://draculatheme.com/albert 🎉 🎉 🎉

[2020-12-13 01:04] #467 closed

[2020-12-13 01:04] zenorocha commented on #456
It's live https://draculatheme.com/standard-notes 🎉 🎉 🎉

[2020-12-13 01:04] #456 closed

[2020-12-14 16:49] zenorocha opened #478 "SubEthaEdit"
[SubEthaEdit](https://subethaedit.net/) ([GitHub](https://github.com/subethaedit/SubEthaEdit))

[2020-12-15 17:07] SlyBouhafs opened #479 "Dracula for Logseq!"
## Logseq Dracula
Hey, i created another theme for Logseq!
https://github.com/SlyBouhafs/logseq-dracula

Here's a screenshot:
![Screen Shot 2020-12-15 at 18 03 55](https://user-images.githubusercontent.com/1410462/102247432-3ebc2680-3f00-11eb-9fab-df5d74fde647.png)

[2020-12-15 21:22] Groctel opened #480 "Buying Dracula Pro colorschme without the goodies at a reduced price"
Why's there not an option to get the *just* the Pro colorschemes at a reduced price?
I understand that some people may find the book or the font research useful, but others may just want to try a nice dark colorscheme and don't have 80-100$ to spend.

Not really a software issue, but I wanted to make this comment in a public forum.
Please consider offering a basic package.

Thank you.

[2020-12-16 18:01] Ellipogus opened #481 "New theme-dracula for dmenu"
## Dracula Theme for dmenu

repo [here](https://github.com/Ellipogus/dracula-dmenu)
designed to integrate nicely with pspiagicw's dracula theme for dwm. You can see that [here](https://github.com/pspiagicw/dracula-dwm)

[2020-12-24 14:00] nico281 opened #482 "webstorm 2020.3 dracula pro theme bug."
Hi, How are you?
Dracula pro on WebStorm 2020.3 is bugged. the font color on all menus are black. I just followed the readme and install the plugin.

Cheers!!
![Capture](https://user-images.githubusercontent.com/15875218/103092684-d099f280-45d6-11eb-8691-80e7491114fc.PNG)

[2020-12-24 14:18] benknoble commented on #482
This belongs on [dracula/jetbrains](https://github.com/dracula/jetbrains) run by @WhiteVermouth. I can't transfer it, though.

[2020-12-25 11:50] SpikedPaladin opened #483 "Dracula theme for LiteIDE"
## Theme for [LiteIDE](http://liteide.org)

### Screenshot
![Screenshot](https://raw.githubusercontent.com/SpikedPaladin/liteide/master/screenshot.png)

### Repository
[GitHub](https://github.com/SpikedPaladin/liteide)

[2020-12-28 02:16] nico281 commented on #482
ohh sorry . my bad.

[2020-12-28 02:16] #482 closed

[2021-01-01 20:47] alishirini opened #484 "Request Dark Theme (Jar file) for BonitaBPM Studio (Base on Eclipse)"
Hi dear,

Have a good New Year ;)

I am a fan of this product and always use this theme in VSCode version.

I request that this product be produced for BonitaBPM Studio (Base on Eclipse) as well.
This studio restricted to install new package from outside but same as this theme (https://guari.github.io/eclipse-ui-theme/) we can download jar file manually and put it into plugins folder, and Worked!

[2021-01-04 11:58] GrbavaCigla opened #485 "Glasscord theme request"
https://github.com/AryToNeX/Glasscord
With glasscord you can make themes for any electron app. There is example for Discord and VSCode.

[2021-01-07 04:47] #476 closed

[2021-01-07 04:48] TechieAndroid opened #486 "New Theme: qt5"
https://github.com/TechieAndroid/qt5

[2021-01-07 04:59] TechieAndroid opened #487 "New Theme: bashtop"
https://github.com/TechieAndroid/bashtop

[2021-01-08 20:56] TechieAndroid commented on #487
Do you need anything else from me or can you merge my two themes?

[2021-01-13 00:10] maxfrei750 commented on #416
@avatar-lavventura @pragomer @zenorocha Did you already see my Thunderbird theme?

See #473.

[2021-01-13 04:47] pspiagicw opened #488 "Dracula GRUB Theme."
## GRUB Theme
It would be so cool to have a Dracula GRUB Theme.I was thinking some thing like pop-os GRUB theme but instead of pop-logo we could have Dracula Logo.

[2021-01-13 04:49] pspiagicw opened #489 "Dracula Plymouth Theme"
## Dracula Plymouth Theme.
It would be also cool to have a Dracula Plymouth Theme.Please consider.

[2021-01-13 04:50] pspiagicw commented on #468
I am trying to achieve something like that.I will post if successfull.

[2021-01-13 04:52] #488 closed

[2021-01-13 08:18] Trollwut commented on #488
why closed?

[2021-01-13 08:49] pspiagicw opened #490 "Dracula GRUB Theme"
[GRUB] Dracula
Dracula theme for GRUB.I know there is another one but it did not fit my setup.So I created a original one.
The link https://github.com/pspiagicw/dracula-grub

[2021-01-13 14:24] zenorocha commented on #490
Hey @pspiagicw, thanks for building it! Would you mind adding a screenshot? We will need that to feature it on the site ;)

About the other theme, I believe you might be referring to: https://github.com/zshzero/dracula-grub2

@zshzero are you interested in merging efforts?

[2021-01-13 14:28] zenorocha commented on #487
Hey @TechieAndroid, thanks for building this theme, I love it! 🤩

I just sent you an invitation to join the Dracula org, once you accept it, can you transfer the repository?

Also, do you mind renaming `bashtop.png` to `screenshot.png`? We need this exact filename in order for the site to pick it up.

[2021-01-13 14:36] zenorocha commented on #486
This is awesome @TechieAndroid, thanks for another theme!

We already have this https://github.com/dracula/qtcreator repository, is that the same thing or is it something else? I'm not familiar with qt.io, so please help me out @ergenekonyigi.

[2021-01-13 14:38] zenorocha commented on #485
It looks like Glasscord is not actively developed anymore, but thanks for the suggestion @GrbavaCigla!

[2021-01-13 14:38] #485 closed

[2021-01-13 14:39] zenorocha commented on #484
Hey @alishirini, does BonitaBPM Studio support Eclipse themes? If yes, then you could try this out: https://github.com/dracula/eclipse

[2021-01-13 14:52] zenorocha commented on #483
That's super great @SpikedPaladin!

I just sent you an invite to join the Dracula org. Once you accept the invitation, you can transfer the repository and I'll add it to the website ;)

P.S.: @szaydel I just archived since it didn't have instructions and screenshot for a long time - https://github.com/dracula/liteide-archived

[2021-01-13 15:01] zenorocha commented on #479
@SlyBouhafs that's amazing, thanks for building another great theme! Can you transfer to the Dracula org now so I can create the website page? Thanks!

[2021-01-13 15:37] zenorocha commented on #416
That's awesome @maxfrei750, closing this issue in favor of #473 :)

[2021-01-13 15:37] #416 closed

[2021-01-13 15:37] pspiagicw commented on #490
I added in the screenshot.Sorry for the delay

[2021-01-13 15:39] zenorocha commented on #473
Thanks for building that @maxfrei750!  🎉 🎉 🎉

I just sent you an invitation to join the Dracula org. Once you accept it, you can transfer the repository and I'll take care of the website part ;)

[2021-01-13 15:46] maxfrei750 commented on #473
@zenorocha You're welcome. Thanks for creating this great color scheme. Are there any instructions on how to transfer the repo? I'm a little scared of breaking something. :sweat_smile:

Do I just create a new repo in the organization and push to it?

[2021-01-13 15:50] zenorocha commented on #490
Great! You can now transfer the repository to the Dracula org ;)

[2021-01-13 15:52] zenorocha commented on #473
Sure!

You don't need to create a new repo in the organization. You can go to the Settings (https://github.com/maxfrei750/thunderbird/settings) and follow the instructions on the Transfer section.

Thanks again :)

[2021-01-13 15:53] zenorocha commented on #488
We are discussing via this issue now: https://github.com/dracula/dracula-theme/issues/490

[2021-01-13 15:54] zshzero commented on #490
@zenorocha Yes

[2021-01-13 15:58] maxfrei750 commented on #473
I see. Very convenient. Done.

[2021-01-13 16:18] TechieAndroid commented on #486
I believe Qt Creator is an IDE.

What I made is completely different. My theme is for applications that use Qt as the default theme engine.

[2021-01-13 16:31] SlyBouhafs commented on #479
@zenorocha The repo transfer is done!

[2021-01-13 16:42] avatar-lavventura commented on #473
https://github.com/dracula/thunderbird/settings site cannot find

[2021-01-13 16:44] avatar-lavventura commented on #416
Seems like it does not work for Thunderbird newest version; `Works with Thunderbird 60.0 - *`

[2021-01-13 16:47] maxfrei750 commented on #473
@avatar-lavventura Sorry, but I don't seem to understand. The link you posted (https://github.com/dracula/thunderbird/settings) leads to the settings of the repo, which are not public. I think you want https://github.com/dracula/thunderbird.

Concerning the version, I'm actually not sure. But it may very well be that only current versions of thunderbird are supported.

[2021-01-13 16:50] TechieAndroid commented on #487
I renamed the file as you asked, and transferred it to dracula.

[2021-01-13 16:51] avatar-lavventura commented on #473
Seems like it does not work for Thunderbird newest version (78.6.0 ) and I don't know how to downgrade Thunderbird.

This site (https://draculatheme.com/thunderbird) seems dead. If you could guide me to set it up for the newest version for Thunderbird it will be helpful

[2021-01-13 16:58] Valkryst commented on #416
@avatar-lavventura
I'm currently running Thunderbird version 78.6.0 (32-bit) on Windows 10 and the theme is working

[2021-01-13 17:08] maxfrei750 commented on #473
`Thunderbird 60.0 - *` means everything _above_ version 60.0. It was tested very recently and still works on the current version.

Actually, it is not yet alive, because the repo is brand new. @zenorocha will update the homepage soon.

Just follow the instructions in https://github.com/dracula/thunderbird/blob/main/INSTALL.md. If you have any questions, please let me know.

[2021-01-13 17:10] #473 closed

[2021-01-13 17:14] avatar-lavventura commented on #473
@maxfrei750 Thanks I am able to add the theme and its great!

Just a small questions, color for folders seems so bright (ex: `Impartant` in the image) is it normal since it was not color in Dracula?

<img width="392" alt="image" src="https://user-images.githubusercontent.com/18537398/104485619-cbc7cd80-55db-11eb-896f-aa4d57b60914.png">

[2021-01-13 17:14] zenorocha commented on #473
@maxfrei750 I had to rename the branch from `main` to `master` for the site's build process to work properly, ok?

[2021-01-13 17:23] maxfrei750 commented on #473
@avatar-lavventura I'm glad that you like it. I don't have this issue with the bright folder color. All my folders are just white like your other folders (e.g. `Starred`). I guess that it might be a custom setting in your Thunderbird. Maybe something with the folder properties.

@zenorocha Sure.

[2021-01-13 17:46] #483 closed

[2021-01-13 17:58] zenorocha commented on #486
Got it! You can go ahead and transfer now

[2021-01-13 18:08] zenorocha commented on #473
We're live now! https://draculatheme.com/thunderbird 🎉 🎉 🎉

Feel free to share it with your friends and other Thunderbird fans!

[2021-01-13 18:08] zenorocha commented on #487
It's live! https://draculatheme.com/bashtop 🎉 🎉 🎉

Feel free to share it with your friends and other Bashtop users!

[2021-01-13 18:08] #487 closed

[2021-01-13 18:08] zenorocha commented on #479
It's live now! https://draculatheme.com/logseq 🎉 🎉 🎉

Feel free to share it with your friends and other Logseq users!

[2021-01-13 18:09] #479 closed

[2021-01-13 18:09] zenorocha commented on #483
Aaaand it's live! https://draculatheme.com/liteide 🎉 🎉 🎉

Feel free to share it with your friends and other LiteIDE enthusiasts!

[2021-01-13 18:20] TechieAndroid commented on #486
Done! Thanks.

[2021-01-13 18:56] avatar-lavventura commented on #473
@maxfrei750 I love the Dracula Theme, its golden. My terminal is and everything I can make is Dracula Theme :-)

One more small questions: Should I also make following changes, if I don't make it sometimes text is seens as black and its hard to read it:

<img width="664" alt="image" src="https://user-images.githubusercontent.com/18537398/104496356-edc84c80-55e9-11eb-86e4-a759ee7ba45b.png">

[2021-01-13 19:50] maxfrei750 commented on #473
@avatar-lavventura Yeah, me too. :-D

After all, it is up to you. But it is certainly a good idea. I also made similar changes:

<img width="505" alt="image" src="https://user-images.githubusercontent.com/36265931/104502097-92de2780-55e0-11eb-9bdc-9e37b04614a6.png">

Maybe, I should add a small note in the instructions. Thanks for bringing that up.

[2021-01-13 20:34] maxfrei750 commented on #473
@zenorocha I added the instructions on how to change the text, background and link colors to the repo. I saw that you usually perform submodule updates yourself. If you want to keep it that way, then please update the version of the submodule, when you get to it. If not, then please let me know, and I'll update the version myself. Thanks.

[2021-01-13 21:07] avatar-lavventura commented on #473
@maxfrei750 sorry for keep asking further questions, hoping it might help.

On `Threads` background seems gray.

<img width="671" alt="image" src="https://user-images.githubusercontent.com/18537398/104510575-69cb9000-55fc-11eb-90e4-743ad3e42d98.png">

----------

For `Threads` its easier to see them as converstaion (seeing all in one page), for that I am using https://github.com/thunderbird-conver

[2021-01-13 21:13] maxfrei750 commented on #473
No problem, but I think that it would make more sense to discuss these issues here: https://github.com/dracula/thunderbird/issues

Concerning the conversations plugin: Unfortunately, I also think that this cannot be solved on Dracula's end.

[2021-01-14 03:41] zenorocha commented on #486
We're live! https://draculatheme.com/qt5 🧛 🧛 🧛

[2021-01-14 03:41] #486 closed

[2021-01-14 03:45] TechieAndroid commented on #486
Thank you so much!

On Wed, Jan 13, 2021, 9:41 PM Zeno Rocha <notifications@github.com> wrote:

[2021-01-14 04:14] pspiagicw commented on #489
I designed a Plymouth Theme.The link is here https://github.com/pspiagicw/dracula-plymouth.It looks okay but could be improved over time.

[2021-01-14 06:08] pspiagicw commented on #489
I cannot test the boot animation but can confirm shutdown animation.
There is a bug in plymouth https://bbs.archlinux.org/viewtopic.php?id=186902
This prevents me from seeing the boot animation but the shutdown animation is visible.
You can test it with other versions.But I will later test it in VM with older versions.

[2021-01-14 07:03] pspiagicw commented on #489
I tested the theme on Ubuntu 20.04 and it works perfectly.

[2021-01-17 00:31] thepreacher opened #491 "LS_COLORS compatible with dracula theme"
At the moment I've just copied a random config for ls_colors:
[code]
I'm wondering if there is a better set of colors that is more compatible with the dracula theme overall. I'm using iTerm2 on mac.

[2021-01-18 08:36] ALipAkrohk opened #492 "Qtile Theme"
This is my configuration in QtileWM. I got most of the colors inspired by Dracula. I hope it gets better with your help.
https://github.com/Pakrohk-DotFiles/PkTile

[2021-01-18 21:55] Dhyfer1 commented on #309
Interesting, but I don't want to see all the pages with the Dracula theme, just the search results from Google and Bing. I think I'll take a look at "Dracula for all websites" ;)

[2021-01-18 22:42] Dhyfer1 opened #493 "A little question about colors"
Hi @zenorocha

I want to create the Dracula theme for an app and I have a question.

I know I have to use this [color palette](https://github.com/dracula/dracula-theme#color-palette) but... can I use also some colors from your site draculatheme.com?

That's all. I hope your answer.

[2021-01-19 13:07] zenorocha commented on #482
@nico281 that looks like a conflict with MaterialUI plugin. Once you uninstall it, it will work as expected.

[2021-01-19 20:59] Dhyfer1 opened #494 "Theme Dracula for Ditto."
## New Theme for Ditto

Hi @zenorocha

I am not a developer or programmer, but I created a theme based on the Dracula color palette for the Ditto clipboard manager, is a very popular and very useful clipboard manager. I also created a new [repository](https://github.com/Dhyfer1/Dracula-for-Ditto) based on the template you left as a guide, but I have not put the instructions in the repository since

[2021-01-20 01:53] tim-clifford opened #495 "Dracula theme for Xournal++"
It's an Xournal++ toolbar with all the dracula colors so notes can look good :) [here is the link](https://github.com/tim-clifford/dracula-xournalpp)

[2021-01-21 03:30] sing-zzj opened #496 "I use the theme. It's very cool. But the font of menu is very small. I want to know how increase font."
## New Theme?

We would love to support all code editors out there, but we need your help to accomplish that. Feel free to create a new theme based on our [color palette](https://github.com/dracula/dracula-theme#color-palette).

## Existing Theme?

Find the appropriate repository on the [Dracula organization](https://github.com/dracula). This is just the umbrella place where we store all themes.

[2021-01-21 03:47] sing-zzj opened #497 "How increase font of meun"
I use the theme. It's very cool. But the font of menu is very small. I want to know how increase font.

[2021-01-21 03:48] #496 closed

[2021-01-21 18:34] theajr commented on #210
If it helps anyone, you need to install `font-hack-nerd-font` fonts.  See full steps [here.](https://medium.com/@omergoldberg/my-iterm2-setup-504b11ffb5be)

[2021-01-22 04:49] zenorocha commented on #495
That's amazing! The screenshot looks great too.

I just sent you an invite to join the organization.
Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-01-22 04:57] zenorocha commented on #497
You're not describing what application you're using so it's hard to help you. In any case, Dracula is just a color scheme. You should search for how to increase font sizes in the application that you're using.

[2021-01-22 04:57] zenorocha commented on #497
e

[2021-01-22 04:57] #497 closed

[2021-01-22 04:58] zenorocha commented on #494
That's awesome @Dhyfer1! I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-01-22 07:35] SayHelloToEveryone opened #498 "Jupyter lab3.0"
Hi, everyone

When I installed Dracula to Jupyter lab,problem occured
`The extension "@karosc/jupyterlab_dracula" does not yet support the current version of JupyterLab.`

My jupyter lab version is 3.0.0

Does Dracula not support jupyter lab version **3.x**?

[2021-01-22 11:58] tim-clifford commented on #495
Awesome! I have accepted the invite, transferred the repo, and renamed it to dracula/xournalpp.

Let me know if there's anything else I can do 🚀

[2021-01-22 16:34] tim-clifford opened #499 "Dracula Theme for LibreOffice"
[A color palette for LibreOffice to make documents look good](https://github.com/tim-clifford/dracula-libreoffice). Let me know if you want me to do screenshot.png differently, I thought it would be nice to show a composite of the different LibreOffice programs rather than a screenshot of just one of them.

I seem to have made it a mission to make everything I use dracula themed, so I'll be openin

[2021-01-22 23:28] Dhyfer1 commented on #494
Oh. @zenorocha Thank you very much! 😀
I already accepted your invitation and transferred the repository, I hope I did it right.

I transferred the repository to the dracula organization, I hope it's ok because I didn't know whether to write it as "dracula" or "Dracula". As you can see in the [image](https://imgur.com/a/VY4rLLT) I put dracula in its respective field, and after that appears what you

[2021-01-23 16:08] lethalprowler opened #500 "Yml"

[2021-01-23 23:54] tim-clifford opened #501 "Dracula Theme for Matplotlib"
[Link](https://github.com/tim-clifford/dracula-matplotlib). It's a bit basic but covers the simple stuff :)

[2021-01-24 01:16] zenorocha commented on #501
I love! Would you mind transferring to the @dracula/matplotlib team?

[2021-01-24 01:28] bdielman opened #502 "Dracula Theme for Nova"
With the help from the folks at Panic, there's a [theme for the new Nova editor](https://github.com/bdielman/nova) ready to be added to the Dracula org.

[2021-01-24 01:37] #500 closed

[2021-01-24 01:58] zenorocha commented on #499
Woooow, that's amazing. Keep them coming! Our mission is the same now :P

About the screenshot.png, what about adding some Dracula related text instead? You can get some inspiration from this [Wikipedia article](https://en.wikipedia.org/wiki/Dracula).

[2021-01-24 02:02] zenorocha commented on #502
Hey @bdielman, quick question - how is this different from https://dev.panic.com/panic/dracula-theme?

In any case, I just sent you an invitation to join the organization. Once you accept it, you'll be able to transfer the repo ;)

[2021-01-24 02:21] zenorocha commented on #494
All good @Dhyfer1! https://draculatheme.com/ditto ;)

[2021-01-24 02:21] zenorocha commented on #495
https://draculatheme.com/xournalpp 🎉 🎉 🎉

[2021-01-24 02:21] #495 closed

[2021-01-24 03:07] tim-clifford commented on #499
Good idea, I'll get on that when I find some more spare time :P

[2021-01-24 03:09] bdielman commented on #502
@zenorocha - That repo is no longer maintained. I contacted Kyle Rimkus from Panic to migrate the repo to Github so we could get it included in the Dracula org. :)

[2021-01-24 06:41] zenorocha commented on #501
https://draculatheme.com/matplotlib 💥

[2021-01-24 06:41] #501 closed

[2021-01-24 08:32] phanthaiduong22 opened #503 "Vim colors not get true color like in dracula page"
## What I want to get like this

![image](https://user-images.githubusercontent.com/30502963/105624967-68019800-5e58-11eb-83ca-89d66dfc6599.png)

## My vim:

![image](https://user-images.githubusercontent.com/30502963/105624973-7780e100-5e58-11eb-9a04-a200c872d8c5.png)

The colors seem right but it's a little paler
## My .zshrc
https://ideone.com/pKCizu
## My .vimrc
https://ideone.com/aaaxjp
## My

[2021-01-24 14:26] benknoble commented on #503
Maybe this was better on dracula/vim?

At any rate, these are my screens. The left is in Terminal.app with colors configured for dracula (and `dracula_colorterm` off, so the background of my terminal shows). The right is macvim, where the true colors are natively supported.

Looks right to me?

[2021-01-25 00:17] Dhyfer1 commented on #494
Hi again @zenorocha

I am writing to you for 2 reasons:

1.  First of all I want to thank you because my theme is listed on draculatheme.com as well as in the dracula-theme repository on Github. Again, thank you very much. 😊😀
2.  Before my theme was approved and uploaded, I could edit the INSTALL.md file but now I can't edit it and when the cursor hovers over the edit icon I get this message: "You

[2021-01-26 02:03] bdielman commented on #502
@zenorocha - the repo has been transferred and I've re-published the theme to Nova's extension library as Dracula Official. Kyle is going to do some work on Panic's end to help people using the old theme migrate to the new one.

[2021-01-26 17:35] thepreacher commented on #491
Thanks @pspiagicw I'll take a look at it.

[2021-01-26 17:35] #491 closed

[2021-01-26 19:48] ALK222 opened #504 "Dracula Vivado Theme"
## [Dracula Vivado theme](https://github.com/ALK222/Vivado)
Dracula theme for the hardware development tool [Vivado](https://www.xilinx.com/products/design-tools/vivado.html). Although the tool only offers support for changing the color of the code editor, the logs and schemes.
If there is anything to change in the screenshot, feel free to say it!

https://github.com/ALK222/Vivado

[2021-01-26 23:38] tim-clifford commented on #499
@zenorocha thoughts on the new screenshot?

[2021-01-27 01:02] tim-clifford opened #505 "Dracula theme for TTY"
Redefines the 16 ANSI colors in a TTY to dracula. I have absolutely no idea what to put as the website hahaha. [Link](https://github.com/tim-clifford/dracula-tty)

[2021-01-31 19:19] sandenbergmelo opened #509 "Dracula theme for MySQL workbench"
Dracula theme for MySQL workbench would be nice.

[2021-01-31 21:04] Dhyfer1 commented on #494
**UPDATE**

I have edited and updated the INSTALL.md file with the change I described in my previous message, but you still need to make the respective changes in <url>https://draculatheme.com/ditto </url> how I said previous in point 3, please. 🙏

[2021-02-01 19:50] bdielman commented on #502
@zenorocha - Let me know if there's anything else I need to do to wrap up the transfer.

[2021-02-03 10:40] gregnau commented on #292
In case anyone else feels like doesn't want to go through the install procedure, here is a simple reg file colorscheme for Windows Prompt:

`
Windows Registry Editor Version 5.00

[HKEY_CURRENT_USER\Console]
"ColorTable00"=dword:00362A28
"ColorTable01"=dword:00F993BD
"ColorTable02"=dword:007BFA50
"ColorTable03"=dword:00FDE98B
"ColorTable04"=dword:005555FF
"ColorTable05"=dword:00C679FF
"ColorTable0

[2021-02-05 01:11] Dhyfer1 opened #510 "Dracula theme for EverythingToolbar"
## New Theme for EverythingToolbar

Hi @zenorocha 👋

I have created a Dracula theme for the [EverythingToolbar](https://github.com/stnkl/EverythingToolbar) launcher and the repository of the new theme you can see it [here](https://github.com/Dhyfer1/Dracula-for-EverythingToolbar).

By the way, I had to reopen my issue #494 and I need you to see the last messages I left you after you closed it, it

[2021-02-07 06:52] akhater opened #512 "Another Dracula theme for logseq"
New Dracula theme for logseq for your consideration
https://github.com/akhater/Dracula.logseq

[2021-02-07 17:37] Dpbm opened #513 "Dracula theme for Inkscape"
Dracula theme for inkscape, based on the dracula theme made for GTK. [link for repository](https://github.com/Dpbm/dracula-inkscape)

[2021-02-07 18:20] frakman1 opened #514 "Not working with TextMate 2.0.17"
MacbookPro 2015: High Sierra

I just updated TextMate and it went to version  2.0.17
Everything is white now.
I tried the following to install dracula theme but it didn't work:

[code]
opened `Dracula.tmTheme` with TextMate
Got this popup:

![image](https://user-images.githubusercontent.com/5826484/107155553-0d336a80-6947-11eb-9467-77f0ef410746.png)

If I hit OK, I get this:

![image](https://user

[2021-02-07 18:27] #514 closed

[2021-02-09 08:28] zdmgmail opened #515 "[FR] Dracula for tuir"
hope a theme for https://gitlab.com/ajak/tuir

theme: https://gitlab.com/ajak/tuir/-/blob/master/THEMES.md

[2021-02-09 21:06] zenorocha commented on #513
Hey @Dpbm, that's awesome! Thanks for building this.

I just sent you an invitation to join the Dracula org. Once you accept it, you'll be able to transfer the repository. I'll handle the addition to the site after you do that. Sounds good?

[2021-02-09 21:09] zenorocha commented on #512
Hey @akhater! It's great to see that you built a logseq theme too. We usually have only one theme available for each app. Would you like to join efforts with @slybouhafs?

[2021-02-09 21:09] #512 closed

[2021-02-09 21:11] zenorocha commented on #510
@Dhyfer1 that looks great! Would you mind transferring the repo? Cheers!

P.S.: I'll take a look at that other issue.

[2021-02-09 21:22] zenorocha commented on #505
Looks awesome! I love it  🎉 🎉 🎉

Would you mind transferring it?

[2021-02-09 21:23] zenorocha commented on #499
That looks amazing 🤩 🤩 🤩  Let's do it! Can you transfer?

[2021-02-09 21:30] zenorocha commented on #504
That looks great, I like the screenshot!

You should have received an invitation to join the Dracula org now. Once you accept it, you can transfer the repository and I'll add a page for the website ;)

[2021-02-09 21:42] zenorocha commented on #493
Yeah, that's totally fine @Dhyfer1 ;)

[2021-02-09 21:42] #493 closed

[2021-02-09 22:11] tim-clifford commented on #505
One day I'll manage to submit a theme without needing one of your "Standardize
repository" commits... anyway thanks for adding it :tada:

[2021-02-09 22:15] slyfox1186 opened #516 "Dracula Pro Batch VAR Color Bug"
I purchased Darcula PRO and am using the color profile 'Dracula PRO' in Notepad++.

I think I found a bug in the coloring for BATCH files.

If a single '!' comes before any variable surround with '%' signs the color is not working.

[code]

Please see the attached screenshots.

![Not_Working](https://user-images.githubusercontent.com/37704019/107435434-24668980-6afa-11eb-98bc-7754740b5294.jpg)
![W

[2021-02-09 22:17] zenorocha commented on #505
Hehe that was a super tiny one ;)

[2021-02-09 22:24] ALK222 commented on #504
Already transferred!

[2021-02-09 22:45] Dhyfer1 commented on #510
@zenorocha Done,! my repository has been transferred. Let me know if it has been successfully transferred. :)

Thanks, it is important that you make some changes that I mentioned there.

By the way, when I transfer a new repository and I get to the list you see in the example image, does the repository create the entry in the list or do you create the entry? Because when I created my repository la

[2021-02-09 23:17] Dhyfer1 commented on #493
@zenorocha Okay, thank you very much! 👍

[2021-02-09 23:42] zenorocha commented on #494
I just regenerated the site: https://draculatheme.com/ditto

For some weird reason, I can still see that `b`. I have absolutely no idea why this is happening :(

[2021-02-09 23:42] #494 closed

[2021-02-09 23:42] zenorocha commented on #502
It's live now, thanks for your patience @bdielman!

Feel free to share it online https://draculatheme.com/nova :)

[2021-02-09 23:42] #502 closed

[2021-02-09 23:43] zenorocha commented on #505
Aaaand we're live: https://draculatheme.com/tty :)

[2021-02-09 23:43] #505 closed

[2021-02-09 23:43] zenorocha commented on #499
This is really exciting, I never thought we would have a LibreOffice theme!

https://draculatheme.com/libreoffice 🎉 🎉 🎉

[2021-02-09 23:43] #499 closed

[2021-02-09 23:43] zenorocha commented on #504
It's live now! https://draculatheme.com/vivado

Thanks @ALK222!

[2021-02-09 23:44] #504 closed

[2021-02-09 23:45] zenorocha commented on #510
It's live https://draculatheme.com/vivado 🎉 🎉 🎉

Feel free to share it online :)

[2021-02-09 23:45] #510 closed

[2021-02-09 23:46] zenorocha commented on #451
We ended up moving this other theme since it was older: https://github.com/dracula/xfce4-terminal/

Let's join forces over there @ArthurBacci64? Thanks!

[2021-02-09 23:46] #451 closed

[2021-02-09 23:50] tim-clifford commented on #499
What can I say, thanks to you my eyes now bleed looking at any other colors :P

[2021-02-10 01:10] bdielman commented on #502
Thanks, @zenorocha!

[2021-02-10 01:27] zenorocha commented on #499
lol

![giphy](https://user-images.githubusercontent.com/398893/107451438-1e71a800-6afc-11eb-8a7c-540e37d9af47.gif)

[2021-02-10 01:43] Dhyfer1 commented on #494
Hi @zenorocha
I looked at the site again and you're right, it looks like that b doesn't want to leave. 😅 and the hotkey part is correct.

Ok, then you have to modify the site again, sorry, but it will be very easy for you with the changes I am going to tell you, I believe that with these changes you will be able to see it correctly on the site:

- In point 1 of the site it only changes from this:

[2021-02-10 01:50] Dhyfer1 commented on #510
@zenorocha LOL 😄 I think you were wrong. My theme was for EverythingToolbar, I am not the owner of the Vivado theme but I already saw my theme on https://draculatheme.com/everythingtoolbar and I am happy, thank you very much. 😀

[2021-02-10 02:17] zenorocha commented on #510
Oops, wrong URL. https://draculatheme.com/everythingtoolbar

About transferring repositories - the teams are not created automatically. I manually create each one before transferring new repos.

[2021-02-10 14:13] ArthurBacci64 commented on #451
Ok.

[2021-02-11 01:57] tim-clifford opened #517 "Dracula Theme for Dunst"
[Dracula for Dunst](https://github.com/tim-clifford/dracula-dunst). The screenshot is fairly low quality, but as dunst is a notification daemon the available area to screenshot is fairly small :(

[2021-02-12 13:59] bigpick commented on #330
There is now a Dracula themed Standard Notes repository as part of the official org [here](https://github.com/dracula/standard-notes). @cameronldn , this could probably be closed now, right?

[2021-02-13 00:30] SergioBonatto opened #518 "Template for MetaTrader 5"
https://github.com/SergioBonatto/Dracula-MetaTrader5

![image](https://user-images.githubusercontent.com/52257001/107835798-a5d84900-6d92-11eb-92b9-53d58009f207.png)

this template for metatrader 5 was created using the program itself and exported to share with others. I used the palette proposed by you on your website.``

[2021-02-13 16:29] Dpbm commented on #513
Oh, this is really awesome, thank you very much and sorry for the long time to reply.

[2021-02-16 18:01] alishirini commented on #484
Hi @zenorocha Thanks for your answer!
I try to use it .

‌Best Regards,
Ali

[2021-02-16 18:01] #484 closed

[2021-02-16 20:45] juanscr opened #519 "Dracula Theme for Spotify TUI"
[Dracula theme for Spotify TUI](https://github.com/juanscr/dracula-spotify-tui). Feel free to suggest any changes.

[2021-02-17 18:36] dbasinge opened #520 "Dracula theme for ncspot"
https://github.com/dbasinge/ncspot

[2021-02-20 04:15] pspiagicw opened #521 "Request For More Dracula Themed Wallpaper"
# We Need More Wallpapers
We need more variety in the wallpapers.The existing wallpaper had become boring as I was using it for a year now.

So instead of downloading and using other wallpaper . I just recolored/rethemed the wallpaper I downloaded.I think this could be a welcome to the existing wallpaper collection.Keep in mind you might have seen these somewhere.I just changed all the colors to m

[2021-02-23 02:46] poetaman opened #522 "Add color theme for sc-im (terminal based spreadsheet program)"
## New Theme?

Please add color-theme for sc-im (terminal-based spreadsheet program): https://github.com/andmarti1424/sc-im

[2021-02-23 16:32] weeebdev opened #523 "Dracula theme for Unigram"
Dracula theme for [Unigram](https://github.com/UnigramDev/Unigram) (Telegram client)
https://github.com/weeebdev/unigram

Colors are ported from: https://github.com/dracula/telegram

P.S. There are may be issues with some colors, because I couldn't find documentation about each property, so the properties which I don't know left with `#FF5555`

[2021-02-23 21:03] trumantnt opened #524 "Pycharm TODO highlight changes not working"
Since Python comment symbol is # instead of // , the intended highlight color does not appear in Pycharm.

Also any change made in Settings -> Editor -> Color Scheme -> General -> TODO defaults would not translate as well.

[2021-02-24 18:33] zenorocha commented on #523
Great! I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-02-24 18:42] zenorocha commented on #520
Hey @dbasinge!

I'm glad to see that you create this theme! Are you interested in transferring your repository to the official organization (https://github.com/dracula)? You'll continue maintaining this project, the only difference is that we can make it more visible and include it on the site (https://draculatheme.com).

I just sent you an invite to join the organization. If you accept, you'll be

[2021-02-24 18:46] zenorocha commented on #519
That's awesome @juanscr! I had no idea you could have Spotify in your terminal like that :O

I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-02-24 18:57] zenorocha commented on #518
That looks awesome @SergioBonatto! These graphs look great!

I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-02-24 19:01] zenorocha commented on #517
Sweet! Let's get this transferred?

[2021-02-24 19:02] zenorocha commented on #490
@pspiagicw friendly ping ;)

[2021-02-24 19:03] juanscr commented on #519
Done! Yeah, I discovered it recently and have used it since, as it is very lightweight :)

[2021-02-24 19:20] tim-clifford commented on #517
It's done :tada:

[2021-02-24 19:25] zenorocha commented on #517
100% fine 🎉 🎉 🎉

[2021-02-24 19:48] tim-clifford commented on #517
Finallyyyyyyy :tada: :tada: :tada:

[2021-02-24 19:59] zenorocha commented on #517
You're the best bro, thanks for adding all these new themes ;)

[2021-02-24 20:24] tim-clifford commented on #517
Haha you're the mastermind, all I have to do is copy the hex codes :P thanks for making such a great colorscheme!

[2021-02-24 21:55] zenorocha commented on #517
You're too kind :)

Here it is https://draculatheme.com/dunst 🎉 🎉 🎉

[2021-02-24 21:55] #517 closed

[2021-02-24 21:56] zenorocha commented on #519
And we're live! https://draculatheme.com/spotify-tui

Thanks @juanscr!

[2021-02-24 21:56] #519 closed

[2021-02-24 21:56] zenorocha commented on #513
Here it is: https://draculatheme.com/inkscape 🎉 🎉 🎉

[2021-02-24 21:57] #513 closed

[2021-02-24 21:57] zenorocha commented on #520
https://draculatheme.com/ncspot 🎉 🎉 🎉

[2021-02-24 21:57] #520 closed

[2021-02-24 22:10] kacperleague9 opened #525 "Visual Spigot Theme"
Hello, I created a dracula theme for visual spigot program.

https://github.com/kacperleague9/template

[2021-02-25 06:41] weeebdev commented on #523
@zenorocha done!

[2021-02-25 06:55] weeebdev commented on #523
I am sorry, but how do I turn off email notifications about repo transfers? I am afraid of changing the settings of your organisation, so I decided to ask you directly

[2021-02-26 00:13] tim-clifford opened #526 "Dracula Theme for LaTeX"
[I cannot be stopped](https://github.com/tim-clifford/dracula-latex) :sunglasses: I hope you like the screenshot, it's my favourite so far :)

Also, I figured that since I'm making so many themes, I may as well automate the process... so I made [dracula-contrib-generator](https://github.com/tim-clifford/dracula-contrib-generator).  It does everything which could possibly be automated for you, incl

[2021-02-26 03:54] calderds opened #527 "Dracula Theme for Abricotine (Markdown editor)"
New theme: https://github.com/calderds/dracula_abricotine

[2021-02-26 05:29] pspiagicw commented on #490
Ping recieved :)

[2021-02-26 08:00] magnusottosson opened #528 "Altair GraphQL Theme?"
Would be nice to get a theme for https://altair.sirmuel.design/

More info about theming: https://www.xkoji.dev/blog/theming-in-altair-graphql/

There is a dracula theme built it but it has a few bugs and does not loom that good. Has room for improvement.

Thanks!

[2021-02-26 08:16] magnusottosson commented on #528
I will probably report this in the Altair Repo instead.

[2021-02-26 08:16] #528 closed

[2021-02-26 09:51] avelino commented on #526
Shouldn't you use `\usetheme` instead of `\color`?
As I understood you made a latex file `.tex`, not a theme file `.dtx`

What the _theme_ call in LaTex file:
[code]

[2021-02-26 09:58] avelino commented on #525
Type **how to** do the installation into the **INSTALL** file: https://github.com/kacperleague9/visualspigot-dracula/blob/master/INSTALL.md

I couldn't identify the theme file (code) in the repository, was it uploaded to the repository?

[2021-02-26 11:02] tim-clifford commented on #526
Good idea! Right now this is very simple, just a few lines which can be pasted into a preamble. I agree that it would be nice to have this as a proper package which you can import with `\usepackage` so I'll work on that.

The difference between `\color` and `\usetheme` is that `\color` sets a specific color (for the text after it), whereas `\usetheme` sets an overall theme for the entire document.

[2021-02-26 11:40] tim-clifford commented on #526
@avelino the theme now uses proper latex packaging :tada:

[2021-02-26 11:48] kacperleague9 commented on #525
Done

[2021-02-26 16:43] TheForgottened opened #529 "Dracula Theme for Sumatra PDF"
https://github.com/TheForgottened/dracula-sumatra-pdf

![preview](https://raw.githubusercontent.com/TheForgottened/sumatra-pdf/master/screenshot.png)

The theme ain't much since there's only a few options you can edit. Hope you like it 🖤

[2021-02-26 22:34] zenorocha opened #530 "Theme request for Directory Opus"
We could have a theme for [Directory Opus](https://www.gpsoft.com.au/). I found this tutorial, which might be useful for anyone who used this application before :)

[2021-02-27 00:19] UnrealApex opened #531 "Dracula Theme For monkeytype"
Dracula Theme on monkeytype was created by @Miodec, I have created a dracula page for it using the template but there isn't a [page](https://draculatheme.com/monkeytype) for it yet. For the theme, no installation is required as monkeytype is a website, but I have included how to change the theme to dracula in the INSTALL.md file.  [url to the repo](https://github.com/UnrealApex/monkeytype.git)

[2021-03-01 20:04] rfaccio opened #532 "Dracula for SAP ABAP"
The SAP ABAP Editor using Dracula theme colors.

The theme applies only to the code editor itself, since theming is very limited within the SAP Graphic User Interface, but I think it looked great for coding, so I adapted where I could.

https://github.com/rfaccio/dracula-abap

[2021-03-01 23:14] avelino commented on #532
Congrats 🍾🎊 🎉

[2021-03-03 23:26] JohnClient opened #533 "Black highlighting on text outside of window."
I am using the dracula colorscheme on vim on ubuntu. When I load an existing file any text that doesn't initially fit into the window will have a strange black highlight on any space without a character. I only have one colorscheme enabled and it definitely is an issue with this colorscheme. It is annoying as opposed to unusuable but would really appreciate a fix.
I've attached a screenshot of wha

[2021-03-04 01:01] avelino commented on #533
This issue should be opened in the vim repository
https://github.com/dracula/vim

[2021-03-04 03:25] #531 closed

[2021-03-04 13:33] #533 closed

[2021-03-04 13:47] zenorocha opened #534 "Theme Request for CodeWarrior"
[NXP's CodeWarrior for Microcontrollers (Classic IDE)](https://www.nxp.com/design/software/development-software/codewarrior-development-tools/codewarrior-legacy/codewarrior-for-microcontrollers-classic-ide-rs08-hcs08-coldfire-v1-v6-3:CW-MICROCONTROLLERS)

[2021-03-04 13:48] zenorocha opened #535 "Theme Request for MDK"
[MDK Microcontroller Development Kit](https://www2.keil.com/mdk5)

[2021-03-04 23:21] ns-ian opened #536 "Dracula for bemenu"
Dracula color configuration for bemenu, an application launcher similar to dmenu.

https://github.com/ns-ian/bemenu-dracula

[2021-03-05 04:09] pspiagicw commented on #490
Sorry for the late reply , I missed the point that I have to transfer the repository .I thought you being the maintainer would transfer.I never noticed that I was supposed to transfer.Sorry again! I can imagine what you must of thought.Sorry again.I will transfer it today itself, I am a little new to GitHub can you provide some instruction on how to do it.
If in any way you got offended please , f

[2021-03-05 04:27] pspiagicw commented on #490
I transfered the repository.Sorry for the misunderstanding again.I think you can close the repository.

[2021-03-05 21:28] tim-clifford opened #537 "Dracula Theme for LTSpice"
[This is getting out of hand.](https://github.com/tim-clifford/dracula-ltspice)

[2021-03-05 22:28] zenorocha commented on #536
Looks good @ns-ian!

I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-03-05 22:30] zenorocha commented on #537
🤣 🤣 🤣  that's amazing 🎉 🎉 🎉

[2021-03-05 22:33] zenorocha commented on #532
That's amazing, thanks @rfaccio!

I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks again for building this! 🎉

[2021-03-05 22:44] tim-clifford commented on #537
transferred :rocket:

[2021-03-05 22:52] ns-ian commented on #536
Thanks @zenorocha, I've accepted the invite & transferred the repo.

[2021-03-06 19:17] zenorocha commented on #529
That's really cool @TheForgottened!

I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-03-06 19:21] zenorocha commented on #527
Nice! I love Markdown, thanks for building this 💜

I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-03-06 19:24] zenorocha commented on #526
Woooow, LaTeX! This is big 😮

Keep them coming @tim-clifford 🧛‍♂️

P.S. This generator looks pretty cool too, I'll check it out later

[2021-03-06 19:26] zenorocha commented on #525
Awesome job @kacperleague9 ! I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

And thanks @avelino for reviewing :DDD

[2021-03-06 19:27] #521 closed

[2021-03-06 19:55] calderds commented on #527
I accepted the offer and created a new repo called abricotine, importing from my repo. Hope this works!

[2021-03-06 20:39] tim-clifford commented on #526
it has been transferred :sunglasses:

[2021-03-06 22:44] tim-clifford opened #539 "Dracula theme for Pandoc"
[I think I might be developing an addiction](https://github.com/tim-clifford/dracula-pandoc) :eyes:

[2021-03-06 22:45] tim-clifford commented on #539
I've tried to stick to the spec as closely as possible but the pandoc highlighting specification is a bit limiting :(

[2021-03-06 23:26] zenorocha commented on #526
OMG, that screenshot! 🤣 🤣 🤣 🤣 🤣 🤣 🤣

[2021-03-06 23:55] zenorocha commented on #539
Woooooooooow! Last year I used Pandoc for the first time to build my book and I really wished there was a Dracula theme for it. Now it's a reality.  If you keep it that way we'll hit 200 themes real soon. 🤯

[2021-03-07 00:29] tim-clifford commented on #539
wowww 200 themes that would be awesome :open_mouth: I've transferred this one :)

[2021-03-07 01:41] zenorocha commented on #523
It's live! 🎉 🎉 🎉

https://draculatheme.com/unigram

Thanks @weeebdev, you should stop receiving notifications now. :)

[2021-03-07 01:41] #523 closed

[2021-03-07 01:43] zenorocha commented on #490
No problem at all @pspiagicw, that's totally fine, it's all good 😄

I just wanted to let you know that your theme is now live! 🎉 🎉 🎉

https://draculatheme.com/grub

Thanks for creating it!

[2021-03-07 01:43] #490 closed

[2021-03-07 01:44] zenorocha commented on #526
And we're live! https://draculatheme.com/latex 🎉 🎉 🎉

I can't wait to see what people are going to build with this.

[2021-03-07 01:44] #526 closed

[2021-03-07 01:45] zenorocha commented on #539
171 themes! 29 to go 😆

https://draculatheme.com/pandoc 💥 💥 💥

[2021-03-07 01:45] #539 closed

[2021-03-07 01:45] zenorocha commented on #527
Thanks @calderds! We're live now!

https://draculatheme.com/abricotine 🎉 🎉 🎉

[2021-03-07 01:45] #527 closed

[2021-03-07 01:46] zenorocha commented on #536
Thanks @ns-ian, the page has been created and it's live now!

https://draculatheme.com/bemenu