[2021-03-07 01:46] #536 closed

[2021-03-07 01:46] zenorocha commented on #537
https://draculatheme.com/ltspice 🚀 🚀 🚀

[2021-03-07 01:46] #537 closed

[2021-03-07 13:10] kacperleague9 commented on #525
Hi, thanks for inviting me.
I don't know how to transfer this repo.

[2021-03-07 15:33] TheForgottened commented on #529
Hi! I just transfered the repo, I'll wait for the link to modify the `README.md` accordingly.

Thanks for inviting me to the organization :)

[2021-03-07 22:05] zenorocha commented on #525
@kacperleague9 you can follow these instructions to transfer: https://docs.github.com/en/github/administering-a-repository/transferring-a-repository#transferring-a-repository-owned-by-your-user-account

[2021-03-08 08:52] kacperleague9 commented on #525
Done :)

[2021-03-08 13:11] rfaccio commented on #532
Thank you for the invitation!

I already started the transfer, let me know if there's anything else I can help.

And thank you for creating this theme and community.

[2021-03-09 14:16] avatar-lavventura opened #540 "[dracula/duckduckgo] Side wiki font is unreadable"
There is a bug on `dracula/duckduckgo` theme. As you can see on the picture, right-side wiki's font color is black and it is unreadable.

Opened issue since last year: https://github.com/dracula/duckduckgo/issues/1#issue-545308816

Example view:

<img width="1217" alt="image" src="https://user-images.githubusercontent.com/18537398/110483717-0d1bbb80-80fb-11eb-8f97-9f93e2d0f04a.png">

[2021-03-11 19:10] tim-clifford opened #541 "Dracula Theme for FreeCAD"
[Link](https://github.com/tim-clifford/dracula-freecad). This one was an absolute pain to make, there are like a million XML variables to change plus a stylesheet! I think I've still missed a few spots because there are just too many :cry: but still I love it :heart_eyes:

[2021-03-19 13:51] bsrthyle opened #542 "Dracula Theme for Beamer presentation"
## New Theme

Dracula theme for Beamer latex presentation.
link:  https://github.com/bsrthyle/Beamer

[2021-03-20 21:38] theb4ku opened #543 "Changing colour of class in Dracula Official on vsCode"
Hey, can you guys help me to navigate which line I should change in .json file to change white colour to blue? As in the screenshot, the **Program** class is blue but the **Thread** class is white and I would like to change that to also blue.
![image](https://user-images.githubusercontent.com/75274385/111886124-388c8900-89cc-11eb-9493-4f859facc39d.png)

[2021-03-21 13:22] benknoble commented on #543
Probably belongs on dracula/visual-studio-code

[2021-03-21 19:01] Trollwut commented on #543
Author opened an issue in the mentioned repository here: https://github.com/dracula/visual-studio-code/issues/171

Going to close this issue, as it is being worked on elsewhere. :)

[2021-03-21 19:01] #543 closed

[2021-03-23 14:49] sarahDemon opened #546 "Mailspring some mails unreadable?"
Some mails in Mailspring are unreadable due to dark text on dark text, I see this issue is already reported for duckduckgo but I thought I'd report it for Mailspring as well.

![image](https://user-images.githubusercontent.com/81247435/112165800-71dc1900-8bc5-11eb-89f0-e489b1a0acde.png)

[2021-03-23 18:01] tim-clifford commented on #542
Looks great, thanks for making this! :tada: Just a couple things:
- it looks like you are using the existing [dracula/latex](https://github.com/dracula/latex) theme, it would be better if you required that package instead of just copy pasting it into your package.
- You have ended up with two versions of the theme between `beamercolorthemedracula.sty` and `sample/beamercolorthemedracula.sty`. Tbh

[2021-03-23 20:45] bsrthyle commented on #542
perfect, thank you for your comments and edits. With your first comment, the only part that comes from `latex theme` is the color names. I like your approach too but now the user have to download two `sty` files. Do you think this is the best approach?
I agree to remove the sample directory.

[2021-03-23 22:31] tim-clifford commented on #542
Yeah, I agree that it's a bit unwieldly. I think overall it's better to do it with two files, mostly for maintainability. The [pandoc theme](https://github.com/dracula/pandoc) also requires `draculatheme.sty`, and if this theme and that one both stored `draculatheme.sty` independently, it could become an issue of having to update it in 3 different places if something changes, which would be quite

[2021-03-23 22:44] bsrthyle commented on #542
no, they don't need the latex theme at all with beamer

[2021-03-23 22:53] tim-clifford commented on #542
My point was that people who make Beamer presentations usually write pure latex
too, so they might want the latex theme as well. But it's not a major point.

[2021-03-23 23:07] bsrthyle commented on #542
yes true, the `latex draculatheme` only defines the colors and set the bg and fg colors. And the colors are also defined in `beamer sty` file, one can write pure latex using it.
I am fine with both approaches,  i tested it and it works fine.  If you think its better for maintainability, i will merge your pull request.

[2021-03-23 23:20] tim-clifford commented on #542
Actually that's a good point, maybe instead we should merge your new beamer sty into [dracula/latex](https://github.com/dracula/latex)? if it can replace it there's no point in having both.

If you agree, can you create a PR in [dracula/latex](https://github.com/dracula/latex)? I can take a look at it tomorrow. I would also need to make sure the pandoc theme still works with the new sty.

[2021-03-24 02:10] bsrthyle commented on #542
I think we should keep them separate. Beamer comes with default `usetheme{**}` and `usecolortheme{**}` see [this matrix](https://hartwork.org/beamer-theme-matrix/), now if the user uses  both `usecolortheme{**}`  and `\usepackage{draculatheme}` the colors will mixup depending on which one is called first.
But if we keep `\usecolortheme{dracula}` as i have it now,  it means we are adding additional

[2021-03-24 13:30] #540 closed

[2021-03-24 13:40] tim-clifford commented on #542
Perhaps I'm misunderstanding, but could we not say in the instructions something like "if you are using Beamer, activate the theme with `\usecolortheme{dracula}`, otherwise activate the theme with `\usepackage{draculatheme}`", and use the same sty file for both? This would make it easier to maintain and keep everything better organized imo.

[2021-03-24 15:44] Diromns commented on #214
Is this no longer supported?

[2021-03-24 17:49] bsrthyle commented on #542
to activate the theme with `\usecolortheme{dracula}` we need a style file named `beamercolorthemedracula.sty`, which is back to the original setup I have. In my opinion it much better to keep them separate. The only thing they have in common is the color names.

[2021-03-25 00:26] zenorocha commented on #541
Woooooow, that's amazing @tim-clifford! Let's transfer it :DDD

[2021-03-25 00:37] zenorocha commented on #518
Friendly ping @SergioBonatto

[2021-03-25 01:00] zenorocha commented on #525
It's live! https://draculatheme.com/visual-spigot

Thanks @kacperleague9 :DDD

[2021-03-25 01:00] #525 closed

[2021-03-25 01:00] zenorocha commented on #529
We're live now https://draculatheme.com/sumatra-pdf

Thanks @TheForgottened 🎉 🎉 🎉

[2021-03-25 01:00] #529 closed

[2021-03-25 01:01] zenorocha commented on #532
https://draculatheme.com/abap 💥 💥 💥

Thanks @rfaccio for building this ;)

[2021-03-25 01:01] #532 closed

[2021-03-25 02:04] tim-clifford commented on #542
Ok, I see your point, let's keep them separate.

Can you still remove the sample folder?

[2021-03-25 02:12] tim-clifford commented on #541
Transferred :tada: I also added the team for it :)

[2021-03-25 10:54] bsrthyle commented on #542
perfect. Yes, I have removed the sample folder and updated the repo

[2021-03-25 17:57] tim-clifford commented on #542
Great, all looks good to me :)

[2021-03-26 17:14] zenorocha commented on #541
Ohhh thanks for doing that! https://draculatheme.com/freecad ;)

[2021-03-26 17:14] #541 closed

[2021-03-26 17:20] mrpbennett opened #547 "Dracula Pro not supported in the latest version of PyCharm Community"
When trying to install via zip I get the following error:

[code]

My Pycharm Community build is :

[code]

[2021-03-26 17:47] benknoble commented on #547
Probably should go to the pycharm repo? @zenorocha

[2021-03-26 21:34] lukaszklis commented on #547
@mrpbennett please make sure you're using the latest version of the theme. I can confirm 1.3.0 is working just fine with my PyCharm 2020.3.4

[2021-03-26 21:37] mrpbennett commented on #547
Ok great thanks. How can I get the upgraded version without paying the $79.99 again ?

[2021-03-26 21:38] lukaszklis commented on #547
Once you login to the Gumroad account you should be able to fetch the latest version without having to pay for theme again.

[2021-03-26 21:48] mrpbennett commented on #547
Great thanks @lukaszklis after many attempts and trying to remember my email...I have the latest version and all installed ok thanks man

[2021-03-26 21:53] lukaszklis commented on #547
You're welcome! Happy coding!

[2021-03-26 23:40] #547 closed

[2021-03-28 19:41] cdalexndr opened #548 "Theme Request for Kdiff3"
## New Theme?

`~/.kdiff3rc` file for color theme, example:

[code]

[2021-03-28 20:12] nickgraffis opened #549 "TailwindCSS Plugin with Dracula Theme"
## New Theme?

A package for adding Dracula color palette to tailwindcss project. [repository](https://github.com/nickgraffis/tailwind-dracula).

### What it does?

Allows use of tailwind utility classes with Dracula colors. Uses two naming options:
* Colors (pink, green, cyan, etc.)
* Vampires (nosferatu, dracula, buffy, etc.)

Use like so:
[code]

### Usage

You can add the plugin like so:
[code

[2021-03-29 09:21] totoroot opened #550 "Add dracula theme for ghostwriter"
I noticed that there was no theme for the Markdown editor [ghostwriter](https://wereturtle.github.io/ghostwriter/), so I went ahead and created one myself at [dracula-ghostwriter](https://github.com/totoroot/dracula-ghostwriter).

[2021-04-03 11:54] zenorocha commented on #550
That's great @totoroot!

I'm glad to see that you created this theme! Are you interested in transferring your repository to the official organization (https://github.com/dracula)? You'll continue maintaining this project, the only difference is that we can make it more visible and include it on the site (https://draculatheme.com).

I just sent you an invite to join the organization. If you accept,

[2021-04-03 11:58] zenorocha commented on #548
Hey @cdalexndr! Thanks for putting together this Kdiff3.

Would you mind creating a repository from https://github.com/dracula/template? You will need to add an image (screenshot.png) and setup instructions (INSTALL.md). Once that's done we can add it to the official org and website.

Thanks!

[2021-04-03 12:03] zenorocha commented on #542
Great! Thanks a lot for sorting this out @tim-clifford  :)

@bsrthyle I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-04-03 15:34] cdalexndr commented on #548
@zenorocha done: https://github.com/cdalexndr/template
The `screenshot.png` is shown differently in github, but cloning on local pc shows it fine.

[2021-04-04 15:37] bsrthyle commented on #542
Done! Thank you @tim-clifford  and @zenorocha

[2021-04-05 15:52] totoroot commented on #550
Perfect, thank you!

Yes, my intention was to have it incorporated into the Dracula theme ecosystem and to maintain it as a member of the organization.
I have already transferred the ownership to the ghostwriter team inside the Dracula organization and renamed the repository, so all should be set to include it on the homepage.

Please let me know if I can help you any further and whether I should

[2021-04-05 16:48] totoroot commented on #471
Since [qBittorent](https://github.com/qbittorrent/qBittorrent) is built with Qt you could use [Kvantum](https://github.com/tsujan/Kvantum/tree/master/Kvantum) to apply the [Dracula GTK theme](https://github.com/dracula/gtk) to all Qt applications.
This does not mean that I think this request is not valid, but I thought I propose this since this is how I got the Dracula theme applied to most of the

[2021-04-06 01:17] zenorocha commented on #548
Great @cdalexndr! I just sent you an invitation to join the organization.

Once you accept, you need to transfer the repository, so I can add it to the site.

[2021-04-06 07:49] cdalexndr commented on #548
How do I do this?

[2021-04-06 09:30] cdalexndr commented on #548
Tried to transfer ownership to `dracula` organization and got error: `dracula/template already exists`

[2021-04-07 02:22] drakgoku opened #552 "Drakula Eclipse in Windows (Top Bars)"
How in Windows can you have the same theme in the IDE as in the image?
Current Windows
![image](https://user-images.githubusercontent.com/2928888/113801032-5261f600-9758-11eb-866f-4495e84317f9.png)
draculatheme
![image](https://raw.githubusercontent.com/dracula/eclipse/master/configuration.png)

In draculatheme the IDE seems much cleaner with the hidden bars (or the same color as the background),

[2021-04-07 05:20] zenorocha commented on #548
Hey @cdalexndr, can you please navigate to https://github.com/cdalexndr/kdiff3 and then Settings. Once you're there you can disable the "Template" option and then try to transfer again. It's this option over here:

<img width="1240" alt="Screen Shot 2021-04-06 at 10 19 27 PM" src="https://user-images.githubusercontent.com/398893/113814295-45c4aa00-9726-11eb-9c08-323fb36068c3.png">

[2021-04-07 05:29] zenorocha commented on #542
@bsrthyle I just made this commit to standardize the repository (https://github.com/dracula/beamer/commit/39b3ad6b88956e0ec1b55f5daad418e7e2e1d71e). Here are some important things to keep in mind:

* All repositories use the name `master` as the default branch. I see that you added `main` which is quite nice, however this will break the pattern with all the other repositories and will affect how t

[2021-04-07 05:38] zenorocha commented on #547
@benknoble @lukaszklis you guys are the best. Thank you so much ;D

[2021-04-07 05:44] zenorocha commented on #549
Hey @nickgraffis, that looks great! Congrats on building this plugin.

In order to add to the site, we need to follow some standards (https://github.com/dracula/template). For example, we always need a `screenshot.png` and `INSTALL.md` files in the root folder. Otherwise, the site won't be able to build.

If you can apply those patterns, I'll be able to add the repo to the site.

In any case, I al

[2021-04-07 05:57] zenorocha commented on #542
And we're live! https://draculatheme.com/beamer 🎉

Congrats @bsrthyle :D

[2021-04-07 05:58] #542 closed

[2021-04-07 05:58] zenorocha commented on #550
We're live now: https://draculatheme.com/ghostwriter

Feel free to share this with the ghostwriter community @totoroot ;D

Congrats! 🎉

[2021-04-07 05:58] #550 closed

[2021-04-07 07:00] nickgraffis commented on #549
Thanks @zenorocha transferred it over and added an INSTALL.md and a solid screenshot with an example.

Thanks a ton! Let me know if you need anything else.

[2021-04-07 07:18] cdalexndr commented on #548
Disabled `Template repository`, tried to transfer ownership to `dracula` organization: `dracula already has a repository in the dracula/template network `

[2021-04-07 15:57] drakgoku opened #553 "Eclipse - Java attribute incorrect color"
The color of the Eclipse attribute does not seem correct with what is shown in the preview.
![image](https://user-images.githubusercontent.com/2928888/113896425-34cd7480-97ca-11eb-8906-fd6d91e38fb6.png)

Are there any color updates or something you don't know about?

By the way, in Visual Studio Code, it's a bit more beautiful and stylish.
![image](https://user-images.githubusercontent.com/2928888

[2021-04-07 17:16] abrudz opened #554 "Shipping Dracula with our IDEs"
We are going to include your lovely theme into our IDEs from this coming summer. For that:
* Do you want us to include attribution? If so, let me know what and how.
* Do you want to list this on your website? The links to our IDEs are: [Dyalog APL IDE](https://dyalog.com) and [Dyalog APL Remote IDE (RIDE)](https://github.com/dyalog/ride)
* I've [forked your template](https://github.com/abrudz/drac

[2021-04-08 01:19] zenorocha commented on #554
That's awesome @abrudz! Glad to hear that you decided to ship Dracula natively on Dyalog.

It would be nice if you can include attribution. A link to the draculatheme.com site would be great if that's possible.

About the template, that looks great! I sent you an invitation to join the Dracula org. Once you accept it, you can transfer that repository and I'll be able to add it to the site.

[2021-04-08 01:28] zenorocha commented on #548
No problem, let's try another route. I cloned the repository and pushed it to the dracula org: https://github.com/dracula/kdiff3

Feel free to delete this repo now: https://github.com/cdalexndr/kdiff3

I also made a few changes to standardize the repo: https://github.com/dracula/kdiff3/commit/e59198dbea6b2955ce3a9b0cfbbe52b3856ce5c5

[2021-04-08 01:32] abrudz commented on #554
OK, good. I'll hold off on the actual transfer until we release the version that includes the theme. This way, you don't need to keep track of the time; simply add it when I transfer it.

[2021-04-08 01:34] zenorocha commented on #554
That would be perfect. Thanks a lot @abrudz!

[2021-04-08 04:19] zenorocha commented on #549
And we're live! https://draculatheme.com/tailwind 🎉 🎉 🎉

Congrats @nickgraffis on building this new theme.

Here are some important changes I made in order to follow the same standards as other repos inside this org: https://github.com/dracula/tailwind/commit/a95b92d925c5589cf407cbf00f3b338c02af819e

* Renamed repo from `tailwind-dracula` to `tailwind`. Package is still `tailwind-dracula` since th

[2021-04-08 04:19] #549 closed

[2021-04-08 04:19] zenorocha commented on #548
It's live now! https://draculatheme.com/kdiff3

[2021-04-08 04:20] zenorocha commented on #548
Thanks @cdalexndr for doing this! 🎉 🎉 🎉

[2021-04-08 04:20] #548 closed

[2021-04-08 04:27] nickgraffis commented on #549
Awesome! Looks great! Thanks a ton!!! 🙏🙏

[2021-04-08 20:54] ngerritsen opened #555 "Blue text get's inverted in vim & neovim in tmux"
I have this weird issue where in vim & neovim within tmux the colors for blue get inverted. I do not experience this issue with any other color themes and the colors themselves look fine. I have this issue in all programming languages, the blue color is inverted.

<img width="712" alt="Screenshot 2021-04-08 at 22 47 57" src="https://user-images.githubusercontent.com/6407496/114094535-b6053400-98bc

[2021-04-10 08:24] zdmgmail opened #556 "buy dracula pro not get a email?"
https://draculatheme.com/pro

I first use paypal pay , get `Your purchase with PayPal failed....` email

then I use credit card pay success, but not get any email?

After pay success, I give a password(no username), but not auto login or something

Now the money is deducted from the credit card, but  don’t get anything

Is this a normal situation? what should I do?

[2021-04-10 13:12] benknoble commented on #556
Probably email @zenorocha and/or Gumroad?

[2021-04-10 13:31] zdmgmail commented on #556
What is their email address?

[2021-04-10 14:11] avelino commented on #556
zeno@draculatheme.com

[2021-04-10 14:24] zdmgmail commented on #556
thanks , I send to him

[2021-04-11 04:14] chris-larsen commented on #370
Any update on this?

[2021-04-11 19:10] kacperleague9 opened #557 "Discord Bot Maker"
Hello, I have created new theme for Discord Bot Maker. You can see it [Here](https://github.com/dracula/discordbotmaker)

[2021-04-12 13:41] weeebdev opened #558 "Dracula Theme for Files"
Dracula theme for [Files](https://github.com/files-community/Files)
https://github.com/dracula/files

[2021-04-12 15:24] tim-clifford opened #559 "Dracula Theme for SolidWorks"
[Link](https://github.com/tim-clifford/dracula-solidworks). This one... wow. It was very very hard to make work. SolidWorks really doesn't want to be themed...  and I can't make it look quite as good as I want to :(

If you're interested, I wrote a blog post about how I did it [here](https://tim.clifford.lol/blog/dracula-for-solidworks) :)

[2021-04-14 00:01] zdmgmail commented on #556
waiting ...

[2021-04-14 15:42] AbraaoM opened #560 "Dracula Theme for Metaeditor"
https://github.com/abraaom/dracula-metaeditor

[2021-04-15 00:21] rphlfc opened #561 "Dracula for SwiftUI"
## Dracula for SwiftUI

[Dracula for SwiftUI](https://github.com/rphlfc/Dracula)

## New Theme?

We would love to support all code editors out there, but we need your help to accomplish that. Feel free to create a new theme based on our [color palette](https://github.com/dracula/dracula-theme#color-palette).

## Existing Theme?

Find the appropriate repository on the [Dracula organization](https:/

[2021-04-15 15:59] AlexZigante opened #562 "Theme for NANO"
## New Theme?

Hii, anyone played with nano?
https://www.nano-editor.org/dist/latest/nano.html#Syntax-Highlighting

[2021-04-15 22:25] redbrain commented on #465
Closing since Dracula UI basically replaces this.

[2021-04-15 22:25] #465 closed

[2021-04-17 17:13] zenorocha opened #563 "Theme for eM Client"
[Instructions here](https://www.emclient.com/blog/design-your-own-em-client-421)

[2021-04-17 17:27] #556 closed

[2021-04-17 18:40] zenorocha commented on #559
Let's get this one transferred too Tim :D

[2021-04-17 18:51] zenorocha commented on #561
That's super amazing @rphlfc!

I just sent you an invite to join the organization. If you accept, you'll be able to transfer the repo and we can continue with adding to the site.

Thanks for building it!

[2021-04-17 19:42] zenorocha commented on #560
Hey @AbraaoM! This theme looks great, thanks for creating it!

I just cloned the repository and added it to the Dracula org. I also sent you an invitation to join the org, so you can manage the repo. Feel free to delete the repo on your own user now (https://github.com/abraaom/dracula-metaeditor).

https://draculatheme.com/metaeditor 🎉

[2021-04-17 19:42] #560 closed

[2021-04-17 19:43] zenorocha commented on #558
There you go!

https://draculatheme.com/files 🎉 🎉 🎉

Thanks for creating another theme @weeebdev :D

[2021-04-17 19:43] #558 closed

[2021-04-17 19:43] zenorocha commented on #557
It's live! Thanks @kacperleague9 for another theme 🧛

https://draculatheme.com/discordbotmaker

[2021-04-17 19:43] #557 closed

[2021-04-17 22:21] tim-clifford commented on #559
It is done :tada: Also, just realized that this is my 10th theme wowwwwww :sunglasses: :sunglasses: :sunglasses:

[2021-04-18 01:19] zdmgmail commented on #556
@zenorocha I send again,  please reply  quicker.........

[2021-04-19 10:25] zdmgmail commented on #556
sorry , seems I write wrong email,  it corrected

[2021-04-20 05:04] faydanube opened #565 "The default style of search is so poorly discerned that it makes you dizzy and dizzy"
![对比度](https://user-images.githubusercontent.com/8817046/115340188-d3999e00-a1d8-11eb-9934-7d7a4b3ae8f2.png)

[2021-04-20 11:14] SpikedPaladin commented on #562
Nano themes can be changed by changing terminal color profile

**XTerm**
![XTerm Gnome Terminal](https://user-images.githubusercontent.com/47825679/115386727-70146e00-a1e2-11eb-8a7e-20d7ed1e02ee.png)

**Dracula**
![Dracula Gnome Terminal](https://user-images.githubusercontent.com/47825679/115386771-83273e00-a1e2-11eb-9051-082a00069be9.png)

[2021-04-20 12:08] SpikedPaladin opened #566 "Dracula for GtkSourceView"
# Dracula for [GtkSourceView](https://wiki.gnome.org/Projects/GtkSourceView)

[dracula-gtksourceview](https://github.com/SpikedPaladin/dracula-gtksourceview)

Replace for https://github.com/dracula/gedit

-----
#### Gedit with Vala file
![Gedit with Vala](https://github.com/SpikedPaladin/dracula-gtksourceview/raw/master/screenshots/screenshot-vala.png)

#### Gnome Builder with C file
![Gnome build

[2021-04-20 13:09] benknoble commented on #565
This should be moved to the repository of whatever app you're using, which you don't specify.

[2021-04-20 17:16] Trollwut commented on #565
@faydanube can you doublecheck, if it's this? → https://github.com/dracula/visual-studio-code

[2021-04-21 17:50] bigpick opened #567 "Dracula for zsh-syntax-highlighting"
## New Theme -- [zsh-syntax-highlighting](https://github.com/bigpick/zsh-syntax-highlighting)

![](https://github.com/bigpick/zsh-syntax-highlighting/raw/master/screenshot.png)

### Implementation

This theme attempts to cover all possible zsh-syntax-highlighting options for the [**main** highlighter](https://github.com/zsh-users/https://draculatheme.com//blob/master/docs/highlighters/main.md). Th

[2021-04-23 10:54] karl37 opened #568 "Dracula theme for Mako"
https://github.com/karl37/mako

![screenshot](https://user-images.githubusercontent.com/46323937/115861360-60dc2d00-a43b-11eb-9213-6b30a4cff0c4.png)

[2021-04-25 22:52] AlexR00T commented on #562
Thanks. Its not exactly a theme for nano. For now solves my problem. But doesnt apply for remote servers when people tty. So if anyone will have time to play around.. however thank you @SpikedPaladin

[2021-04-26 11:57] inisultan opened #569 "Zsh history not working"
One of my favorite Oh My Zsh features is the way that it lets you search through your history.

Imagine that the contents of .zsh_history look like this:

cd Desktop
mkdir my-project
cd my-project
npm init -y
mkdir {src,build}
touch index.js

If you are in the terminal and press the ↑ key, you would expect to cycle through each of those history entries one by one, right? No surprise there.

Howeve

[2021-04-26 15:07] benknoble commented on #569
This belongs on dracula/zsh

[2021-04-27 00:22] Dpbm opened #570 "Dracula Theme for Dark Reader"
# Dracula theme for Dark Reader browser extension

## Dracula Theme For all websites

![See here the Repository](https://github.com/Dpbm/Dracula-DarkReader)

[2021-04-28 17:51] zenorocha commented on #568
This looks cool, congrats @karl37 for building it!

I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-05-01 08:48] FelkonEx opened #571 "Dracula Theme for ImageGlass"
## Dracula for ImageGlass
[https://github.com/FelkonEx/Dracula-ImageGlass](https://github.com/FelkonEx/Dracula-ImageGlass)
[https://imageglass.org](https://imageglass.org)

## Screenshot
![preview](https://user-images.githubusercontent.com/12007786/116776678-20208b80-aaad-11eb-85ba-b2f04671e3b4.jpg)
(the image shown is the stock image that comes with the program)

[2021-05-04 18:14] GregTheHun opened #572 "Mousepad Theme not being recognized in version 0.5.4"

[2021-05-04 18:17] GregTheHun commented on #572
Sorry, will leave this in the mousepad section

[2021-05-04 18:17] #572 closed

[2021-05-06 14:07] caarlos0 opened #573 "fzf theme"
Just created a fzf theme, would be happy to transfer it to the org!

https://github.com/caarlos0/dracula-fzf

[2021-05-06 16:26] twrogers1 opened #574 "Dracula for Streamlit"
Please have a look at this implementation of Dracula Theme for Steamlit.io: https://github.com/twrogers1/dracula_streamlit

Thanks!

[2021-05-11 10:33] zdmgmail opened #575 "use dracula-pro alacritty can't see newman color"
dracula:

![newman_dra](https://user-images.githubusercontent.com/50515839/117801819-4c938f00-b287-11eb-8539-20ca0d868418.png)

dracula_pro:

![newman_pro](https://user-images.githubusercontent.com/50515839/117801773-41406380-b287-11eb-87c4-fee0ca4996f1.png)

Could you improve this?

[2021-05-12 01:40] MahdyMirzade opened #576 "New Theme - Qbittorrent"
**App:** [QBittorrent](https://www.qbittorrent.org/)
**Repo:** https://github.com/MahdyMirzade/qbittorrent
**From:** https://github.com/MahdyMirzade/Dotfiles/tree/main/config/qbittorrent
![Screenshot](https://github.com/MahdyMirzade/qbittorrent/raw/master/screenshot.png)

[2021-05-12 02:01] MahdyMirzade commented on #471
https://github.com/dracula/dracula-theme/issues/576
I've did an awful theme here

[2021-05-13 23:37] bdielman opened #577 "Write access to Dracula Nova theme"
@zenorocha - When permissions for the Dracula theme were changed last month, my read-only permissions also applied to the [Nova theme](https://github.com/dracula/nova) that I contribute to. I had some PR rules in place so when I push to the repo, it's rejected.

[2021-05-14 02:27] zenorocha commented on #577
Sorry about that @bdielman, it should be fixed now ;)

[2021-05-14 02:27] #577 closed

[2021-05-14 13:08] bdielman commented on #577
@zenorocha - Thanks!

[2021-05-20 23:52] zenorocha commented on #576
Great! I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-05-20 23:56] zenorocha commented on #574
That's awesome @twrogers1! I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-05-21 00:04] zenorocha commented on #571
Looks great @FelkonEx! I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-05-21 07:27] MahdyMirzade commented on #576
thank you for your answer, great just transfered it to organization:
https://github.com/dracula/qbittorrent

[2021-05-28 16:00] pankace commented on #292
nice, thanks

[2021-05-30 23:10] zenorocha commented on #573
Hey @caarlos0, that's awesome man.

All of our themes follow the same template: https://github.com/dracula/template

Can you please update the repo before we start the transfer?

[2021-05-30 23:22] caarlos0 commented on #573
Sure @zenorocha, done: https://github.com/caarlos0/dracula-fzf

Also tried to send the transfer request, but it seems I need some sort of permission on the dracula org...

[2021-05-30 23:33] zenorocha commented on #568
It's finally live, thanks @karl37! 🎉 🎉 🎉

https://draculatheme.com/mako

[2021-05-30 23:33] #568 closed

[2021-05-30 23:35] zenorocha commented on #571
It's live on the site now: https://draculatheme.com/imageglass

Thanks @FelkonEx! The theme looks great!

[2021-05-30 23:35] #571 closed

[2021-05-30 23:35] zenorocha commented on #574
There you go: https://draculatheme.com/streamlit

Thanks @twrogers1!!!

[2021-05-30 23:35] #574 closed

[2021-05-30 23:36] zenorocha commented on #576
Here you go! Thanks @MahdyMirzade :D

https://draculatheme.com/qbittorrent

[2021-05-30 23:36] #576 closed

[2021-05-30 23:38] zenorocha commented on #573
Awesome! You should be able to transfer now @caarlos0

[2021-05-30 23:39] caarlos0 commented on #573
done!

https://github.com/dracula/fzf

Thanks @zenorocha 🖤

[2021-05-30 23:41] MahdyMirzade commented on #576
Thank you :D

[2021-06-02 03:04] zenorocha commented on #471
It's live now thanks to @mahdymirzade!

https://draculatheme.com/qbittorrent
https://github.com/dracula/qbittorrent

[2021-06-02 03:04] #471 closed

[2021-06-02 03:22] zenorocha commented on #573
I had to rename `main` to `master` in order to follow the organization standard and for the website to be able to fetch it correctly, okay?

It's live now, thanks @caarlos0 for building this theme!

 https://draculatheme.com/fzf 🎉

[2021-06-02 03:22] #573 closed

[2021-06-02 03:22] zenorocha commented on #561
It's finally live, sorry for taking so long @rphlfc, this SwiftUI theme is 🔥 🔥 🔥

https://draculatheme.com/swiftui

[2021-06-02 03:22] #561 closed

[2021-06-02 03:23] zenorocha commented on #559
Wooooow! 10 themes, that's unbelievable @tim-clifford!

Congrats man and sorry for taking so long to reply.

https://draculatheme.com/solidworks

[2021-06-02 03:23] #559 closed

[2021-06-02 03:32] caarlos0 commented on #573
no problem at all, thanks @zenorocha ! 🚀

[2021-06-02 15:59] tim-clifford commented on #559
No problem at all @zenorocha! We all get busy sometimes :)

[2021-06-03 05:32] theonlydarkuser opened #579 "Dracula Theme for musikcube"
## Dracula Theme for [musikcube](https://musikcube.com/)
[Here is the repository](https://github.com/theonlydarkuser/musikcube)

[2021-06-03 13:45] SylveonBottle opened #580 "Dracula theme for Ripcord"
Ripcord: https://cancel.fm/ripcord/
Theme: https://github.com/SylveonBottle/dracula-ripcord

Instructions:
Copy code in samples/custom.json to clipboard
View > Preferences > Style > Customize > Paste from JSON

I don't know of a way to automate this using command line, however ripcord has a very simple color/theme editor built-in. This was just something I threw together in about 2 minutes.

[2021-06-03 19:11] cr45hmurphy opened #581 "Dracula for Beyond Compare 4"
I have created a Dracula theme for the Beyond Compare 4 application.

Github repo: https://github.com/cr45hmurphy/bc4_dracula

[2021-06-05 13:17] iamdarkle opened #582 "Dracula for Flarum"
Hi, I'm developing a theme for Flarum, I hope to finish it in the next few days and I'll fill in the issue properly with all the data.

But first I don't know if you are familiar with Composer, but Flarum uses a package system called Composer to install its extensions, I was wondering if you could add the package to [packagist.org](https://packagist.org/) when it's ready and add me as maintainer,

[2021-06-05 16:22] IamDarkle commented on #582
In case you want to create the new repo here is the current one I'm working on.
App: [Flarum](https://flarum.org)
Repo: https://github.com/IamDarkle/flarum

[2021-06-06 12:17] MahdyMirzade opened #583 "New Theme - Nyxt Browser"
### A theme for [Nyxt Browser](https://nyxt.atlas.engineer/) (The first one I believe)

**Repo:** https://github.com/dracula/nyxt

**Screenshot:**
![img](https://github.com/dracula/nyxt/raw/master/screenshot.png)

P.S: I actually transferred this to organization for faster publish, I don't know If I what I did was appropriate or not, I apologize If I shouldn't but notice me if we need to sync requ

[2021-06-07 01:39] pspiagicw commented on #570
See #382

[2021-06-08 19:59] IamDarkle commented on #582
The theme is ready! Here a screenshot:
![screenshot](https://user-images.githubusercontent.com/15818451/121249324-bf9f1e00-c8a4-11eb-94e5-f5d218f2f937.png)

[2021-06-11 23:24] Dpbm commented on #570
sorry, I hadn't seen

[2021-06-11 23:24] #570 closed

[2021-06-12 01:36] afazevedo opened #584 "New Theme - Dracula for TeXstudio"
A syntax style for the LaTeX editor [TeXstudio](https://www.texstudio.org/)! The first one for LaTeX, I think? 🤔

**Repository**: https://github.com/afazevedo/texstudio-dracula-theme

![screenshot](https://user-images.githubusercontent.com/58051437/121761115-5f0e1c00-cb04-11eb-8a2b-8cb16ef46607.png)

[2021-06-18 03:00] dinwun450 opened #585 "Spyder"
![Screenshot 2021-06-17 7 44 50 PM](https://user-images.githubusercontent.com/42019518/122498897-c31d5e00-cfa4-11eb-8e11-09749bc8036f.png)

## Installation Guide
1. Go to Tools -> Preferences
2. Then Appearance -> Create new scheme
3. Specify the scheme of the text editor by pasting the following colors into the correct speculation below:

Text:
Normal text: #f8f8f2
Comment: #6272a4
String: #f1fa8

[2021-06-21 22:01] brannonh opened #586 "New Theme for Node Console"
New theme for use in Node `console.*` calls.

https://github.com/brannonh/dracula-console

<img src="https://github.com/brannonh/dracula-console/raw/master/screenshot.png" />

[2021-06-24 06:39] #330 closed

[2021-06-28 03:45] gek169 opened #589 "does it have a theme for github"
can I use dracula theme for github itself

if so does that make dracula theme self-hosting?

[2021-06-29 06:03] Thokya commented on #589
I have the same question I cannot seem to  find any dracula theme for github

[2021-06-29 19:05] samcottle opened #590 "New theme - LXTerminal"
Hey Dracula team, I created a theme for the LXTerminal (the terminal that comes bundled with Raspberry Pi OS + some other OSes), using the color palette provided on https://draculatheme.com/contribute

Repo https://github.com/samcottle/lx-terminal

Let me know what you need me to do :)

[2021-06-30 11:13] mjbn opened #591 "New Theme - Leftwm"
hey guys, i create a theme for leftwm based on the [Dracula Team Color Palette](https://draculatheme.com/contribute#color-palette)
Repo: https://github.com/mjbn/leftwm-dracula-theme

[2021-07-01 17:52] Darkstarinternet commented on #522
Yes please, I would like this too!

[2021-07-01 19:47] reportaman commented on #522
@zenorocha @Darkstarinternet  @lperero92 Actually I already contributed a theme on sc-im's GitHub: https://github.com/andmarti1424/sc-im/blob/main/themes/dracula.sc

[2021-07-05 16:53] benknoble opened #592 "New theme: Dwarf Fortress"
## New Theme?

Not a code editor, but a fun game :)

https://github.com/benknoble/dracula-dwarffortress

I've assumed the transfer would end up with the name `dracula/dwarffortress` and made all the links appropriate to that.

[2021-07-06 17:30] fabian-pandas opened #593 "New Theme - Caprine Messenger"
A dracula color theme for the Caprine messenger.

https://github.com/fabian-pandas/Dracula-for-Caprine

[2021-07-08 12:54] ykhurshid commented on #499
Sorry but this is not working for me at all. I copied the `dracula.soc` file to the correct directory but I do not see it listed in the application colors menu.

[2021-07-10 22:24] zenorocha commented on #579
That's awesome @theonlydarkuser! I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-07-10 22:27] zenorocha commented on #580
I just sent you an invite to join the organization @SylveonBottle.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-07-10 22:29] zenorocha commented on #581
Great! I just sent you an invite to join the organization @cr45hmurphy.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-07-10 22:33] cr45hmurphy commented on #581
Done!

[2021-07-10 22:35] zenorocha commented on #582
Hey @iamdarkle, we can definitely publish it to composer.

I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-07-10 22:36] SylveonBottle commented on #580
Joined and transferred.

[2021-07-10 22:39] zenorocha commented on #584
This is super awesome @afazevedo! 🇧🇷

I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-07-10 22:48] zenorocha commented on #590
This is super sweet @samcottle!

I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-07-10 22:50] zenorocha commented on #592
I love it @benknoble! 👾

I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-07-10 22:54] zenorocha commented on #593
Great @fabian-pandas! I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

P.S.: Can you please update the `INSTALL.md` file with the instructions to install?

[2021-07-10 22:58] zenorocha commented on #567
This is great! As a user of zsh-syntax-highlighting myself, I really appreciate the work you've done here ;D

Can you transfer the repo now?

Cheers!

[2021-07-10 23:10] iamdarkle commented on #582
Thank you, it's done! 😄

[2021-07-11 00:17] benknoble commented on #592
@zenorocha done. I didn't see the team until just now, so the repo needs added to the dracula/dwarf-fortress team; it also needs to be renamed, methinks

[2021-07-11 11:14] samcottle commented on #590
[Done](https://github.com/dracula/lx-terminal) - thanks @zenorocha!

Shall I close this issue now?

[2021-07-11 13:38] bigpick commented on #567
🚀

[Done](https://github.com/dracula/zsh-syntax-highlighting)! Thanks Zeno.

[2021-07-11 21:03] afazevedo commented on #584
Thank you! I just transferred it to the organization. 🎉

Let me know if I need to do anything else. Looking forward to seeing it on the website 🤩

[2021-07-11 22:16] zenorocha commented on #580
@SylveonBottle can you update the `INSTALL.md` file? That's what the site uses to build the page.

On top of that, can you rename `screenshot-ripcord.png` to `screenshot.png`? The site needs that specific filename too.

[2021-07-11 22:19] zenorocha commented on #581
Looks like the repository still needs to be transferred.

[2021-07-11 22:24] cr45hmurphy commented on #581
Try now.

[2021-07-11 23:09] zenorocha commented on #567
https://draculatheme.com/zsh-syntax-highlighting 🎉 🎉 🎉

[2021-07-11 23:09] #567 closed

[2021-07-11 23:11] zenorocha commented on #582
It's live in the website now: https://draculatheme.com/flarum

Cheers @iamdarkle!

[2021-07-11 23:17] zenorocha commented on #581
https://draculatheme.com/beyond-compare-4 💥 💥 💥

[2021-07-11 23:17] #581 closed

[2021-07-11 23:18] zenorocha commented on #584
https://draculatheme.com/texstudio

Congrats @afazevedo! ⭐⭐⭐⭐⭐

[2021-07-11 23:18] #584 closed

[2021-07-11 23:19] zenorocha commented on #592
https://draculatheme.com/dwarf-fortress

Another great theme @benknoble ;D

[2021-07-11 23:19] #592 closed

[2021-07-11 23:21] zenorocha commented on #590
It's live now! https://draculatheme.com/lxterminal

[2021-07-11 23:21] #590 closed

[2021-07-13 03:53] SylveonBottle commented on #580
Is that good?

[2021-07-14 02:45] zenorocha commented on #580
Looking good now:
https://github.com/dracula/ripcord/commit/1cba228998f9f1887be13cff864e5c9f645ef478

Thanks @SylveonBottle!
https://draculatheme.com/ripcord

[2021-07-14 02:45] #580 closed

[2021-07-15 12:37] bigpick commented on #589
By _Github itself_, you mean like just in general github.com/pages? (and not github pages or something else?)

If so, no. Github does not officially support custom color schemes, so there is no way for Dracula to offer an official scheme for Github. You'd have to use one of the four official Github themes to change the look of the site itself officially.

.... unofficially, you would have to try o

[2021-07-15 12:42] bigpick commented on #589
Going to close this as a dupe of https://github.com/dracula/dracula-theme/issues/392 for now; also, as Ben suggests there, if you find a different plugin that is doing recoloring and they support pygments, you could also just use the Dracula values for that as well.

[2021-07-15 12:42] #589 closed

[2021-07-15 12:50] bigpick commented on #472
Hey @slottwo! Not exactly sure what you're looking for here, so some more information would be appreciated if it means could help you get what you were originally interested in.

If you're using the [GTK Dracula theme](https://github.com/dracula/gtk) and are talking about support for new icons in that theme, probably would be best to move as a a new issue under that specific repo to get support fr

[2021-07-15 20:30] worbgge opened #595 "Cmus theme"
Hello, i edited it a bit but i don't think that it's a finished thing, the theme and a screenshot will be added below.

![2021-07-15_21-28](https://user-images.githubusercontent.com/23532123/125853221-fbcd628d-701a-4258-8051-174d046dd1f7.png)
[https://clbin.com/cG6Z1](url)

[2021-07-15 22:24] bigpick commented on #478
I looked at this, and played around with it for a bit.

The SubEthaEdit [syntax highlighting scope(s)](https://github.com/subethaedit/SubEthaEdit/tree/develop/Documentation/SyntaxScopes) seem(s) pretty limited.

... so you aren't really able to distinguish much between syntax elements, and end up with results that are a bit washed in one color.

## Examples (all vs' against vs code theme)
### Ruby

[2021-07-16 00:09] gek169 commented on #589
thanks

[2021-07-16 01:36] zstix opened #596 "New Theme - Funkwhale"
## A new theme for [Funkwhale](https://funkwhale.audio)
Repository: https://github.com/zstix/funkwhale

![screenshot](https://user-images.githubusercontent.com/1946433/125878418-b649873c-f2fc-4550-a391-0fe9499e11dc.png)

[2021-07-18 00:46] slottwo commented on #472
OK, I will go to the specific repository, i had no idea how it worked at the time I opened the issue, sorry

[2021-07-19 01:59] CapnSammeh opened #598 "New Theme - ueli"
A Dracula Theme for ueli - A keystroke launcher for Windows and macOS
https://github.com/CapnSammeh/dracula-ueli

[2021-07-19 03:20] #393 closed

[2021-07-19 20:13] lpadula opened #599 "Dracula theme for WindTerm"
I have created a Dracula inspired theme for WindTerm: https://github.com/kingToolbox/WindTerm/issues/62

The theme files: https://github.com/kingToolbox/WindTerm/files/6431558/dracula.zip

[2021-07-20 23:33] Darkempire78 opened #600 "New Theme - Spicetify"
## New Theme for Spicetify

A dracula color theme for the Spicetify-cli

https://github.com/Darkempire78/Dracula-Spicetify

[2021-07-21 16:54] sk8rnetwork commented on #499
did you find any solution? it ain't working for me either.

[2021-07-21 21:39] bigpick commented on #575
I wonder if it'd be better that this issue be moved to https://github.com/dracula/alacritty instead?

Not quite sure how they're handling the non-pro vs pro code type things (obviously pro isn't in there), but may be a better starting place being in the alacritty repo for starters

[2021-07-22 11:08] benknoble commented on #575
My opinion is that newman should do something different for colors anyway, but that probably doesn't help you fix this.

[2021-07-25 00:16] tranduchuy opened #601 "Color issue with js, ts"
![image](https://user-images.githubusercontent.com/7942693/126883799-26b979f4-c84e-43d0-ad65-54cfd44b1346.png)
![image](https://user-images.githubusercontent.com/7942693/126883832-7c7cbe65-5d9c-45ac-993e-a2264695e42a.png)

Hi everyone, I have a trouble highlighting with react js, tss files like this. Does any one know how to fix it?
Thank you so much

[2021-07-25 19:00] atticusmatticus commented on #382
When will this be possible in the Apple Safari browser?

[2021-07-26 22:04] #472 closed

[2021-07-26 23:06] j0ker70 opened #602 "Gtk-Warning messages"
`(evince:223665): Gtk-WARNING **: 05:00:55.557: Theme directory actions/24 of theme Dracula has no size field`
`(evince:223665): Gtk-WARNING **: 05:00:55.557: Theme directory actions/32 of theme Dracula has no size field`
`(evince:223665): Gtk-WARNING **: 05:00:55.557: Theme directory actions/16@2x of theme Dracula has no size field`
`(evince:223665): Gtk-WARNING **: 05:00:55.557: Theme directory

[2021-07-27 14:48] Darkempire78 opened #603 "New Theme - Aliucord"
## New Theme for Aliucord

A dracula color theme for the [Aliucord](https://github.com/Aliucord/Aliucord).

The theme: https://github.com/Darkempire78/Aliucord-Dracula-Theme

[2021-07-27 15:35] bigpick commented on #602
Heya! If you close/move this over to https://github.com/dracula/gtk/issues you might be able to get some more relevant/quicker support on it, as that way it will at least be in the specific repo for the GTK theme (which I assume you're using here, correct)?

[2021-07-27 16:12] j0ker70 commented on #602
Yes. I will do that.

[2021-07-27 16:12] #602 closed

[2021-07-29 13:45] gustavosaez opened #604 "New Theme - Side Notes"
https://github.com/gustavosaez/draculatheme-sidenotes/blob/master/README.md

[2021-07-29 14:26] bigpick commented on #600
Partially personal preference, but partially "theme-vibe" inspired - not sure that the chosen colors for all elements align as much as they could with the general/expected Dracula spec. Granted, this isn't a language so it doesn't match the spec exactly (obviously) but still, using the color red for things other than something specifically error related doesn't seem right

It also seems overly bac

[2021-07-29 14:38] bigpick commented on #214
The official [Dracula theme for ConEmu can be found here](https://github.com/dracula/conemu/tree/master); if there is still interest in the Putty versions and the original contributors above don't reply back / aren't interested in contributing their versions, I'll fork and clean them up to the standardized Dracula format and add them as a new theme myself (crediting appropriately).

If there's no

[2021-07-29 14:49] bigpick commented on #287
Original theme had since been deleted + no activity in 2.5 years, feel pretty safe to close this one.

[2021-07-29 14:49] #287 closed

[2021-07-29 14:58] bigpick commented on #275
re-pinging @jackdp  again; no response here or https://github.com/jackdp/Dracula-CudaText/issues/3; if you're no longer interested in including the theme to the org/maintaining the theme, would you mind closing the issue here?
* If this is the case, are you particularly opposed to someone forking your repo/updating/contributing back in to the org themselves?

---

Thanks!

[2021-07-29 16:06] Darkempire78 commented on #600
Regarding the background and the purple color, it is really very readable, it is indeed certainly due to the screenshot

[2021-07-30 12:28] bigpick commented on #604
Hey, this looks nice!

On your repository though, could you move all the install sectioned stuff, i.e

[code]

...  into the separate `INSTALL.md` file to match the standardized layout of all the other Dracula org repos? This way, if/when Zeno takes a look, it'll be all set to transfer? And then change it to just be the standard

[code]

And then just update the repo's description to match, and th

[2021-07-30 13:28] gustavosaez commented on #604
Thank you @bigpick ! That's my first use publishing something and I didn't get it how to proceed. I will try to fix this but I confess it's hard as a first use haha. Anyway, thank you!!!

[2021-07-30 13:34] bigpick commented on #604
No problem - if you want some help, lmk and I can make a PR against yours with the changes.

Cheers

[2021-07-30 13:48] gustavosaez commented on #604
I need to learn! But If I take so long to do the changes, I scream for help here, for sure.

[2021-07-30 14:07] bigpick commented on #599
Heya! If you're looking to get your theme added as a additional Dracula org sub-theme, you'll want to [create a new repo based off the Dracula theme template](https://github.com/dracula/template) and then use that as your link here to have something to request for transfer into the org.

The standardized theme repo helps keeps things consistent across the (many) ports of Dracula themes. It also he

[2021-07-30 14:26] bigpick commented on #598
This looks nice! Though, after downloading ueli and importing the themes, it doesn't seem to have any effect on changing the window for me? e.g

## Default
![image](https://user-images.githubusercontent.com/9803299/127667446-7e353ecd-6ee8-4213-afd1-89bf7544da46.png)

## Red
![image](https://user-images.githubusercontent.com/9803299/127667612-f0b61285-f79f-4d1d-8f0c-f5bba19a4713.png)

[2021-07-30 14:54] bigpick commented on #596
This looks really clean. Only (nitpick) thing I could find was do you think you could update the

[code]

bit in the main README to point at the eventual dracula repo URL instead of the template one? (https://github.com/dracula/funkwhale/graphs/contributors).

[2021-07-30 15:11] bigpick commented on #595
Heya! If you're looking to get your theme added as a additional Dracula org sub-theme, you'll want to [create a new repo based off the Dracula theme template](https://github.com/dracula/template) and then use that as your link here to have something to request for transfer into the org.

The standardized theme repo helps keeps things consistent across the (many) ports of Dracula themes. It also he

[2021-07-30 15:19] bigpick commented on #585
Heya! If you're looking to get your theme added as a additional Dracula org sub-theme, you'll want to [create a new repo based off the Dracula theme template](https://github.com/dracula/template) and then use that as your link here to have something to request for transfer into the org.

The standardized theme repo helps keeps things consistent across the (many) ports of Dracula themes. It also he

[2021-07-30 15:25] #582 closed

[2021-07-30 16:09] bigpick commented on #563
I'm going to install eM client and work on this today

[2021-07-30 19:09] bigpick commented on #563
So far (there is _a lot_ of things to configure!):

![image](https://user-images.githubusercontent.com/9803299/127700633-030cd5c5-c107-417e-8ce3-a89a13d228c5.png)

[2021-07-30 19:54] bigpick opened #605 "New Theme - eM Client"
## New Theme Addition - [eM Client](https://www.emclient.com/)

Source:
* https://github.com/bigpick/em-client

This closes https://github.com/dracula/dracula-theme/issues/563 when incorporated.

When this gets the OK to be transferred over, I'll transfer it over and then email the folks at eM Client to also get the theme added officially to their store (https://www.emclient.com/themes)

[2021-07-30 20:10] bigpick commented on #585
... and if this for the Spyder IDE, Dracula actually already has an official repo for that here:
* https://github.com/dracula/spyder-dracula

If this is the same spyder, I'd suggest opening an issue in that repository, to provide feedback/recommendations/changes on the theming there, if any.

Otherwise, this issue can be closed. Thanks!

[2021-07-31 14:30] bigpick commented on #566
Hey there  👋   Thanks for the work on the port!  The template repo looks mostly good, just had two notes.

One was that the links for the INSTALL/README usually point at the to-be-dracula ones (even though they'd be broken until then). Also, for the main README screenshot, the standard is to include a single `screenshot.png` in the root of the repo, and then just reference that, so maybe it'd be b

[2021-07-31 23:41] CapnSammeh commented on #598
I think that's great feedback @bigpick, thanks for the suggestion! I've made your proposed changes, feel free to check it out! :)

[2021-08-01 00:36] scott91e1 opened #606 "The latest 2021.02 version of PyCharm fails to load the theme"
![iMPORT-ERROR](https://user-images.githubusercontent.com/6354142/127755468-63e2f13a-c848-4ffd-91e1-44ebc90f1d05.png)

Is produced with the latest version of PyCharm:

![PYCHARM-VERSION](https://user-images.githubusercontent.com/6354142/127755478-cfe01e80-a67a-4bba-b588-23c80afef4a4.png)

Is there an easy fix or new download for this?

Thanks and regards,

Scott.

[2021-08-01 11:40] kazi-sifat-plus9a commented on #275
why it still not added....
i cant live without dracula theme

[2021-08-01 19:09] bigpick commented on #606
Hey @scott91e1 ! This was actually discussed on the Dracula Discord server a few days ago - Zeno ended up pushing out a new version (1.3.2) that fixes the compatibility issue; you should be able to re-download the latest from gumroad.com again and it should resolve your issue!

[2021-08-01 19:47] bigpick commented on #586
Hey 👋   This looks nice. I think the choice of chalk is the best one if going the dependency route and not just escape codes, so looks good to me contents wise.

Only thing I could _maybe_ think to add/change is to either:
1. Add one example of the `dracula.set('useBG'...)` in the sample code in the INSTALL page
2. ... Or just update the whole code block there to recreate the entire 3 block(s) tha

[2021-08-02 15:39] bigpick commented on #600
I didn't get time to get spicetify downloaded and tested locally this past weekend, so I will have to find some time to do that this week and look for myself.

But, what I meant in terms of it being too purple dominant is that I was thinking it should look something more like the player demonstrated in the Funkwhale theme:  https://github.com/dracula/dracula-theme/issues/596

[2021-08-02 22:01] zstix commented on #596
@bigpick sorry for the slow response (my Github notifications are a nightmare).

I've made the requested update!

[2021-08-05 18:55] #606 closed

[2021-08-06 21:18] brannonh commented on #586
@bigpick Thanks for the response! I'm behind on my notifications. 😊 Will update with your suggestions as soon as I have a few minutes.

[2021-08-07 06:52] samyak039 commented on #382
thanks @g0rdonL :)

[2021-08-07 06:53] #382 closed

[2021-08-09 17:17] pjalsGit opened #607 "even darker theme?"
I think the background is a little bit too light for me, it would be nice to have a "distribution" of it which has the background a little darker. Kind of like dracula-at-night but not only for VS Code.

[2021-08-11 18:21] theonlydarkuser commented on #579
umm... i know this is pretty stupid but can you tell me how to join a the organisation? (i couldn't find the option anywhere)

btw sorry for the late response, i wasn't opening github these days

[2021-08-11 18:25] theonlydarkuser commented on #579
oh found it on my email but it's expired now 😅 can you pls send it again? sorry for the trouble.

[2021-08-11 22:47] Umer19 opened #608 "https://github.com/public-apis/public-apis/blob/master/README.md"

[2021-08-12 14:51] mzramna opened #609 "any thoughts into create an kde oficial theme?"
## New Theme?

since has some unnoficial themes to kde like [ant-dracula kde](https://store.kde.org/p/1370871) has any thoughts to create an official version?

just to padronize the system,with this much of the system already gets all the colors and feel of dracula

[2021-08-12 18:36] bigpick commented on #608
Closing as spam

[2021-08-12 18:36] #608 closed

[2021-08-12 18:40] bigpick commented on #607
Hey! This looks like it'd be better suited as a topic for a discussion over at https://github.com/dracula/dracula-theme/discussions instead of an issue here; That way we can keep the issues list to mostly just new theme transfer requests/actual issues?

Thanks!

[2021-08-13 09:44] pjalsGit commented on #607
ok!

[2021-08-13 09:44] #607 closed

[2021-08-13 14:38] bigpick opened #611 "New Theme - ImageGoNord"
## New Theme - [ImageGoNord](https://github.com/Schrodinger-Hat/ImageGoNord) (ImageGoDracula? ImageGoNord-Dracula?)

Source:
* https://github.com/bigpick/ImageGoNord-dracula

### Downscaled example batch

Original image top row, altered image bottom row; commands in INSTALL section for reference with more additional samples:

![demo](https://github.com/bigpick/ImageGoNord-dracula/raw/main/screensh

[2021-08-16 20:16] FosterHangdaan opened #613 "New Theme - BTCPay"
Created a dracula theme for BTCPay server. The BTCPay store checkout theme will be added in the future.

https://github.com/FosterHangdaan/btcpay-server

[2021-08-22 18:11] zenorocha commented on #609
We actually see that one as the official version:
* https://draculatheme.com/gtk
* https://github.com/dracula/gtk

[2021-08-22 18:11] #609 closed

[2021-08-22 18:14] zenorocha commented on #604
Great job @gustavosaez! I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-08-22 18:16] zenorocha commented on #603
Hey @Darkempire78, thanks for building this theme, it looks great!

I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-08-22 18:25] zenorocha commented on #596
Thanks for building this theme @zstix!

I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-08-22 18:29] zenorocha commented on #563
This is awesome ;D

Closing in favor of #605

[2021-08-22 18:29] #563 closed

[2021-08-22 18:31] zenorocha commented on #605
That's super cool @bigpick, I particularly love that Calendar view <3

Let's get it transferred!

[2021-08-22 18:33] zenorocha commented on #579
@theonlydarkuser I resent you the invitation, can you try now?

[2021-08-22 18:36] zenorocha commented on #593
@fabian-pandas friendly ping ;)

You should have received another invitation to join the Dracula org now. Can you transfer the repo?

[2021-08-22 18:37] zenorocha commented on #518
@SergioBonatto I noticed that you accepted the invitation. Can you transfer the repo now?

[2021-08-22 18:41] zenorocha commented on #613
Awesome @FosterHangdaan! I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-08-22 18:42] zenorocha commented on #598
This looks amazing, good job @CapnSammeh!

I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-08-22 18:47] zenorocha commented on #586
I love this theme, I can't wait to start using it myself ;D

@brannonh I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

And thanks @bigpick for helping with this!

[2021-08-22 19:13] FosterHangdaan commented on #613
Thanks @zenorocha. I have joined the org and transferred the repo.

[2021-08-22 19:27] #214 closed

[2021-08-22 19:28] zenorocha commented on #583
Re-opening as a reminder for myself to add this to the website.

[2021-08-22 22:26] CapnSammeh commented on #598
All done @zenorocha; thanks for having me, and for starting this wonderful movement!

[2021-08-23 00:15] gustavosaez commented on #604
@zenorocha I just did it. Thanks!

[2021-08-23 05:19] zstix commented on #596
@zenorocha Just submitted the transfer, let me know if you need anything else!

[2021-08-23 11:19] sionta opened #615 "New Theme - MiXplorer"
Created a dracula theme for MiXplorer android.

https://github.com/kybo15/dracula-mixplorer

@zenorocha

[2021-08-24 00:07] brannonh commented on #586
@zenorocha Thanks! I'm glad you like it. I accepted your invite. Looking forward to seeing it on the site! 😃

[2021-08-24 09:51] fabian-pandas commented on #593
done :)

[2021-08-24 14:34] bigpick commented on #605
[Done](https://github.com/dracula/em-client) ✅

[2021-08-24 17:52] zenorocha commented on #615
That's really cool @kybo15!

I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-08-28 14:17] kacperleague9 opened #616 "New Theme - Krita"
I realized that Krita doesn't have it's own dracula theme, so I made my own.
[here's the link :)](https://github.com/dracula/krita)

[2021-08-28 16:57] zenorocha commented on #615
Try navigating to https://github.com/dracula, you should see a top banner with a message about the invitation.

[2021-08-28 18:53] zenorocha commented on #616
https://draculatheme.com/krita 💥 💥 💥

Thanks @kacperleague9 ;DDD

[2021-08-28 18:53] #616 closed

[2021-08-28 18:53] zenorocha commented on #613
It's live now! https://draculatheme.com/btcpay-server

Thanks @FosterHangdaan ;D

[2021-08-28 18:53] #613 closed

[2021-08-28 18:55] zenorocha commented on #605
https://draculatheme.com/em-client

Thanks @bigpick!! It looks pretty good ;D

[2021-08-28 18:55] #605 closed

[2021-08-28 18:55] zenorocha commented on #604
Thanks for adding this theme @gustavosaez! 🎉

https://draculatheme.com/sidenotes

[2021-08-28 18:55] #604 closed

[2021-08-28 18:56] zenorocha commented on #598
Thank you @CapnSammeh, it's really awesome to see the Ueli theme there :D

https://draculatheme.com/ueli 🎉 🎉 🎉

[2021-08-28 18:56] #598 closed

[2021-08-28 18:56] zenorocha commented on #596
There you go! https://draculatheme.com/funkwhale

Thanks @zstix :D

[2021-08-28 18:56] #596 closed

[2021-08-28 18:57] zenorocha commented on #593
Here it is: https://draculatheme.com/caprine-messenger

Thanks @fabian-pandas!

[2021-08-28 18:57] #593 closed

[2021-08-28 19:13] zenorocha commented on #586
It's live on the site now: https://draculatheme.com/node-console

Thanks for building this @brandon-irs ;)

[2021-08-28 19:13] #586 closed

[2021-08-28 19:14] zenorocha commented on #586
@brandon-irs can you please add me as an owner on npm too? `npm owner add zenorocha`

[2021-08-29 12:35] kybo15 commented on #615
Done sir.

[2021-08-30 14:20] tim-clifford commented on #499
see [this issue](https://github.com/dracula/libreoffice/issues/3)

[2021-08-31 06:41] brannonh commented on #586
@zenorocha Done!

[2021-08-31 16:02] psaraf opened #617 "Pro version for Eclipse"
## New Theme
Yes(Van Helsing)
We would love to support all code editors out there, but we need your help to accomplish that. Feel free to create a new theme based on our [color palette](https://github.com/dracula/dracula-theme#color-palette).

## Existing Theme?
Yes

Can we have pro version eclipse.

[2021-09-02 07:36] jroeder-astro opened #618 "Version number and "took X s" on every line"
Hi all. I just installed the theme on the gnome shell on Ubuntu. on every single line, behind the path, in bright yellow, it tells me "via v3.8.5 took 5s" or something similar. Is there any way to remove this message? It never shows up in tutorials I watch. Likewise, some tutorials still get the command prompt as it was in standard Ubuntu. I wonder how that's possible.
In short.... I would just li

[2021-09-02 07:38] #618 closed

[2021-09-04 03:39] mgoggin opened #619 "New Theme - Pantheon Terminal"
I created a theme for Pantheon Terminal, the default terminal application in elementary OS.

https://github.com/mgoggin/pantheon-terminal-dracula

![Dracula for Pantheon Terminal](https://raw.githubusercontent.com/mgoggin/pantheon-terminal-dracula/master/screenshot.png)

[2021-09-07 14:34] Huoi opened #620 "New theme request: Code::Blocks and KDE Themes"
GTK theme works well with GNOME, but an official KDE global theme would be awesome.
I'm also surprised Dracula doesn't have official support for Code::Blocks theme.

[2021-09-08 08:59] zigazajc007 opened #621 "New theme - Passky"
https://github.com/Rabbit-Company/passky

[2021-09-09 20:45] gnsfujiwara opened #622 "New theme - tym"
https://github.com/gnsfujiwara/Tym-Dracula-theme

[2021-09-11 13:36] marcransome opened #625 "New theme - Amfora"
# New theme - [Amfora](https://github.com/makeworld-the-better-one/amfora)

I've created a new theme for [Amfora](https://github.com/makeworld-the-better-one/amfora), a command-line client for the [Gemini](https://gemini.circumlunar.space/) protocol. The source repository is here: https://github.com/makeworld-the-better-one/amfora.

## Screenshots

<img width="1354" alt="Screenshot 2021-09-11 at 1

[2021-09-11 19:00] zenorocha commented on #625
This looks super awesome! The screenshots are superb too ✨

@marcransome I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-09-11 19:02] zenorocha commented on #622
That's really cool!

@gnsfujiwara I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-09-11 19:14] zenorocha commented on #621
Cool stuff @zigazajc007! I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-09-11 19:17] zenorocha commented on #619
Great @mgoggin! I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-09-11 19:22] zenorocha commented on #620
Hey @huoi, do you want to give it a try and create those themes?

Here are the instructions on how to create a theme: https://draculatheme.com/contribute

[2021-09-11 19:51] marcransome commented on #625
🚀 @zenorocha I've transferred the repository. Let me know once it has been added to the site!

[2021-09-11 20:00] zigazajc007 commented on #621
and thank you for creating such an amazing theme.

[2021-09-12 00:34] mgoggin commented on #619
Thanks @zenorocha! Transfer should be underway.

[2021-09-12 04:03] Nxrth-x opened #626 "New Theme - Dev C++"
## Dracula for [Dev C++](https://www.bloodshed.net/)

I've been using [Dev ++](https://www.bloodshed.net/) for a while now and I've really enjoyed using this theme on it. 🧛‍♀️

### dracula-dev-cpp

[https://github.com/Nxrth-x/dracula-dev-cpp](https://github.com/Nxrth-x/dracula-dev-cpp)

### Screenshot

![Theme screenshot](https://raw.githubusercontent.com/Nxrth-x/dracula-dev-cpp/master/screenshot.

[2021-09-13 14:43] zenorocha commented on #619
It's live now! https://draculatheme.com/pantheon-terminal

Thanks @mgoggin ;)

[2021-09-13 14:43] #619 closed

[2021-09-13 14:45] zenorocha commented on #621
https://draculatheme.com/passky 💥

Congrats on Passky, it looks great!

[2021-09-13 14:45] #621 closed

[2021-09-13 14:46] zenorocha commented on #625
There you go! https://draculatheme.com/amfora

Thanks @marcransome for building this <3

[2021-09-16 20:34] mly32 opened #627 "New Theme - gamepad viewer"
## New Theme

[https://github.com/dracula/gamepad-viewer](https://github.com/dracula/gamepad-viewer)

Created dracula-based themes for ds4 and xbox one controllers for the popular tool [Gamepad Viewer](https://gamepadviewer.com/).

You can use any controller (connected to your computer) to test these themes out,

[2021-09-19 00:53] zenorocha commented on #626
That's super cool @Nxrth-x!

I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-09-19 01:29] zenorocha commented on #603
Friendly ping @Darkempire78

[2021-09-19 03:12] zenorocha commented on #615
It's live now: https://draculatheme.com/mixplorer

Thanks @kybo15 ;D

[2021-09-19 03:13] zenorocha commented on #627
This is super awesome @mly32! Thanks for building this.

It's live in the site now: https://draculatheme.com/gamepad-viewer

[2021-09-19 03:13] #627 closed

[2021-09-19 03:13] zenorocha commented on #626
https://draculatheme.com/dev-cpp 🎉 🎉 🎉

[2021-09-19 03:13] #626 closed

[2021-09-19 03:15] zenorocha commented on #622
https://draculatheme.com/tym 🧛‍♂️

[2021-09-19 03:15] #622 closed

[2021-09-19 08:48] Darkempire78 commented on #603
@zenorocha the repo is alrrady transfered https://github.com/dracula/aliucord

[2021-09-19 17:20] Renan-Olovics opened #628 "New features"
recently I've been watching youtube, and I noticed there's so many different themes for zsh, many people using different colors also, different structures for the zsh, one specific theme called my attention, he has some features like break line, full path, small path, hours, stuff like that, so i started to look at the files on dracula to find something i can edit to personalize as my way, but i d

[2021-09-22 16:57] thalesnunes opened #629 "New Theme - ranger"
Dracula theme for ranger!

Following the issue #287, I tried recreating the ranger-dracula colorscheme based on [Rougarou](https://github.com/RougarouTheme/ranger).

I hope everything is done correctly! :)

![screenshot](https://user-images.githubusercontent.com/64811055/134387667-d6d850fe-5c3d-4f30-8b00-8c8428a409a1.png)

[2021-09-22 19:12] benknoble commented on #628
I'm not sure this really belongs here: maybe instead on dracula/zsh?

[2021-10-04 10:24] eduardo-raniero opened #631 "Windows Terminal [6.1.7601] - how to install dracula-theme on this version?"
Hello there!
Recently i decided to install dracula-theme into my windows terminal, once i'm a big fan of the vscode version. But it seems that [tutorial](https://draculatheme.com/windows-terminal) it is made for a modern OS, and i'm have no clue how to install it.

the version of my Windows, according to the cmd it is 6.1.7601:
![image](https://user-images.githubusercontent.com/73201589/135835010-

[2021-10-04 22:08] helpotters opened #632 "New wallpapers submission. Awaiting feedback, specifically on organzation and crediting"
Feedback on dracula wallpapers! General designs, no references.

[Dracula Wallpapers Here](https://github.com/helpotters/dracula-wallpapers)

[2021-10-09 19:11] Aryan20 opened #633 "New GTK theme - DraculaSur"
## New Theme for GTK

I modified the Whitesur-gtk-theme with Dracula colors to make - https://github.com/Aryan20/DraculaSur-gtk-theme

It also has gtk 4 support, I know I probably didn't do lots of customizations but I still think it is worth trying anyway :)

[2021-10-10 15:27] Wild54 opened #634 "Dracula for Revolt!"
## Dracula for Revolt.

I added Dracula theme to the Revolt Chat app. The author of Revolt has merged my pull-request which adds the Dracula theme to the official Revolt Theme Shop.

Now I want to add Dracula for Revolt!

https://github.com/Wild54/revolt

[2021-10-11 02:40] j0ost opened #635 "Does not work on Telegram 8.1.4 MacOS"
The Dracula theme does not work on Telegram 8.1.4. on MacOS. The theme file can't be uploaded. The open function is greyed out

<img width="817" alt="image" src="https://user-images.githubusercontent.com/91443226/136725714-05b885cc-f419-4cb8-ba89-cc54416158df.png">

[2021-10-11 11:54] AlenDemiro-017 opened #636 "Dracula Theme changed letters to white collor"
I have installed successfully Dracula theme on my Windows terminal, and after installing ruby via rbenv, colours changed to white? I don't know what is affecting this change, here is mu settings.json file.  Also when i change this file, it looks like previous settings is reverted by default. Can you please advise on how to keep the original colouring ? Thanks you.

`{
    "$schema": "https://aka.m

[2021-10-12 21:56] pyxelr opened #637 "New theme - CMD.exe (Command Prompt) - from themer.dev"
Can we consider reusing the **CMD.exe** (Command Prompt) theme that can be generated through [themer.dev](https://themer.dev/)?

## Installation instructions

1. Go to [themer.dev](https://themer.dev/).
2. Click "[Dracula](https://themer.dev/?colors.dark.shade0=%23282a36&colors.dark.shade7=%23f8f8f2&colors.dark.accent0=%23ff5555&colors.dark.accent1=%23ffb86c&colors.dark.accent2=%23f1fa8c&colors.da

[2021-10-13 12:22] kjharcombe opened #638 "New Theme - TeXShop"
I've created a dracula colour theme for TexShop.
The repository for the project is [here](https://github.com/kjharcombe/texshop)

<img width="945" alt="screenshot" src="https://user-images.githubusercontent.com/76237554/137131223-3d915a8c-ccfa-40b8-8101-a600ffbff2aa.png">

[2021-10-14 03:38] zenorocha commented on #634
It's live now! Thanks @Wild54 ;D

https://draculatheme.com/revolt

[2021-10-14 03:38] #634 closed

[2021-10-24 00:16] zenorocha commented on #629
Great job @thalesnunes! I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-10-24 00:22] zenorocha commented on #583
https://draculatheme.com/nyxt ;)

[2021-10-24 00:22] #583 closed

[2021-10-24 00:28] zenorocha commented on #599
@lpadula can you create that [template repository](https://github.com/dracula/template) so we can add this to the official site?

[2021-10-25 06:02] jopejoe1 opened #640 "Wine Theme Request"
## Wine

Wine support themes in the .msstyles and .theme file formats.

[2021-10-26 08:22] scientiac opened #641 "New Theme - Nova Launcher (Android)"
I've created a Dracula theme for Nova Launcher (Android).
The repository for the project is [here](https://github.com/scientiac/dracula_nova_launcher).

Hope you like it!
![Screenshot_1](https://user-images.githubusercontent.com/58177655/138840633-cc017296-6a35-45aa-b748-cdace49b4b8c.png)
![Screenshot_2](https://user-images.githubusercontent.com/58177655/138840659-b15b26b7-5671-4032-9881-dc5773157

[2021-10-26 18:16] #638 closed, assigned to nobody

[2021-10-27 01:46] kjharcombe opened #642 "New Theme - Textastic"
I made some subtle changes to your Textmate scheme to allow it to work with Textastic, a text editor for the Apple ecosystem.

![Textastic](https://github.com/kjharcombe/textastic/blob/master/screenshot.png)

https://github.com/kjharcombe/textastic/tree/master

[2021-10-27 15:41] syrofoam opened #643 "Foot Terminal dracula dark theme"
## A theme for foot: A fast, lightweight and minimalistic Wayland terminal emulator

## Theme did not exist that is why I made it.

https://github.com/syrofoam/dracula-foot/tree/master

[2021-10-29 18:03] mralusw opened #644 "repo naming"
I suppose this is impossible to fix now, but the repo naming scheme is severely misguided. For example if I clone `dracula/kakoune`, I will get a plugin sub-folder (inside the `plugins` folder, whatever plugin manager I use) named... `kakoune`. Just like the editor's own source code `git` folder, you know.

Luckily, no other projects had the bright idea to name their repos *exactly* like the edito

[2021-10-29 21:06] benknoble commented on #644
You can always specify the name of the directory to clone into.

[2021-10-30 09:36] mralusw commented on #644
Manually. Most plugin managers don't have renaming capabilities.

[2021-10-30 09:36] #644 closed

[2021-10-30 12:06] benknoble commented on #644
I don't specifically know atom or kakoune, but most of the vim ecosystem allows this. And if you are cloning the plugin, I assumed that was with (manually or automatically) `git clone`, which has a destination parameter.

[2021-10-31 09:13] mralusw commented on #644
I agree that plugin managers should certainly be able to rename the clone.

My example was meant to illustrate something a bit different &mdash; the case where `dracula` has a `kakoune` repo, and `desert` also has a `kakoune` repo etc &mdash; i.e. several theme providers follow the same naming scheme.

Anyway, thank you for your input.

[2021-11-01 08:59] scientiac commented on #641
I wrote a step by step guide to modify the colors of the user just wants to change the color scheme.

I added a default layout .backup file as well as a beautified layout .backup file if the user wants that .

[2021-11-03 09:22] xiangpeng2008 opened #645 "support for vim on kitty terminal"
kitty is a super cool terminal emulator
https://sw.kovidgoyal.net/kitty/graphics-protocol/

But it behaves a bit strangely on vim opened on kitty. As we could see when I paste block, the background colour is not well updated: some of the new lines are "deep dark".

![kitty](https://user-images.githubusercontent.com/15676035/140035198-dd193385-afee-4971-996d-869a2137a124.gif)

Any idea to solve thi

[2021-11-03 09:48] xiangpeng2008 commented on #645
solved by adding `let &t_ut=''` to vimrc file.
https://sw.kovidgoyal.net/kitty/faq/#using-a-color-theme-with-a-background-color-does-not-work-well-in-vim

[2021-11-03 09:48] #645 closed

[2021-11-03 12:13] umitseyhan75 opened #646 "Sublime Text Missing Value Coloring"
## New Theme?

We would love to support all code editors out there, but we need your help to accomplish that. Feel free to create a new theme based on our [color palette](https://github.com/dracula/dracula-theme#color-palette).

## Existing Theme?

Find the appropriate repository on the [Dracula organization](https://github.com/dracula). This is just the umbrella place where we store all themes.

[2021-11-04 11:24] crydotsnake opened #647 "New Theme - Sequel Ace"
## New Theme for Sequel Ace

Hello!

I added a new theme for Sequel Ace:

https://github.com/crydotsnake/sequel-ace

[2021-11-04 11:46] crydotsnake commented on #647
Since Sequel Pro is not in development anymore, i thought it would be great to have the same for Sequel Ace! :)

[2021-11-05 11:38] crydotsnake commented on #647
Theme file is now added in the repository, totally forgot to include it.

[2021-11-07 03:52] zenorocha commented on #647
That's awesome @crydotsnake!

I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-11-07 04:03] zenorocha commented on #637
Great suggestion! Just added that to the website ;)

[2021-11-07 04:08] zenorocha commented on #641
Great job @scientiac! I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-11-07 04:13] zenorocha commented on #642
That's super cool @kjharcombe!

Feel free to transfer to the org now ;)

[2021-11-07 04:18] scientiac commented on #641
Thanks!@zenorocha I will be adding it in a few days.

[2021-11-07 04:32] zenorocha commented on #643
Great @syrofoam! I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-11-07 09:13] crydotsnake commented on #647
Thanks you a lot ! 😍🙏🏼

[2021-11-07 09:25] crydotsnake commented on #647
Its transfered ! 🎉
https://github.com/dracula/sequel-ace

[2021-11-08 23:12] syrofoam commented on #643
Hi, I went ahead and created it under the 'application' name and finished setting it up.

Let me know if anything is missing or something.

No problem, I hope everything is smooth looking for those who want to try it out!

[2021-11-09 12:50] scientiac commented on #641
It is transferred!

[2021-11-09 16:00] quetzal-ux opened #648 "Dracula for musikcube"
[here's the repo](https://github.com/quetzal-ux/Dracula-musikcube)

[2021-11-09 20:46] gnsfujiwara opened #649 "New Theme - Revolution IRC"
Hello.

I added a new theme for Revolution IRC.

Here is the theme:

https://github.com/gnsfujiwara/revolution-irc

[2021-11-14 16:07] jseashell opened #650 "Dracula for Powerlevel10k"
Brings Dracula to the popular Oh My Zsh theme Powerlevel10k!

![Preview](https://raw.githubusercontent.com/jseashell/dracula-powerlevel10k/main/screenshot.png)

Repo: [Dracula for Powerlevel10k](https://github.com/jseashell/dracula-powerlevel10k)

Install steps:

1. Install [Dracula for iTerm](https://draculatheme.com/iterm)
2. Install [oh-my-zsh](https://github.com/ohmyzsh/ohmyzsh)
3. Install [po

[2021-11-16 12:54] seriouz opened #651 "Jetbrains Theme does not work at all"
I've installed the latest version of Rider and applied the latest version auf the Dracula theme. Nothing changes.
Is the theme broken? (The Material theme works flawlessly.)

[2021-11-16 16:46] wmutschl commented on #371
Any progress on this?

[2021-11-16 16:57] kjharcombe commented on #371
I'm still working on this unfortunately

[2021-11-18 02:23] aftaylor2 commented on #335
I'm using a Dracula terminal theme. Then I applied these changes to the tig config to help resolve contrast issues. By glancing at the docs it looks like the primary colors are limited. So a fully compliant Dracula theme may not be possible. You could try applying a theme on the terminal and then using this config:
[code]

[2021-11-18 15:26] lpadula commented on #599
Hi, sorry for the late response. I need to fork this: https://github.com/dracula/template and put my files inside?

[2021-11-24 05:33] zenorocha commented on #650
Great stuff @jseashell!

Here are some changes that I'd like to suggest:
1. When using purple as a background, it's better to consider black as the text color. This should improve the contrast ratio.
2. The install steps should be added to the INSTALL.md file. This is required for the website to be automatically generated. See the https://github.com/dracula/template for a reference.

I just sent y

[2021-11-24 05:36] zenorocha commented on #649
Hey @gnsfujiwara, this looks cool! Feel free to transfer the repo now ;)

[2021-11-24 05:38] zenorocha commented on #648
Hey @quetzal-ux, looks like the repository is not following the https://github.com/dracula/template.

Can you adjust to that? Those files are required to autogenerate the website.

[2021-11-24 14:48] uttsav1025 opened #652 "New Theme - YouTube using Enhancer for Youtube"
Hello!

I added a new theme for YouTube using an extension called Enhancer for YouTube.

Here's the link to the theme:

https://github.com/uttsav1025/enhancer-for-youtube

[2021-11-24 17:17] jseashell commented on #650
Thanks for that feedback @zenorocha! I've merged those suggestions and will get to transferring the repo here shortly

[2021-11-24 17:27] jseashell commented on #650
Transfer complete https://github.com/dracula/powerlevel10k

[2021-11-24 21:15] zenorocha commented on #650
Looks amazing now, great screenshot!

By the way, I made some changes to the instructions since powerlevel10k can be installed not only with Oh My ZSH.

[2021-11-24 21:17] zenorocha commented on #599
That's correct @lpadula, you can use this button to facilitate the process:
![CleanShot 2021-11-24 at 13 16 38@2x](https://user-images.githubusercontent.com/398893/143313920-26af3507-6ffd-499b-8eb7-7d6202bd23da.png)

[2021-11-24 22:37] zenorocha commented on #650
https://draculatheme.com/powerlevel10k 🔥🔥🔥

[2021-11-24 22:37] #650 closed

[2021-11-24 22:37] zenorocha commented on #649
https://draculatheme.com/revolution-irc 🔥🔥🔥

[2021-11-24 22:37] #649 closed

[2021-11-24 22:38] zenorocha commented on #647
https://draculatheme.com/sequel-ace 💥💥💥

thanks for building this @crydotsnake ;)

[2021-11-24 22:38] #647 closed

[2021-11-24 22:38] zenorocha commented on #642
https://draculatheme.com/textastic

Awesome stuff @kjharcombe ;D

[2021-11-24 22:38] #642 closed

[2021-11-24 22:39] zenorocha commented on #641
https://draculatheme.com/nova-launcher

It's live now! :D

Great job @scientiac!

[2021-11-24 22:39] #641 closed

[2021-11-24 22:44] lpadula commented on #599
Perfect: https://github.com/lpadula/windterm-dracula

[2021-11-25 05:38] wasi-master commented on #589
You can use the [Chrome](https://chrome.google.com/webstore/detail/stylish-custom-themes-for/fjnbnpbmkenffdnngjfgmeleoegfcffe?hl=en)/[Firefox](https://addons.mozilla.org/en-US/firefox/addon/stylish/) extension called [Stylish](https://en.wikipedia.org/wiki/Stylish) and just use the css from the pygments theme, https://github.com/dracula/pygments/blob/master/dracula.css

You'll have to change the b

[2021-11-25 08:59] crydotsnake commented on #647
Whoop Whoop! 🥳

[2021-11-25 08:59] crydotsnake commented on #647
But i found a typo in the install section. But i fixed it already :)

[2021-11-25 20:36] quetzal-ux commented on #648
okay ill get on it

[2021-11-28 01:00] jrdnbradford opened #653 "Dracula theme for `ggplot2` and `R` palette"
I'm wondering if the following is a good fit to be added: https://github.com/jrdnbradford/ggplot2

It includes a `ggplot2` theme and a `R` color palette that, when combined, make a Dracula-ish plot. Let me know.

[2021-11-28 15:43] dbasinge commented on #633
The main issue right now with the Dracula gtk theme is lack of support for gtk 4.0. I know the author is working on it, but I do not use it do to that.

[2021-11-29 13:17] OhaDerErste opened #654 "Dracula Theme for Revolt"
I created a Theme for https://revolt.chat
Github Link: https://github.com/OhaDerErste/Dracula-Revolt

[2021-12-02 14:15] zenorocha commented on #654
Hey @OhaDerErste, looks like we already have a revolt theme:
https://github.com/dracula/revolt

are you interested in joining forces there?

[2021-12-02 14:15] #654 closed

[2021-12-02 17:21] brccabral opened #655 "String color inconsistent between projects"
Hi everyone,
Strings in Visual Studio Code and SQL Developer are yellow F1FA8C, but in Notepad++ are red FF5555.
Should different projects be consistent with each other or not?
Thanks,
Bruno

[2021-12-03 04:12] jaiden-d opened #656 "Dracula for Unreal Engine 5"
Unreal Engine 5 has support for custom editor themes, so I decided to make a Dracula one 😄

You can find it here! [jaiden-d/dracula-ue5](https://github.com/jaiden-d/dracula-ue5)

[2021-12-05 00:38] quetzal-ux commented on #648
@zenorocha  finished, if it needs anything let me know

[2021-12-05 17:03] zenorocha commented on #656
That's awesome @jaiden-d!! :D

I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-12-05 17:04] zenorocha commented on #655
Hey @brccabral, that's correct. Strings should be represented with the same color and should follow this spec:
https://spec.draculatheme.com/

Can you send a pull request to the Notepad++ repo to fix this?

[2021-12-05 17:06] jaiden-d commented on #656
Just accepted and submitted the transfer, thanks!

[2021-12-05 17:15] zenorocha commented on #653
Looks great @jrdnbradford!

I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-12-05 17:17] zenorocha commented on #648
Looks good now, thanks for doing this @quetzal-ux!

I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-12-05 17:18] zenorocha commented on #599
Looks awesome now @lpadula!

I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-12-05 18:15] lpadula commented on #599
Done!

[2021-12-05 22:11] jrdnbradford commented on #653
Great! I transferred it over: https://github.com/dracula/ggplot2. Let me know if I can do anything else.

[2021-12-05 22:23] zenorocha commented on #579
Closing in favor of https://github.com/dracula/dracula-theme/issues/648

[2021-12-05 22:23] #579 closed

[2021-12-05 23:29] zenorocha commented on #599
https://draculatheme.com/windterm 🎉

[2021-12-05 23:29] #599 closed

[2021-12-05 23:29] zenorocha commented on #648
https://draculatheme.com/musikcube 🔥

[2021-12-05 23:29] #648 closed

[2021-12-05 23:30] zenorocha commented on #653
https://draculatheme.com/ggplot2 ✨

[2021-12-05 23:30] #653 closed

[2021-12-05 23:30] zenorocha commented on #656
https://draculatheme.com/unreal-engine 🥳

[2021-12-05 23:30] #656 closed

[2021-12-07 21:36] michaelcaxias opened #657 "New MySQL Workbench Theme"
## New theme for MySQL Workbench

I've made a theme based on Dracula Theme for MySQL Workbench with [the default color scheme](https://draculatheme.com/contribute)

[Theme's link here](https://github.com/michaelcaxias/mysql-workbench-dracula-theme)

[2021-12-09 09:45] mrtolkien commented on #382
There is a `Dracula` color scheme in Dark Reader now!

![image](https://user-images.githubusercontent.com/8489650/145372491-ba5db4ef-148e-4b3c-a2de-ee9713f290b8.png)

https://github.com/darkreader/darkreader/issues/7148

[2021-12-10 19:16] RRUZ opened #658 "New Delphi/RAD Studio Theme"
I've made a theme based on Dracula Theme for Delphi.

[Theme's link here](https://github.com/RRUZ/delphi-dracula)

[2021-12-11 20:26] Venem opened #659 "New theme for FlorisBoard"
## FlorisBoard
Since there were not any really good themes available, I turned to trusty old Count Dracula and decided to design a new theme.

Link here: https://github.com/Venem/dracula-florisboard

Thanks in advance

[2021-12-15 13:38] arunpkqt opened #660 "GitKraken Theme Request"
With the latest relaese of GitKraken they introduced themening. It would be nice to get the Dracula shining there as well :)

https://support.gitkraken.com/start-here/themes/

[2021-12-15 13:59] zenorocha commented on #657
Hey @michaelcaxias, this looks cool, congrats!

Before we move this to the Dracula org and website, there are some changes that need to be made.

Can you follow the same file structure from the template? https://github.com/dracula/template
For example, the `INSTALL.md` is required to generate the page on the website and the `screenshot.png` is required to display it.

After you're done with that,

[2021-12-15 14:02] zenorocha commented on #658
Great stuff @RRUZ! I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-12-15 14:03] zenorocha commented on #659
Looks great @Venem! I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-12-15 14:07] zenorocha commented on #643
@syrofoam looks like you accepted the invitation to join the org, but still haven't transferred the repository.

Here are some instructions: https://docs.github.com/en/repositories/creating-and-managing-repositories/transferring-a-repository#transferring-a-repository-owned-by-your-user-account

[2021-12-15 14:44] Venem commented on #659
I have transferred the repo! Thank you

[2021-12-15 14:44] #659 closed

[2021-12-15 15:27] michaelcaxias commented on #657
Now the **github repository** is adapted to the **Dracula Template**. [Check it out](https://github.com/michaelcaxias/mysql-workbench-dracula-theme)

[2021-12-15 15:58] RRUZ commented on #658
Thank you @zenorocha I just have transferred the repo to the organization.

[2021-12-15 16:42] Anselmoo commented on #660
Maybe this one, would be a good starting point? [https://github.com/Anselmoo/gitkraken/](https://github.com/Anselmoo/gitkraken/)

[2021-12-15 17:01] zenorocha commented on #657
Awesome! I just sent you an invite, we're ready to transfer ;)

[2021-12-15 17:07] Anselmoo commented on #660
@zenorocha sorry, was still private. Please, try again

[2021-12-15 17:13] zenorocha commented on #660
That looks awesome, I love it!

I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2021-12-15 17:38] Anselmoo commented on #660
I have transferred the repo! Thank you

[2021-12-16 08:59] arunpkqt commented on #660
@Anselmoo Didn't know that it already exist. That looks nice. Thank you :)

@zenorocha This link https://draculatheme.com/gitkraken doesn't seem to work. I get the error: 505

[2021-12-18 05:18] zenorocha commented on #660
It's live now ;)

[2021-12-18 05:18] #660 closed

[2021-12-18 05:18] zenorocha commented on #658
It's live now!

https://draculatheme.com/delphi 🎉

[2021-12-18 05:18] #658 closed

[2021-12-18 05:19] zenorocha commented on #659
https://draculatheme.com/florisboard 💥

[2021-12-19 23:10] michaelcaxias commented on #657
Very nice! I accepted the organization's invitation =)

[2021-12-20 13:10] zenorocha commented on #657
You can transfer the repo now: https://docs.github.com/en/repositories/creating-and-managing-repositories/transferring-a-repository#transferring-a-repository-owned-by-your-user-account

[2021-12-20 22:10] michaelcaxias commented on #657
The transfer was successful! https://github.com/dracula/mysql-workbench

[2021-12-26 17:59] syrofoam commented on #643
Could I just delete the 'mirror' repo on my personal github and only use the repo on dracula?. They both seem to be 'forks' of the template and are 'ahead' of the template. And if I want to just move it I have to delete the repo witch exist for it has the name already. github.com/dracula/foot

You think that's okey solution? I'm not that skilled with git so thanks for the link.

[2021-12-29 00:26] ayushpokh opened #661 "Add Scrivener theme"
## New Theme?

We would love to support all code editors out there, but we need your help to accomplish that. Feel free to create a new theme based on our [color palette](https://github.com/dracula/dracula-theme#color-palette).

## Existing Theme?

Find the appropriate repository on the [Dracula organization](https://github.com/dracula). This is just the umbrella place where we store all themes.

[2021-12-29 16:52] zenorocha opened #662 "Add bobthefish theme"
https://github.com/oh-my-fish/theme-bobthefish

[2021-12-29 17:09] zenorocha opened #663 "Add Apollo theme"
https://www.reddit.com/r/apolloapp/comments/rnyprm/this_dracula_theme_really_is_everything/

[2021-12-29 18:05] Trollwut commented on #662
Don't know what has been done yet, but a few months ago I forked this repo and used Dracula colors:

https://github.com/Trollwut/theme-bobthefish

Bear in mind that it is a few commits behind, so one might look over that.

[2021-12-31 00:39] zenorocha commented on #663
https://draculatheme.com/apollo 🎉

[2021-12-31 00:39] #663 closed

[2021-12-31 00:56] zenorocha commented on #657
https://draculatheme.com/mysql-workbench :)

[2021-12-31 00:56] #657 closed

[2021-12-31 15:37] Venem opened #664 "Minecraft UI Resource Pack [Help needed + Discussion]"
I have recently been working on a Dracula theme for Minecraft. This is quite a slow and repetitive task and I'm not sure about the efficiency and/or quality of what I have produced so far.

The theme is based on the VanillaTweaks Dark Mode pack (https://vanillatweaks.net/picker/resource-packs/)

Currently I have been using the HSL Colour mode on the Bucket in GIMP to individually fill every part o

[2022-01-02 00:34] kjharcombe commented on #664
@Venem I might be able to help you with this. I'm quite comfortable working with GIMP and colouring. Feel free to give me a bell by email 😃

[2022-01-02 15:35] Venem commented on #664
Thanks! I'll send you an email

For anyone else interested, I forgot to mention that the project is located at https://github.com/dracula/minecraft

[2022-01-02 17:52] rickylinden opened #665 "Dracula theme for Gajim"
## Dracula theme for Gajim

Available here https://github.com/rickylinden/gajim

Please let me know if I missed anything.

[2022-01-03 00:27] zenorocha commented on #665
Awesome stuff @rickylinden!

I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2022-01-03 00:29] zenorocha commented on #661
Great @ayushpokh! I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2022-01-03 05:15] zenorocha commented on #662
Looks like they already have a dracula theme built-in. Can you confirm?

https://github.com/dracula/bobthefish/blob/master/INSTALL.md

[2022-01-03 13:01] rickylinden commented on #665
Thank you, I have transferred the repo now.

[2022-01-04 02:40] zenorocha commented on #662
https://draculatheme.com/bobthefish

[2022-01-04 02:40] #662 closed

[2022-01-04 11:41] Trollwut commented on #662
did just a quick test on Manjaro Linux and also WSL with Pengwin.

removed my own configs and just did two things:

1. `omf install bobthefish`
2. create a `.config/fish/config.fish` with content: `set -g theme_color_scheme dracula`

Then I just `cd` into a random git repository and for me it worked as intended :)

[2022-01-04 18:36] jasonpatrickellykrause opened #668 "Add Microsoft Edge"
## New Theme

This is basically a redirect of an existing theme until it gets added to the Microsoft Edge theme store.
https://github.com/jasonpatrickellykrause/Microsoft-Edge

[2022-01-08 00:10] zenorocha opened #669 "Add Warp page"
[Warp](https://www.warp.dev/) comes with a built-in Dracula theme, so we could create a page to display it.

![image](https://user-images.githubusercontent.com/398893/148622491-9ab29944-4f6b-41ad-890c-aa28ae957a37.png)

[2022-01-08 14:38] GlowingUmbreon opened #670 "New theme - Github"
![image](https://user-images.githubusercontent.com/37640997/148648177-06928638-b120-4036-bbd6-9fadbac7e181.png)
This theme requires use of the [stylus](https://add0n.com/stylus.html) extension.

Source: https://github.com/GlowingUmbreon/dracula-github

[2022-01-10 12:51] ayushpokh commented on #661
Thank you! I saw that. I'll transfer the repo.

[2022-01-12 01:29] GlowingUmbreon commented on #670
The theme has changed slightly since the screenshot has been taken so it may look different now.

[2022-01-12 19:13] zenorocha commented on #661
@ayushpokh looks like you forgot to add the installation instructions on the [INSTALL.md[(https://github.com/dracula/scrivener/blob/master/INSTALL.md) file.

Can you update? We need that before adding to the website.

[2022-01-12 19:18] zenorocha commented on #670
That's awesome @GlowingUmbreon, I can't wait to start using GitHub with Dracula colors.

I'm a little bit worried about keeping this theme updated since GitHub changes its stylesheet a lot, but I hope you can keep it up to date :)

In any case, I just sent you an invite to join the organization.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

[2022-01-12 20:45] GlowingUmbreon commented on #670
over 90% of the script is just :root variables, there are 3 other selectors one of which being a bug fix and the other two being a QOL thing.
Also I check github pretty much every day so if something breaks (unless its something I don't check often such as actions or something) I should notice.

[2022-01-13 03:58] zenorocha commented on #669
https://draculatheme.com/warp 🎉

Thanks @luxonauta for making your first pull request!

[2022-01-13 03:58] #669 closed

[2022-01-13 03:59] zenorocha commented on #670
That's great to hear, thanks a lot @GlowingUmbreon!

It's live now: https://draculatheme.com/github 🎉

[2022-01-13 03:59] #670 closed

[2022-01-13 03:59] zenorocha commented on #665
It's live now, thanks @rickylinden!
https://draculatheme.com/gajim 🎉

[2022-01-13 03:59] #665 closed

[2022-01-13 13:51] luxonauta commented on #669
Super happy to contribute to this project! 😁

[2022-01-14 20:25] johannesjo opened #672 "Theme for Super Productivity"
## New Theme?

Hey there! There is a user theme for [Super Productivity](https://github.com/johannesjo/super-productivity):
https://github.com/johannesjo/super-productivity-themes/blob/main/dist/dracula/dracula.css

[2022-01-16 12:44] rarodja opened #673 "About pro version updates"
I am a user of the Pro version and I would like to know what the update route map is about the VSCode version in this case, I have seen several errors in the colorization of the syntax that do not exist in the free version or are corrected, so I see in the .vsix file it is from the date June 2020 and in the error update comparison of the free version I see that it has not been updated since then (

[2022-01-16 22:51] nicoandmee commented on #673
I second this.

[2022-01-17 17:33] psaraf commented on #617
is anyone looking into pro support?

[2022-01-17 21:11] zenorocha commented on #673
Let me take a look and I'll get back to you.

[2022-01-17 21:12] zenorocha commented on #617
Yes, I am. There's a backlog of themes to be ported to Dracula PRO. Eclipse is on the list, but there are others with higher priority.

[2022-01-18 06:02] zenorocha commented on #643
@syrofoam I made some changes to the installation instructions, can you take a look? https://github.com/dracula/foot/commit/f3bb85d3b8bf0bc4038511cd4061a00feb4e2aca

Feel free to delete the https://github.com/syrofoam/dracula-foot/tree/master repo now.

[2022-01-18 06:21] zenorocha commented on #509
https://draculatheme.com/mysql-workbench 🎉

[2022-01-18 06:21] #509 closed

[2022-01-18 06:30] zenorocha commented on #405
Hey @makitsune, do you know if this theme is still working?

I'd love to FINALLY get it added to the Dracula organization :)

[2022-01-18 06:31] zenorocha commented on #392
https://draculatheme.com/github 💥

[2022-01-18 06:31] #392 closed

[2022-01-18 06:31] zenorocha commented on #589
https://draculatheme.com/github 💥

[2022-01-18 06:32] zenorocha commented on #335
@aftaylor2 do you want to create a tig repository that includes installation instructions based on this suggestion you made?

https://github.com/dracula/template

[2022-01-18 06:34] wasi-master commented on #589
Cool

[2022-01-18 06:37] zenorocha commented on #394
@the-zero885 sorry for taking forever to reply.

I'd love to get this repository merged into the official organization.

I just sent you an invite to join the org.

Once you accept it, you'll be able to transfer the repo and I'll take care of adding it to the site.

Thanks for building this! 🎉

[2022-01-18 16:44] zenorocha commented on #585
It's live now!

https://draculatheme.com/spyder-ide
https://github.com/dracula/spyder-ide

[2022-01-18 16:44] #585 closed

[2022-01-18 16:45] zenorocha commented on #643
It's finally live! https://draculatheme.com/foot-terminal

Thanks @syrofoam ;)

[2022-01-18 16:45] #643 closed

[2022-01-18 20:25] Venem opened #674 "Permission to include FlorisBoard theme in their app"
Regarding the recent theme that was created for FlorisBoard ([Repo](https://github.com/dracula/florisboard)), I have been asking around and it would be possible to get it integrated into the app. This would have many benefits, primarily making the setup process much less tedious when installing the theme. ([Thread](https://github.com/florisboard/florisboard/issues/1435))

This issue is just here t

[2022-01-19 00:18] zenorocha commented on #674
Sure! That would be great :)

[2022-01-19 10:59] wasi-master opened #675 "New Theme: Dracula for Wikipedia"
So I've created a Dracula theme for the Wikipedia website.

![Screenshot](https://github.com/wasi-master/wikipedia/raw/master/screenshots/screenshot.png)

**Github repository**: https://github.com/wasi-master/wikipedia
**Installation instructions**: https://github.com/wasi-master/wikipedia/blob/master/INSTALL.md
[![Install directly with Stylus](https://img.shields.io/badge/Install%20directly%20wit

[2022-01-19 16:43] Venem commented on #674
Thanks!

[2022-01-19 19:24] aftaylor2 commented on #335
@zenorocha Yes, I will create a repo. I’m a bit busy at the moment, so please give me a few days.

[2022-01-20 07:15] wasi-master commented on #675
Now that I think about it, this doesn't really make much sense since this can be achieved with dark theme extensions, but with this, the colors are more true to the Dracula theme. and other colors such as red and green are from the Dracula theme. I guess it's up to @zenorocha whether he wants it or not

[2022-01-20 07:40] wasi-master commented on #405
@zenorocha I tested this and it works for code only, (The UI colors are from GitLab dark mode)
![image](https://user-images.githubusercontent.com/63045920/150293869-34ae5363-52a9-467c-af49-caf2029b5285.png)

[2022-01-20 18:59] the-zero885 commented on #394
I have already accepted the invitation, thank you very much!

As soon as I can I will transfer the repo to the organization.

[2022-01-21 09:07] wasi-master opened #676 "New theme for Code::Blocks"
## New Theme

### A dracula theme for [Code::Blocks](https://codeblocks.org)

**Repository:** https://github.com/wasi-master/codeblocks
**Installation:** https://github.com/wasi-master/codeblocks/blob/master/INSTALL.md

Closes https://github.com/dracula/dracula-theme/issues/620

[2022-01-21 09:07] wasi-master commented on #675
I think I'll just close this and make a Dracula theme for something more meaningful instead

[2022-01-21 09:07] #675 closed

[2022-01-23 08:00] b3vis opened #677 "New theme for: Starship - Cross Shell Prompt"
Hi There,

I've whipped up a repo to share my starship prompt dracula theme which can be found here: https://github.com/b3vis/dracula-starship

I try to dracula theme everything I can and this shell prompt didn't have a dracula theme. So what better way to give back to the theme I love the most than creating the theme for it myself!

Any questions please let me know.

Kind regards,
b3vis

[2022-01-24 21:23] zenorocha commented on #676
Great work @wasi-master!

I just sent you an invite to join the organization.

I also cloned your repo to the dracula organization, so you can go ahead and delete yours:
* https://github.com/dracula/codeblocks
* https://github.com/wasi-master/codeblocks

Thanks for building this! 🎉

[2022-01-25 04:02] wasi-master commented on #676
Thanks, @zenorocha!

I've accepted the invitation and am now able to manage the https://github.com/dracula/codeblocks repo.
I've also archived my repo and added a notice saying the project has been moved to https://github.com/dracula/codeblocks

Once draculatheme.com/codeblocks is up and running I'll edit https://github.com/dracula/codeblocks/blob/master/INSTALL.md with the image links being on dr

[2022-01-25 15:47] luxonauta commented on #677
Hi @b3vis, great job! 😁

I just sent you an invitation to join the organization.

I also cloned [your repository](https://github.com/b3vis/dracula-starship) for [Dracula's organization](https://github.com/dracula), so you can go ahead and delete or archive yours!

- [New repository in Dracula](https://github.com/dracula/starship)

Thanks so much for building this! 🎉

[2022-01-25 15:58] b3vis commented on #677
Hi @luxonauta,

Thanks! I'll do that now, I've accepted the invitation too.

Kind regards,
b3vis

[2022-01-25 16:00] b3vis commented on #677
Just to note @luxonauta, this link 500's - https://draculatheme.com/starship I take it I just need to wait for any CI/CD to finish  and it will be available on the main website?

[2022-01-25 18:43] #677 closed

[2022-01-28 05:17] zenorocha commented on #335
@aftaylor2 friendly ping ;)

[2022-01-28 05:19] zenorocha commented on #405
thanks for testing @wasi-master! do you want to create a [template repo](https://github.com/dracula/template) for this?

[2022-01-28 05:20] zenorocha commented on #394
@luxonauta can you add the repo to `dracula-theme` and to the website?

[2022-01-28 05:28] zenorocha commented on #676
https://draculatheme.com/codeblocks

[2022-01-28 05:28] #676 closed

[2022-01-28 05:28] zenorocha commented on #675
https://draculatheme.com/starship 🚀 🚀 🚀

[2022-01-28 05:45] zenorocha commented on #677
https://draculatheme.com/starship

[2022-01-28 13:35] wasi-master commented on #405
@zenorocha So something like https://github.com/makitsune/dracula-gitlab? I guess you can clone that repo and give me access or something like that? Or can I do that now since I am part of the dracula organization?

[2022-01-28 15:15] aftaylor2 commented on #335
Thanks for the reminder. Will get it to you later today.

[2022-01-28 16:20] aftaylor2 commented on #335
@zenorocha I created the repo. It currently is located at https://github.com/aftaylor2/dracula-tig . What are the next steps ?

[2022-01-28 17:47] makitsune commented on #405
Hello! I'm sorry I've been inactive here. I recently had surgery and I've been recovering. I could give you access to the repo if you'd like.

[2022-01-29 00:30] dhampir-damsel opened #678 "New Themes - Dracula for Archive of Our Own"
## New Theme

I don't know if you're accepting themes for things that aren't code editors, but I have created a series of themes for the fan-work website Ao3, Archive of Our Own. Thank you for your consideration.

Link to repository:  [https://github.com/dhampir-damsel/draculathemes_ao3](https://github.com/dhampir-damsel/draculathemes_ao3)

[2022-01-29 03:16] zenorocha opened #679 "Add SerenityOS theme"
https://github.com/SerenityOS/serenity/commit/e3aa7723fa0ca7fe77aae4aef470904319868492

@hansejo @bgianfo could you send a screenshot and steps on how to enable this theme on SerenityOS? This would allow us to add a page on https://draculatheme.com ;)

[2022-01-29 03:30] bgianfo commented on #679
There is a screen shot with the settings page in the PR https://github.com/SerenityOS/serenity/pull/12174

[2022-01-29 03:51] zenorocha commented on #679
Thanks @bgianfo!

Does this look accurate to you?

https://github.com/dracula/serenityos/blob/master/INSTALL.md
https://github.com/dracula/serenityos/blob/master/screenshot.png

I just sent you an invite to the organization @hansejo ;)

[2022-01-29 03:59] zenorocha commented on #679
Added to the website: https://github.com/dracula/draculatheme.com/commit/271df8939f2ee6b9950a82e9820daec466f323a2

Deploy pending.

[2022-01-29 04:15] zenorocha commented on #405
Oops, sorry about that. I totally missed the repository @wasi-master.

@makitsune sorry to hear about the surgery. Please don't feel pressured to do anything ;)

We already cloned your repo, moved it to the Dracula org, and invited you as Admin to maintain it.
https://github.com/dracula/gitlab

Feel free to delete or archive your existing repo.
https://github.com/makitsune/dracula-gitlab

[2022-01-29 04:17] bgianfo commented on #679
Looks correct to me!

[2022-01-29 04:31] hansejo commented on #679
Thank you :). I've accepted the invite. Feel free to push to the website.

[2022-01-29 06:48] wasi-master commented on #405
@zenorocha no worries

[2022-01-29 11:11] zenorocha commented on #679
Sweet! We're live now ;)

https://draculatheme.com/serenityos 🎉

[2022-01-29 11:11] #679 closed

[2022-01-29 11:12] zenorocha commented on #405
And we're live! https://draculatheme.com/gitlab 🎉

[2022-01-29 11:12] #405 closed

[2022-01-29 18:52] luxonauta commented on #394
Sure, Zeno! 🚀

[2022-01-29 19:21] zenorocha commented on #335
We're live now!

https://draculatheme.com/tig 🎉
https://github.com/dracula/tig 🎉

Thanks @aftaylor2, feel free to delete that existing repository now.

[2022-01-29 19:21] #335 closed

[2022-01-31 11:57] wasi-master opened #680 "Theme for stackoveflow"
## New Theme?

So I was wondering if a theme for StackOverflow was possible or not and then I thought about why don't I make one myself.
So I tried and made this theme, [link](https://gist.github.com/wasi-master/9c98fbe0e354d29f71cd39f7f38039c5/raw/1b74fcf255dc6e9d621167515ee7aca3245a1ce1/dracula-stackoverflow.user.css)

This is a userstyle so it shall be installed with the [stylus browser extensi

[2022-01-31 12:15] wasi-master commented on #680
Forgot to add a screenshot. here it is

![image](https://user-images.githubusercontent.com/63045920/151791846-da8a4aae-015d-4e4b-b3ea-d94772bd08dd.png)
![image](https://user-images.githubusercontent.com/63045920/151792240-3b589962-98d2-4b16-8408-911bf8d178ed.png)

[2022-01-31 12:19] wasi-master commented on #680
And about keeping the theme updated in case of a CSS change, I am pretty active on StackOverflow and I try to help as many people as possible. So if something needs to be fixed I'll be notified within a day or so :)

[2022-02-01 12:52] wasi-master commented on #680
I've also added color themes now, (red, green, cyan, purple, orange, pink, red, yellow, comment, white)

![image](https://i.imgur.com/EWpMHqO.png)

[2022-02-01 13:08] wasi-master commented on #680
Since stackoverflow also uses a code editor (codemirror) this theme also fixes that,

## Before
![image](https://user-images.githubusercontent.com/63045920/151974027-97b9be90-3b36-48d8-818c-018dbfa22deb.png)

## After
![image](https://user-images.githubusercontent.com/63045920/151974045-47a2fd8a-eaac-4efc-afd2-a8f4cc6a925c.png)

[2022-02-02 05:03] zenorocha opened #681 "Add Notesnook theme"
https://twitter.com/notesnook/status/1488435893023260676

[2022-02-02 05:49] wasi-master commented on #680
So @zenorocha what do you think about this? could this be added? If yes then I'll make a template repo for this

[2022-02-02 10:58] DaSh-More opened #682 "Theme for ITFY forum"
Theme for code
![](https://raw.githubusercontent.com/DaSh-More/ITFY/master/screenshot.png)
https://github.com/DaSh-More/ITFY

[2022-02-03 07:34] mozesa opened #683 "Incompatible: requires IDE build 213.* or earlier"
Hello,

first of all, I would like to say thank you for this excellent theme.

Unfortunately it doesn't work with the crispy JetBrains Rider 2022.1 EAP 1 `Build #RD-221.3427.104`.

![image](https://user-images.githubusercontent.com/49973426/152299810-a3450069-7e80-43ca-8825-77c0ece03dce.png)

[2022-02-03 07:53] #683 closed

[2022-02-03 20:06] marc0janssen opened #684 "Theme for New App "CodeRunner""
Hi There,

I added Dracula as a theme for CodeRunner....

[Dracula for CodeRunner](https://github.com/marc0janssen/Dracula-for-CodeRunner)

[2022-02-04 01:16] nicoandmee commented on #673
@zenorocha Any update on this?

[2022-02-04 07:41] arukshpatel opened #685 "Postbox Theme"
## Postbox Email Client Theme

Hello,
I created a postbox theme using Dracula Color Palette. The screenshot does not clearly portray all the colors but after utilization, users surely can see all the colors being used.

This is the [link to my git repo](https://github.com/arukshpatel/Dracula_Postbox.git).

[2022-02-04 11:50] wasi-master commented on #680
So far I've been using the theme extensively and I've found no issues and it is very pleasing for me

[2022-02-08 05:31] timescam opened #686 "New theme: WezTerm"
# Dracula for [WezTerm](https://wezfurlong.org/wezterm)

![screenshot](https://user-images.githubusercontent.com/45168541/152924000-4fb6a189-533d-47d7-93e1-6efda85ee1f5.png)

Repo: https://github.com/timescam/wezterm

[2022-02-12 09:37] Monochromish opened #687 "Dracula Theme for Cider Music"
## Dracula Theme for [Cider Music](https://cider.sh/)

I've made a theme for Cider Music Client based on [Dracula Theme](https://draculatheme.com/contribute)

![image](https://user-images.githubusercontent.com/79590499/153705954-161b0387-6fc2-45be-a337-da5b8fbee265.png)

=> [Link to Repository](https://github.com/Monochromish/Dracula-Cider-Music-Theme) <=

Thank You!

[2022-02-12 12:53] nicoandmee commented on #673
@zenorocha It would be great to have this fixed/have the pro theme updated to match the free version like in the example @rarodja posted. thanks!

[2022-02-12 19:18] kybo15 commented on #615
@zenorocha sorry, why i don't have access anymore to my repo https://github.com/dracula/mixplorer.

[2022-02-14 09:10] Monochromish commented on #687
Hi @luxonauta, just wanted to inform you that I have updated the [README](https://github.com/Monochromish/Dracula-Cider-Music-Theme/blob/main/README.md) in the official repository. Thank you!

[2022-02-15 21:16] luxonauta commented on #687
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/Monochromish/Dracula-Cider-Music-Theme)
- [New repository.](https://github.com/dracula/cider)

Thanks for building this! 🎉

[2022-02-15 21:35] luxonauta commented on #686
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/timescam/wezterm)
- [New repository.](https://github.com/dracula/wezterm)

Thanks for building this! 🎉

[2022-02-15 23:12] luxonauta commented on #685
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/arukshpatel/Dracula_Postbox)
- [New repository.](https://github.com/dracula/postbox)

Thanks for building this! 🎉

[2022-02-15 23:46] luxonauta commented on #684
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/marc0janssen/Dracula-for-CodeRunner)
- [New repository.](https://github.com/dracula/coderunner)

Thanks for building this! 🎉

[2022-02-16 14:34] luxonauta commented on #687
There are some things we need to do! 😅

First, we need the repository to follow [this standard Dracula Theme template](https://github.com/dracula/template); this way, we will be able to move to the next step, the publication on the site.

Let me know if something isn't possible or if you have any questions! 🙂

[2022-02-16 14:36] Monochromish commented on #687
Okay no problem; I'll try to match the template repository and I'll keep you updated!

[2022-02-16 21:27] sandenbergmelo opened #688 "Dracula theme for phpMyAdmin"
Dracula theme for phpMyAdmin would be nice.

[2022-02-16 23:06] cnsair commented on #688
For WAMP as a whole

[2022-02-17 09:18] Monochromish commented on #687
Hi @luxonauta!
I've updated the repository and have added a screenshot of the theme to it, but there's not much I can change in the README since the Markdown to HTML parser that Cider currently has is not perfect. If I use a markdown table to display the collaborator(s), it looks broken in Cider. I've made a separate markdown file for the collaborators' table and added a redirect hyperlink to the

[2022-02-17 12:30] kmplngj opened #689 "Noir"
Hi,

I don't have a repository to add but perhaps it is possible to add Noir to the list of applications that support Dracula theme.

https://getnoir.app

Best regards
Jan

[2022-02-17 13:41] JTeeuwissen opened #690 "GitKraken"
# GitKraken

[https://github.com/JTeeuwissen/GitKraken](https://github.com/JTeeuwissen/GitKraken)

![screenshot](https://user-images.githubusercontent.com/15076530/154493282-62e4b4f2-95b7-4a5d-805e-1f700069d4f6.png)

[2022-02-17 13:44] #690 closed

[2022-02-18 10:01] timescam commented on #686
already in the org before,
archived the original repo

[2022-02-19 17:07] revagomes opened #691 "[New Dracula Theme] Git CLI"
Hello!

I am working on a new Dracula theme for git-cli.

Here is the GH page:
https://revagomes.github.io/git-cli/

I would like to know your thoughts and start the process of submitting this one to Dracula themes list.

[2022-02-20 05:14] ixanza opened #692 "Dracula Theme for JDownloader2"
## New Theme?

JDownloader2 has a "FLATAF_DRACULA" User Interface Theme but that doesn't really do anything except set some of the classes to dark.
I modified the color schemes to make sort of a dracula theme using the color schemes provided

https://github.com/ixanza/jdownloader2

[2022-02-21 00:43] zenorocha commented on #688
That would be great!

Here are some good resources:
* https://github.com/phpmyadmin/themes
* https://www.phpmyadmin.net/themes

Do you want to give it a shot @sandenbergmelo?

[2022-02-21 00:43] #394 closed

[2022-02-21 01:38] zenorocha commented on #680
This looks great @wasi-master, I love it!

You can go ahead and create that template repo so we can showcase to the rest of the Dracula community ;)

[2022-02-21 08:37] zenorocha commented on #394
It's live now!

https://draculatheme.com/openbox

Thank you all for your patience on this.

[2022-02-21 08:39] zenorocha commented on #692
Hey @ixanza,

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/ixanza/jdownloader2)
- [New repository.](https://github.com/dracula/jdownloader2)

You can check the live page here:
https://draculatheme.com/jdownloader2

Thanks for building this!

[2022-02-21 08:39] #692 closed

[2022-02-21 08:41] zenorocha commented on #691
Hey @revagomes,

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/revagomes/git-cli)
- [New repository.](https://github.com/dracula/git)

You can check the live page here:
https://draculatheme.com/git

Thanks for building this! 🎉

[2022-02-21 08:41] #691 closed

[2022-02-21 08:41] zenorocha commented on #686
It's live now! https://draculatheme.com/wezterm 🎉

[2022-02-21 08:41] #686 closed

[2022-02-21 08:42] zenorocha commented on #690
For future reference: https://draculatheme.com/gitkraken

[2022-02-21 08:44] zenorocha commented on #687
It's live now: https://github.com/dracula/cider 🎉

I had to make some adjustments in order for the website to be autogenerated:
https://github.com/dracula/cider/commit/308e67cb6151a02a1b917038c54f957445bab912

Awesome job @Monochromish!

[2022-02-21 08:45] zenorocha commented on #684
It's live now: https://draculatheme.com/coderunner

Thanks @marc0janssen! You can go ahead and remove your repository now.

[2022-02-21 08:45] #684 closed

[2022-02-21 08:46] zenorocha commented on #685
It's live on the website now! https://draculatheme.com/postbox

@arukshpatel you can go ahead and remove your repository now.

Congrats on this new theme 🎉 🎉 🎉

[2022-02-21 08:46] #685 closed

[2022-02-21 08:47] zenorocha commented on #615
@kybo15 sorry about that, looks like the GitHub Team wasn't properly setup. You should have admin access now ;)

[2022-02-21 14:11] #687 closed

[2022-02-21 17:39] wasi-master commented on #680
@zenorocha I've created the template repo in [dracula/stackoverflow](https://github.com/dracula/stackoverflow).

[2022-02-21 19:23] marc0janssen commented on #684
Hi There,

Great to hear… you are welcome… love the theme!!

Gr. Marco

[2022-02-23 16:14] wez opened #693 "Please update wezterm theme config instructions :-)"
First, there's already a `Dracula` color scheme built into wezterm:
https://github.com/wez/wezterm/blob/main/assets/colors/Dracula.toml
that comes from https://github.com/mbadolato/iTerm2-Color-Schemes
Please consider adding your theme there and perhaps renaming it to disambiguate!
I periodically update and bundle the latest version of that repo with wezterm.

Secondly, it would be great to factor

[2022-02-23 21:33] grazer opened #694 "Dracula Theme for Flowlab.io Game Editor"
## New Theme?

I have added a Dracula theme to the [Flowlab Game Maker](https://flowlab.io) editor. The repo can be found [here](https://github.com/grazer/flowlab-dracula-theme).

[2022-02-24 03:46] colinconn commented on #371
Is the plan to use Dracula UI? These templates are written in HTML and CSS.

[2022-02-24 06:17] zenorocha commented on #694
Hey @grazer,

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:
[Your repository.](https://github.com/grazer/flowlab-dracula-theme)
[New repository.](https://github.com/dracula/flowlab)

[2022-02-24 11:12] Kritiqual commented on #427
Hi, I found his gist! https://gist.github.com/Dazage/bc4dfdd908e24f5591b1f5d26392a0fb

[2022-02-27 10:08] zenorocha commented on #680
https://draculatheme.com/stackoverflow 💥

I love the level of detail that you went on the DOCUMENTATION.md. Amazing job!

[2022-02-27 10:08] #680 closed

[2022-02-27 10:08] zenorocha commented on #694
It's live now, thanks @grazer! https://draculatheme.com/flowlab 🎉

[2022-02-27 10:08] #694 closed

[2022-02-27 10:10] zenorocha commented on #678
Hey @grazer,

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:
[Your repository.](https://github.com/dhampir-damsel/draculathemes_ao3)
[New repository.](https://github.com/dracula/archive-of-our-own)

https://draculatheme.com/archive-of-our-own 🎉🎉🎉

[2022-02-27 10:10] #678 closed

[2022-02-27 10:38] wasi-master commented on #680
Thanks :)

[2022-03-02 08:36] welcoMattic opened #695 "Dracula theme for Zellij"
I've created a new theme for [Zellij](https://zellij.dev). It's a terminal multiplexer (see it as a modern tmux).

[https://github.com/welcoMattic/zellij](https://github.com/welcoMattic/zellij)

Let me know if I missed something :)

[2022-03-06 03:31] jecsatta opened #696 "Theme for VB6 IDE"
Hi,
I've created a new theme for VB6 IDE.

https://github.com/jecsatta/VB6

[2022-03-07 16:58] wasi-master opened #697 "Dracula for Roblox Studio (WIP)"
I am opening this issue for a reminder for me to create a dracula theme for roblox studio.

I've researched a bit and found [this twitter post](https://twitter.com/SyntaxE3rr/status/1366524456407982080?t=fWAkG07CaZi-xifH5C-s6g&s=19) and I am hoping to implement that with a template repo with instructions

### About Roblox Studio
Roblox is a very popular kids' game that is basically like a place wh

[2022-03-07 18:30] wasi-master commented on #697
So I've made the theme

![image](https://user-images.githubusercontent.com/63045920/157095533-ce61c375-110e-46ec-b831-f687c7997124.png)

But the sad thing is that roblox doesn't have a built-in method of sharing themes. So people would have to use plugins. I'll see what I can do!

[2022-03-11 20:54] grippado commented on #209
hello @zenorocha hi from 2022, Im working at my new personal page, and using Dracula palette, and a single search, WHY DONT exists an "DracuLight" (only Brazilians with low IQ and "a Praça é Nossa" humor sense understad this "trocadilho") version??? why?? I felt challenged!!

[2022-03-11 23:21] zenorocha commented on #209
@grippado I love that "Praça é Nossa" reference lol lol lol

Every now and then I think about creating a light theme, however, I still think it's not the right move at this point.
Here's why: https://github.com/dracula/dracula-theme/discussions/508#discussioncomment-319333

[2022-03-14 01:35] zenorocha commented on #695
Hey @welcoMattic,

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/welcoMattic/zellij)
- [New repository.](https://github.com/dracula/zellij)

You can check the live page here:
https://draculatheme.com/zellij

Thanks for building this! 🎉

[2022-03-14 01:35] #695 closed

[2022-03-14 01:36] zenorocha commented on #696
Hey @jecsatta,

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository](https://github.com/jecsatta/VB6)
- [New repository](https://github.com/dracula/visual-basic)

You can check the live page here:
https://draculatheme.com/visual-basic

Thanks for building this! 🎉

[2022-03-14 01:37] #689 closed

[2022-03-18 17:17] zeronegithub commented on #688
Dracula Theme for TikTok

[2022-03-23 15:46] jaiden-d opened #698 "New theme for Vortex Mod Manager"
Hey all, back again with a new theme!

Just created this one for the Vortex Mod Manager super quick - [jaiden-d/vortex-dracula](https://github.com/jaiden-d/vortex-dracula).

Would have made it directly in the org but wanted to go through the official channels first just in case, let me know what you think!

![Preview](https://user-images.githubusercontent.com/2781577/159739494-13464a43-0705-4f8d-9

[2022-03-23 22:19] scop opened #699 "New theme: GNU dircolors (ls etc color configurator)"
I added a theme for [`dircolors`](https://www.gnu.org/software/coreutils/manual/html_node/dircolors-invocation.html#dircolors-invocation), the thing in GNU coreutils that generates `LS_COLORS` env var that GNU `ls` and some other related tools use to colorize their output.

https://github.com/scop/dracula-dircolors

I should probably delete the `sample/` dir that the template brought in as I suppo

[2022-04-03 18:54] kybo15 commented on #615
and till now i can't access https://github.com/dracula/mixplorer how can i can update my repo.

[2022-04-04 02:57] luxonauta commented on #699
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/scop/dracula-dircolors)
- [New repository.](https://github.com/dracula/dircolors)

Thanks for building this! 🎉

[2022-04-04 03:08] luxonauta commented on #698
Hey, very cool! ✨

I just sent you an invitation to join the new team for this one.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/jaiden-d/vortex-dracula)
- [New repository.](https://github.com/dracula/vortex-mod-manager)

Thanks for building this! 🎉

[2022-04-04 03:19] luxonauta commented on #682
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/DaSh-More/ITFY)
- [New repository.](https://github.com/dracula/itfy)

Thanks for building this! 🎉

[2022-04-04 03:24] luxonauta commented on #672
Oh, how nice! ✨

Do you want to try creating the instructions for the user to use this theme?

Here is the template we use: [https://github.com/dracula/template](https://github.com/dracula/template)

[2022-04-04 03:29] luxonauta commented on #615
Oops, it seems that your permission was read-only. I've already fixed that for you. 😉

[2022-04-04 06:43] DaSh-More commented on #682
Glad to join you!

[2022-04-04 06:43] #682 closed

[2022-04-05 18:25] scop commented on #699
Nice, removed mine, removed unneeded samples, and synced with new changes that I contributed to coreutils upstream.

I don't see this theme yet at https://draculatheme.com, and https://draculatheme.com/dircolors gives a 500. Anything I can do to help fix that?

[2022-04-07 15:53] Gary-H9 opened #701 "New Theme: Oh My Posh 💅"
## New Theme: Oh My Posh 💅

Hello I've created a new theme for [Oh My Posh](https://ohmyposh.dev/). This has been merged into the Oh My Posh themes as you can see [here](https://ohmyposh.dev/docs/themes#dracula).

I'm creating this issue to see if [this repository](https://github.com/Gary-H9/dracula-oh-my-posh) which I've created is suitable to be included in the dracula project. 🧛‍♂️

Initially I

[2022-04-07 21:14] luxonauta commented on #699
Nice! Now I will be adding it, and soon it will be online on the site! ✨

[2022-04-10 04:05] zenorocha commented on #218
This is live now, see #699

[2022-04-10 04:05] #218 closed

[2022-04-10 04:58] zenorocha commented on #701
Hey @Gary-H9,

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository](https://github.com/Gary-H9/dracula-oh-my-posh)
- [New repository](https://github.com/dracula/oh-my-posh)

You can check the live page here:
https://draculatheme.com/oh-my-posh

Thanks for building thi

[2022-04-10 04:58] #701 closed

[2022-04-10 05:03] zenorocha commented on #699
It's live now https://draculatheme.com/dircolors ;)

[2022-04-10 05:03] #699 closed

[2022-04-10 05:03] zenorocha commented on #682
https://draculatheme.com/itfy 🎉 🎉 🎉

[2022-04-11 12:39] Gary-H9 commented on #701
HI @zenorocha, thank you for accepting this submission, I've accepted the invitation to the organisation. 😊

[2022-04-11 12:57] lokka30 opened #702 "Javadoc theme"
Firstly, thank you all for creating this theme. :)

I haven't tested if it works on JDK 8 (which seems to be already proven with the Live Preview), though the Dracula Javadoc stylesheet doesn't work for JDK 17-built javadocs.

[2022-04-11 19:30] Gary-H9 commented on #393
If anyone comes across this, the repository is here, not sure what happened with this one: https://github.com/dracula/oh-my-posh 🧛‍♂️🦇

[2022-04-12 16:46] ItzSwirlz opened #703 "New Theme for Clone Hero"
Ready for transfer!

https://github.com/ItzSwirlz/dracula-Clone-Hero

[2022-04-12 22:05] eduardovilke opened #704 "New theme for HyperX NGNUITY"
## New Theme

Theme created and available here: https://github.com/eduardovilke/dracula-ngenuity

[2022-04-13 12:25] danielbayley opened #705 "Homebrew installers"
See: https://github.com/danielbayley/homebrew-install

@zenorocha Happy to transfer this repo to the organization…

[2022-04-13 19:17] DaSh-More opened #706 "New Theme for CodePen.io"
[CodePen.io](https://codepen.io) is a fairly popular site for site layout, since I didn't find a dracula theme for it (which I was surprised at), I created it

![screenshot](https://user-images.githubusercontent.com/52647986/163253882-213fab6b-1df8-4e08-bcd5-29278a6b064a.png)

https://github.com/DaSh-More/CodePen

[2022-04-14 15:03] skalfyfan commented on #673
To this regard I'd also be curious know _how_ updates are handled with Dracula Pro? I'm very tempted to grab Dracula Pro since  I can see there are definitely some changes in there which I prefer over the free available version(s), but I'm hesitant without knowing what the update policy is?

How are any updates distributed, and shared with customers who purchased the Pro version? If JetBrains or V

[2022-04-14 21:05] rarodja commented on #673
@skalfyfan From my personal experience, I do not recommend that you spend your money on Pro, this is just marketing, this theme has not been corrected for too long and apparently it will continue like this, its author sells on his website that you will receive updates, support, and more, when it is not true, since it does not even care about correcting such simple bugs, (being a theme that is paid

[2022-04-15 12:24] benknoble commented on #673
I believe @zenorocha is working on a better update strategy for pro. Remember that it's mostly one person doing something for a globally popular community—and I think he recently had a kid. You _may_ want to hold off until the updating is figured out, but I wouldn't claim Zeno or many other theme authors don't care.

[2022-04-15 17:41] danielbayley opened #707 "New Theme for macOS native Color Picker"
@zenorocha See: https://github.com/danielbayley/dracula-color-picker

![img](https://github.com/danielbayley/dracula-color-picker/raw/main/screenshot.png)

[2022-04-17 00:28] alexchaichan opened #708 "dracula/psychopy"
## New Theme

Hey Guys,

I've created a theme for [PsychoPy](https://github.com/psychopy/psychopy).

I would be happy if you publish it

https://github.com/alexchaichan/psychopy

Best regards

Alex

[2022-04-18 19:20] danielbayley opened #709 "New Theme for ColorSlurp"
@zenorocha See: https://github.com/danielbayley/dracula-colorslurp

![img](https://github.com/danielbayley/dracula-colorslurp/raw/main/screenshot.png)

[2022-04-18 20:49] luxonauta commented on #703
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/ItzSwirlz/dracula-Clone-Hero)
- [New repository.](https://github.com/dracula/clone-hero)

Thanks for building this! 🎉

[2022-04-18 20:54] luxonauta commented on #704
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/eduardovilke/dracula-ngenuity)
- [New repository.](https://github.com/dracula/ngenuity)

Thanks for building this! 🎉

[2022-04-18 21:04] luxonauta commented on #705
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/danielbayley/homebrew-install)
- [New repository.](https://github.com/dracula/homebrew-install)

Thanks for building this! 🎉

[2022-04-18 21:14] ItzSwirlz commented on #703
Thanks for checking in! (And for the open arms, go open source!)

All looks good! Just had to fix the git repo URL in INSTALL.MD.

I'll leave this issue open, and it can be closed when the submodule is added to the repo. Cheers \o/

[2022-04-18 21:45] luxonauta commented on #707
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/danielbayley/dracula-color-picker)
- [New repository.](https://github.com/dracula/macos-color-picker)

Thanks for building this! 🎉

[2022-04-18 21:51] luxonauta commented on #708
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/alexchaichan/psychopy)
- [New repository.](https://github.com/dracula/psychopy)

Thanks for building this! 🎉

[2022-04-19 14:57] luxonauta commented on #705
I will leave this issue open and close it when the submodule is added 😅

[2022-04-20 09:47] abrudz commented on #554
OK, now at [dracula/dyalog](https://github.com/dracula/dyalog) so you can add it to the site.

[2022-04-22 19:53] ItzSwirlz commented on #703
Fixed in commit https://github.com/dracula/dracula-theme/commit/bc32d92e1e5c11b8ac57485f2401ff7cfc147d78

[2022-04-22 19:53] #703 closed

[2022-04-23 23:38] 0verk1ll opened #710 "Patchwork uses Dracula"
[Patchwork](https://github.com/ssbc/patchwork) includes the Dracula theme as an option. According to the README, the project has had its last release, so I don't know if you want to add the app to Dracula.

https://github.com/ssbc/patchwork/pull/1294 is the pull request where Dracula support was added.

Patchwork runs on GNU/Linux, MacOS, and Windows.

[2022-04-28 03:21] ltsymes23 opened #711 "LibreOffice not recognising Dracula colour palette"
Followed instructions on https://draculatheme.com/libreoffice for Windows with adding the .soc file to the palettes folder but the option does not appear as an option as pictured in either image.

Cannot be located in color scheme or color settings

The only relevant link I've found is https://github.com/dracula/libreoffice/issues/3 but I dont understand if the original question was resolved or no

[2022-04-28 11:27] hashom12 opened #712 "ugly frame around dash to dock"
![Screenshot from 2022-04-28 14-22-38](https://user-images.githubusercontent.com/67582921/165741740-8f80fbbc-919b-44d9-9c09-bc05a9ad94a6.png)

i am using [Dash to Dock for COSMIC](https://extensions.gnome.org/extension/5004/dash-to-dock-for-cosmic/) because[ dash to dock](https://extensions.gnome.org/extension/307/dash-to-dock/) still not supporting gnome 42

[2022-05-02 09:47] fccapria opened #713 "New theme for i3lock-color"
## New Theme?

We would love to support all code editors out there, but we need your help to accomplish that. Feel free to create a new theme based on our [color palette](https://github.com/dracula/dracula-theme#color-palette).

Hi, I recently created an i3lock-color theme based on Dracula theme. Check if it can be helpful! :)

https://github.com/fccapria/i3lock-color-dracula-theme

[2022-05-04 04:05] alexeygrant opened #716 "A Dracula Pro request"
I've struggled to find any support channel for Dracula Pro, so I'm writing here. If it's an inappropriate channel, please point me in the right direction.
My question if there's a way to change/tweak line numbers colors in Dark Pro themes in  JetBrains IDE It's very low contrast, and much lower compared to VSCode.

### VSCode
![image](https://user-images.githubusercontent.com/10379605/166621506-04

[2022-05-08 13:01] Draculah commented on #209
Hello,

I am a programmer-student and found out about the Dracula theme when I had to switch from PyCharm to Visual Studio (due to a type actually; I didn't like the VS theming and instead wanted PyCharm's _darcula_ theme :p). I've been using the dracula theme everywhere as soon as I discovered it's very wide-spread (as there is support in [Stylus themes](https://userstyles.world/search?q=Dracula&

[2022-05-10 23:13] Skylla54 commented on #526
# But Hoow?^^

I dont get this Header thing, need some help^^

## Problem

I have a scrabled markdown file and want to convert it into pdf via pandoc.
Looks solid but the titlepage is not that cool.

##  Context

[Picture - MD vs PDF](https://i.ibb.co/Z1KB9QS/image.png)
[Picture - Pandoc Command vs PDF](https://i.ibb.co/fGGbGwG/image.png)
[PDF File](https://file.io/ggtSEM318rak)
[MD File](https://

[2022-05-11 03:29] lonepie opened #717 "Tridactyl Theme"
## New Theme

[Dracula Tridactyl](https://github.com/lonepie/dracula-tridactyl)

[2022-05-11 12:38] tim-clifford commented on #526
Hi @Skylla54, title page styling is somewhat out of the scope of the pandoc theme. You'll need to configure that separately (probably via an additional latex header). Also, if you want to discuss this further, please open a new issue on dracula/pandoc, as that's the place for issues with the pandoc theme, not here!

[2022-05-12 12:00] pepijnvn opened #718 "Pro theme for Warp"
I was missing a Pro theme for Warp, so I made one based on the iTerm theme. You can find it here:

https://github.com/pepijnvn/dracula-pro-for-warp

[2022-05-17 04:56] #698 closed

[2022-05-17 04:56] #704 closed

[2022-05-17 05:07] #706 closed

[2022-05-17 05:20] #707 closed

[2022-05-17 05:27] #708 closed

[2022-05-20 17:07] MElemental opened #719 "New Theme - Vital Synthesizer Skin"
Hello,
I have made a skin for the [Vital](https://vital.audio) Synthesizer and I would like to submit it as a new theme.
I'll gladly make any adjustments.

## Repo

https://github.com/MElemental/vital-synth

## About Vital

Vital is an Open-Source software wavetable synthesizer.
It has many features such as Microtonal and MPE support.

Vital is a visual synthesizer. See what's happening behind the

[2022-05-26 01:57] urrickhunt opened #720 "Dracula for lsd"
new theme yay

https://github.com/urrickhunt/Dracula-for-lsd

[2022-05-27 23:16] bhadaway opened #721 "Dracula for WP"
New Submission: https://github.com/bhadaway/wp

[2022-05-31 15:05] danielbayley opened #722 "New Theme for SnippetsLab"
[SnippetsLab](https://renfei.org/snippets-lab)

@zenorocha @luxonauta See: https://github.com/dracula/snippetslab

![Screenshot](https://github.com/dracula/snippetslab/raw/main/screenshot.png)

[2022-05-31 21:02] psaraf commented on #617
any chance this get priority? its been several months

[2022-06-03 20:26] thecesspit opened #723 "MySQL Workbench 8.0"
I've followed instructions to import the Dracula settings for MySQL Workbench - and the colours only change in the edit window, not the over look and feel, database table listings etc. Did I miss a step, or something else?

I'm running 8.0 here, not the 6.3 version mentioned here: https://draculatheme.com/mysql-workbench

[2022-06-07 04:52] zenorocha commented on #708
It's finally live: https://draculatheme.com/psychopy

Thanks @alexchaichan!

[2022-06-07 04:54] zenorocha commented on #704
It's live now: https://draculatheme.com/ngenuity

Thanks @eduardovilke!

[2022-06-07 04:59] zenorocha commented on #706
It's finally live: https://draculatheme.com/codepen

Thanks @DaSh-More!

[2022-06-07 05:00] zenorocha commented on #707
It's finally live: https://draculatheme.com/macos-color-picker

Thanks @danielbayley!

[2022-06-07 05:01] zenorocha commented on #703
It's finally live: https://draculatheme.com/clone-hero

Thanks @ItzSwirlz!

[2022-06-07 08:29] alexchaichan commented on #708
Nice, thanks you guys aswell for posting.
Love the icon !

[2022-06-13 09:50] tuzu128 opened #725 "Tint2"
## New Theme

Hello I created dracula theme for tint2: https://github.com/tuzu128/dracula-tint2

[2022-06-14 02:54] zenorocha commented on #698
The theme is finally live: https://draculatheme.com/vortex-mod-manager 🎉

Thanks @jaiden-d!

[2022-06-18 16:35] ManelMCCS opened #726 "macros and functions cpp confusing colors"
In cpp the macros and functions have the same color, which causes readabilty problems

[2022-06-19 15:50] mrchoc commented on #243
How do I install this for neovim? I tried adding that line but airplane theme isn't changing

[2022-06-19 19:29] ciro-mota opened #727 "Flickering above Chrome URL bar"
Moved to: https://github.com/dracula/gtk/issues/201

Sorry for my mistake.

[2022-06-22 18:11] danielbayley opened #728 "New Theme for Drafts"
[Drafts](https://getdrafts.com)
Drafts Directory [published theme](https://directory.getdrafts.com/t/2Ak)

@zenorocha @luxonauta See: https://github.com/dracula/drafts

<p align="center">
  <img src="https://github.com/dracula/drafts/raw/main/screenshots/ios/edit.png" width="45%"/>
  <img src="https://github.com/dracula/drafts/raw/main/screenshots/ios/list.png" width="45%"/>
  <img src="https://gi

[2022-06-23 08:28] SleepyMario opened #729 "Typo on website"
Hiya, on https://draculatheme.com/zsh-syntax-highlighting the 'source /some/path/to/your/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh'  has an .sh extension, not .zsh. I'm not sure if this is the right place to report it, but anyway, there is this tiny error on the website.

[2022-06-25 19:48] PoorPocketsMcNewHold commented on #729
https://github.com/dracula/zsh-syntax-highlighting

[2022-06-27 09:37] Desmo46 commented on #370
I would like to request this too please

[2022-06-28 02:52] luxonauta commented on #729
Hi @SleepyMario, I'll close this one since you opened the issue there already. Thanks for letting us know! 💜

[2022-06-28 02:52] #729 closed

[2022-07-01 20:23] Xetheon opened #730 "New theme for Minecraft"
https://github.com/Xetheon/minecraft

This is a resourcepack for Minecraft that supports pretty much every version and uses a UI style I designed specifically to fit in line with Dracula simplicity. I think I've finally got it to a fully functioning state now am ready to submit it :D

![screenshot](https://user-images.githubusercontent.com/62160456/176963299-9061efd7-f62e-4898-9138-6a1d82186dbe.pn

[2022-07-02 17:39] alexchaichan opened #731 "New Theme for GIMP"
Hey,

have another one for GIMP.

https://github.com/alexchaichan/dracula-gimp

Best regards
Alex

[2022-07-03 22:36] Tuetenk0pp opened #732 "Homer Theme"
I created a theme for Homer (the dashboard) in this repo: https://github.com/Tuetenk0pp/homer

[2022-07-04 04:39] src-rodrigues opened #733 "I had a problem with my theme!"
![image](https://user-images.githubusercontent.com/53791194/177082338-0d7fab28-a48e-49ee-808a-fbe513366df0.png)

Something wrong with my "code_editor.xml" I pasted the tags in the right place?

[code]

[2022-07-07 14:43] yuys13 opened #734 "New Theme for Blink Shell"
[Blink Shell](https://blink.sh) is a terminal emulator for iOS.
Blink Shell has [dracula theme](https://github.com/blinksh/themes/blob/master/themes/Dracula.js), but the colors are different from those defined in the [Dracula Syntax Highlighting Specification](https://spec.draculatheme.com/).
So I created a theme that follows the specification.

https://github.com/yuys13/blink

[2022-07-09 22:35] zenorocha commented on #733
What application is this? Make sure you open an issue in the right repository: https://github.com/dracula

[2022-07-09 22:45] zenorocha commented on #726
What application are you referring to? Make sure you open an issue in the appropriate repository: https://github.com/dracula

[2022-07-09 22:46] #727 closed

[2022-07-09 23:07] zenorocha commented on #710
Hey @0verk1ll, that's great! I didn't know that Patchwork had a Dracula theme built in.

Since I'm not a Patchwork user I wouldn't be able to describe the installation instructions and how to activate the theme. However, you could do that and I can still add to the website, here's how...

You can create a new repo following this template: https://github.com/dracula/template
Just make sure you take

[2022-07-09 23:16] zenorocha commented on #730
That's awesome @Xetheon, I love it!

I just moved the repository to the org and sent you an invite: https://github.com/dracula/minecraft
So feel free to remove the original repo: https://github.com/Xetheon/minecraft

In order to add this to the website, we need to include an `INSTALL.md` file. The website is auto-generated from all these types of files. You can use this as an example: https://gith

[2022-07-09 23:44] zenorocha commented on #725
We're live! 🎉

https://draculatheme.com/tint2
https://github.com/dracula/tint2

Thanks for building this theme @tuzu128!
Feel free to remove the initial repository now.

[2022-07-09 23:44] #725 closed

[2022-07-09 23:45] zenorocha commented on #728
That's awesome, I didn't know about Drafts, it looks great!

https://draculatheme.com/drafts 🎉

[2022-07-09 23:45] #728 closed

[2022-07-09 23:45] zenorocha commented on #731
We're live! 🎉

https://draculatheme.com/gimp
https://github.com/dracula/gimp

Thanks for building this theme @alexchaichan!
Feel free to remove the initial repository now.

[2022-07-09 23:45] #731 closed

[2022-07-09 23:46] zenorocha commented on #722
Amazing work! 🤩

https://draculatheme.com/snippetslab

[2022-07-09 23:46] #722 closed

[2022-07-09 23:46] zenorocha commented on #732
We're live! 🎉

https://draculatheme.com/homer
https://github.com/dracula/homer

Thanks for building this theme @Tuetenk0pp!
Feel free to remove the initial repository now.

[2022-07-09 23:46] #732 closed

[2022-07-10 07:56] Tuetenk0pp commented on #732
Very nice! Thank you @zenorocha

[2022-07-10 19:11] jkoby opened #735 "New Theme for YunoHost"
[YunoHost](https://yunohost.org) is a tool for setting up self-hosted services on a server or Raspberry Pi, but it doesn't have a Dracula theme yet.

This is a theme for the YunoHost user portal, using the Dracula colors.  It does not (yet) apply to the administrator console or any applications installed within YunoHost.

This theme is available in the following GitHub repository:
[https://github.

[2022-07-18 17:10] Lutitious opened #738 "Theme for PolyMC"
Hi there I have just written a theme for PolyMC (A qt minecraft launcher) based on your template if you would take a look its available [here](https://github.com/Lutitious/dracula-polymc/tree/master).

[2022-07-19 03:19] LrnzDC3696 opened #739 "Youtube theme"
Something like this https://draculatheme.com/github but for youtube!!!
I saw 2 other repository open for this but it would be nice if the extension used is uniform instead

[2022-07-23 19:37] asdreemurr844 opened #740 "Contribute a theme for Pleroma FE!"
Hello! I created a theme for Pleroma!

https://github.com/asdreemurr844/dracula-pleroma-theme

[2022-07-27 15:47] bit-burger opened #742 "Steam does not have the "skins" folder on MacOS?"
MacOS does not have the skins folder in this path anymore: ~/Library/Application Support/Steam/Steam.AppBundle/Steam/Contents/MacOS/skins.

Basically the whole path is valid except the last folder.

I tried adding it and then do the rest of the instructions. This however did not work

[2022-07-27 17:15] benknoble commented on #742
This should migrate to dracula/steam (or whatever the appropriate repo name is).

[2022-07-27 17:44] luxonauta commented on #742
Hi @bit-burger, this is a question to open in the [Steam theme repository](https://github.com/dracula/steam) so that the project maintainers can help you with your doubt. 😊 You can do this by [clicking here](https://github.com/dracula/steam/issues/new).
So I will close this issue! 😅

[2022-07-27 17:44] #742 closed

[2022-07-27 17:50] luxonauta commented on #739
Hi @LrnzDC3696 👋🏻, that would be cool! Are you interested in trying to code the same?
If yes, here is the [template](https://github.com/dracula/template) to create the repository in the Dracula Theme pattern.

I'll tag this issue as a `new-theme-request`.

Thanks! 😊

[2022-07-27 17:57] luxonauta commented on #734
Hi @yuys13 👋🏻, how cool!

Therefore, we can [open an issue](https://github.com/blinksh/themes/issues/new) in the repository where the original theme exists, so we inform the maintainers of the same. If necessary, we can create a PR with this correction! 🔥

Let me know what you think, and you can subscribe to the issue too! 😊

[2022-07-27 18:10] luxonauta commented on #716
Hi @alexeygrant 👋🏻, the best place to get help is on our [Discord](https://draculatheme.com/discord-invite)!

There has a channel dedicated to **Dracula Pro**, we are always attentive there, and other users are always willing to help! 😊

This low-contrast issue is interesting; I'll be investigating! 🔥

[2022-07-30 15:15] yuys13 commented on #734
Hi @luxonauta ,thank you for checking this issue!

I tried to create a PR in blinksh/themes but could not figure out how to create a [screenshot](https://github.com/blinksh/themes/blob/master/screenshots/dracula.png), so I will create an issue.

[2022-08-04 20:19] leozz37 commented on #739
Hey!

I'll be creating a theme for Youtube!

[2022-08-04 21:22] leozz37 opened #743 "Youtube Theme"
Add Youtube theme using Stylus!

Link for my repo [here](https://github.com/leozz37/dracula-youtube). You can check the theme [here](https://userstyles.world/style/5979/oficial-dracula-theme)!

### Home:

<img width="1440" alt="screenshot-youtube" src="https://user-images.githubusercontent.com/38125236/182954877-b0c123c6-24f7-43a2-8474-1315acfe4ac5.png">

### Video:

<img width="1440" alt="Captura

[2022-08-04 21:23] leozz37 commented on #739
Just created it! #743

[2022-08-05 00:51] LrnzDC3696 commented on #743
that was fast!

[2022-08-05 01:14] StoneCypher opened #744 "Should I use your theme in my editor?"
I like `Dracula`.  However, my use case is to build themes directly into an editor that I built, rather than to send them to someone else.

I'd like to build `Dracula` into my editor, the way I have `Penumbra` and `Solarized` and some others.  I'm not sure, in this case, if it's appropriate: you charge for your stuff.  I am uncertain if I am supporting you or pirating you.

Please clarify.  May I

[2022-08-05 12:44] benknoble commented on #744
Only the Dracula Pro themes are paid content. The regular Dracula theme is free.

[2022-08-10 05:16] leozz37 opened #745 "Hacker News Theme"
I created a theme for Hacker News using Stylus!

Link for my repo [here](https://github.com/leozz37/dracula-hacker-news), and you can check the theme [here](https://userstyles.world/style/6043/dracula-for-hacker-news)

![screenshot-hacker-news](https://user-images.githubusercontent.com/38125236/183821325-f3197ca1-9e32-4d70-9364-3a05e70ca0d8.png)

[2022-08-10 12:58] MetalistPavlenko opened #746 "CudaText"
I would like someone to make a theme for [CudaText](https://github.com/Alexey-T/CudaText), because i'm not good at it

[2022-08-12 07:09] Lutitious commented on #738
Any chance i can get an update on this?

[2022-08-14 17:45] omanuelcosta opened #747 "Zotero"
I just created a [Dracula-based theme](https://github.com/omanuelcosta/Zotero-Dracula-Theme) for [Zotero](https://www.zotero.org/).

Instructions are on the README.md

[2022-08-16 14:41] diluteoxygen commented on #746
Is this the same base for CudaText? github.com/jackdp/Dracula-CudaText

[2022-08-16 19:04] MetalistPavlenko commented on #746
Yes, this is it, but the theme is different from Dracula, there are differences in syntax highlighting, maybe also in the color design of the program itself. Perhaps this is due to an outdated version of the theme itself

[2022-08-19 19:01] SIMULATAN opened #748 "New Theme: Nextcloud"
I made a theme for [Nextcloud](https://nextcloud.com) and would be happy to get it accepted and moved. Additionally, I'm ready to maintain it until further notice.

Screenshot:
![Screenshot](https://user-images.githubusercontent.com/63104422/185686289-8a478153-c956-42f3-a2fd-5e017758cc70.png)

I'd happily implement suggestions, so please do not hesitate to give me feedback =)

Repo: [SIMULATAN/dra

[2022-08-23 17:58] MetalistPavlenko commented on #746
Here's what else I found: [SourceForge](https://sourceforge.net/projects/cudatext/files/addons/themes/theme.Darcula.zip/download) or [GitHub](https://github.com/dimon40001/cudatext-theme-darcula). But the theme is different in color, for example, it is dimmer

[2022-08-24 18:07] luxonauta commented on #748
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/SIMULATAN/dracula-nextcloud)
- [New repository.](https://github.com/dracula/nextcloud)

Thanks for building this! 🎉

[2022-08-24 18:13] luxonauta commented on #747
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/omanuelcosta/Zotero-Dracula-Theme)
- [New repository.](https://github.com/dracula/zotero)

Thanks for building this! 🎉

[2022-08-24 18:35] luxonauta commented on #745
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/leozz37/dracula-hacker-news)
- [New repository.](https://github.com/dracula/hacker-news)

Thanks for building this! 🎉

[2022-08-24 18:46] luxonauta commented on #744
Hi @StoneCypher 👋🏻

You can integrate the Dracula theme into your editor. 😅
Zeno Rocha created Dracula Theme under the MIT License; that is, you are allowed to:

- Commercial use
- Modification
- Distribution
- Private use

Just what I would ask you to [collaborate with the project](https://draculatheme.com/contribute) by adding the steps to activate it in your editor; this is also a way to **give

[2022-08-24 18:48] StoneCypher commented on #744
It does. Thank you. I will try to follow your process.

I got themes working yesterday, so, probably over the next week or two.

[2022-08-24 18:50] #744 closed

[2022-08-24 18:54] luxonauta commented on #743
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/leozz37/dracula-youtube)
- [New repository.](https://github.com/dracula/youtube)

Thanks for building this! 🎉

[2022-08-24 19:22] luxonauta commented on #740
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/asdreemurr844/dracula-pleroma-theme)
- [New repository.](https://github.com/dracula/pleroma)

Thanks for building this! 🎉

[2022-08-24 19:22] #739 closed

[2022-08-24 23:18] leozz37 commented on #745
Awesome! Just opened a PR with the install instructions!

[2022-08-24 23:18] leozz37 commented on #743
Awesome! Just opened a PR with the install instructions!

[2022-08-25 04:43] SIMULATAN commented on #748
Thank you so much!

I've joined the organization and archived my repo.
Thus, this issue can be closed from my side, please let me know if I missed something or in general if there's anything I can do.

Thanks again for the quick inclusion ♥️

[2022-08-26 16:14] luxonauta commented on #748
Super Cool! 🦇

I'll leave it open until it's live on the site, then I'll let you know here and close the Issue. 🧛🏻

[2022-08-31 07:58] sinful-mads opened #749 "Border around cosmic dock Pop!_OS 22.04 LTS"
Hello there!

![image](https://user-images.githubusercontent.com/105631567/187621536-ad637e6e-c659-404a-8ab2-13ad52cfc35c.png)
![image](https://user-images.githubusercontent.com/105631567/187623613-14c820d9-aa3f-4625-8ae3-b1ab1e9688db.png)

I have run into an issue where there is a visible border around the Cosmic Dock in Pop!_OS 22.04 LTS GTK 4 :) I have tried searching for the border settings to

[2022-09-01 16:36] Its-Juice commented on #749
I have the exact same issue only with the gnome extension in fedora. Visually the same issue idk what's causing it

[2022-09-05 12:48] luxonauta commented on #749
Hello, thank you very much for your interest in providing this feedback. ✨

However, this is not the correct place to do so; the proper place for this is in the project repository, where you can chat with the theme maintainers.

I believe it's the [GTK repository](https://github.com/dracula/gtk) in this case; you can open it by [clicking here](https://github.com/dracula/gtk/issues/new/choose).

[2022-09-05 12:48] #749 closed

[2022-09-05 13:05] sinful-mads commented on #749
issue has been posted here https://github.com/dracula/gtk/issues/216

[2022-09-05 21:14] yuys13 commented on #734
Hi @luxonauta!
I created https://github.com/blinksh/themes/issues/32 but this PJ looks non active.
I would like to add https://github.com/yuys13/blink to this organization so that other users can use the dracula theme with blink.
Please let me know what you think.

[2022-09-06 07:15] emir-karpuz opened #750 "New Theme : PLSQL Developer"
Hello Guys,

I would like to contribute my work, hope you like it, enjoy :)

https://github.com/emir-karpuz/plsql-developer-dracula-color-theme

[2022-09-12 00:56] MayhemBill opened #751 "YouTube Desktop Music Player Theme"
New theme for YTMD

https://github.com/MayhemBill/YTMD-Dracula

based on the themes from OceanicSquirrel, using Dracula palette

[2022-09-15 15:03] powerobject opened #752 "Theme for FL Studio Mobile iPad app"
## New Theme?

No, this is not a new theme submission. Since I could not find your email address, I'm submitting this request to create a Dracula theme for **FL Studio Mobile** iOS and iPadOS apps -

https://apps.apple.com/us/app/fl-studio-mobile/id432850619

As you can see from the above, FL Studio Mobile is a great mobile app but the UI is a **disaster** compared to its Desktop counterpart which

[2022-09-16 03:25] enigmalea opened #753 "New Theme: Dracula for AutoAO3App"
I've coded a Stylus Dracula Theme for AutoAO3App. The app is a project which helps fans run exchanges on archiveofourown.org, but it currently doesn't have a dark mode available.

You can find the repo here: https://github.com/enigmalea/Dracula-For-AutoAO3App

[2022-09-19 13:29] luxonauta commented on #734
Oh 😥, I understand.

Okay, we can proceed then. ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/yuys13/blink)
- [New repository.](https://github.com/dracula/blink-shell)

[2022-09-19 13:46] yuys13 commented on #734
Thanks for creating the blink-shell repository!
I have joined the organization and updated some URLs for the dracula organization.

[2022-09-20 11:49] emir-karpuz opened #754 "New Theme: PL/SQL Developer"
Hello,

This is my work. Can you add this to the collection please? Thank you.

https://github.com/emir-karpuz/plsql-developer-dracula-color-theme

[2022-09-20 21:23] luxonauta commented on #748
Thank you, the theme is already listed on the [site](https://draculatheme.com/nextcloud)! 🚀

[2022-09-20 21:23] #748 closed

[2022-09-20 21:25] luxonauta commented on #745
Thank you, the theme is already listed on the [site](https://draculatheme.com/hacker-news)! 🚀

[2022-09-20 21:25] #745 closed

[2022-09-20 21:26] luxonauta commented on #743
Thank you, the theme is already listed on the [site](https://draculatheme.com/youtube)! 🚀

[2022-09-20 21:26] #743 closed

[2022-09-20 22:01] luxonauta commented on #754
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/emir-karpuz/plsql-developer-dracula-color-theme)
- [New repository.](https://github.com/dracula/plsql-developer)

Thanks for building this! 🎉

[2022-09-20 22:13] luxonauta commented on #753
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/enigmalea/Dracula-For-AutoAO3App)
- [New repository.](https://github.com/dracula/auto-ao3-app)

Thanks for building this! 🎉

[2022-09-20 22:51] luxonauta commented on #751
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/MayhemBill/YTMD-Dracula)
- [New repository.](https://github.com/dracula/youtube-music-desktop)

Thanks for building this! 🎉

[2022-09-20 22:56] luxonauta commented on #750
Hi Emir 👋🏻, this is a duplicate of [another Issue](https://github.com/dracula/dracula-theme/issues/754) that we are already transferring. So I'll be closing this one. 😉

[2022-09-20 22:56] #750 closed

[2022-09-21 17:25] luxonauta commented on #738
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/Lutitious/dracula-polymc)
- [New repository.](https://github.com/dracula/polymc)

Thanks for building this! 🎉

[2022-09-21 17:32] luxonauta commented on #735
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/jkoby/dracula-yunohost)
- [New repository.](https://github.com/dracula/yunohost)

Thanks for building this! 🎉

[2022-09-21 18:29] bhadaway commented on #721
WordPress is highly customizable and highly themeable. That existing plugin themes the WP back-end admin UI only; my plugin themes the front-end code examples; they have a completely separate purpose. In fact, with both our plugins, there's still 2-3 other places left unthemed that could use a solution.

If you're thinking "Well then, there should be just one plugin that has toggleable options to

[2022-09-21 19:40] luxonauta commented on #721
Oh yes, I understand. 😅

Okay, do you have a suggestion on how we can name this addition of yours, as the name _WordPress_ has already been taken; _WP_, I don't think it's very intuitive. 😥

[2022-09-21 22:22] enigmalea commented on #753
Hi there! I've archived my copy of the repo, updated my screenshots and closed the issue over on the [Dracula Org Repo](https://github.com/dracula/auto-ao3-app), and also merged the image optimization PR. Let me know if there's anything else I need to do.

[2022-09-21 22:39] bhadaway commented on #721
_WP_ is probably the best option. People that use WordPress recognize it automatically. It's an extremely common acronym, as common as CSS, PHP, HTML, JS, etc.

[2022-09-29 13:10] luxonauta commented on #753
Thanks! I'll include it later, and it will be on the site soon; Until then, I'll leave this Issue open! 🚀

[2022-09-29 13:12] luxonauta commented on #721
Thanks! 😊 Alright, so I'll proceed with the inclusion later today! 🚀

[2022-09-29 13:16] luxonauta commented on #738
It Will soon be included; and will likely be featured in our newsletter and blog! We've waited a while to include a few at once. 🧑🏻‍🚀

[2022-09-29 13:22] luxonauta commented on #751
That's great to know! I'll be re-opening the Issue here because that's where I'll let you know when it's online on the website. 😅

[2022-10-02 07:14] Superredstone opened #755 "New theme: new tab Firefox/Chrome"
The old new tab theme for chromium based browsers was just an image in the center of the screen (The image don't even load anymore), so i created this extension, i will problably upload it as soon as possible on the chrome store.
https://github.com/Superredstone/Dracula-new-tab

[2022-10-04 14:38] Superredstone commented on #755
Update: i also ported this extension to Firefox!
https://github.com/Superredstone/Dracula-new-tab-firefox

I had to change the link for the chrome extension so as not to confuse people, here's the new one:
https://github.com/Superredstone/Dracula-new-tab-chrome

[2022-10-07 14:01] etrigan63 opened #757 "Dracula for Cava"
## New Theme?

I have created a Dracula theme for the Cava app (terminal audio visualizer) and am submitting it for your consideration.

https://github.com/etrigan63/cava.git

[2022-10-08 10:55] raffaem commented on #717
Thanks! That looks awesome!

How long till he gets in the official repo?

[2022-10-08 16:36] raffaem opened #758 "Dracula theme for Sioyek"
## Dracula theme for sioyek

Dracula theme for [sioyek](https://sioyek.info/): https://github.com/raffaem/sioyek-dracula-theme

[2022-10-08 16:39] raffaem commented on #747
If @omanuelcosta is not available anymore I can take over this

[2022-10-13 22:12] sandenbergmelo opened #759 "New theme request for Beekeeper Studio"
It would be nice to have Dracula Theme for Beekeeper Studio.

[2022-10-19 12:24] yuys13 commented on #734
Thanks for adding this to draculatheme.com!
I will close the Issue.

[2022-10-19 12:24] #734 closed, assigned to nobody

[2022-10-19 14:44] luxonauta commented on #753
Hi, the theme is already on the [site](https://draculatheme.com/auto-ao3-app)! Thanks for building this! 🎃

[2022-10-19 14:44] #753 closed

[2022-10-19 14:47] luxonauta commented on #738
Hi, the theme is already on the [site](https://draculatheme.com/polymc)! Thanks for building this! 🎃

[2022-10-19 14:47] #738 closed

[2022-10-19 14:47] luxonauta commented on #751
Hi, the theme is already on the [site](https://draculatheme.com/youtube-music-desktop)! Thanks for building this! 🎃

[2022-10-19 14:47] #751 closed

[2022-10-19 14:48] #735 closed

[2022-10-20 12:29] luxonauta commented on #757
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/etrigan63/cava)
- [New repository.](https://github.com/dracula/cava)

Thanks for building this! 🎉

[2022-10-20 12:39] luxonauta commented on #747
@raffaem I already invited you to the app team, feel free to contribute and, if possible, try to solve the Issue I created there. 🧛🏻

[2022-10-20 12:46] luxonauta commented on #721
I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/bhadaway/wp)
- [New repository.](https://github.com/dracula/wp)

Thanks for building this! 🎉

[2022-10-20 12:50] luxonauta commented on #720
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/urrickhunt/Dracula-for-lsd)
- [New repository.](https://github.com/dracula/lsd)

Thanks for building this! 🎉

[2022-10-20 12:55] luxonauta commented on #719
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/MElemental/vital-synth)
- [New repository.](https://github.com/dracula/vital)

Thanks for building this! 🎉

[2022-10-20 13:00] luxonauta commented on #717
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/lonepie/dracula-tridactyl)
- [New repository.](https://github.com/dracula/tridactyl)

Thanks for building this! 🎉

[2022-10-20 13:03] #716 closed

[2022-10-20 13:58] rhydlewis opened #760 "Dracula for kanbanflow.com"
Dracula theme for [KanbanFlow](https://kanbanflow.com) 👉🏼 [https://github.com/rhydlewis/dracula-for-kanbanflow](https://github.com/rhydlewis/dracula-for-kanbanflow).

Cheers

[2022-10-20 15:04] luxonauta commented on #713
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/fccapria/i3lock-color-dracula-theme)
- [New repository.](https://github.com/dracula/i3lock)

Thanks for building this! 🎉

[2022-10-20 15:08] luxonauta commented on #697
Very lovely the intention to create the theme and contribute, but this is not the place for a reminder; it ends up disrupting our organization a bit, so I'll be closing the Issue! 😅

[2022-10-20 15:08] #697 closed

[2022-10-20 15:18] #688 closed

[2022-10-20 15:37] #681 closed

[2022-10-20 15:39] luxonauta commented on #668
Hi 👋🏻, what is the status of this theme? Is it still valid?
Given the recent changes in Microsoft's browsers? 🤔

[2022-10-20 15:42] luxonauta commented on #664
I believe the project has already been transferred and is ready to be listed on the website so I will close this Issue. 🧱

[2022-10-20 15:42] #664 closed

[2022-10-20 15:59] luxonauta commented on #760
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/rhydlewis/dracula-for-kanbanflow)
- [New repository.](https://github.com/dracula/kanbanflow)

Thanks for building this! 🎉

[2022-10-20 16:04] luxonauta commented on #652
I appreciate your interest in creating and wanting to contribute to the project. 🥰

But from what I saw, we already have a theme for Youtube. Would you be interested in joining the organization and collaborating with this theme that we already have? 🤔

[2022-10-20 16:08] luxonauta commented on #661
I checked here that the changes have already been made, and I will proceed with including them. 🧑🏻‍🚀

[2022-10-20 16:13] luxonauta commented on #275
We seem to have been without answers for a while now 😢; I may be cloning the repository and adding the organization. Are you interested in continuing it @bigpick?

[2022-10-20 16:23] wasi-master commented on #697
Yeah I can see that

[2022-10-20 18:55] fccapria commented on #713
Hey! Thanks a lot, I'm glad you like it!
Anyway I saw the invitation and just accepted it, I'm very happy to be part of Dracula :)

[2022-10-21 14:36] Lutitious opened #761 "Moving polymc theme to prismlauncher"
## Issue regarding polymc

Polymc was recently in a hostile takeover by the lead maintainer polymc. Most of the devs got together to create a for of polymc called prismlauncher. I would like to, as such move my polymc theme to prismlauncher but i am not sure on the protocol of how to do this. I would like some help for exactly how to since this is quite a unique situation. Documentationof the even

[2022-10-21 15:47] luxonauta commented on #713
Until the theme is listed on the website, we will leave this issue open because through it, I will let you know.

[2022-10-21 15:52] ericjeker opened #762 "Dracula for OpenGL Shaders"
## Dracula for OpenGL Shaders

https://github.com/ericjeker/dracula-shader

[2022-10-21 15:55] luxonauta commented on #761
Has the old theme for PolyMC stopped working? 🤔

If that's the case, the best thing is to remove it from the organization and create a new one for this new app.

[2022-10-22 10:01] PoorPocketsMcNewHold commented on #761
[**@luxonauta**](https://github.com/luxonauta) commented on [Oct 21, 2022, 3:55 PM UTC](https://github.com/dracula/dracula-theme/issues/761#issuecomment-1287153179 "2022-10-21T15:55:55Z - Replied by Github Reply Comments"):

It very likely haven't broken. OP just suggest changing the supported application to PrismLauncher, instead of PolyMC or MultiMC.
As explained accurately in the FAQ provided b

[2022-10-22 11:43] Lutitious commented on #761
Nope nothing is wrong with the theme itself its just polymc is no longer run by the original devs as explained in the prismlauncher faq, and switching to prismlauncher rather than polymc for the name would probably be a good idea since most of the devs for polymc are now working on prism instead

[2022-10-23 08:56] sumitst05 opened #763 "Mismatched color themes on ubuntu 22.10"
Recently upgraded to Ubuntu 22.10. After the upgrade, the system menu colors seem to be too bright.
Also the theme is not working on title bars of system applications like Files, Settings, GNOME Software, Ubuntu Software, etc.
(PS: The theme never worked on Ubuntu Software for Ubuntu 22.04  LTS but it used to work on GNOME Software before)

![Screenshot from 2022-10-23 14-10-06](https://user-image

[2022-10-24 13:09] luxonauta commented on #761
I understand, so we'd better create a new repository for this new app. Let's proceed in this way as if it were a new submission.

[2022-10-24 13:09] #761 closed

[2022-10-24 13:21] #763 closed

[2022-10-24 15:33] frank-yifei-wang commented on #370
I had success in manually downloading the **theme extension (.vsix file)** for VS Code and installing in Azure Data Studio. However I'd love to see Azure Data Studio being able to natively install those theme extensions.

For those who want to try my manual hack:
1. Go to VS Code Marketplace, **"Download Extension"** and save the .vsix file
2. Go to Azure Data Studio, Ctrl+Shift+P to open the comm

[2022-10-27 00:29] bvout opened #765 "Dracula for novelWriter"
## Dracula for novelWriter

https://github.com/bvout/novelwriter

I made syntax highlighting and GUI themes for [novelWriter](https://novelwriter.io/).

[2022-11-03 05:57] d4rkr41n opened #766 "Dracula for Lapce"
Text editor project with github based theme repos similar to Atom.
[https://github.com/d4rkr41n/lapce-dracula](https://github.com/d4rkr41n/lapce-dracula)

[2022-11-03 12:52] SIMULATAN opened #767 "New Theme: Suckless Tabbed"
[Tabbed](https://tools.suckless.org/tabbed/) is a simple program by [suckless](https://suckless.org) that adds Tabbing into Xorg.

Repo: [SIMULATAN/DraculaTabbed](https://github.com/SIMULATAN/DraculaTabbed)

Screenshot:
![screenshot of tabbed with dracula](https://user-images.githubusercontent.com/63104422/199724809-7c13af8f-e89f-45d0-8faf-45f040250f96.png)
Let me know if you have a suggestion, I'

[2022-11-04 08:13] e2t commented on #617
Anyone?

[2022-11-04 17:57] AugustoPreis opened #769 "Change var or let color"
There's a way to change ```var``` or ```let``` color?

Currently, ```const``` have a purple color, but ```var``` and ```let``` has the same colors

I hant to know if is possible to change one of this two colors, like the following example

![var-let-const](https://user-images.githubusercontent.com/88676365/200043792-f4e1ac24-666e-4c48-97ba-197694b5e4b2.png)

[2022-11-09 17:42] luxonauta commented on #765
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/bvout/novelwriter)
- [New repository.](https://github.com/dracula/novel-writer)

Thanks for building this! 🎉

[2022-11-09 17:46] luxonauta commented on #766
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/d4rkr41n/lapce-dracula)
- [New repository.](https://github.com/dracula/lapce)

Thanks for building this! 🎉

[2022-11-09 18:15] luxonauta commented on #769
Hi 🙋🏻‍♂️ Augusto, which app would you like this to change?

The ideal would be to create this Issue in its repository; ✅ here in this repository, we try to keep only questions about theme submissions, updates or suggestions for the organization.

It looks like this capture is done in VSCode; if that's the case, the best place for this Issue is [here](https://github.com/dracula/visual-studio-code).

[2022-11-09 18:15] #769 closed

[2022-11-09 18:20] luxonauta commented on #755
Hi 👋🏻 Patrick, how cool!

✨ The ideal would be to concentrate both in the same repository and write both instructions in the same `install.md` file, separating the method for both browsers.

Let me know if there are any impediments so that we can proceed!

Thanks so much for building this! 💖

[2022-11-09 19:13] Superredstone commented on #755
Ok, i merged the two repos inside [https://github.com/Superredstone/dracula-new-tab](https://github.com/Superredstone/dracula-new-tab)
I also added `install.md `file as requested :D

[2022-11-09 19:16] #740 closed

[2022-11-09 19:18] #720 closed

[2022-11-09 19:20] #717 closed

[2022-11-09 19:37] luxonauta commented on #370
That's cool; maybe @dsifford can help us make this a reality, as he's the theme maintainer for VSCode.

I also found a [how-to guide](https://learn.microsoft.com/en-us/sql/azure-data-studio/extensions/extension-authoring?view=sql-server-ver16).

[2022-11-09 19:45] luxonauta commented on #617
Unfortunately, there is no theme for Eclipse yet.

It is in our plans to ✅ add it, but at the moment, we have a list of themes to be ported to Dracula PRO with higher priority.

[2022-11-09 19:45] #617 closed

[2022-11-10 00:14] sandenbergmelo opened #771 "New theme request for gnome-text-editor"
It would be nice to have Dracula Theme for the new gnome-text-editor.
Link to gnome-text-editor repository: https://gitlab.gnome.org/GNOME/gnome-text-editor

[2022-11-10 07:58] joesdu opened #772 "Visual Studio On ARM64 not Support"

[2022-11-10 13:36] luxonauta commented on #772
Please create this Issue in the Visual Studio Code repository; here in this repository, we only keep submissions of themes, updates or suggestions for the organization.

[2022-11-10 13:36] #772 closed

[2022-11-13 07:03] XxAcielxX opened #773 "New Theme Request: Navidrome"
Hello,

I would like to request theme for the [Navidrome](https://github.com/navidrome/navidrome). They have their documentation on how to create new themes for it at https://www.navidrome.org/docs/developers/creating-themes/

**Regards~**

[2022-11-14 17:01] #633 closed

[2022-11-14 17:02] #652 closed

[2022-11-14 17:06] luxonauta commented on #632
How amazing are these wallpapers ✨, @brandon-irs, what do you think about including them in the repository? Can I help?

[2022-11-14 17:15] #242 closed

[2022-11-14 17:16] #275 closed

[2022-11-14 17:18] #309 closed

[2022-11-14 17:23] luxonauta commented on #365
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/shmink/dracula-peacock-extension)
- [New repository.](https://github.com/dracula/peacock-extension)

Thanks for building this! 🎉

[2022-11-14 17:28] #390 closed

[2022-11-14 17:31] luxonauta commented on #399
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/zshzero/dracula-grub2)
- [New repository.](https://github.com/dracula/grub2)

Thanks for building this! 🎉

[2022-11-14 17:36] luxonauta commented on #427
That's cool ✨; thank you very much for your interest in contributing; however, we already have a theme for [Youtube](https://draculatheme.com/youtube), so I will be closing this Issue!

[2022-11-14 17:36] #427 closed

[2022-11-14 17:39] luxonauta commented on #429
This is awesome 🤯, I didn't know about this tool!

[2022-11-14 17:41] luxonauta commented on #429
I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/NicTanghe/Aurora-Dracula)
- [New repository.](https://github.com/dracula/aurora)

Thanks for building this! 🎉

[2022-11-14 17:48] luxonauta commented on #439
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/aravindps/dracula-one-ui-hex)
- [New repository.](https://github.com/dracula/hex-installer)

Thanks for building this! 🎉

[2022-11-14 18:36] jiseoblim opened #774 "https://github.com/jiseoblim/Dracula"
## New Theme?

We would love to support all code editors out there, but we need your help to accomplish that. Feel free to create a new theme based on our [color palette](https://github.com/dracula/dracula-theme#color-palette).

## Existing Theme?

Find the appropriate repository on the [Dracula organization](https://github.com/dracula). This is just the umbrella place where we store all themes.

[2022-11-14 18:45] luxonauta commented on #774
Hi @jiseoblim, I believe you created the Issue wrongly or didn't save your changes; Please check and reread so I can help!

[2022-11-14 18:47] luxonauta commented on #620
This is already built and added to the Dracula Theme organization, so I will close this Issue. 🦇

[2022-11-14 18:47] #620 closed

[2022-11-14 19:41] luxonauta commented on #600
This is very cool! 🤩

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/Darkempire78/Dracula-Spicetify)
- [New repository.](https://github.com/dracula/spicetify)

Thanks for building this! 🎉 And let's continue this discussion about colours in th

[2022-11-14 23:00] notblank00 opened #775 "Many elements are broken on GNOME 43"
e.g.: ![image](https://user-images.githubusercontent.com/25267577/201785760-3d52cd4a-924b-48a8-ba3b-d8fb559325bb.png)

[2022-11-16 18:09] #774 closed

[2022-11-16 18:12] luxonauta commented on #775
Hi 👋🏻 Igor, the ideal is to create this Issue in [its repository](https://github.com/dracula/gtk/issues/new?assignees=&labels=bug&template=bug_report.md&title=%5BBUG%5D+Write+a+suitable+title); here in this repository, we keep only questions about theme submissions, updates or suggestions for the organization.

[2022-11-16 18:12] #775 closed

[2022-11-16 18:17] luxonauta commented on #446
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/pspiagicw/dracula-dwm)
- [New repository.](https://github.com/dracula/dwm)

Thanks for building this! 🎉

[2022-11-16 18:19] luxonauta commented on #462
Hey Zoe, I tried to look here, but the link is broken 😅

[2022-11-16 18:28] #480 closed

[2022-11-16 18:32] luxonauta commented on #481
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/Ellipogus/dracula-dmenu)
- [New repository.](https://github.com/dracula/dmenu)

Thanks for building this! 🎉

[2022-11-16 18:40] luxonauta commented on #492
This is already fantastic! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/Pakrohk-DotFiles/PkTile)
- [New repository.](https://github.com/dracula/qtile)

Thanks for building this! 🎉

[2022-11-16 18:51] luxonauta commented on #522
How cool, @poetaman! 🚀

✅ Please create a repository following this template and post instructions so you can be listed as a contributor!

[2022-11-16 18:53] #595 closed

[2022-11-16 18:57] luxonauta commented on #591
Hey, very cool! ✨

I just sent you an invitation to join the organization.

I also cloned your repository for Dracula's organization, so you can go ahead and delete or archive yours:

- [Your repository.](https://github.com/mjbn/leftwm-dracula-theme)
- [New repository.](https://github.com/dracula/leftwm)

Thanks for building this! 🎉

[2022-11-16 18:59] #566 closed

[2022-11-17 18:55] Groctel commented on #480
Thank you so much for your response @luxonauta! :sparkles:

:x: During these almost two years (one more month and we could be celebrating the second anniversary of this thread, come on) I've had time to pausedly consider the issue at and and have arrived at the conclusion that the price you put for

- 18 Themes
- 6 Variants
- 4 Hand-picked Fonts
- 1 Productivity E-book
- 1 Bonus Screencast
- Desig

[2022-11-19 18:20] vkosuri opened #778 "time plugin get the time from fixed location instead of system time"
## Existing Theme?
time plugin update system

The reason the location and time did not match w.r.t custom location sets. the blow screenshot the current time shows from UTC of the system time. whereas the current time while creating the bug the current time is Sat 19/11 10:18 PST.

![image](https://user-images.githubusercontent.com/13664257/202865708-b512cba9-cfc6-4f8c-8453-d465953388ba.png)

set

[2022-11-23 00:55] MElemental commented on #719
Hi @luxonauta I thought I did accept the invitation, but I must have missed the 7 day window. Would I be able to receive another one?

[2022-11-23 13:48] Ellipogus commented on #481
Hi,

I haven't received an email or github notification about the invitation. Am I just looking in the wrong place?

[2022-11-24 12:35] #757 closed

[2022-11-24 12:36] luxonauta commented on #709
It's 🧟‍♂️ a-live: https://draculatheme.com/color-slurp

[2022-11-24 12:36] #481 closed

[2022-11-24 12:38] luxonauta commented on #713
It's 🧟‍♂️ a-live: https://draculatheme.com/i3lock-color

[2022-11-24 12:38] #713 closed

[2022-11-24 12:39] luxonauta commented on #760
It's 🧟‍♂️ a-live: https://draculatheme.com/kanbanflow

[2022-11-24 12:39] luxonauta commented on #591
It's 🧟‍♂️ a-live: https://draculatheme.com/leftwm

[2022-11-24 12:39] #591 closed

[2022-11-24 12:40] luxonauta commented on #730
It's 🧟‍♂️ a-live: https://draculatheme.com/minecraft

[2022-11-24 12:40] #730 closed

[2022-11-24 12:40] luxonauta commented on #765
It's 🧟‍♂️ a-live: https://draculatheme.com/novel-writer

[2022-11-24 12:40] #765 closed

[2022-11-24 12:41] luxonauta commented on #661
It's 🧟‍♂️ a-live: https://draculatheme.com/scrivener

[2022-11-24 12:41] #661 closed

[2022-11-24 12:41] luxonauta commented on #758
It's 🧟‍♂️ a-live: https://draculatheme.com/sioyek

[2022-11-24 12:41] #758 closed

[2022-11-24 12:42] luxonauta commented on #600
It's 🧟‍♂️ a-live: https://draculatheme.com/spicetify

[2022-11-24 12:42] #600 closed

[2022-11-24 12:43] #721 closed

[2022-11-24 12:44] #371 closed

[2022-11-24 12:44] #710 closed

[2022-11-24 12:46] #746 closed

[2022-11-24 12:47] luxonauta commented on #554
It's 🧟‍♂️ a-live: https://draculatheme.com/dyalog

[2022-11-24 12:47] #554 closed

[2022-11-24 12:48] #767 closed

[2022-11-24 12:48] #766 closed

[2022-11-24 12:52] luxonauta commented on #719
No problem, I just sent you another invitation to join the organization! Check your email! 😅

[2022-11-24 12:55] #439 closed

[2022-11-24 12:55] #446 closed

[2022-11-24 12:56] #492 closed

[2022-11-24 12:57] #705 closed

[2022-11-24 13:17] aravindps commented on #439
Done!

[2022-11-24 13:30] SIMULATAN commented on #767
I'm sorry, did I forget to do something?
I archived my version and the new one is set up, but it's not on the site yet, which usually the reason for closing these issues.

[2022-11-24 16:08] lukehaas opened #779 "Dracula for RunJS"
## Dracula for RunJS

https://github.com/lukehaas/dracula-runjs

[2022-11-24 16:18] zshzero commented on #399
@luxonauta Thanks for accepting my PR

[2022-11-25 03:20] MElemental commented on #719
Wonderful, I have accepted it!

[2022-11-25 15:57] Ellipogus commented on #481
Hi, it appears my invitation has expired, could you please resend it.

[2022-11-26 19:40] ALipAkrohk commented on #492
You didn't answer this issue for a long time, I thought it was forgotten, yes, I will provide updates for the config soon.
Hoping for freedom for everyone around the world.

[2022-11-28 19:33] Ellipogus opened #780 "Need an organization invitation to manage the new theme I submitted."
Just over a week ago my theme for dmenu was brought into the org, but I couldn't accept my invitation before it ran out. Could I please be sent a new one?

[2022-11-29 03:17] #719 closed