[2013-10-27 12:45] zenorocha opened #1 "Create theme for Chrome DevTools"
- http://devthemez.com/themes/zero-dark-matrix

[2013-10-27 12:45] zenorocha opened #2 "Create theme for iTerm2"

[2013-10-27 12:45] zenorocha opened #3 "Create theme for Sublime Text"
- https://github.com/buymeasoda/soda-theme
- https://github.com/chriskempson/tomorrow-theme
- https://github.com/mbixby/facebook-color-scheme
- https://github.com/mbixby/blackbird

[2013-10-27 12:46] zenorocha opened #4 "Create theme for ZSH"

[2013-10-27 13:04] #4 closed, assigned to nobody

[2013-10-27 13:15] #2 closed, assigned to nobody

[2013-10-27 20:59] #3 closed, assigned to nobody

[2013-10-27 22:24] zenorocha opened #5 "Add support for Textmate 2"
* https://github.com/sindresorhus/focus#textmate-2

[2013-10-28 09:40] zenorocha opened #6 "Improve text selection color"

[2013-10-28 13:12] zenorocha opened #7 "Create theme for Brackets"
* https://github.com/MiguelCastillo/Brackets-Themes

[2013-10-28 20:12] #6 closed, assigned to nobody

[2013-10-28 22:45] zenorocha opened #8 "Improve website performance"
- [x] Typekit with unnecessary font weights
- [x] Background too big
- [x] Optmize PNGs

[2013-10-28 22:46] zenorocha opened #9 "Optimize website for mobile devices"

[2013-10-28 22:49] zenorocha opened #10 "Add favicon"

[2013-10-28 22:58] #10 closed, assigned to nobody

[2013-10-29 13:49] #8 closed, assigned to nobody

[2013-10-29 14:37] #9 closed, assigned to nobody

[2013-10-30 07:26] zenorocha opened #13 "Add interaction for tabs on the main screenshot"

[2013-10-31 17:15] matheus opened #17 "Error message"
Situation:
JavaScript code open for 30 minutes without being used.
Operating System: Windows 7
Behavior:
Presented the error message "Error loading colour scheme Packages/Dracula Color Scheme/Dracula.tmTheme: Unable to open Packages/Dracula Color Scheme/Dracula.tmTheme"

[2013-10-31 17:56] zenorocha opened #18 "Timeline panel isn't themed"
[![](http://zno.io/SFtt/Screen%20Shot%202013-11-01%20at%2012.21.27%20AM.png)](https://twitter.com/mark_jones/status/395970916477186049)

[2013-10-31 18:03] zenorocha opened #19 "Official maintainers"
In the last few days I've received some awesome contributions and I want to recognize everyone that helped.

Also I'm not able to maintain a theme for each code editor, so I was thinking about electing a maintainer for code editor:
- [x] Alfred - @oswaldoacauan
- [x] Chrome Devtools - @vagnervjs
- [x] Vim - @nuxlli
- [x] Sublime Text / TextMate / Website - @zenorocha

That way when someone report

[2013-10-31 23:10] #19 closed, assigned to nobody

[2013-10-31 23:14] #1 closed, assigned to nobody

[2013-10-31 23:23] zenorocha opened #20 "Add support for Chrome Canary"
https://twitter.com/batok/status/396019221916041216

[2013-10-31 23:31] zenorocha opened #21 "Improve icon color"
On the right side there are 3 black icons that is very hard to distinguish.

[2013-11-04 11:33] dmytrobanasko opened #25 "Fix preview and response bg in Network tab"
It seems, background should be black always, but its not:
![screenshot on 11 4 2013 at 1 20 25 pm](https://f.cloud.github.com/assets/441311/1464287/f74f40b0-4543-11e3-9b0d-a3040cd5b9a5.png)
![screenshot on 11 4 2013 at 1 18 28 pm](https://f.cloud.github.com/assets/441311/1464288/f74f7be8-4543-11e3-8add-e4c7c4556c52.png)
![screenshot on 11 4 2013 at 1 20 35 pm](https://f.cloud.github.com/assets/441

[2013-11-07 14:21] #18 closed, assigned to nobody

[2013-11-07 14:23] #25 closed, assigned to nobody

[2013-11-08 11:20] brizabueno opened #26 "404?"
http://zenorocha.github.io/dracula-theme not working?

[2013-11-08 13:36] vagnervjs opened #27 "Images on readme are broken"
![screen shot 2013-11-08 at 11 34 51](https://f.cloud.github.com/assets/1696024/1500574/9fa1b246-487a-11e3-84af-7f824354613c.png)

[2013-11-08 15:26] #27 closed, assigned to nobody

[2013-11-11 09:13] #26 closed, assigned to nobody

[2013-11-15 13:23] panalbish opened #28 "Source tab body not updated when resized: Chrome devtools"
When the souce file is too large and if manually updated, body section of the source file remains in the actual width instead of an auto resize.
![widthupdate_issue](https://f.cloud.github.com/assets/3084722/1550038/0c50b3aa-4df9-11e3-97da-f45be7a09f80.png)

[2013-11-18 11:45] msmosso opened #29 "Eclipse"
Wouldn't it be nice to create a theme for Eclipse? Check it out http://eclipsecolorthemes.org/?view=firsttheme :)

[2013-11-20 02:18] oswaldoacauan opened #31 "DevTools - Autocomplete placeholder"
The color for placeholder text on autocomplete is almost impossible to read.

![chrome-complete](https://f.cloud.github.com/assets/1268518/1578964/009d6672-518a-11e3-82da-6f22cbcb5df6.png)

[2013-11-21 01:20] oswaldoacauan opened #32 "DevTools - CodeMirror styles"
The CodeMirror styles are overwriting styles everywhere.
For me we can remove this shadow effect, i don't like it anyway :stuck_out_tongue_closed_eyes:

![screen shot 2013-11-20 at 23 11 51](https://f.cloud.github.com/assets/1268518/1588170/e1684350-524a-11e3-84c8-54f56188a0f1.png)
![screen shot 2013-11-20 at 23 16 31](https://f.cloud.github.com/assets/1268518/1588171/e1836676-524a-11e3-8445-0d968

[2013-11-22 12:07] msmosso opened #33 "Merge zsh branch"
Isn't the zsh branch ready to merge? If not, could I help?

[2013-11-25 08:15] EpokK opened #34 "Add support for PhpStorm / WebStorm"
Can you add support for PhpStorm / WebStorm plz ?

[2013-11-25 15:59] #28 closed, assigned to nobody

[2013-11-26 05:11] zenorocha opened #35 "Serve optimized images for Retina display devices"

[2013-11-26 06:19] zenorocha opened #36 "Add README to gh-pages to explain how to run the project locally"

[2013-11-26 08:00] #33 closed, assigned to nobody

[2013-11-27 08:23] albertosantini opened #37 "exec illegal name in Python"
`exec` (between Default and ExecCommand) is in pink color (in SublimeText, Python syntax) because it is an `invalid.illegal.name.python`. I checked the scope with `ctrl+shit+alt+p`.

[code]

I suppose the theme contains that definition and it seems the behaviour is correct.
Anyway I don't think the result is expected.

Any hint? (I have been using Dracula theme, but there is the same issue in the

[2013-11-27 11:10] oswaldoacauan opened #38 "Sublime - PHP between HTML"
The PHP syntax highlight on HTML/PHTML files are broken and inconsistent.

![dracula-php](https://f.cloud.github.com/assets/1268518/1630825/20995b64-5754-11e3-8b80-d8de91a49251.png)

Refs.:
http://www.sublimetext.com/forum/viewtopic.php?f=3&t=11470
https://www.sublimetext.com/forum/viewtopic.php?f=2&t=5484

[2013-11-27 15:17] oliveiraev opened #39 "Terminal VIM scheme fail"
Hello, guys. I've just installed the vim scheme via the not-so-clever method.

[code]

The theme is correctly available to apply...
![captura de tela de 2013-11-27 13 10 36](https://f.cloud.github.com/assets/320460/1632352/a2c73ecc-5776-11e3-93a9-6d86ae0e12ed.png)

... but when applied...
![captura de tela de 2013-11-27 13 15 41](https://f.cloud.github.com/assets/320460/1632365/e29bf0ce-5776-11e3-

[2013-12-10 18:06] jordanbrown opened #42 "Create label in github issues => "xcode""

[2013-12-10 18:41] #42 closed, assigned to nobody

[2013-12-11 19:13] evantravers opened #44 "Instructions for vim are not correct…"
It looks like if you just do what the instructions read for Vundle and :Bundle and :BundleInstall… it will download this repository to that folder, which it won't fit the normal folder structure vim expects, and thus won't install. If you want to install the Dracula theme, (as far as my feeble understanding) the folder has to be `~/.vim/dracula-theme/colors/dracula.vim`. Thoughts?

[2013-12-12 17:26] #34 closed, assigned to nobody

[2014-01-08 17:34] ivandotv opened #46 "Theme broken on new Chrome update"
Currently on Version 32.0.1700.72 m of Chrome, theme is broken.

[2014-01-15 19:02] albertosantini opened #47 "Add integration with JavaScript Next - SublimeText"
As feature request, it would be nice to have a sort of integration with the plugin [Javascript Next](https://sublime.wbond.net/packages/JavaScriptNext%20-%20ES6%20Syntax) for Sublime Text editor.

For instance the function parameters are not anymore in orange italic, but plain white.
I suppose the scope is different.

[2014-01-15 19:11] albertosantini opened #48 "What about brackets and punctuation?"
Are you considering to color brackets "([{"  and punctuation  ";,.:"?

[2014-01-18 03:50] #46 closed, assigned to nobody

[2014-02-25 02:26] rafael-lima opened #51 "Scrollbar Bug"
Recently I reinstalled the dracula theme on chrome, and I found this bug:

![scrollbar-bug](https://f.cloud.github.com/assets/5257007/2253671/3cd7051e-9dc3-11e3-98a3-907b3b460eb1.png)

The scrollbar duplicated, and with default styles.

[2014-02-25 02:31] #51 closed, assigned to nobody

[2014-03-03 19:12] ivandotv opened #53 "Missing dropdown arrow in Chrome Devtools"
Dropdown arrow which reveals more panels is missing.
![dropdown_arrow_2014-03-03_2010](https://f.cloud.github.com/assets/390700/2313327/bcb6b330-a307-11e3-992f-6741f56f88a0.png)

[2014-03-11 21:14] #53 closed, assigned to nobody

[2014-04-02 22:46] gufranco-zz opened #56 "Add support to Sublime Text theme"
Hi,

Add support to Sublime Text theme, please. I would really appreciate to use the same color pattern for theme! :+1:

[2014-04-02 23:00] #56 closed, assigned to nobody

[2014-07-05 09:53] Jeswang opened #58 "What's the font's name in your screenshots?"

[2014-07-05 11:31] #58 closed, assigned to nobody

[2014-08-06 20:56] zenorocha opened #60 "Create a theme for highlight.js"
http://highlightjs.org/

[2014-08-06 21:00] zenorocha opened #61 "Create a theme for pygments"
https://github.com/richleland/pygments-css

That way I can use it on Keynote with [Sublime Highlight](https://github.com/n1k0/SublimeHighlight/).

[2014-08-08 18:23] hilyin opened #63 "lineHighlight and selection are the same"
lineHighlight and selection are the same. They need to be different.

[2014-08-29 18:50] ekarious opened #65 "Theme with the use of fish shell !"
Hello !

I've been trying to add dracula theme on my Terminal and iTerm2 app but those couldn't show up properly with the use of fish shell which add it's own theme.

So i will probably make my own based on dracula theme to match it !

By the way, how do you get the arrow at the beginning of each line ?

[2014-08-30 18:35] brianlg opened #66 "How to apply theme for nanu use?"
I use this theme for Terminal and iTerm. And I see that there is a fix for vim, how do I get the theme to work when using nano editor?

[2014-10-07 21:17] #39 closed, assigned to nobody

[2014-10-14 19:50] #65 closed, assigned to nobody

[2014-11-29 00:55] #66 closed, assigned to nobody

[2014-11-29 00:56] #20 closed, assigned to nobody

[2014-11-29 00:57] #21 closed, assigned to nobody

[2014-11-29 00:58] #31 closed, assigned to nobody

[2014-11-29 00:58] #36 closed, assigned to nobody

[2014-11-29 01:00] #32 closed, assigned to nobody

[2014-12-04 22:40] mdekauwe opened #76 "Python keywords not being highlighted"
Hi,

for me the python keyword "self" isn't being highlighted?

thanks

[2015-01-26 14:33] brunocoelho opened #78 "Deprecated selector"
Hey @zenorocha, take a look at this deprecation note from atom.

![screen shot 2015-01-26 at 11 31 46 am](https://cloud.githubusercontent.com/assets/827445/5901164/0022292a-a54f-11e4-8965-53003e5d9a62.png)

[2015-01-26 17:22] zenorocha commented on #78
Duplicated #77

[2015-01-26 18:03] brunocoelho commented on #78
Indeed.

[2015-01-26 18:03] #78 closed

[2015-02-03 01:56] zenorocha commented on #78
New version released: https://github.com/zenorocha/dracula-theme/releases/tag/v0.7.4

Thanks @rafaelstz!

[2015-02-03 23:11] hayes opened #79 "Find/replace highlight is almost invisible in atom"
![screen shot 2015-02-03 at 3 12 58 pm](https://cloud.githubusercontent.com/assets/816527/6031797/3117c6b6-abb7-11e4-8afd-7596e100eb9e.png)

[2015-02-08 05:27] ding444 opened #80 "Vim colors not as displayed in the preview"
For some reason I can't get the colors to look like the preview for VIM.  The background changes to a drab grey instead of the deep blue.  Here's a screenshot.

![preview image](http://cdn.deanc.me/image/1P101S0q3F2d/Voila_Capture%202015-02-07_09-22-11_PM.png)

I'm using iTerm2 (with the working Dracula theme), and `vim`.  I installed it via vundle as per the instructions, and even resorted to a m

[2015-02-10 08:19] ignism opened #81 "missing "syntax-variables.less" stylesheet"
Some packages (including my Polymorph-UI) refer to `syntax-varables.less`. A stylesheet with basic color variables, I think there is a template for it on atom.io.

[2015-02-12 07:27] cnluzhang opened #83 "Apply color scheme to Man pages"
Check the pic below.
![image](https://cloud.githubusercontent.com/assets/8707726/6163311/52657ce4-b2cb-11e4-8809-cdd420d62a3a.png)

The title of section is black, and the background is also dark color, so I can't identify them clearly.

Could you help me? Thanks.

[2015-02-13 11:02] zenorocha commented on #80
cc @cironunes

[2015-02-13 18:58] cironunes commented on #80
Did you enable 256 colors in vim?

[2015-02-13 22:08] ding444 commented on #80
Yeah I've enabled it with `set t_Co=256`.  I've even gone as far as to revert to default by removing all settings and add them one by one to see if something trips it up.  Even with everything at default (OSX defaults) and with `set t_Co=256` I can't get it to work.

[2015-02-14 04:41] cnluzhang commented on #83
Hi,
the problem will also appear in the 'brew' like pic below.
![image](https://cloud.githubusercontent.com/assets/8707726/6198581/ae1c289a-b446-11e4-968b-4d75e3250649.png)

![image](https://cloud.githubusercontent.com/assets/8707726/6198582/b5fce086-b446-11e4-8e77-aa9406c89dca.png)

Thx.

[2015-02-15 03:43] cnluzhang commented on #83
also appear in vagrant...
![image](https://cloud.githubusercontent.com/assets/8707726/6201993/c5b16238-b507-11e4-8f9c-c02a7cb591e7.png)

[2015-02-19 10:36] zenorocha commented on #83
We can't style a shell's inner command information. Only the shell script author is capable of adding colors and such thing.

[2015-02-19 10:36] #83 closed

[2015-02-19 10:39] zenorocha commented on #81
Interesting, I didn't know that. Would you like to send a PR based in our [color pallete](https://github.com/zenorocha/dracula-theme#color-palette)?

[2015-02-19 10:40] zenorocha commented on #7
Pending review on #45

[2015-02-19 10:40] #7 closed

[2015-03-03 22:11] SalAldana opened #86 "Theme for Android Studio (IntelliJ)"
Can someone work on a theme for Android Studio (IntelliJ), I was trying to do it myself but I don't think I'm setting it up correctly. Thanks.

[2015-03-04 18:27] zenorocha commented on #86
+1

[2015-03-05 21:33] tonatiuh commented on #80
Any news on this? I have the same issue, I'm using iterm2 and vim 7.4.488

[2015-03-05 21:53] tonatiuh commented on #80
After doing some tests with the colors/dracula.vim (https://github.com/zenorocha/dracula-theme/blob/e011ccf2df9572fe53d058bf76dc63f1f794ed20/vim/colors/dracula.vim) file, I found that by removing the lines 39 and 57:

[code]

the colorschemes displays correct as seen in the preview page (http://zenorocha.github.io/dracula-theme/vim/ page).

@zenorocha do you know why could be that?
cc @ding444

[2015-03-18 16:40] zenorocha opened #87 "Theme for Slack"
@quagliato created a theme for Slack and would be awesome to have it here as well. Could you send a PR with README and website entries?

[2015-03-18 16:41] zenorocha commented on #87
http://pastebin.com/BLmAFxhx

[2015-03-18 16:41] zenorocha commented on #87
Also submitted to https://github.com/paracycle/slackthemes/pull/10

[2015-04-03 13:46] ndgibson commented on #79
Here's a fix you can add to your `styles.less` file (type `stylesheet` into the command palette):

[code]

Source:
https://discuss.atom.io/t/how-to-change-find-and-replace-highlight-color/14750

[2015-04-03 16:23] zenorocha commented on #79
Thanks a lot @hayes and @ndgibson, that really needs to be improved.

[2015-05-14 17:15] admk opened #92 "SignColumn is not highlighted"
Please see the attachment for an example.

![screen shot 2015-05-14 at 18 14 32](https://cloud.githubusercontent.com/assets/238821/7637344/2068b044-fa65-11e4-8b6a-527e60fbffcb.png)

[2015-05-15 14:19] shkm commented on #80
Same issue here. Also using iTerm2, doesn't display correctly in either vim or neovim. Workaround works, so thanks for that, @tonatiuh!

[2015-05-16 20:44] chalmagean opened #93 "Emacs love?"
Do you guys plan on having a theme for Emacs?

-- Cezar

[2015-05-21 04:25] film42 commented on #93
:+1: I set out to write dracula-theme for emacs port, but got crazy busy. Would the maintainers be willing to accept the contribution if I open a PR?

[2015-05-29 02:05] watarumohawk opened #94 "Quotes in Markdown Preview on Atom"
I use Atom to write markdown texts. I found that texts and codes are invisible on markdown preview because the background color is white and the font color is also white (a little bit yellow).
For example:

[code]

[2015-05-29 05:17] zenorocha commented on #94
I see, could you send a PR?

[2015-06-17 07:18] Naomarik commented on #93
@film42 did you end up finishing this? Would love to use it.

[2015-06-17 07:42] dennisreimann commented on #87
looks good :)

[2015-06-19 05:00] film42 commented on #93
@Naomarik I'll finish it up this weekend :)

[2015-06-19 07:30] sickill commented on #93
+1

[2015-06-20 17:41] film42 commented on #93
Ok everyone. Here's what I currently have:

![image](https://cloud.githubusercontent.com/assets/1043908/8268365/c4928652-1740-11e5-92c4-2486485cd427.png)

![image](https://cloud.githubusercontent.com/assets/1043908/8268366/da724e58-1740-11e5-9ffa-77976450a6c3.png)

![image](https://cloud.githubusercontent.com/assets/1043908/8268380/26144f78-1741-11e5-9335-cfa7f13e690e.png)

Javascript could probab

[2015-06-20 17:43] film42 commented on #93
PS: Here's the current gist: https://gist.github.com/film42/6d45ae89bfa2c92c4717

[2015-06-21 12:17] chalmagean commented on #93
Cool, this looks great

[2015-06-21 12:17] chalmagean commented on #93
Thank you @film42

[2015-07-07 22:05] zenorocha commented on #93
Is there anyone interested in sending a PR and maintain that?

[2015-07-07 22:41] film42 commented on #93
I'll do it. Just waiting to hear from you :)

[2015-07-07 22:41] zenorocha commented on #93
Sorry about the delay :)

[2015-07-11 03:39] IngwiePhoenix opened #97 "Give Highlight.js "a bite"? :)"
Hey,

I sadly don't exactly know how to make an easy HighlightJS theme. But would it be possible for anyone in the team to make one? That would be really nice since I work in Atom and display on the web using HighlightJS.

Kind regards, Ingwie!

[2015-07-12 00:03] zenorocha commented on #97
Hey @IngwiePhoenix,

I don't know Highlight.JS as well but I'd love to see a Dracula theme for that.

[2015-07-14 04:38] film42 commented on #93
![screen shot 2015-07-13 at 10 37 30 pm](https://cloud.githubusercontent.com/assets/1043908/8666519/d4bc2d04-29af-11e5-9bb4-1c295c55728f.png)

REAME screenshot (upcoming PR)

[2015-08-23 01:39] wlisac commented on #86
+1 for IntelliJ

[2015-08-24 15:30] zenorocha commented on #86
Here's the color palette if someone wants to jump into this: https://github.com/zenorocha/dracula-theme#color-palette

[2015-10-09 05:02] jwnx commented on #81
I can confirm this issue. In my case, I'm using Nucleus Dark. There is a template, but I couldn't make it work.

[2015-10-15 18:04] toogy commented on #80
Same issue here. Workaround worked too. (thanks @tonatiuh)

[2015-10-15 18:51] toogy commented on #80
Well actually the colors still are not really the same. Some are more gray than violet. Don't know what's up...

[2015-10-15 20:09] tonatiuh commented on #80
Yeah, I've noticed that it doesn't look exactly like the sample shared in http://zenorocha.github.io/dracula-theme/vim/. I'm not sure why is that.

Here is a sample of how it looks for me (running iTerm2 beta 3 with support for 24 bit colors) - still doesn't look like in the sample.

![in my computer](http://oi61.tinypic.com/1qsk8p.jpg)

vs

![sample shown in dracula site](http://zenorocha.github.

[2015-10-16 22:12] toogy commented on #80
So there's no workaround. Can anyone fix this?

[2015-10-17 03:06] tonatiuh commented on #80
Actually, I think the workaround is to use MacVim instead of Vim in the terminal. I was checking the colorscheme file, and I see expressions such as

[code]

That means, there is a color used in the terminal (ctermbg), and other more specific used for the GUI (guibg) - MacVim.

Not sure if with iTerm3 - which supports true colors - the colorscheme could be updated to be more accurate in the termin

[2015-10-17 09:52] tonatiuh commented on #80
Ok, I think I made it almost to the same as the preview image http://zenorocha.github.io/dracula-theme/vim/. Check the screenshot I took from my VIM

![local-vim-colors-improved](http://oi61.tinypic.com/4vmhjl.jpg)

To do that here is what I needed to update in the colorscheme file *dracula.vim*:

[code]

Some notes:

1.this will work only in the GUI mode (either mvim or neovim with [true colors](

[2015-10-18 14:00] tkaczu commented on #93
Hi,

Could anybody please merge this emacs theme to the repo?

[2015-10-19 16:55] toogy commented on #80
I'm using vim, not macvim/gvim/neovim because my vim runs in tmux on my company's servers.
I'll try to make it term-friendly when I'll have some time.

[2015-10-24 02:55] fabriciorissetto opened #106 "Create theme for Visual Studio Code"
Add support to **Visual Studio Code** is the new multiplatform text editor from Microsoft that can be used to develop with **NodeJS**, C++, ASP.NET, PHP, Python, Java.

https://code.visualstudio.com/

[2015-10-30 07:51] #94 closed

[2015-10-30 08:04] zenorocha commented on #106
As said in the README:

I love the idea of having a Visual Studio theme and look forward to your pull request.

[2015-10-30 08:07] zenorocha commented on #92
Sorry @admk, could you be more specific? I'm no expert on vim so I look forward to a pull request.

[2015-10-30 08:09] #87 closed

[2015-10-30 08:14] zenorocha commented on #47
Closing since this is an outdated issue.

[2015-10-30 08:14] #47 closed

[2015-10-30 08:15] zenorocha commented on #81
Any news on this?

[2015-10-30 08:17] zenorocha commented on #106
Just found this one https://studiostyl.es/schemes/dracula-atom could you confirm if it works @fabriciorissetto?

[2015-10-30 08:17] #5 closed

[2015-10-30 08:17] #13 closed

[2015-10-30 08:17] #17 closed

[2015-10-30 08:18] zenorocha commented on #37
Closing since this is an outdated issue.

[2015-10-30 08:18] #37 closed

[2015-10-30 08:18] #38 closed

[2015-10-30 08:19] #44 closed

[2015-10-30 08:19] #48 closed

[2015-10-30 14:48] avelino commented on #93
+1

[2015-10-30 15:44] film42 commented on #93
I'll merge master in to clean this up later today.

[2015-10-30 19:41] haggen commented on #81
Could it be related to this:
![Dracula](https://cloud.githubusercontent.com/assets/270076/10856161/fb9598fc-7f2c-11e5-931e-21f88753842f.png)

See how the background outside the editor is one warm/brown-ish while the inside the purple-ish and the active tab is white. I love the palette but the UI should follow, as you can see with the default One Dark:
![One Dark](https://cloud.githubusercontent.co

[2015-10-30 19:47] lowski commented on #65
@Kitefr have you created your own dracula theme for fish?

[2015-10-30 22:50] Kitefr commented on #65
I started it but didn't liked it very much so i dropped it in the end.

[2015-10-30 23:35] ahmedelgabri commented on #80
Same here with iTerm2 beta, Tmux and Neovim all with true color enabled. @tonatiuh modifications works but I'll add

[code]

To make it work nicely with gitgutter marks

Before:
<img width="1680" alt="screen shot 2015-10-31 at 00 33 00" src="https://cloud.githubusercontent.com/assets/63876/10860358/1d3fc542-7f67-11e5-9050-a0a11c0e387e.png">

After:
<img width="1680" alt="screen shot 2015-10-31 at

[2015-10-31 22:03] film42 commented on #93
Woo hoo, this got merged in. This issue can be closed now.

[2015-10-31 22:54] zenorocha commented on #93
I'm sorry it took so long to merge this :/

See:
* http://zenorocha.github.io/dracula-theme/emacs
* https://github.com/zenorocha/dracula-theme/releases/tag/v1.0.0

Thank you so much everyone involved :)

[2015-10-31 22:54] #93 closed

[2015-10-31 23:00] zenorocha commented on #106
Seems like it Visual Studio Code supports [tmTheme](https://github.com/zenorocha/dracula-theme/blob/master/Dracula.tmTheme)! https://code.visualstudio.com/docs/customization/themes

[2015-10-31 23:27] Ulthes commented on #106
Yeah, all you have to do is run it through yeoman generator (more info here: https://code.visualstudio.com/docs/customization/overview). I think I'll make a pull request today/tomorrow with generated theme :).

[2015-10-31 23:36] zenorocha commented on #106
Please do @Ulthes! :ghost:

[2015-10-31 23:45] #60 closed

[2015-11-02 09:35] jillesme commented on #86
+1 for IntelliJ

[2015-11-02 15:33] zenorocha commented on #86
As described in the README...

[2015-11-04 13:09] shadowsyntax opened #113 "Dracula theme doesn't work with Xcode 7"
I followed the instructions @ your the project sites URL but can't get to theme to work with Xcode 7. The Dracula theme basically isn't showing in the preference page

[2015-11-04 15:39] zenorocha commented on #113
Hey @jordanbrown, can you take a look?

[2015-11-08 18:09] #106 closed

[2015-11-08 19:39] zenorocha commented on #35
https://github.com/zenorocha/dracula-theme/commit/3ed9a499fbadd785b51008c4ccf07e811494d310

[2015-11-08 19:39] #35 closed

[2015-11-09 17:32] tkaczu opened #115 "Better support for python highlight in emacs"
Please give additional love for python syntax highlighting. I really like dracula theme for my Iterm/terminal and I used it in my spacemacs but the highlighting for python (especially django templates and models) are not so colorful.
Could You work a bit more on it?
Thank You in advance.

[2015-11-09 17:35] zenorocha commented on #115
Hey @tkaczu, feel free to submit a pull request with your suggestions.

/cc @film42

[2015-11-09 20:53] jonathanchu opened #116 "Running Emacs in iTerm2 support?"
Hey! Great theme! :)

I just tried running this in Emacs in iTerm2 and it seems the theme does not render correctly.  I have `xterm-256color` set, so I'm not sure if the color is not degrading well or if this is a bug.

I'm on Emacs v24.5.1 (via homebrew), iTerm2 v2.1.4, and OS X El Capitan v10.11.1.  Any help or advice on this is appreciated, thanks!

<img width="822" alt="screenshot 2015-11-09 1

[2015-11-09 21:36] zenorocha commented on #116
@film42 @avelino any ideas?

[2015-11-10 02:20] film42 commented on #116
This problem was mentioned in the [Emacs Love PR](https://github.com/zenorocha/dracula-theme/pull/98#issuecomment-152603771). There's not a ton we can do about terminal emacs until emacs supports True Color (24bit RGB) values.

Looks like someone put a patch together (though the thread is quite old): http://emacs.1067599.n5.nabble.com/RFC-Add-tty-True-Color-support-td299962.html

[2015-11-10 02:34] film42 commented on #115
Spacemacs add a lot of add-ons, so maybe one of them is messing with the theme? Using standard `python-mode`, the theme looks pretty good.

![193125](https://cloud.githubusercontent.com/assets/1043908/11052771/82dc41c4-8718-11e5-8243-2844e14e324b.png)
(Sorry, monosnap does some weird compression on retina macbooks).

@tkaczu I think we should consider this good, but you can always add mode specifi

[2015-11-10 05:22] jonathanchu commented on #116
@film42 thanks for response and explanation - I appreciate the input! :)

For this emacs theme, do you think there could be a work-around similar to what emacs solarized proposes?  https://github.com/sellout/emacs-color-theme-solarized#important-note-for-terminal-users

I'm not really sure what to do there or if that would be a viable solution for this.

Thanks!

[2015-11-10 13:48] tkaczu commented on #115
Ok, Guys I will add some more syntax highlighting in the next two or three weeks.
The thing which I really want to add is coloring variable name during initalization etc. I will use spacemacs-dark theme as a reference for adding missing coloring.

[2015-11-14 21:29] arg20 commented on #113
+1

[2015-11-17 01:17] arg20 commented on #113
@shadowsyntax @zenorocha @jordanbrown guys to me it works now, I'm not sure if it was the fact that I rebooted my computer or the IDE, I think it's when I restarted my macbook but you may want to give that a try.

[2015-11-17 23:24] ainstushar commented on #81
Nucleus Dark UI with dracula theme produces some disastrous results. :( everything is white.

![screen shot 2015-11-17 at 6 14 46 pm](https://cloud.githubusercontent.com/assets/7689996/11227935/3eecf5a4-8d57-11e5-85e0-3fa396352855.jpg)
![screen shot 2015-11-17 at 6 16 18 pm](https://cloud.githubusercontent.com/assets/7689996/11227948/6037377e-8d57-11e5-9fa5-d561a82ca724.jpg)
![screen shot 2015-11-

[2015-11-24 17:40] adolphenom opened #120 "Vundle doesn't work"
I try to install the theme using vim in Mac (I'll try at home with ArchLinux) but it doesn't move the color scheme at colors folder.

I follow the instructions literally.

It works with other plugins, thought.

[2015-12-01 10:45] Krajsnick commented on #79
I also noticed this, it's very hard to find what find-and-replace hightlights. I tried the fix from @ndgibs but that made background and foreground have same color, so couldn't see what it was hightlighting.

[2015-12-06 22:28] 121onto commented on #116
I got the theme to work by installing emacs with homebrew:

[code]

[2015-12-07 03:07] 121onto commented on #116
Update:

I have this working now.  Here is what I did.

1. Uninstall emacs and download source:

[code]

2. Install true color patch available [here](https://gist.github.com/choppsv1/73d51cedd3e8ec72e1c1)

[code]

3. Install emacs from source:

[code]

One issue, the patch is written for Emacs 24.3, it does not seem to work with more recent versions.

[2015-12-07 17:38] film42 commented on #116
Interesting. I'll try compiling the patch in later tonight to see what I can come up with. This isn't really related to this project, because it would be strange to ask users to patch their emacs for a theme, but it sure is interesting :)

[2015-12-08 05:36] jonathanchu commented on #116
@121onto cheers, thanks for the detailed writeup!  I'll give this a try too and see how it goes.  :smile: :+1:

[2015-12-08 06:32] film42 commented on #116
Looks like @choppsv1 also made a patch for emacs 24.5: https://gist.github.com/choppsv1/e8198df70cb1778b04d6

I followed the sam configure flags as @121onto , only with the emacs 24.5 branch.

I then set `export ITERM_24BIT=1` to enable it in my shell.

At first I was getting 24 bit color, but iTerm was failing to render the text, so I searched around and someone said that to get vim working with

[2015-12-08 06:42] 121onto commented on #116
@film42 thank you!

So much effort, and the second we upgrade it all goes away.  I am in touch with the emacs dev team and will point this out to them.  Would be great to get true color support in the next release.

[2015-12-15 14:18] t0kieu opened #122 "Not readeble text in startup vim"
Hi,
I found bug, at startup vim some texts aren't readable. Texts has wrong color used, see attachment.
Please fix it.
![screen shot 2015-12-15 at 15 11 28](https://cloud.githubusercontent.com/assets/832781/11812911/efd323c8-a33e-11e5-824d-40e072c66941.png)

[2015-12-16 21:11] joaoevangelista commented on #86
I did some work on IntelliJ Scheme, but it won't be the same as other editors, example:
The `function` keyword on Javascript get the same color of `var` because they are all mapped as keywords, in that case they will be pink, the same goes for parameter variables, they get the same color on parameter (orange), at editors like Atom, inside the function the color of variable is white. Anyway I did s

[2015-12-29 06:24] JimmyMultani commented on #81
@zenorocha can you please take a look at the PR I made for this fix?

Thanks.

[2015-12-31 07:57] hailiyouyu opened #127 "Could you please support this theme to putty?"
Hi,
This is a very pretty theme. But I usually work  on Windows and use putty to ssh a server.

Could you please provide a putty's version?

Thank you.

[2016-01-04 15:14] fommil opened #128 "please reuse existing emacs theme"
please let's not reinvent the wheel https://github.com/fommil/darcula-theme-emacs

[2016-01-04 15:15] fommil commented on #128
oh never mind, you are creating Dracula not Darcula :smile:

[2016-01-04 15:15] #128 closed

[2016-01-13 14:04] jacksaunders commented on #79
Have fixed in pull request #130

[2016-01-19 17:55] ribeiroevandro commented on #120
I had the same problem, but in my case it moves, but does not apply the colors, leaving a ghastly gray, as seen in the image below.
![screen shot 2016-01-19 at 15 48 08](https://cloud.githubusercontent.com/assets/943553/12427191/efdaef26-bec4-11e5-9928-e632a67f2ebe.png)

[2016-01-25 12:09] dciccale commented on #97
try this theme i just made

save the following css into `dracula.css`

[code]

save the following html into `demo.html` and open to see the result

[code]

[2016-01-25 12:32] dciccale commented on #76
you can fix this by adding:

[code]

this will highlight `self` with dracula's cyan.

I saw how default atom syntax themes where coloring the `self` python keyword and that is how it was targeted.

add the fix where you find convenient.

[2016-01-25 12:36] dciccale commented on #120
if you are talking about vundle plugin manager..i use it like this:

[code]

and it works.

do you have other themes installed via vundle that are working? maybe we could check those and see what's the diff, wdyt?

[2016-01-25 12:46] dciccale commented on #122
add this to your `.vimrc` and disable that screen, problem solved :dancer:

[code]

however it would be nice having it fixed in the theme...

[2016-01-26 05:19] ribeiroevandro commented on #120
No, I do not have other installed themes, but I think it was settings problems I will try to redo and see if I can solve this problem.

[2016-01-26 07:34] iiNku commented on #86
Is it still under development ? :)

[2016-01-27 00:19] joaoevangelista commented on #86
I did some modifications on each language, still not perfect as on Atom since IntelliJ maps are different but [here](https://github.com/joaoevangelista/dracula-intellij) is a WIP

Also I used some variations of the main pallete as additional colors needed (the main ones still the same)

[2016-01-27 08:49] iiNku commented on #86
Thanks @joaoevangelista

I have a error on Android Studio 1.5.1. Do you want me to create an issue ?

Cannot read scheme Dracula.icls  from '$ROOT_CONFIG$/colors': Unsupported color scheme version: 142

[2016-01-27 10:54] joaoevangelista commented on #86
Yes please, also if you have more output message, post it too
On Jan 27, 2016 6:49 AM, "Léo Moro" <notifications@github.com> wrote:

[2016-02-09 01:41] joaoevangelista commented on #86
Does anyone also disliked the green color as Class and Method's color ?

![java](https://raw.githubusercontent.com/joaoevangelista/dracula-intellij/master/java.png)

[2016-02-10 20:39] griiettner commented on #53
I believe you should add somewhere this explanation, because I was crazy here looking for the Chrome theme... I used it in the past and now I don't see it anymore...

[2016-02-13 09:02] lowski commented on #80
I had the same problem - Terminal.app + vim. I'm using @sinakarimi fork and it background looks similar to those on the screenshots. Is this MR possible to merge?

[2016-02-13 10:06] toogy opened #132 "Make the color space explicit"
I'm using [termite](https://github.com/thestinger/termite/) as a terminal (which is awesome BTW) and I would like to add **dracula** to my theme collection.

Here is what the configuration looks like with the example of **base16-mocha**
[code]

But from the configuration of **dracula** for other programs *(Terminal, vim, emacs...)* and even this repository's `README` I am not able to transpose the

[2016-02-13 14:56] oefterdal opened #133 "Theme"
Any tips on a good companion Sublime Text theme ?

[2016-02-13 15:04] film42 commented on #133
This is a sublime text theme. You can install it via package control.

[2016-02-13 15:04] #133 closed

[2016-02-13 21:15] oefterdal commented on #133
Maybe I wasn't so clear, I can only find a Color Scheme for Sublime Text. Not a application theme.
Or am I missing something here ?

"color_scheme": "Packages/Dracula Color Scheme/Dracula.tmTheme",

[2016-02-13 21:54] film42 commented on #133
I see what you mean. There isn't a dracula sublime UI theme, but we accept pull requests :).

I'm going to leave this issue closed as it's somewhat off topic (vague feature request/ tip request), but please, we love love love contributions.

[2016-02-23 04:44] joaoevangelista commented on #86
@iiNku Do you know the version of IntelliJ, AS is running under? On help > about might show you the build version

[2016-02-27 18:11] mattnedrich opened #139 "Slack theme does not match preview screenshot"
The slack theme preview screenshot shows the current channel highlighted in pink. This does not match what I observe when I install the theme. I imagine this is the Menu BG Hover color.

![image](https://cloud.githubusercontent.com/assets/4796480/13374462/6bbe8632-dd53-11e5-8584-727010ca81d6.png)

[2016-02-28 15:15] jonathanhds opened #141 "Swift highlight support"

[2016-02-28 16:28] film42 commented on #141
Your editor is responsible for syntax highlighting, not the theme.

For example, if you're using sublime, you'll need to install the Swift package to get syntax highlighting: https://packagecontrol.io/packages/Swift.

[2016-02-28 16:28] #141 closed

[2016-02-28 16:35] #116 closed

[2016-02-28 20:51] coccoinomane opened #142 "Unreadable commit window in Textmate"
Hello,

First of all, thank you for making available your very cool theme!

I run Dracula on Textmate v2.0-beta.8.5 on Os X 10.11.3 El Capitan. When I commit some modifications with Git, Textmate shows this commit window:

<img width="548" alt="textmate commit window" src="https://cloud.githubusercontent.com/assets/3920436/13381802/fb9a8852-de64-11e5-9b61-beb2d6dfdd99.png">

The text for the new &

[2016-02-29 02:15] cstrahan commented on #116
@121onto Have you heard anything from the emacs developers? I've contacted @ruediger to see if he's still working on it. If 24-bit color support isn't currently underway, it's something that I'd be willing to take on and contribute upstream to emacs.

[2016-02-29 12:54] choppsv1 commented on #116
FWIW, I also have a homebrew tap setup that builds the patched emacs which is a lot easier than doing it by hand. :) The tap is choppsv1/term24/emacs.

[2016-03-03 20:42] artkrz opened #143 "No sidebar theme for Sublime"
Really like your theme but I wish Sublime would get sidebar theme as well. Otherwise it doesn't look too good with a different theme in editor and different one in sidebar.

[2016-03-03 21:41] zenorocha commented on #143
Would love to see that too! Feel free to send a pull request ;)

https://github.com/zenorocha/dracula-theme#roadmap

[2016-03-04 10:56] Elshad commented on #113
Restarting of Xcode helps

[2016-03-07 20:52] grntartaglia opened #144 "Background color in Atom Zen"
Really love the theme, but I have some problems using it with Zen in Atom. I get this weird white background.

![captura de tela 2016-03-07 as 17 47 29](https://cloud.githubusercontent.com/assets/5912184/13582785/f73c1f2c-e48c-11e5-881a-78def1bfba03.png)

Zen plugin: [defunkt/zen](https://github.com/defunkt/zen)

[2016-03-15 13:06] ManoloPina opened #146 "Tabs color on One Dark ui theme"
The tabs using One Dark theme are contrasting to much, such as the color out of the editor. Like the image bellow:
![captura de tela 2016-03-15 as 11 05 56](https://cloud.githubusercontent.com/assets/3810254/13778592/993e915e-ea6b-11e5-9832-20f677041207.png)

[2016-03-18 01:12] RSuh opened #147 "Customize"
Do you guys offer a custom css file that we can alter for sublime themes? Thanks, just wanting to change the color of some syntax highlighting.

[2016-03-18 02:39] zenorocha commented on #147
No, but you can fork and make any changes you want.

[2016-03-18 02:39] #147 closed

[2016-03-24 06:37] jimmyDunne commented on #113
I am getting the same behavior. When I use symbolic links, Xcode 7 does not recognize. I tested (symbolic links) with some different themes, so this is Xcode 7 specific.  Reboot/restart has no effect

[2016-03-25 18:19] JimmyMultani commented on #81
Hey @zenorocha, just another reminder that there are 2 pull requests that will fix this issue. Can you please look into them when you have the chance?

Thanks.

[2016-04-04 02:18] #144 closed

[2016-04-04 02:18] zenorocha commented on #144
Merged at #145

[2016-04-04 02:22] zenorocha commented on #146
Thanks for reporting @ManoloPina, feel free to send a PR.

[2016-04-04 02:22] #146 closed

[2016-04-04 02:22] #143 closed

[2016-04-04 05:52] zenorocha opened #149 "Maintainer needed"
There's a really vibrant community around Dracula. Many new themes have been submitted but I'm not finding the time to review them all. Is there anybody interested in becoming the head maintainer of this project?

[2016-04-13 00:34] dsifford commented on #81
@JimmyMultani Have you considered asking to be the maintainer of this repo? #149

[2016-04-13 02:15] JimmyMultani commented on #149
I don't know about being the head, but I would gladly help maintain the Atom portion of this project.

[2016-04-30 17:26] zenorocha commented on #139
Everything looks fine from here.

<img width="1552" alt="screen shot 2016-04-30 at 10 25 41 am" src="https://cloud.githubusercontent.com/assets/398893/14937495/e84195dc-0ebd-11e6-848e-cd05585a800e.png">

Could you please send a screenshot from yours? Thanks!

[2016-04-30 17:30] heinst commented on #139
Wouldn't close this quite yet. Have the same issue, not by my computer but my theme was not as pictured either. The channel highlighting is not pink. It's a grey color.

[2016-04-30 17:33] heinst commented on #139
`282A36,#44475A,#44475A,#8BE9FD,#6272A4,#FFFFFF,#50FA7B,#FF5555` is the code for the theme on the website. This does not match your theme codes. Can you update the website with the correct codes??

[2016-05-02 08:40] KevinSjoberg commented on #80
@zenorocha @cironunes any update on whether or not these changes will be merged with upstream?

[2016-05-02 12:33] zenorocha commented on #149
Awesome! Thanks @JimmyMultani ;)

[2016-05-02 12:38] zenorocha commented on #81
@JimmyMultani has been added as the Atom theme maintainer. These issues will be fixed very soon. Sorry about that guys.

[2016-05-02 12:39] zenorocha commented on #79
@JimmyMultani could you close this once it's merged?

[2016-05-02 12:39] zenorocha commented on #76
@JimmyMultani could you take a look?

[2016-05-02 12:45] zenorocha commented on #80
We need a new maintainer for the Vim theme. Is there anyone interested on that?

[2016-05-02 12:49] zenorocha commented on #122
Could you send a pull reuqest @dciccale?

[2016-05-02 12:50] zenorocha commented on #127
https://github.com/zenorocha/dracula-theme#roadmap

[2016-05-02 12:50] #127 closed

[2016-05-02 14:15] JimmyMultani commented on #81
Should be fixed now. Thanks guys!

[2016-05-02 14:15] #81 closed

[2016-05-02 14:45] zenorocha commented on #81
🎉

[2016-05-02 14:56] heinst commented on #149
I would be interested in maintaining the whole thing

[2016-05-02 15:03] JimmyMultani commented on #76
Fixed in v1.2.4. :)

[2016-05-02 15:03] #76 closed

[2016-05-02 15:28] dciccale commented on #122
@zenorocha hmm.. I think this is personal configuration and shouldn't be included in the theme. the best way to solve this would be knowing the highlight group that is targeting those texts and change their `fg` color.

[2016-05-02 15:42] jacksaunders commented on #149
@zenorocha i will happily help out with PR reviews etc with @JimmyMultani

[2016-05-02 17:26] zenorocha commented on #149
Awesome! Feel free to start reviewing and merging the new themes as well ;)

[2016-05-02 17:27] heinst commented on #139
@zenorocha reopening because your codes did not match the ones on the website

[2016-05-02 17:38] zenorocha commented on #139
Yes, I can do that.

[2016-05-02 19:15] JimmyMultani commented on #79
This fix has been merged. :)

[2016-05-02 19:15] #79 closed

[2016-05-03 16:09] nesl247 commented on #139
I've gone ahead and submitted 2 PRs to fix this based on the screenshot from @zenorocha .

[2016-05-03 16:50] heinst commented on #139
@nesl247 thanks!

[2016-05-03 16:50] #139 closed

[2016-05-06 04:01] zenorocha commented on #149
Inspired by your commitment, I decided to buy the [draculatheme.com](https://draculatheme.com) domain and rewrite the site so you can edit more easily.

Check the [site branch](https://github.com/zenorocha/dracula-theme/tree/site) and let me know what you think ;D

[2016-05-06 04:01] #149 closed

[2016-05-06 11:14] jacksaunders commented on #149
Awesome 😎

-- 
Jack Saunders
Sent with Airmail

On 6 May 2016 at 11:08:41, Zeno Rocha (notifications@github.com) wrote:

cc'ing all the contributors @Ulthes @film42 @quagliato @felipekm @jordanbrown @nuxlli @oswaldoacauan @vagnervjs @ramonmcros @epidemicz @JimmyMultani @jacksaunders @hei nst @almirfilho

—
You are receiving this because you were mentioned.
Reply to this email directly or view it o

[2016-05-07 02:51] gujiaxi opened #156 "Highlight area in vim is not that clear."
As the screenshot below shows, I select line 13 to 18 in `VISUAL MODE` but it is not that distinct.
![_20160507104532](https://cloud.githubusercontent.com/assets/1433945/15089872/03b5c710-1441-11e6-9091-1cdfd4b37c19.png)

[2016-05-07 15:48] markwu commented on #92
[code]
I add these two lines into dracula theme, you can see the difference.

Before:
![2016-05-07 11 37 42](https://cloud.githubusercontent.com/assets/196861/15093020/38cdc94a-14ad-11e6-9247-e995e3b31b58.png)

After:
![2016-05-07 11 38 08](https://cloud.githubusercontent.com/assets/196861/15093019/38cbdec8-14ad-11e6-9a09-78b525d93841.png)

I am not sure the color is a good choice or not, just for

[2016-05-08 07:33] zenorocha commented on #86
The JetBrains theme was merged in #148. Could you guys test it out?

[2016-05-08 07:34] #86 closed

[2016-05-08 07:41] zenorocha commented on #61
It took a veeeeery long time but I finally added it to this repo ;D

@Mottie would you mind sending a pull request to `site` branch with instructions on how to use it? Thanks!

[2016-05-08 07:42] zenorocha commented on #97
That's awesome @dciccale! Thanks for contributing and sorry for taking so long to merge this.

Could you send a pull request to `site` branch containing the instructions on how to use it? Thanks!

[2016-05-08 07:44] #97 closed

[2016-05-08 07:47] zenorocha commented on #122
Thanks a lot for clarifying that @dciccale ;D

[2016-05-08 07:47] #122 closed

[2016-05-08 07:54] zenorocha commented on #115
That would be awesome. I'll close this one for now but feel free to send a pull request guys ;)

[2016-05-08 07:54] #115 closed

[2016-05-08 08:00] zenorocha commented on #113
Seems to be working here too. Feel free to leave a comment if this problem is still happening or open a pull request with instructions on how to fix it. Thanks!

[2016-05-08 08:00] #113 closed

[2016-05-08 08:01] zenorocha commented on #142
Hey @coccoinomane, thanks for reporting!

We do not have current maintainers for the Textmate theme so feel free to send a pull request.

[2016-05-08 08:01] #142 closed

[2016-05-08 08:02] zenorocha commented on #63
I agree. Could you send a pull request?

[2016-05-08 08:02] #63 closed

[2016-05-08 12:53] Mottie commented on #61
I'm really not sure what instructions would be needed here.

I've actually never used Sublime Highlight, but these definitions should be used to replace the pygments definitions in the resulting HTML file.

We were using this css to change the theme on GitHub code pages when they were still using pygments. To work with the Stylish browser addon, all definitions included an `!important` flag.

Anyw

[2016-05-09 04:07] zenorocha opened #158 "Add issue and pull request templates"
This will help with reviewing bug fixes and adding new themes.

[2016-05-09 04:34] #158 closed

[2016-05-09 04:36] zenorocha commented on #158
Would love to hear your thoughts about this @film42 @heinst @JimmyMultani @jacksaunders

[2016-05-09 12:35] heinst commented on #158
Agreed. That will save you a lot of repetitive comments!

[2016-05-09 14:00] JimmyMultani commented on #158
Makes sense to me. :)

[2016-05-09 14:54] jacksaunders commented on #158
Yea sounds like a great idea

[2016-05-09 17:13] hilyin commented on #63
@zenorocha naw dawg. this isn't my project. just reporting the issue.

[2016-05-11 08:08] moistrot commented on #156
same as me

[2016-05-11 20:40] heinst commented on #156
This has nothing to do with the vim color palette, but your own terminal highlight preference. On Mac you can go to `Terminal > Preferences > Profiles > Select your Default theme > Click the colored box to the left of "Selection" and select a different color`. Linux is a different story and not too sure how to change it there, maybe someone else can help out.

[2016-05-11 20:40] #156 closed

[2016-05-12 01:57] quagliato commented on #149
Slack theme is pretty easy to maintain. I'm surfing in free time, but I'll keep an eye on it. :)

[2016-05-12 17:20] joaoevangelista commented on #149
I can help @cbracco with JetBrains theme too!

[2016-05-12 18:05] cbracco commented on #61
@zenorocha @Mottie Funny, I was actually building a dracula pygments for a personal project. Here is a slightly cleaned up version, I’d be happy to integrate it.

[code]

[2016-05-12 18:12] cbracco commented on #149
@joaoevangelista I’d actually prefer to make you the sole maintainer of the JetBrains theme if you want it (@zenorocha can you make that happen?)! You did a bulk of the work on cleaning up the theme, I was just the instigator. 😄

@zenorocha I’d be cool with maintaining the icons for each (as talked about in #160).

[2016-05-12 18:31] zenorocha commented on #61
That would be great! Go ahead @cbracco ;)

[2016-05-12 18:32] zenorocha commented on #149
That's perfect. Thanks @joaoevangelista @cbracco.

[2016-05-12 20:36] joaoevangelista commented on #149
@cbracco Sure, no problem at all!

[2016-05-14 07:51] nesl247 opened #162 "Fish-shell theme"
I created a fish-shell theme here https://github.com/nesl247/fish-theme-dracula. I do have a few questions before I submit a PR though.

As you can see from the screenshot, it's a multi-line prompt which I prefer but not everyone likes. What's the plan for shell themes for dracula? Would two themes be accepted, so that if someone wanted to create a single line theme, both themes could be offered?

[2016-05-14 07:54] nesl247 opened #163 "Move dracula to an organization with separate repositories"
This is something I've thought about for a while. The question is wouldn't it be better if an organization was created for dracula-theme, with each repository being a single application and/or theme? This would make it much, much easier to work with plugin managers such as Fundle, Fisherman, Oh-My-Fish, Oh-My-Zsh, APM (Atom).

It would also make the directory structure less confusing. For example,

[2016-05-14 08:18] jacksaunders commented on #163
@nesl247 Very much agree, was one of my bug bears when starting out using Dracula. Think this is a good solution

[2016-05-14 08:43] jacksaunders opened #164 "Re-allow Chrome Dev Tools theme"
@zenorocha i know you decided to abandon the chrome Dev tools theme due to the lack of public API, however i think that the [zero-base-themes](https://github.com/mauricecruz/zero-base-themes/) is well maintained enough to build a decent theme that is frequently updated.

![image](https://cloud.githubusercontent.com/assets/1415692/15267370/82bd0b78-19ea-11e6-8bab-10d8b8fa29ef.png)
This is the Dracu

[2016-05-14 13:03] nesl247 commented on #164
@jacksaunders FYI your link to zero-base-themes is broken.

[2016-05-14 16:37] jacksaunders commented on #164
Thanks @nesl247 fixed

[2016-05-14 19:18] joaoevangelista commented on #163
Also is better for maintaining several editors with different maintainers

[2016-05-14 22:34] slothbear opened #166 "updated instructions for Installing using Atom"
I couldn't find the source code for https://draculatheme.com/atom here or I'd fix this myself – but I'd also like to hear another Atom user (perhaps @JimmyMultani) validate this issue.

The instructions for _Install using Atom_ currently say:

1. Go to Atom -> Preferences...
2. Then select the Themes tab
3. Enter Dracula in the search box

The **Themes** tab has a search box, but only for installe

[2016-05-15 02:07] nesl247 commented on #166
If you want to submit a PR, look at the `gh-pages` branch and submit a PR against that. That's where the source code for the site is located.

[2016-05-15 07:00] nesl247 commented on #164
So I installed the theme. I would much prefer to the normal text to be white instead of yellow. The yellow text is extremely annoying to look at in my opinion.

[2016-05-15 07:30] jacksaunders commented on #164
@nesl247 i havent put the theme up anywhere, not sure how you have installed it? Might be an old one, i will push my one up and let you have a look. Only the class and ID names are yellow in mine with the content muted

[2016-05-15 07:40] nesl247 commented on #164
@jacksaunders Got it from https://github.com/jacksaunders/dracula-chrome-dev-tools/commits/dracula-theme

[2016-05-15 07:41] jacksaunders commented on #164
Ah ok that is the latest version then

[2016-05-15 07:42] nesl247 commented on #164
It isn't actually, that's the old branch from February. I wasn't getting it from master. I'm trying out the theme now from master.

[2016-05-15 07:43] jacksaunders commented on #164
I think that will be similar, just updating the master not done much work on it since then

[2016-05-15 07:44] nesl247 commented on #164
Ah ok. Cause yeah, the screenshot you have in the OP here is what mine looks like. I'd love for all that yellow text to be white.

[2016-05-15 07:48] jacksaunders commented on #164
Here it is white, i prefer it yellow as its closer to the syntax theme
![image](https://cloud.githubusercontent.com/assets/1415692/15272697/bf50acc2-1aab-11e6-8f12-7f62c7e1c135.png)

[2016-05-15 07:49] jacksaunders commented on #164
for example here is the ATOM syntax theme

![image](https://cloud.githubusercontent.com/assets/1415692/15272705/2edc5bcc-1aac-11e6-86da-65def002264c.png)

[2016-05-15 08:20] nesl247 commented on #164
I much prefer it in white. That looks a million times better to me. The yellow is the color I hate in dracula to be honest. But that's another whole discussion. Better to keep it to match the ATOM theme. I'll probably just make the change locally and use the version I'd prefer :)

[2016-05-15 19:37] vinceskahan commented on #80
The @sinakarimi fork looks great on Yosemite in iterm2 for me too - the default seems to always revert the background to light even though it's sent dark in the .vimrc, which is odd.

Merge his tweaks !!!!

[2016-05-15 19:39] JimmyMultani commented on #163
I'm not against this either.

[2016-05-15 19:54] nesl247 opened #167 "Image in README does not exist"
I'm not sure what the image was supposed to be (or I would have submitted a PR), but it is a broken image currently.

Specifically talking about the image in the install section.

[2016-05-15 19:56] nesl247 commented on #163
Hadn't thought of it before, but this will also make versioning a lot more useful. Now we will really be able to have changelogs and versions per application/editor.

[2016-05-16 06:32] sinakarimi commented on #80
@zenorocha I wouldn't mind maintaining the vim/emacs theme if you guys need help on it.

[2016-05-16 06:49] jacksaunders commented on #163
Seems like a no brainer then, how do we go about moving this forward

[2016-05-16 06:59] nesl247 commented on #163
We would need @zenorocha to create an organization, and move this repository to it.

After that, the next steps would be to create a repository for each product that is supported, and added the corresponding maintainer to it. Once that is done, all of the code needs to be copied over. If we want to keep history, I think https://github.com/dflydev/git-subsplit might help unless someone knows anothe

[2016-05-16 07:09] nesl247 commented on #163
I would also suggest that at least a few other people get added as admins to the organization. That would help solve part of the issues from #149. While we have collaborators now, having other admins would mean that should @zenorocha not be available at all, other people can create repositories and such as needed.

[2016-05-16 07:19] nesl247 commented on #120
Are you guys still having this issue?

[2016-05-16 07:20] nesl247 commented on #92
Pinging @heinst the vim maintainer.

[2016-05-16 07:22] nesl247 commented on #80
Pinging @heinst the vim maintainer.

[2016-05-16 15:06] slothbear commented on #166
Thanks for the `site` tip @nesl247.  I've moved my proposed installation steps to #169.

[2016-05-16 15:06] #166 closed

[2016-05-16 18:05] nesl247 opened #171 "Wallpaper"
Not really an issue, but I wanted to see if anyone here who has the skills might create a wallpaper. It would be really neat considering we have all of these amazing icons to work with, as well as the theme itself.

[2016-05-17 20:15] zenorocha commented on #163
Hey guys! I love that idea. I've contacted GitHub to see if we can get the `dracula` org ;D

[2016-05-17 20:48] nesl247 commented on #163
I'm assuming they won't remove someone's account, even if empty, to do that. So on the likely chance they won't, are you going to create a `dracula-theme` org?

[2016-05-17 20:57] nesl247 commented on #163
We should probably also try and merge in any open PRs that are good to go before the change. Once the change is made, we'd have to have all the PRs re-submitted against the appropriate repository.

[2016-05-18 00:56] cbracco commented on #163
👍 Love this idea!

[2016-05-18 01:00] cbracco commented on #61
@zenorocha @Mottie closing this out in favor of #172

[2016-05-18 01:00] #61 closed

[2016-05-18 02:52] cbracco commented on #167
@nesl247 I think it was a screenshot of some arbitrary code showcasing the theme in action.

[2016-05-18 05:13] nesl247 commented on #167
Seems a weird place to put such a screenshot. Doesn't really belong in the installation section.

[2016-05-18 13:48] zenorocha commented on #163
Let's see what happens, I got another organization already by contacting them.

I agree that we need to handle all issues/PRs before making any move.

[2016-05-18 13:52] #167 closed

[2016-05-18 13:53] zenorocha commented on #164
That sounds a good idea. I would love to use Dracula on DevTools again ;)

[2016-05-18 16:09] jacksaunders commented on #164
Great, well it's almost good to go, going to wait on the outcome of #163 as I think it would be better as a seperate repo

[2016-05-18 16:23] nesl247 commented on #164
The yellow is even growing on me...

[2016-05-18 19:17] zenorocha commented on #164
Since this a new theme I think we can start moving it to the new org.

https://github.com/dracula/chrome have fun @jacksaunders ;)

[2016-05-18 19:18] zenorocha commented on #163
Good news! I got the dracula name and added you guys as owners: https://github.com/dracula

[2016-05-18 19:20] nesl247 commented on #163
Is anyone in IRC or Slack or anything? It would probably be easier to coordinate the migration if we are.

[2016-05-18 19:22] cbracco commented on #163
@zenorocha Awesome! I added an avatar for the organization that should suffice for the time being. 😸

<img width="505" alt="screen shot 2016-05-18 at 3 22 05 pm" src="https://cloud.githubusercontent.com/assets/1480677/15372023/5d55debc-1d0c-11e6-8b47-4f6292ccae8e.png">

[2016-05-18 19:23] cbracco commented on #163
@nesl247 should we create a slack org for dracula?

[2016-05-18 19:25] nesl247 commented on #163
Would be really useful. @zenorocha, mind creating one, or do you want one of us to?

[2016-05-18 19:55] nesl247 commented on #163
The site has been moved over. We just need to remove the CNAME file from the gh-pages branch here.

[2016-05-18 19:56] JimmyMultani commented on #163
@zenorocha, are we allowed to transfer over themes separately now?

[2016-05-18 20:04] zenorocha commented on #163
@cbracco yeah, let me create the slack org
@nesl247 roger that
@JimmyMultani let's close all issues/prs first

[2016-05-18 20:05] Ulthes commented on #163
Hey, sorry guys I wasn't taking active part in conversation. It'll change once I complete some bigger portion of my project. I can move VS Code repo in the weekend. Plus I'm going to publish it on the Marketplace.

[2016-05-18 20:07] nesl247 commented on #163
I started a port for atom. Trying out the best way to migrate it. Not working quite as nicely as I thought because it wasn't all in the same directory.

[2016-05-18 20:09] JimmyMultani commented on #163
@nesl247 Is it alright if I transfer the files over?

[2016-05-18 20:14] nesl247 commented on #163
@JimmyMultani Sure. Just do a force push and get rid of what is there.

[2016-05-18 20:20] nesl247 commented on #163
We can also just move this repository to the new organization so at least it's all in the right place. As we slowly migrate all the themes over we can remove them from this one. Eventually letting this repository become an issue tracker for approving new themes and such.

[2016-05-18 20:27] nesl247 commented on #163
@JimmyMultani Would it make sense to maybe just redo the Atom repo and just start from scratch? Wouldn't have any history then. That's what I was trying to do was to eliminate non-atom stuff from history.

[2016-05-18 20:30] zenorocha commented on #163
Check this out http://slack.draculatheme.com

[2016-05-18 20:32] heinst commented on #163
I can write a script that goes through the git log and prints commit ids for us to cherry pick

[2016-05-18 20:33] nesl247 commented on #163
@zenorocha Failed! Something has gone wrong. Please contact a system administrator.

[2016-05-18 20:34] nesl247 commented on #163
@heinst There's a tool called bfg to do cleanup. https://rtyley.github.io/bfg-repo-cleaner/

[2016-05-18 20:49] cbracco commented on #163
@zenorocha @nesl247 failed for me too! got the same error message when submitting the form.

[2016-05-18 20:59] nesl247 commented on #163
I've moved most of the code over to the new repositories. The exceptions are projects that have open PRs/issues, and projects that have multiple versions such as visual-studio.

I'm not quite sure how everyone wants to handle the multiple versions. If we do them separately, it'll support package managers better, but then it is another repo for each version.

[2016-05-18 21:02] zenorocha commented on #163
Try now http://slack.draculatheme.com/

[2016-05-18 21:21] JimmyMultani commented on #163
@nesl247 I think we should keep the history if the old repo will be removed. At least then we can look back to see previous changes made to the atom files.

[2016-05-18 21:22] nesl247 commented on #163
@JimmyMultani Join us in slack.

[2016-05-18 21:44] zenorocha commented on #164
Closing this one for now since a new repo has been set up ;)

[2016-05-18 21:44] #164 closed

[2016-05-18 21:44] #171 closed

[2016-05-18 21:44] nesl247 commented on #171
Will reopen this after the migration.

[2016-05-18 22:08] nesl247 commented on #120
Going to close this for now. Please feel free to reopen if you are still having the issue.

[2016-05-18 22:08] #120 closed

[2016-05-18 22:23] heinst commented on #80
@sinakarimi sure! I have very little experience with creating vim themes and seems you have a lot more then I do CC: @zenorocha

[2016-05-18 22:33] heinst commented on #80
Tweaks merged. Thanks @sinakarimi

[2016-05-18 22:33] #80 closed

[2016-05-18 22:36] nesl247 commented on #162
Discussed on Slack. We're only going to keep one official one for a shell. Thus closing this as mine is a multi-line.

[2016-05-18 22:36] #162 closed

[2016-05-18 22:43] #92 closed

[2016-05-18 22:43] heinst commented on #92
Thanks @markwu

[2016-05-18 22:54] nesl247 commented on #163
Going to close this as it's well underway.

[2016-05-18 22:54] #163 closed

[2016-05-19 00:09] zenorocha commented on #132
Hey @toogy, sorry for taking so long to reply.

Unfortunately, I don't have a solution for this issue :/

[2016-05-19 00:09] #132 closed

[2016-05-19 15:35] surajsharma opened #178 "Markdown support in Sublime"
the colour coding in markdown is almost nonexistent, besides links, nothing is highlighted. this is in sublime text, am i doing something wrong or is there no differentiation in headings, bold, italic etc for the theme?

[2016-05-19 22:51] defectivebit commented on #178
Code colouring is dependent on your editor; Dracula simply provides the colours that the editor uses in it's UI. If you want to change the code colouring, you need to edit the grammar file for your language, in this case Markdown. If you don't want to do that, Atom highlights headings, bold and italic text.

[2016-05-20 05:20] surajsharma commented on #178
the theme does not provide scopes for markdown, those should be included.

[2016-05-20 13:34] defectivebit commented on #178
@surajsharma Could you compile a list of the scopes that need to be colourised? [This StackOverflow](http://stackoverflow.com/questions/10834765/where-to-find-a-list-of-scopes-for-sublime2-or-textmate) seems to have the instructions but I'm not familiar with Sublime Text.

[2016-05-20 13:55] dsego opened #180 "Sublime package includes two theme files"
Sublime package also includes the visual-studio-code theme file. Is this intended?

![screen shot 2016-05-20 at 15 41 54](https://cloud.githubusercontent.com/assets/578557/15429638/2e62f95e-1ea2-11e6-94c7-23a8b159212e.png)

If not intended, maybe adding *.no-sublime-package* to that sub-directory would help (just by looking at the docs, I actually know nothing about publishing sublime packages).
h

[2016-05-20 14:10] Ulthes commented on #180
I've already created pull-request for Package Control [HERE](https://github.com/wbond/package_control_channel/pull/5525). Dracula Theme has been moved to organization, this will solve this issue, since every theme has it's own repository.

[2016-05-20 14:14] #180 closed

[2016-05-20 16:56] surajsharma commented on #178
you can visit http://tmtheme-editor.herokuapp.com/ and see the different
scopes between Dracula.tmtheme and any other sublime theme which has the
scopes for markdown defined. right now i am just substituting Dracula
colours with my own custom theme, its not perfect but i would love Dracula
to come with official markdown support, at least on sublime. below is a
screenshot of how my hacked theme is

[2016-05-21 22:58] nesl247 commented on #178
Hi @surajsharma. If you wouldn't mind, please reopen this issue at https://github.com/dracula/textmate. We are in the process of completing a migration to an organization.

Thanks!

[2016-05-21 22:58] #178 closed

[2016-05-22 20:00] blacksails opened #182 "Selection and currentline has the same hex but different images in readme"
Selection and currentline has the same hex but different images in the readme, what is the issue?

[2016-05-22 20:02] blacksails commented on #182
Found that background and selection seems to have the same images.

[2016-05-23 21:27] adolphenom commented on #120
I didn't try again since nobody replied to this issue until january. I didn't know if someone fixed it, sorry.

[2016-05-23 21:34] nesl247 commented on #120
@adolphenom If you are still having the issue, please file a new bug at https://github.com/dracula/vim.

Again, sorry for the delayed reply.

[2016-05-23 21:35] nesl247 commented on #182
Which editor/theme are you referring to here?

[2016-05-24 04:51] blacksails commented on #182
I refer to the table in the general readme.

[2016-05-24 13:12] nesl247 commented on #182
Funny enough I just checked the history and it's been the same since the day @zenorocha added the table. @zenorocha, is it correct or is there an issue?

[2016-05-24 13:40] blacksails commented on #182
There must be an issue because the color of the images should match the hex.

[2016-05-24 13:50] nesl247 commented on #182
The color boxes being different is definitely an issue if the hex is supposed to be the same, but I'm also questioning the hex being the same.

[2016-05-24 18:08] zenorocha commented on #182
We definitely need different colors for selection and current line. Let's finish the migration and then we start tackling improvements like this ;)

[2016-05-26 13:05] dcrystalj opened #187 "large array in atom"
not sure if it is dracula or atom problem but if i make large array (oneliner) in python,  only first few items gets colored: ![Image of array](http://pix.toile-libre.org/upload/original/1464267748.jpg)

[2016-05-26 13:21] JimmyMultani commented on #187
Hey @dcrystalj, this is an issue related to Atom and how it parses tokens. It's a known bug and they are looking into it. You can check out one of the bugs [here](https://github.com/atom/atom/issues/1667).

[2016-05-26 13:23] dcrystalj commented on #187
thank you

[2016-05-26 13:23] #187 closed

[2016-05-26 23:13] CestLou opened #188 "text spacing issues in jetbrains implementation"
rubymine build: #RM-145.972
2016.1.1
OS X El Capitan v10.11.3

tried both downloading zip file and cloning repo. both bring me into a weird environment where the characters in any file type are either spaced out oddly or left in a state where it looks cramped and characters are squashed together (even though there are spaces technically present). I couldn't get a photo of the latter prior to me cr

[2016-05-27 03:05] ashchan commented on #156
@heinst Changing Selection color from Terminal highlight preferences only changes the highlight color for Terminal, under Vim the visual mode selection still uses the mentioned 'not distinct' color.

[2016-05-27 03:09] heinst commented on #156
I have no such issue

[2016-05-27 03:25] ashchan commented on #156
@gujiaxi @moistrot

As a quick dirty work around, we can add a line like this below `color dracula`:

    hi Visual ctermfg=NONE ctermbg=22 cterm=NONE guifg=NONE guibg=#005f00 gui=NONE

Note in this example I use a deep green.

[2016-05-27 03:44] heinst commented on #156
You are welcome to open up a pr with a Dracula highlight color :)

[2016-05-27 04:24] ashchan commented on #156
@heinst I'll experimenting themes for other editors to see if the current highlight is such by purpose. Thank you!

[2016-05-27 16:05] joaoevangelista commented on #188
Which OS are you running on?

[2016-05-27 16:12] joaoevangelista commented on #188
I tried to reproduce this with RM 145.972 running on JRE 1.8.0_77 on Windows 10, but no lucky. Can you please confirm that is not the font is causing this issue ?

[2016-05-27 19:12] CestLou commented on #188
how strange, the default font the theme assigns (`source code pro`) breaks stuff. huh.

I'm running OS X El Capitan v10.11.3

your suggestion fixed it. thank you! 😁🏼

[2016-05-27 20:01] joaoevangelista commented on #188
We are here to help! Indeed it is a problem from the Oracle JRE that caused a lot of trouble with fonts, at least the 2016.2 version of the platform will come with a custom version of OpenJdk bundle addressing font issues

[2016-05-27 20:01] #188 closed

[2016-05-27 20:11] CestLou commented on #188
awesome. thanks again, really appreciate the prompt communication.

[2016-05-30 21:45] nesl247 opened #191 "Current Line and Selection colors are the same"
Outside of #182 having the wrong image, both the current line and selection list the same hex colors. This has been true since the README was originally created. They should be two different colors.

Once this is fixed, all themes will need to be updated.

[2016-05-30 21:49] nesl247 commented on #182
I just tested it using a color picker and both boxes are actually the same and correct color. I know to the eye it looks different for some reason, but when I look really close it looks the same. The color pickers probably don't lie though so I'm going to say it's correct.

[2016-05-30 21:50] nesl247 commented on #182
I'm going to close this since they appear to be the same unless you have another color picker stating the opposite. If so I'd be happy to reopen the issue as we definitely want to get this right.

I opened up another issue for the hexes being the same which they really shouldn't be (#191).

[2016-05-30 21:50] #182 closed

[2016-05-30 22:16] nesl247 opened #192 "Standardize colors for elements"
Elements such as line numbers, the line number gutter, cursor, etc. should all have an official list of colors. It would also be help to have a preferred color for function names, class names, etc.

If an editor doesn't have the ability to choose the correct color, we'll have to deal with it (for instance PhpStorm is a bit weak when it comes to coloring specific tokens separately), however this wi

[2016-05-30 22:22] nesl247 opened #193 "Create official code samples to be used for designing new themes."
We should have official code samples that can be used for comparisons of code between editors, as well as the code to be used in screenshots. This way we make sure each editor's theme is as close to the same as possible. I've listed 4 languages below that we can use as a basis. Sometimes different editors behave differently with each language, thus it's a good idea to have a few languages to sampl

[2016-05-30 22:27] zenorocha commented on #193
Yessssss!

[2016-05-30 22:27] nesl247 opened #194 "2.0 for all themes"
Once #191, #192, and #193 are completed, all themes should be updated and then tagged as 2.0. Each theme can now be tagged individually, so they do not depend upon each other anymore.

[2016-05-31 07:33] nesl247 commented on #193
Here's what I've come up with for PHP. We should probably replicate the exact stuff to each language so if we need to support others we have very similar code to cover as many tokens as possible.

[code]

[2016-05-31 10:40] qolop commented on #193
Here's roughly the same thing in Python 3:
[code]

[2016-05-31 14:04] nesl247 commented on #193
Thanks @qolop! We're nearly there.

[2016-06-01 00:30] nesl247 commented on #193
@qolop Not a big Python dev, but shouldn't the comments actually be doc stuff for each method. If I recall, Python did it like

[code]

?

[2016-06-01 00:38] qolop commented on #193
Yes, you are correct. I wrote it rather quickly and didn't think of that.

[2016-06-02 23:37] brandonpittman opened #196 "Create fish shell theme (color variables)"
[Fish shell theme](https://github.com/brandonpittman/template)

![Fish shell theme](http://pixelsnatch.com/f/dracula.fish-Az1cHQFY8l.png)

[2016-06-03 18:32] nesl247 commented on #196
Hey @brandonpittman,

Thanks this, but the officially supported shell themes should be based on robbyrussell, which is a really simple shell theme. However, I can create a fish shell repo and link to your theme as a related one.

Please create your theme in a repo, such as I have for my theme [here](https://github.com/nesl247/fish-theme-dracula). I'll create a fish repo today so you can submit a P

[2016-06-04 07:26] brandonpittman commented on #196
What I submitted isn't a prompt, but a file that merely sets standard fish color variables to Dracula colors. I'm not touching anyone's prompt, just color variables that fish_config would normally set.

So, you can use whatever prompt you want.

[2016-06-04 23:54] hivearts opened #197 "OmniFocus 2"
Hello,

I really like your themes guys, and use it on all editors that i have. (:
It would be good if someone can create theme for OmniFocus, i really will appreciate it.

Cheers,

[2016-06-06 11:05] Aszarsha opened #198 "Xresources / xterm color scheme"
Hello :-)

I just implemented .Xresources version (for xterm, urxvt, and other X11 applications) of the three terminal versions of Dracula available here on GitHub. The repo is [Aszarsha/dracula-Xresources](https://github.com/Aszarsha/dracula-Xresources).

1) [dracula/mintty](https://github.com/dracula/mintty) (the most faithful to the original color scheme) over xterm:
![dracula-xresources mintty

[2016-06-06 15:21] zenorocha commented on #197
Hey @hivearts! That would be awesome.

Have you seen this? https://github.com/dracula/dracula-theme#are-you-going-to-support-editor-x

Basically, all themes are submitted by the community, so feel free to create a pull request ;)

[2016-06-06 15:26] nesl247 commented on #197
@zenorocha Going to open this back up with a new label so people who might be interested in creating these can see there is interest.

[2016-06-06 15:27] zenorocha commented on #197
Ohh sorry about that ;)

[2016-06-06 15:28] nesl247 commented on #196
I'll have to investigate this a bit further. I've not actually seen this done before, not just in fish, but in any shell, as the prompts would override this usually.

[2016-06-06 15:31] nesl247 commented on #198
Hi @Aszarsha,

Thanks for the contribution! If you would like, we can create an official xresources repo where you could submit a PR for one of these, probably the mintty one as you said it's the most correct, and then become the maintainer for it.

If that sounds interesting to you, let me know and I'll set it all up.

Thanks again!

[2016-06-06 16:37] Aszarsha commented on #198
Sounds good! :)
Just in case, let's close the issue only once everything is up?

[2016-06-06 16:39] nesl247 commented on #198
Yep, of course. Just didn't want to create it all if you didn't want to work on it. Will create it all for you now.

[2016-06-06 16:42] nesl247 commented on #198
Can you please create a PR against https://github.com/dracula/xresources? Please make sure to update the README to include only yourself in the maintainers list.

Thanks!

[2016-06-07 10:50] Aszarsha commented on #198
Ok, I made the pull request. I also made a pull request to dracula.github.io to add a screenshot, but didn't create the web pages or anything, I'd rather leave that to you (although I could do it if necessary).

In the process, I also corrected minor things in the MinTTY repo (see pull request there).

Cheers! :)

[2016-06-07 13:28] #198 closed

[2016-06-08 02:15] brandonpittman commented on #196
I believe the prompt should be structure and not the colors. This way, you include the standard fish color variables in prompt code, and then no one gets surprised when they try a prompt.

[2016-06-12 23:55] hacknug opened #199 "Pythonista"
Hey guys!

I just finished porting Dracula for Pythonista (an iOS app). Apparently the way to share themes for Pythonista is through a URL with all the info encoded. Here's said URL:

pythonista3://?action=add-theme&theme-data=eNqdVkuTojAQvvsrLPYqVYKKsDd1ytte9g9QIbSYJaStEGrHnZr_viGBkfiaYcjJ7v76_fBtMp16nGWSyHOqmFDe9OfU28f6hd6sZeZwIA1XqYLXW6Y6NlUmCONphjIHaQSCVRAFOytQNEqBTDNCy0JiI3IjEcbhZhFZiSesnMgyL

[2016-06-13 04:36] #196 closed

[2016-06-13 13:26] nesl247 commented on #196
@brandonpittman Sorry, haven't had too much time to review this at the moment as I've been preparing to move.

[2016-06-13 14:52] apierz commented on #193
Here is a Ruby sample:
[code]

[2016-06-22 14:13] wanbinkimoon opened #200 "problem ovveriding classes (html editor)"
Hi,
I love the color palette and the theme but  I want to add a cyan touch to the html editor which, in my opinion is a bit flat, so i wanted to ovveride those 2 classes `.punctuation.definition.tag.begin.html` and `.punctuation.definition.tag.begin.html` but the theme seems not work

[2016-06-22 15:08] nesl247 commented on #200
Hi @wanbinkimoon. Which theme are you referring to? This repository is more of a metadata repository now, rather than containing the actual themes. We moved to an organization, so everything is split up now into separate repositories.

[2016-06-22 19:27] nesl247 commented on #199
Thanks for the contribution @hacknug. It'll probably be this weekend, but I'll create a repository for this theme in which you will be the maintainer. Even though it's just a link, we can have the readme and screenshot and everything as needed.

Thanks! I'm gonna leave this issue open until I get the repo created for you.

[2016-06-23 07:49] nesl247 commented on #199
Ok, so I've created the repository for you and invited you to be a maintainer for that repository. Please see https://github.com/dracula/pythonista/issues/1.

[2016-06-23 07:49] #199 closed

[2016-06-23 09:23] wanbinkimoon commented on #200
the atom theme

[2016-06-23 09:33] nesl247 commented on #200
Can you please open an issue (here)[https://github.com/dracula/atom/issues] instead then? Thanks!

[2016-06-23 09:33] #200 closed

[2016-06-23 19:18] apierz commented on #193
Here's a JS sample. I had to use prototyping to get the kind of string interpolation used in the other examples though, so maybe someone else wants to take a crack at it.

[code]

[2016-06-23 19:29] nesl247 commented on #193
Thanks for the contributions everyone! I'll try and write up some official documentation with all of this soon.

[2016-06-24 17:06] psthompson commented on #197
I actually createda theme for OmniFocus for myself but I wasn't a big enough fan of it to share it. It doesn't match the quality of the other available app themes because Omni Focus forces a black or white main UI depending on the other colors used.

[2016-06-24 17:06] psthompson commented on #197
I actually createda theme for OmniFocus for myself but I wasn't a big enough fan of it to share it. It doesn't match the quality of the other available app themes because Omni Focus forces a black or white main UI depending on the other colors used.

[2016-06-24 17:10] psthompson commented on #197
I actually created a theme for OmniFocus for myself but I wasn't a big enough fan of it to share it. It doesn't match the quality of the other available app themes because Omni Focus forces a black or white main UI depending on the other colors used.

![](http://i.imgur.com/eQhvnj6.png)

[2016-06-24 17:16] psthompson commented on #197
I actually created a theme for OmniFocus for myself but I wasn't a big enough fan of it to share it. It doesn't match the quality of the other available app themes because Omni Focus forces a black or white main UI depending on the other colors used.

![](http://i.imgur.com/13GTisy.png)

[2016-06-24 18:23] hivearts commented on #197
Yes, black color sucks, but it's still the best theme for omnifocus that i have seen on internet.

Can you please upload a style somewhere?

[2016-07-06 07:48] beefsack opened #201 "New theme: XChat"
I've created a new theme for XChat, you can see it at https://github.com/beefsack/dracula-xchat.

I'd happily put it up for consideration for moving under the Dracula organisation, but also happy to maintain it separately if it's not a good fit.

[2016-07-10 20:14] nesl247 commented on #201
Hey @beefsack,

Thanks for the contribution! We'd be happy to have this under the Dracula organization. If you'd like to do that, let me know and I'll go ahead and create the repository and such and add you to the organization.

Thanks!

[2016-07-11 00:09] beefsack commented on #201
Hi @nesl247, sounds great, cheers!

[2016-07-12 15:14] nesl247 commented on #201
I've gone ahead and created the repo and invited you to be a member of the organization. You can find the repository here: https://github.com/dracula/xchat

[2016-07-12 15:14] #201 closed

[2016-07-13 08:43] beefsack commented on #201
Cheers 😄 have pushed to the new repo just now.

[2016-07-17 17:50] Adejair opened #202 "Dracula Theme - Hyperterm"
## New Theme

Hello, everyone. I created a theme dracula for [hyperterm](https://hyperterm.org), i would like make my submission to dracula organization.

https://github.com/Adejair/dracula-hyperterm

Thanks for all.

[2016-07-17 17:59] zenorocha commented on #202
Hello Adejair. We usually transfer the repository to the organization and then add the creator as maintainer. Are you OK with that?

[2016-07-17 18:02] Adejair commented on #202
OK, will be cool !!

[2016-07-17 19:50] lenovouser commented on #202
@Adejair there is no code in your repository?

[2016-07-17 20:00] Adejair commented on #202
Ohhhh sorry, Hyperterm it download the dependencies in accordance with name in _npm_, because of that i had forgotten to add the source. I Added the source code on repository =)

[2016-07-18 19:04] ythecombinator commented on #202
OMG haha, I'd just been working on this [too](https://github.com/ythecombinator/dracula-hyperterm).

BTW, very nice @Adejair

[2016-07-19 20:10] WinstonN opened #203 "Error in PHPStorm 9.0.2"
Getting this error on Ubuntu 14.04 PHPstorm 9.0.2

Cannot read scheme Dracula.icls  from '$ROOT_CONFIG$/colors': Argument for @NotNull parameter 'element' of com/intellij/openapi/editor/markup/TextAttributes.<init> must not be null

[2016-07-19 20:50] zenorocha commented on #203
Could you please report this issue to the proper repo: https://github.com/dracula/jetbrains? Thanks!

[2016-07-19 20:50] #203 closed

[2016-07-19 21:27] WinstonN commented on #203
@zenorocha sure!

[2016-07-23 11:30] ufukomer opened #204 "Visual Studio Code jsx highlighting problem"
When I put create a new line (in a situation like below), it disturbs the JSX highlighting:

![](http://image.prntscr.com/image/b57121946b8d4aa59b94af496778b9e0.png)

But it's ok if I don't break a new line (green underline is not related with the issue, it's about tslint rule):

![](http://image.prntscr.com/image/9a297bd2e2224589bfb487457e20ec6c.png)

[2016-07-23 14:06] nesl247 commented on #204
@ufukomer Would you mind filing a bug at https://github.com/dracula/visual-studio-code instead?

Thanks!

[2016-07-23 14:06] #204 closed

[2016-08-03 01:33] Adjective-Object opened #205 "dracula for xfce4-terminal"
## Repo
https://github.com/Adjective-Object/dracula-xfce4-terminal

## Screenshot
![Screenshot](http://i.imgur.com/yuDq9FY.png)

[2016-08-03 18:13] CestLou commented on #188
hey there, sorry to trudge this up but just in case this goes overlooked (like it did for me) wanted you all to be aware!
rubymine has an embedded terminal that also has the `source code pro` font, and that is not updated when you update the general font type.
future reference perhaps? :)

[2016-08-08 09:55] hackwaly commented on #192
Request to add slight color element for highlight delimiters.
* Delimiters of structured literal: `{` `}` `[` `]` `,`
* OCaml quoted string `{xml|xml text|xml}`. It's better that highlight `{xml|` and `|xml}` in separated color.

I prefer using dark slight color for these to avoid distract users.

[2016-08-19 15:57] Adjective-Object commented on #205
Any updates?

[2016-08-19 16:17] nesl247 commented on #205
Hey, sorry, things have been crazy over the last few months, and I haven't dedicated the time I should have. I will get this taken care of this weekend, if not later today.

Thanks again!

[2016-08-22 06:10] nesl247 commented on #205
Hi @Adjective-Object, I've gone ahead and created the repository for you at https://github.com/dracula/xfce4. If you could please submit a PR, it would be appreciated. Once it's been merged in, I'll add you as a member of the organization.

Thanks again for your contribution!

[2016-08-22 06:10] #205 closed

[2016-09-22 11:38] ukarim opened #206 "Dracula for Notepad++"
Hello. I've created theme for Notepad++. You can see it at https://github.com/ukarim/dracula-notepad-plus-plus.
![screenshot](https://raw.githubusercontent.com/ukarim/dracula-notepad-plus-plus/master/screenshot.png)

[2016-10-05 07:54] Narann opened #207 "Not dracula.vim url on Vim page"
Hi and thanks for Dracula theme. :)

https://draculatheme.com/vim/

I can't use vundle or pathogen. I must be totally silly but when I read this:

It doesn't seems to be any `dracula.vim` file url anywhere on the page.

Am I missing something? Where can I find `dracula.vim`?

Thanks in advance and keep the good work!

[2016-10-05 07:56] Narann commented on #207
I finally find it!

https://github.com/dracula/vim/tree/master/colors

Do you thing you can add a direct url to:

https://github.com/dracula/vim/blob/master/colors/dracula.vim

It's jsut that there is no direct access to this file on the page and you have to dig into github to find it.

Thanks in advance!

[2016-10-05 17:11] jamesbvaughan opened #208 "Dracula Theme for Chrome"
Is anyone aware of a Dracula theme for Chrome/Chromium? If there's not one out there already I might be down to try to make one.

[2016-10-20 20:20] carks32 commented on #205
Sadly that @Adjective-Object didn't finish this :sob:

[2016-10-25 19:51] Adjective-Object commented on #205
Whoops, looks like life got away from me too. I don't think I can make a pull against a repo unless it's registered as a fork of it, and I don't think I can fork an empty repo.

@nesl247 mind throwing a README into the repo so I can rebase my branch onto it?

[2016-11-04 14:27] stephengfriend commented on #197
@neurohacked Any chance of sharing that theme? I've recently switched over to Dracula for my universal theme and would love this.

[2016-11-08 20:58] idoo opened #209 "Light theme"
It's a quite strange thing, but sometime, when I'm working on sun, my eyes want go away.
Does somebody have same issues? =)
I saw, that you're not planing to create a light theme, but may be somebody found a good alternative 😟

![dracula-cris-from-horror-of-dracula](https://cloud.githubusercontent.com/assets/738921/20116887/324c0480-a60f-11e6-84c4-855e765999d7.jpg)

[2016-12-04 06:16] craigcosmo opened #210 "installed but my iterm looks nothing like dracula theme"
screenshot of my iterm

<img width="669" alt="screen shot 2016-12-04 at 1 13 24 pm" src="https://cloud.githubusercontent.com/assets/538657/20864435/7acde804-ba23-11e6-8024-4cfac553d538.png">

screenshot of dracula

<img width="720" alt="screen shot 2016-12-04 at 1 06 30 pm" src="https://cloud.githubusercontent.com/assets/538657/20864436/80b2610a-ba23-11e6-9e5d-d8c0c398ae67.png">

The differences:

[2016-12-04 09:21] pix2D commented on #210
This is just a theme. It only changes colors. For additional terminal features look here:
https://github.com/robbyrussell/oh-my-zsh

[2016-12-07 10:19] sergeyvdovareize opened #211 "Midnight Commander's colors became purple"
Hi.
After applying the theme to the iterm2 terminal the colors in Midnight Commander had become too gentle. Is it ok?
![mc dracula colors](http://image.prntscr.com/image/29434712d42348f98e344c92c0319378.png)

Thanks

[2016-12-28 16:14] Raghava2016 commented on #210
Facing same issue.

[2016-12-28 16:16] craigcosmo commented on #210
install https://github.com/robbyrussell/oh-my-zsh will help

[2016-12-28 16:16] #210 closed

[2016-12-28 17:13] Raghava2016 commented on #210
installed oh-my-zsh,restarted iTerm. same issue persist.

[2017-01-16 07:55] tgy commented on #80
I tried to install dracula again today and it still didn't work well.

For anyone who is interested, dracula is available in `base16` and it works perfectly with vim and neovim!

[2017-02-17 22:59] dsifford opened #213 "Maintainer for vscode doesn't seem to be active anymore"
Issues for the vscode repo look pretty stale. I sent in a PR a few days ago and that hasn't been acknowledged.

Willing to help maintain if one is needed for now.

[2017-02-17 23:25] zenorocha commented on #213
Sorry about that @dsifford, I'm very glad you're willing to help :D

I just sent an invitation and added you to the team: https://github.com/dracula/visual-studio-code/commit/0809aa55cf130d666ab6a43f7da4a9139ef7d7f7

Let me know if you need anything.

[2017-02-17 23:25] #213 closed

[2017-02-17 23:29] zenorocha commented on #211
Hey @sergeyvdovareize, sorry about that. Is this issue still happening? Can you help us fix it? If yes, the best place to discuss this should be on https://github.com/dracula/iterm. Thanks a lot for reporting!

[2017-02-17 23:29] #211 closed

[2017-02-17 23:30] zenorocha commented on #209
Hahahahaha that's a very good point. Unfortunately, we don't have enough resources to work on a light theme and support it in some many different platforms. But thanks a lot for bringing this up :)

[2017-02-17 23:30] #209 closed

[2017-02-17 23:39] zenorocha commented on #208
Hey @jamesbvaughan,

Sorry for the delay on answering you. We do have a Chrome DevTools theme (https://github.com/dracula/chrome-devtools), but not for the Chrome browser itself. Let me know if you give it a try :)

[2017-02-17 23:39] #208 closed

[2017-02-17 23:49] zenorocha commented on #206
Hey @ukarim,

Sorry for taking so long to reply. I'm very glad you took the time to create a Notepad++ theme!

I just sent you an invitation to join the Dracula organization. I also migrated your repository to this organization, keeping your commit history and everything else. See it here: https://github.com/dracula/notepad-plus-plus

You can now remove yours with you want.

Thanks again for contr

[2017-02-17 23:49] #206 closed

[2017-02-17 23:53] zenorocha commented on #207
Hey guys, thanks for sharing! Would you mind sending a PR or move this discussion to https://github.com/dracula/vim? Thanks a lot for using Dracula and reporting these problems :)

[2017-02-17 23:53] #207 closed

[2017-02-18 00:35] dsifford commented on #213
Thanks @zenorocha

I'm not super experienced with the vscode marketplace, but it looks like it [requires authentication](https://code.visualstudio.com/docs/tools/vscecli#_publishing-extensions) to be able to publish changes to the extension. How would I go about getting authenticated for the repo?

[2017-02-18 17:11] dsifford commented on #213
@zenorocha Just confirmed. I can't publish to the vscode extension marketplace without being granted access to the theme on visualstudio.com or without being given the access token.

PR merged in the repo. Just waiting to deploy. Thanks.

[2017-02-22 12:47] teeli opened #214 "New Themes: PuTTY and ConEmu"
## New Theme

I've created themes for [PuTTY ](http://www.putty.org/)and [ConEmu ](https://conemu.github.io/)based on Dracula. Submitting them here, if you are interested in adding them.

PuTTY: https://github.com/teeli/dracula-putty
ConEmu: https://github.com/teeli/dracula-conemu

[2017-02-25 03:21] dsifford commented on #213
@zenorocha FYI: I reached out to @Ulthes by email and haven't heard back.

I've opened an issue about this also here: https://github.com/Microsoft/vscode/issues/21015

[2017-02-28 00:26] dsifford commented on #213
@zenorocha Disregard.. Finally got in touch. Good to go now.

[2017-03-04 13:57] darshanime opened #215 "discussion - move emacs near the top"
I hate to nit-pick (and don't get me wrong, I love this project) but in the home page, the lovely graphic which shows compatible editors, Emacs is way way down the list. It comes after even Slack(and Slack is not an editor!)

To quote numbers, Emacs is at 13 (Vim is at 3)

I think it would be nice to move it near the top 5 maybe, because Emacs is the most important editor ever created.

![image](h

[2017-03-06 00:32] zenorocha commented on #215
Hello @darshanime, you're right. The way things are organized today is very bad. We need some sorting and filtering capabilities.

[2017-03-06 02:33] zenorocha commented on #214
That's awesome @teeli!

We already have a ConEmu theme so if you could become a maintainer and contribute to the existing one, it would be great.

PuTTY will be an awesome addition!

I sent you an invitation to join the organization, let me know when you accept it.

[2017-03-06 03:03] zenorocha commented on #202
Hey guys!

It's been a while since we started this thread. Let's create an official Hyper theme once and for all?

From my research I found these themes related to Dracula:

* https://github.com/nerdpad/hyper-dracula
* https://github.com/amorino/hyperterm-dracula
* https://github.com/diegotoral/dracula-hyperterm
* https://github.com/Adejair/dracula-hyperterm
* https://github.com/ythecombinator/dra

[2017-03-06 03:04] zenorocha commented on #202
Just to be clear, I'd like to see all of us converging and contributing to one theme.

We'll need to transfer only one repository but that doesn't mean we need only one maintainer :)

[2017-03-06 07:27] teeli commented on #214
Great, I accepted the invitation now :)

[2017-03-07 05:16] zenorocha commented on #214
Great! Now you should be able to transfer the repository :)

[2017-03-07 08:37] nickimola opened #216 "New Google Chrome Theme based on Dracula Color palette"
Hi,

I've created a new theme for google chrome, it can be found here:
https://github.com/nickimola/Dracula-Chrome-theme

or here
https://chrome.google.com/webstore/detail/dracula-chrome-theme/gfapcejdoghpoidkfodoiiffaaibpaem?hl=en-US&gl=GB

![screen1](https://cloud.githubusercontent.com/assets/9289704/23648130/2eeefd4c-0311-11e7-9ec5-058992e55e98.jpg)

[2017-03-07 18:35] zenorocha commented on #202
Nobody?

[2017-03-07 19:20] szaydel commented on #202
Seems like most have not been updated in a while.

On Tue, Mar 7, 2017 at 10:35 AM, Zeno Rocha <notifications@github.com>
wrote:

--
We are prone to overestimate how much we understand about the world and to
underestimate the role of chance in events.

Please feel free to connect with me on LinkedIn.
http://www.linkedin.com/in/samzaydel

[2017-03-07 21:48] lenovouser commented on #202
Yeah I don't mind any of these but I think some of the maintainers should respond

[2017-03-08 06:15] joshbenham opened #217 "Request New Theme: Konsole"
## New Theme?

I was wondering if we could get a Konsole theme working. I am currently using

https://github.com/mbadolato/iTerm2-Color-Schemes/blob/master/konsole/Dracula.colorscheme

But it does not seem 100% correct and the "Intense Colours" have me confused.

![dracula - spectacle theme](https://cloud.githubusercontent.com/assets/401672/23692458/dd8ecbe0-0422-11e7-9af5-9ab90835983c.png)

[2017-03-08 11:58] Adejair commented on #202
Hi @zenorocha, I'm interested in being a maintainer.

:)

[2017-03-08 14:53] diegotoral commented on #202
Hi everyone!

I'm interested in being a maintainer too.  Let me know how I can help you.

[2017-03-08 16:38] zenorocha commented on #202
Awesome! I sent an invitation to join the organization for both of you. The next step would be coming into an agreement of what is the best repository to migrate. If you don't have a place to chat, I'd recommend using [Dracula's slack channel](https://slack.draculatheme.com/).

Once you decide which one we're going to use, we can move the repository to this organization and start making changes to

[2017-03-08 16:42] zenorocha commented on #217
Hello @joshbenham! I noticed that @rishabhsrao created a theme for Konsole (https://github.com/rishabhsrao/dracula-konsole), but I reached out to him and he hasn't replied yet (https://github.com/rishabhsrao/dracula-konsole/issues/1).

If you're interested, we can create a repository under the Dracula organization and have you maintain. What do you think?

[2017-03-08 16:44] zenorocha commented on #216
That's awesome @nickimola! Are you interested in moving this repository to the Dracula organization and maintain it? If yes, I can send an invitation to join ;)

[2017-03-08 17:29] nickimola commented on #216
Thank you @zenorocha that will be awesome ;)

[2017-03-08 17:44] zenorocha commented on #216
Awesome! I sent you an invitation, let me know when you accept it.

[2017-03-08 17:46] nickimola commented on #216
Just accepted. So whats next?

[2017-03-08 17:59] Adejair commented on #202
Ok, thanks @zenorocha

PS: you send the invitation ?

[2017-03-08 19:39] zenorocha commented on #202
Yes @Adejair, you can accept it via email or at https://github.com/dracula.

[2017-03-09 05:49] zenorocha commented on #216
Awesome! The next step would be transferring this repository to the dracula org. I just changed your role so you should be able to do that.

After you moved, make sure to follow the https://github.com/dracula/template. Once everything is in place, we can create a page on draculatheme.com for this.

[2017-03-09 05:49] #216 closed

[2017-03-09 06:19] zenorocha commented on #197
I'm closing this issue for now due to its inactivity, but if @neurohacked is interested in sharing his theme we would love to highlight it for other people to use :)

[2017-03-09 06:19] #197 closed

[2017-03-10 03:41] joshbenham opened #218 "New Theme: .dircolors"
## New Theme?

I am a bit new to editing .dircolors (colorized LS files) and have just always used a Solarized one for ages so I went and tried making my own to pretty much work with (https://github.com/dracula/dracula-theme/issues/217)

I tested this by using **Konsole** and I only used colors from 0-8 of the colors palette because I knew they were the correct colors.

![dracula color print](http

[2017-03-11 15:31] kkdk5535 commented on #218
Very Impressive work, looking forward for community to support this new thought

[2017-03-12 05:19] abelncm commented on #44
[ Use with Vundle plugin ]
Use as said in the website, ex: Plugin "dracula/vim"
It'll download a folder with the name vim inside the bundle folder
Go inside vim folder (which vundle downloaded from dracula) cut the colors folder and paste it in ~/.vim
Then you can remove the vim folder

[2017-03-13 07:37] nickimola commented on #216
Hi,

I've just moved the repo to Dracula.

2017-03-09 5:49 GMT+00:00 Zeno Rocha <notifications@github.com>:

[2017-03-18 23:25] mgroth0 opened #219 "new theme: chrome new tab"
https://github.com/matthew-groth/Dracula-New-Tab-Page

goes well with the [Chrome theme](https://github.com/dracula/dracula-theme)

while that theme changes the default new tab color, it flashes white every time a new tab is opened. This fixes that.

[2017-03-21 07:20] Barmus opened #220 "Ubuntu 16.04 terminal vim"
I got a problem when apply this theme to my default terminal-vim , the way it looks on my screen is much different from the standard picture! Are there any possibilities to fix this ? (By the way , this also happens to the terminal-Emacs) I love this theme quite much !  I'll be grateful if you can help me out !

[2017-03-21 16:24] benjamreynolds commented on #202
Friendly ping @Adejair What is the status of the Hyper theme? I also tracked down @dangvanthanh who has a really good looking version for hyper at https://github.com/dangvanthanh/hyper-dark-dracula that we might consider.

[2017-03-21 16:38] zenorocha commented on #220
Hello @Barmus, can you open an issue on those specific repositories?

https://github.com/dracula/vim
https://github.com/dracula/emacs

Thanks!

[2017-03-21 16:38] #220 closed

[2017-03-24 04:27] GabLeRoux opened #221 "I created a monodevelop theme :)"
Hi there,
I created [GabLeRoux/monodevelop](https://github.com/GabLeRoux/monodevelop) theme. I did not look at all the details on how the theme can be merged, but It works for me and looks great. I started from monokai for other default colors and json values. Maybe it can be improved, but it's more than enough for me :)

![image](https://cloud.githubusercontent.com/assets/1264761/24280654/95c9b13

[2017-03-31 18:11] zenorocha commented on #202
Done!!!

https://draculatheme.com/hyper
https://github.com/dracula/hyper
https://www.npmjs.com/package/hyper-dracula

Thanks @dangvanthanh for your work and willing to maintain this project!
And thanks @nerdpad for providing the npm package!

[2017-03-31 18:11] #202 closed

[2017-03-31 18:12] zenorocha commented on #202
For all the work package owners, I'd recommend trying this one out and sending feedback. I think it would be more beneficial for the project and community if we centralize all efforts into one instead of 5 different ones.

[2017-04-06 04:27] rishabhsrao commented on #217
Hi @zenorocha Sorry about the delayed reply; I missed the notification. Sure, I'll transfer the repo to the Dracula org.

[2017-04-06 04:37] rishabhsrao opened #223 "New theme: Konsole"
## New Theme?

Hi, I've created a new theme for Konsole at [rishabhsrao/dracula-konsole](https://github.com/rishabhsrao/dracula-konsole). Let's add it to the dracula organization. Thanks!

[2017-04-14 19:33] ghost opened #224 "New Theme: CotEditor"
## New Theme

I made a new theme for [CotEditor](https://coteditor.com/)! My repo is [here](https://github.com/roonieone/dracula-coteditor).

[2017-04-14 20:38] zenorocha commented on #224
That's great @roonieone!

[2017-04-14 20:39] zenorocha commented on #224
What we usually do is transferring the repository to this organization and then adding a page on the site. You would still control and maintain the repository, nothing changes :)

Let me know if you like this idea so I can send you an invitation.

[2017-04-14 20:39] zenorocha commented on #223
Done! https://github.com/dracula/konsole ;)

[2017-04-14 20:39] #223 closed

[2017-04-14 20:40] zenorocha commented on #221
Hey @GabLeRoux, that's awesome!

What we usually do is transferring the repository to this organization and then adding a page on the site. You would still control and maintain the repository, nothing changes :)

Let me know if you like this idea so I can send you an invitation.

[2017-04-14 20:40] zenorocha commented on #221
And sorry for taking so long to reply :/

[2017-04-14 20:41] zenorocha commented on #217
Done! https://github.com/dracula/konsole ;)

[2017-04-14 20:41] #217 closed

[2017-04-14 20:42] zenorocha commented on #214
Friendly ping :)

[2017-04-16 06:28] roonieone commented on #224
Yeah, sounds good to me!

[2017-04-16 17:50] GabLeRoux commented on #221
Sure, go on! :D
No problem for the delay, we all have many things to do, really glad this can become official! 👍

[2017-04-18 05:35] zenorocha commented on #221
Great, let me know when you accept the invitation ;)

[2017-04-18 05:35] zenorocha commented on #224
Great, let me know when you accept the invitation ;)

[2017-04-19 08:56] donnygunawan93 opened #225 "How to install on Jetbrain on Windows platform?"
How to install on Jetbrain on Windows platform?

[2017-04-19 13:47] joaoevangelista commented on #225
Download and copy [Dracula.icls](https://github.com/dracula/jetbrains/blob/master/Dracula.icls) to your distribution folder under your home.

The path is usually:

`C:\Users\<username>\.IntelliJY.X\config\colors`

Where username is your account name and .IntelliJY.x is your IntelliJ or other Jetbrains IDE dot folder

[2017-04-19 13:47] #225 closed

[2017-04-20 13:00] GabLeRoux commented on #221
I did not find any invitation in my github notifications nor in project's settings, but I've added you as a contributor if it helps somehow, or do I have to transfer the repo?

![screenshot 2017-04-20 08 58 49](https://cloud.githubusercontent.com/assets/1264761/25231915/9e98ca34-25a7-11e7-8ecf-cd8325fd4fe2.png)

Let me know if I missed something here ;)

[2017-04-20 21:10] zenorocha commented on #221
Take a look now, invitations are sent via email and can be accepted at https://github.com/dracula

[2017-04-20 21:25] GabLeRoux commented on #221
Accepted invite 🎉  Thanks

[2017-04-20 21:36] zenorocha commented on #221
Awesome! You can now standardize the README based on the https://github.com/dracula/template and send a pull request to https://github.com/dracula/dracula.github.io/ with the new theme ;)

[2017-04-25 10:17] IvanYurchenko opened #226 "Not much colors in the terminal theme"
I installed the theme as mentioned on the [official site](https://draculatheme.com/terminal/). However, I don't see much colors in my terminal:
![screenshot](https://d1ro8r1rbfn3jf.cloudfront.net/ms_105836/v6xDCpHLjc8Vp31JYcixgpymJAY0uc/dracula-theme%2B%25E2%2580%2594%2B-bash%2B%25E2%2580%2594%2B80%25C3%259724%2B2017-04-25%2B13-14-37.png?Expires=1493201888&Signature=X2GwDK~kirMLeEqF7MQKf9sY~mgoHYo

[2017-04-25 16:24] zenorocha commented on #226
As you can see from the window title, I use `zsh` instead of `bash`. If you want that exact view you'll need https://github.com/robbyrussell/oh-my-zsh and https://github.com/dracula/zsh.

[2017-04-25 16:24] #226 closed

[2017-04-26 13:47] IvanYurchenko commented on #226
I see now, thank you!

[2017-05-04 19:48] joshgarwood opened #227 "The latest Visual Studio Code update (v 1.1.2) seems to have broken the colors :("
## New Theme?

We would love to support all code editors out there, but we need your help to accomplish that. Feel free to create a new theme based on our [color palette](https://github.com/dracula/dracula-theme#color-palette).

## Existing Theme?

Consider fixing the issue yourself. That's the best way to contribute ;)

If that doesn't work, take a screenshot that shows the actual bug and mention

[2017-05-04 20:18] zenorocha commented on #227
Hello @joshgarwood, please open an issue on https://github.com/dracula/visual-studio-code.

[2017-05-04 20:18] #227 closed

[2017-05-04 20:18] zenorocha commented on #227
/cc @dsifford

[2017-05-04 20:31] dsifford commented on #227
Thanks! I'm aware and working on the fix. dracula/visual-studio-code#27

[2017-05-05 18:46] felixsanz opened #228 "Using Dracula on my service"
Ey! I've added Dracula theme to my syntax highlighter as a service -> https://photon.sh

You can view it here directly -> https://photon.sh/demo?theme=dracula

Are you OK with that?

I'm maintaining it and I'll continue doing so if you let me use it there. Feel free to add it to the list of compatible software if you want!

Thanks in advance.

[2017-05-05 18:48] felixsanz commented on #228
Btw it's just too beautiful :)

Some examples of "weird" languages:

https://photon.sh/demo?language=fortran-modern&theme=dracula
https://photon.sh/demo?language=erlang&theme=dracula
https://photon.sh/demo?language=arduino&theme=dracula
https://photon.sh/demo?language=r&theme=dracula
https://photon.sh/demo?language=vuejs&theme=dracula

[2017-05-05 22:44] zenorocha commented on #228
That's amazing @felixsanz, I'm super impressed with the work you did there. Feel free to use Dracula over there.

You might want to take a look on https://github.com/zenorocha/clipboard.js too, just an idea for a plugin ;)

[2017-05-05 22:44] #228 closed

[2017-05-05 22:45] zenorocha commented on #228
Also, any plans to support Google Closure Templates (Soy)?

[2017-05-05 22:48] heinst commented on #228
All I have to say us: Google Closure is the devil reincarnated

[2017-05-06 00:02] felixsanz commented on #228
@zenorocha In fact, Photon uses Clipboard.js in the settings page! So people can click on the icon and the API Key is copied into the clipboard. Take a look inside! :stuck_out_tongue_closed_eyes:

The demo shows just a few languages because the list is really big. Actually there is support for 300+ languages. Said that, Google Clousure Templates **wasn't** on the list, **but now it is** :) I've ad

[2017-05-06 00:35] felixsanz commented on #228
By the way the theme is open-sourced here: https://github.com/photonsh/themes/tree/master/dracula

In case you want to link it in the repo.

[2017-05-06 09:22] zenorocha commented on #228
Niiiice! I may be able to use this on my projects. Thanks for sharing!

[2017-05-10 16:50] BourgeoisBear opened #229 "Setting t_Co"
For most terminals I've tried this with under Linux (xfce4-terminal, urxvt), the dracula theme does not work.

To fix this, just add:

`set t_Co=256` before the `let g:colors_name = 'dracula'`  on line 21.

I figure it would be just as easy for you to add this directly than for me to issue a pull request.

Thx.

JS

[2017-05-11 07:08] zenorocha commented on #229
This is an umbrella repository for all themes. I see you left a comment on https://github.com/dracula/vim/issues/29#issuecomment-300545098 so I'm going to close this for now.

[2017-05-11 07:08] #229 closed

[2017-05-16 22:57] thiagorossener commented on #210
@Raghava2016 run the command to change from bash to zsh:

`$ chsh -s /bin/zsh`

[2017-05-18 11:08] ajitid commented on #192
Any update here? May 16 seems to be a long time 😕

[2017-05-18 11:08] ajitid commented on #191
Still ain't fixed?

[2017-05-18 13:07] zenorocha commented on #191
This needs a coordinated change in all repositories. Feel free to send pull requests @ajitid.

[2017-05-18 13:10] zenorocha commented on #192
No updates here @ajitid, this change will affect all 38 themes, feel free to send a proposal if you're interested on this topic.

[2017-05-18 16:34] dsifford commented on #192
I'm interested in this topic. I'm going to start working on it (whenever time allows) here: https://github.com/dracula/visual-studio-code/issues/12

I think that rather than tackling this across all 38 repos simultaneously, the only way to reasonably do it is to start with one "champion" repo to show that it can, in fact, be done (and done well).

Once it's all done in a single repo and documented

[2017-05-18 18:46] zenorocha commented on #192
Sounds like a great plan, thanks a lot @dsifford, you're rocking on the vscode theme! :metal:

[2017-05-18 19:54] ajitid commented on #192
Thanks @dsifford!

[2017-05-20 15:22] zenorocha commented on #224
Friendly ping, did you get the invitation? I just resend it, you can accept it here: https://github.com/dracula

[2017-05-20 16:10] zenorocha commented on #221
All done!

https://draculatheme.com/monodevelop/
https://github.com/dracula/monodevelop/commit/fc55b762354c55155c94458b3844c63cada0c505

🎉

[2017-05-20 16:10] #221 closed

[2017-05-20 21:17] roonieone commented on #224
Accepted!

[2017-05-21 02:21] zenorocha commented on #224
Cool! Try transferring to the `dracula` org now.

[2017-05-21 02:21] zenorocha commented on #224
After you do that, we'll need the instructions to install and enable it on the site.

[2017-05-22 05:45] roonieone commented on #224
Not sure how to transfer it. When I try, it says `dracula already has a repository in the dracula/template network`...

[2017-05-23 01:34] MatheusRV opened #231 "New App Request: Rambox Messenger"
New app for amazing theme: https://github.com/saenzramiro/rambox

[2017-05-23 13:16] joaoevangelista commented on #224
Hmm is the remote set to the new repository at `dracula` org ?

[2017-05-23 14:18] zenorocha commented on #231
Feel free to submit a theme @MatheusRV ;)

https://github.com/dracula/dracula-theme#are-you-going-to-support-editor-x

[2017-05-23 14:18] #231 closed

[2017-05-27 03:54] joaoevangelista commented on #192
Some elements that may be common to most of languages that we could add to the list:
- Strings
- Parameters
- Numbers

[2017-05-28 15:59] dsifford commented on #192
Finished the initial specification and implementation this morning. Gonna clean some stuff up and then PR an RFC shortly.

[2017-05-28 16:30] dsifford opened #232 "RFC: Implement a specification that standardizes Dracula theme"
- Start Date: 2017-05-28

# Summary

There has been some desire from the community (#192) and myself to create a global standardization for Dracula Theme's syntax highlighting across the host of implementations.

# Motivation

I regularly use two different text editors with the Dracula Theme enabled when working (Vim and Visual Studio Code). When switching between these editors, the differences in

[2017-05-28 16:30] dsifford commented on #192
RFC here: https://github.com/dracula/dracula-theme/issues/232

[2017-05-29 17:35] zenorocha commented on #232
This looks great @dsifford, thanks for this first iteration! I think it has a lot of potential.

Some ideas:
* What do you think of moving this content to draculatheme.com? We could create a new page called "Spec".
* What do you think of having some examples so people can visually see what those rules are? Maybe we could start applying this spec on the [highlight.js theme](https://github.com/dracu

[2017-05-29 23:34] dsifford commented on #232
Thanks @zenorocha

Agree with all your thoughts. And I fully admit that the spec file currently isn't very usable without examples. Just wanted to be sure the idea was going to be well-received before spending more time on it!

How do you suggest we proceed from here? Want me to PR the spec files?

[2017-05-30 00:21] zenorocha commented on #232
Great! I just added support for markdown rendering and syntax highlight with Highlight.js: https://github.com/dracula/dracula.github.io/commit/faff17fe614406971f4e308d65016059e7f2f231

I also added Dracula's CSS theme so you can see how the examples would look like. Now that we have this infrastructure in place you can start adding the spec file. Some additional styling will be necessary, but we c

[2017-05-30 00:39] dsifford commented on #232
Beautiful! Taking a look at it now.

[2017-05-30 00:44] dsifford commented on #232
@zenorocha I wrote the above spec in spec-markdown. Do you suggest we not go that route?

[2017-05-30 01:05] dsifford commented on #232
Also, I'm not exactly sure why, but I can't get metallic to render highlighted code after just a few lines. Any ideas?

Would be nice to have several test cases to look at when looking at the highlightjs css.

[2017-05-30 05:57] umanga907 opened #233 "No color difference"
Hi,
I imported the theme, the only change i got on my terminal is the background and the text color.
Every text are in same color.
Am i missing something ?
I am on mac os Sierra 10.12.5

[2017-05-30 16:06] zenorocha commented on #233
Hello @umanga907, please open an issue on the appropriate repository.

https://github.com/dracula/terminal.app
https://github.com/dracula/iterm
https://draculatheme.com/hyper/
https://draculatheme.com/xresources/
https://draculatheme.com/zsh/
https://draculatheme.com/mintty/

[2017-05-30 16:06] #233 closed

[2017-05-30 16:08] zenorocha commented on #232
Ohhh I see, no problem. Should we try CodeMirror before going with screenshots? https://github.com/codemirror/CodeMirror/blob/master/theme/dracula.css

[2017-05-30 16:52] dsifford commented on #232
Sure, we can give that a shot I suppose.

[2017-05-30 19:37] dsifford commented on #232
@zenorocha Just checked out codemirror. The theme they have is probably as close as it's going to get already, but still way off because it doesn't allow customizations as fine-grained as textmate.

Codemirror has no way of telling the difference between functions, classes, variables, etc so they all get scoped to `cm-variable`. From a textmate perspective, this is incorrect, but I understand the

[2017-05-30 20:28] zenorocha commented on #232
Ohh man, looks like all these syntax highlighters are very limited. Let's go with screenshots then, it's harder to maintain if changes are made, but it's better than nothing.

[2017-06-01 20:30] dsifford commented on #232
@zenorocha Came across ace editor and I think that will be the ticket if you can get it to work with metalsmith.

https://github.com/ajaxorg/ace

It _appears_ that ace has a relatively solid agreement between its scopes and textmate scopes. They even provide a [tool](https://github.com/ajaxorg/ace/tree/master/tool) to convert between the two!

[2017-06-01 20:31] dsifford commented on #232
Also, I forgot about [Monaco editor](https://github.com/Microsoft/monaco-editor) which will allow us to literally drop in the syntax from visual-studio-code

[2017-06-09 16:11] pichardoJ opened #234 "Netbeans theme"
Hi, I saw in https://github.com/dracula/dracula-theme/issues/19 that there was a Netbeans theme on the way, I was wondering if there is something to it? I mean I could possibly try to do something of it, but I wanted to know if someone is already working it?

[2017-06-19 21:10] jessemillar commented on #216
Why is this theme not mentioned on https://draculatheme.com/? I'm glad I dug into the repos and found it!

[2017-06-20 10:39] nickimola commented on #208
We actually do have one now:
https://github.com/dracula/google-chrome

[2017-06-20 10:40] nickimola commented on #216
Ideally, both https://github.com/dracula/google-chrome, https://github.com/matthew-groth/Dracula-New-Tab-Page and this https://github.com/dracula/chrome-devtools should and could be mentioned on the website, as the all work together for a full Dracula chrome experience

[2017-06-20 16:13] jessemillar commented on #216
@nickimola The DevTools theme is already mentioned on the website but doesn't have an icon on the homepage (https://draculatheme.com/chrome/). It also mentions that it's "no longer supported officially". I agree with the potential "need" for a browsers section on the homepage.

[2017-06-24 20:56] jef opened #235 "Photoshop Swatch"
Here's a swatch, maybe this could go along with the README.md for people that want to do stuff in Photoshop?

![Image of Swatches](http://i.imgur.com/qmWoGcT.png)

[Link to download the .aco(]https://dbr.ee/PApN)

[2017-06-26 19:40] marcdeop commented on #232
First of all, *thanks* for creating this RFC, I think this is very much needed.

I will talk about the terminal (ANSI) colors as I have been working for a while on my own set of colors for tmux and powerline and I have been having issues on making them work properly on the two terminals that I use (konsole [KDE] and iterm2 [OSX] ).

The problem that we face is that the "essential" colors for ANSI

[2017-06-27 03:10] dsifford commented on #232
@marcdeop The ANSI colors in the RFC document were taken directly from https://github.com/dracula/xresources.

Your ideas sound great to me, but I think we should rope @Aszarsha into this convo for the sake of continuity/uniformity.

Thanks for the feedback!

[2017-07-04 03:48] ButsAndCats opened #236 "Browser notes"
It doesn't really need a repo but I use this to make notes quickly sometimes.

`data:text/html, <body contenteditable style="background-color: #282a36;font-size: 1rem/1.5; font-family: Menlo, monospace; font-weight: 500; color: #8be9fd;max-width:60rem;margin:0 auto;padding:4rem;">`

Just paste it into your address bar and bookmark it.

[2017-07-04 09:45] nickimola commented on #236
Thanks! this is really cool 👍

[2017-07-11 21:03] makitsune opened #237 "Dracula for DuckDuckGo"
I made this and I've been using it for a while. I felt like I needed to post it here!
https://github.com/makixx/duckduckgo

![firefox-1](https://raw.githubusercontent.com/makixx/duckduckgo/master/firefox-1.png)
![firefox-2](https://raw.githubusercontent.com/makixx/duckduckgo/master/firefox-2.png)

[2017-07-26 15:06] metasean opened #238 "Deprecated selector in `atom-dracula-black/index.less`"
The atom Deprecation Cop warning:

@mathportillo - The auto-report error message tries to report this issue to https://github.com/mathportillo/atom-dracula-black/ but your forked repo doesn't have issues enabled.

[2017-08-04 14:41] apexJCL opened #239 "Default font messes up character display"
## Current configuration

Fresh WebStorm install with Dracula as theme

## Issue

Bad character encoding display, editor and terminal are affected

## Monokai theme activated
![image](https://user-images.githubusercontent.com/4037632/28973303-7bab6870-78f8-11e7-8277-c7d2963062bb.png)

![image](https://user-images.githubusercontent.com/4037632/28973342-98fde4ac-78f8-11e7-8cc5-2827f68dc16c.png)

##

[2017-08-04 15:33] zenorocha commented on #239
Hey @apexJCL, can you open this issue on the appropriate repository (https://github.com/dracula/jetbrains)? Thanks!

[2017-08-06 03:47] joaoevangelista commented on #239
Just to be quick, if you have SCP installed might be the font issue with Webstorm, if you like Fira, there is no need to keep SCP as selected, you can change it to one of your like

[2017-08-06 03:47] #239 closed

[2017-08-07 00:47] dsifford commented on #232
@marcdeop Circling back to this... I think your suggestions are a great. I'm interested in trying this out in the VSCode implementation.

Can you do me a favor and write colors0-16 (and also the extended 256 colors) in tabular format so I can see them all in one place? I went to go try this just now in my terminal and its a bit confusing to figure out what colors should be what..

So, in other wor

[2017-08-07 08:09] sei40kr opened #240 "Dracula theme for tmux"
# Dracula theme for tmux

##  tmux-airline-dracula

https://github.com/sei40kr/tmux-airline-dracula

![screenshot](https://user-images.githubusercontent.com/11665236/29017752-2bff3e58-7b93-11e7-97c7-4ab23092f904.png)

[2017-08-12 12:58] marcdeop commented on #232
I apologize for the delay, I was out on a business trip this past week.

You are totally right, all this colours and positions end up being a bit confusing ;-)

So here is what my current Konsole theme uses, following my proposal:

### ANSI Colors

Color Name | Hex
--- | ---
`color0` | #282a36
`color1` | #ff5555
`color2` | #50fa7b
`color3` | #f1fa8c
`color4` | #bd93f9
`color5` | #ff79c6
`color6` |

[2017-08-14 18:12] screendriver opened #241 "Dracula for Vivaldi"
I've made a "theme" for the awesome [Vivaldi Browser](https://vivaldi.com). You can find my repository [here](https://github.com/screendriver/dracula-vivaldi)

<img width="857" alt="screenshot" src="https://user-images.githubusercontent.com/149248/29284697-0bbe4a0a-812c-11e7-9834-5883fa9047e3.png">

[2017-08-25 10:41] jelohe opened #242 "Dracula for st"
## New Theme

I've ported the dracula theme to the awesome terminal emulator [st](http://st.suckless.org/)

![screenshot from 2017-08-25 11-57-28](https://user-images.githubusercontent.com/18138817/29710884-9c96801a-8992-11e7-9389-e725fc9465b4.png)

[Here is my repository](https://github.com/jelohe/dracula-for-st)

[2017-08-29 08:29] mbger commented on #209
SAD! Was looking forward to a van Helsing theme ;)
Thank you for the great work on the Dracula theme!

[2017-08-29 14:46] zenorocha commented on #209
hehe I like the name :P

[2017-08-29 21:25] JaredSartin opened #243 "Dracula for Vim Airline"
Would love to have Vim Airline support. I am new to theming and would love some help on refining it. Still trying to look up the color palettes in something like `colortest.sh` to allow comparison and porting.

[2017-08-29 21:30] JaredSartin commented on #243
Found #140 does this, with no install info?

[2017-08-29 21:32] JaredSartin commented on #243
And final update/close.
`let g:airline_theme='dracula'` is all you need in .vimrc!

[2017-08-29 21:32] #243 closed

[2017-09-02 12:52] ysihaoy commented on #210
Good question, what's the font family of this theme?? Thanks.

[2017-09-16 19:12] Jadex1 opened #244 "Dracula Theme Sublime Text 3"
It seems the syntax highlighting in sublime text 3 is not working. https://forum.sublimetext.com/t/dracula-syntax-highlighting/31637/2 I just started using sublime text and I really enjoy this theme. It seems they updated the api for syntax highlighting which might be causing some issues.

[2017-10-03 08:53] thibaut129 opened #245 "Compatibility High Sierra"
Hi,

With the last version of OsX I don't have any color.
Is there any fix for that ?

Thanks

[2017-10-16 09:52] tiaguinho commented on #245
I'm using the theme on my terminal, vs code and PHP Storm without any problem.

Where do you try to use?

[2017-10-18 06:25] FrankelJb commented on #245
I can confirm that this is an issue with the Alfred version of Dracula Theme. See the Alfred forum here: https://www.alfredforum.com/topic/10832-high-sierra-lag/?tab=comments#comment-55659

[2017-10-18 19:02] zenorocha commented on #245
In that case, this issue should be moved to https://github.com/dracula/alfred.

[2017-10-18 19:02] #245 closed

[2017-10-26 03:55] a-schaefers opened #246 "Gtk?"
Before I reinvent the wheel, somebody already made a gtk theme, right? It would seem natural to me that it has been done by now, but I cannot seem to find one. Just checking before I get to work, thanks. I have also just completed an openbox port, if you would like me to make a PR.

[2017-10-27 18:38] pichardoJ commented on #246
I've been looking for one for a while now, I've not found anything related.

[2017-10-28 02:48] pichardoJ commented on #240
That's awesome dude, here is mine, hope you like it
![2017-10-27-194728_935x985_scrot](https://user-images.githubusercontent.com/12650088/32130586-d135ef38-bb4f-11e7-87a5-c0e5fb7d56a4.png)

[2017-10-29 11:14] krzysztofzuraw opened #247 "Dracula Tilix"
Theme for [tilix](https://gnunn1.github.io/tilix-web/)
Repo: https://github.com/krzysztofzuraw/dracula-tilix
Screenshot:
![screenshot](https://user-images.githubusercontent.com/9116238/60766132-4b9ae080-a0a5-11e9-8a5f-ea1c6dd4678c.png)

[2017-10-30 05:12] arandilopez opened #248 "MacDown Theme"
## New Theme

Hello, I want to contribute with a theme for MacDown.

Repo: https://github.com/arandilopez/dracula-macdown

<img width="1392" alt="screenshot" src="https://user-images.githubusercontent.com/2985233/32155706-04742a6e-bd07-11e7-95b4-58cf1f2a4eac.png">

[2017-11-03 13:13] gabrielsimoes opened #249 "New theme: termite"
**[Termite](https://github.com/thestinger/termite)**
**Screenshot:**

![Screenshot](https://raw.githubusercontent.com/gabrielsimoes/dracula-termite/master/screenshot.png)

**[Repository](https://github.com/gabrielsimoes/dracula-termite)**

[2017-11-08 04:55] benknoble opened #250 "New theme: Quiver"
## New Theme?

✅ We would love to support all code editors out there, but we need your help to accomplish that. Feel free to create a new theme based on our [color palette](https://github.com/dracula/dracula-theme#color-palette).

I've done my best to use the theme palette for Quiver, but it's not precise.

Here's a screenshot.

Installation is simply an import of the .json into Quiver.
![quiver_d

[2017-11-23 01:00] Trollwut commented on #246
[This GTK theme](https://www.opendesktop.org/p/1099856/) works with the newest GNOME stuff and also has a Dracula flair. I love it! :)

[2017-11-23 04:40] Trollwut opened #251 "Dracula for Steam"
Hi guys! Recently I switched to Dracula everywhere, because this color scheme just rocks! Unfortunately there hasn't been a Steam skin, but well, I did it!

You can find information about that [in my repository](https://github.com/Trollwut/Dracula-by-Trollwut) and if you like, you can use or edit it as you wish. Also there are instructions on how to install it and a screenie.

See the [TODO sectio

[2017-11-24 01:34] Trollwut commented on #80
Also had this problem and could solve it

In my `~/.vimrc` I just added `color dracula` at the very last line.

Here is a [scrot of my vimrc](https://i.imgur.com/aqXUt0S.png)

[2017-11-30 04:14] kenstuddy commented on #244
Can you please give more details about this issue and possibly include some screenshots? It appears to be working for me, at least for JavaScript, on Sublime 3 build 3143 on Ubuntu 16.04 with Xfce 4.12 as my DE.

Here is a screenshot of what it looks like for me:
!()[https://i.imgur.com/ht59XTT.png]
Here is the official screenshot:
!()[https://i.imgur.com/AWmb6kB.png]

[2017-12-05 08:59] noshitsherlock opened #252 "Dracula for Rider"
## Rider

Using the theme everywhere, just switched to Rider and would love support for a theme there.

[2017-12-05 16:35] zenorocha commented on #252
Hey @noshitsherlock, have you checked https://github.com/dracula/jetbrains?

[2017-12-06 09:00] noshitsherlock commented on #252
[**@zenorocha**](https://github.com/zenorocha) commented on [Dec 5, 2017, 5:35 PM GMT+1](https://github.com/dracula/dracula-theme/issues/252#issuecomment-349361045 "2017-12-05T16:35:03Z - Replied by Github Reply Comments"):

hmms.. did not think that would work, but it did 😆 Just had to change the style font to consolas and increase the font size 👍

[2017-12-06 10:04] zenorocha commented on #252
Awesome!

[2017-12-06 10:04] #252 closed

[2017-12-07 12:18] milouse opened #253 "Dracula for Mattermost"
Hi there!

I've just published a new theme for [mattermost](https://about.mattermost.com/) based on your color palette.

Repo: https://github.com/milouse/mattermost
Screenshot: ![Screenshot of dracula theme for mattermost](https://github.com/milouse/mattermost/raw/master/mattermost.png)

[2017-12-07 17:35] zenorocha commented on #253
That's awesome @milouse! What do you think of transferring it to the dracula org? You'll still be the maintainer and responsible one to make decisions about the theme, it's just to help people to find it easier.

[2017-12-07 23:05] milouse commented on #253
Thanks for your quick reply @zenorocha. I'm totally willing to transfer it to dracula org :) It's a pleasure to contribute as I can to such a great theme !

[2017-12-07 23:07] zenorocha commented on #253
Awesome, you should receive an invitation to join the organization. After that you can move the repository.

[2017-12-08 08:28] milouse commented on #253
[Migration done](https://github.com/dracula/mattermost) :) Thanks for your trust!

[2017-12-08 08:28] #253 closed

[2017-12-08 17:13] zenorocha commented on #253
Awesome :D

I'll add it to the website now!

[2017-12-12 01:32] nsc-hoonycho12 opened #254 "New theme: Xshell"
![dracula for xshell screenshot](https://github.com/netsarang/xshell/raw/master/screenshot/xshell_vim.png?raw=true)

[dracula for Xshell](https://github.com/netsarang/xshell)

[2017-12-20 01:30] docoder opened #255 "Visual Studio for Mac (community) ?"
I use Visual Studio for Mac (community) now. Anyone will consider creating a new theme to support that ?

[2017-12-20 01:49] zenorocha commented on #255
Have you tried this https://draculatheme.com/visual-studio?

[2017-12-20 01:49] #255 closed

[2017-12-20 02:24] docoder commented on #255
Sure.
It can not seem to apply to Visual Studio for Mac

[2017-12-20 04:17] docoder commented on #255
My fault 😅.
[https://draculatheme.com/visual-studio](https://draculatheme.com/visual-studio) is usable。
Preferences -> Text Editor -> Color Theme -> Add.

[2017-12-20 05:28] zenorocha commented on #255
Nice!

[2018-01-04 02:55] ykfq opened #256 "Supports for cygwin"
Is it possible to make this project supports the cygwin so that I can use unix-like shells in windows

[2018-01-04 03:12] ykfq commented on #256
Sorry. I found that the mintty the has already match my needs, Thanks

Looks here: [Mintty](https://draculatheme.com/mintty/ )

[2018-01-04 03:12] #256 closed

[2018-01-12 15:21] rusenask commented on #113
Just in case someone else bumps into this, for some reason symlink didn't work for me too. Copying
`cp Dracula.dvtcolortheme  ~/Library/Developer/Xcode/UserData/FontAndColorThemes/` solved the problem.

[2018-01-12 18:04] gusano opened #257 "Include dracula in SuperCollider"
Hello!
We want to [include dracula theme in SuperCollider](https://github.com/supercollider/supercollider/pull/3410).
As we have a very limited theme support, this means that our base themes are hardcoded in some `*.cpp` files, so there's no way to add dracula-supercollider to this repository as a submodule.

SuperCollider uses GNU-2 license so I'm not sure if we can add dracula to its code? If ye

[2018-01-15 01:42] peter-er opened #258 "Dracula for jGrasp"
Hey, I made Dracula for jGrasp. I'm new to GitHub so sorry if I did a few things wrong (like I don't think I was supposed to fork the template).

[Dracula for jGrasp](https://github.com/peter-er/jGrasp-dracula)

![jgraspdracula](https://user-images.githubusercontent.com/3751731/34923451-d9bd4f68-f950-11e7-8294-b46d5ecca429.png)

[2018-01-23 02:57] oguhpereira opened #259 "Dracula Wordpress dashbord"
It's the new theme for wordpress admin dashbord.
I add rename on folder for instalation.

panel{
#44475a BackgroundHover
}

Subpainel{
Cyan selectForeground;
green hoverForeground
}

https://github.com/oguhpereira/dracula-theme/tree/master/wordpress
![screenshot from 2018-01-23 00-54-13](https://user-images.githubusercontent.com/24482087/35255825-22bd7d9a-ffd8-11e7-8298-f871b8c7380a.png)

[2018-01-23 10:03] gusano commented on #257
We ended up adding the MIT license in the code. Closing this.

[2018-01-23 10:03] #257 closed

[2018-01-24 15:48] gladosfromaperturelabs opened #260 "Geany version?"
There's no version for Geany ???

[2018-02-02 16:24] ryanolsonx commented on #29
I know this is an old issue, but I'd love to have a color theme for eclipse. I see that there are some dracula themes on [Eclipse Color Themes](http://www.eclipsecolorthemes.org/?view=theme&id=31377). Can we make an official one? What would we name it?

[2018-02-04 17:06] karlbateman opened #261 "Keyboard theme"
Hey all,
I created a configuration for the online [Keyboard Layout Editor](http://www.keyboard-layout-editor.com/) which you can load to create Dracula themed keycaps.

![draculatheme_coloured_num_theme](https://user-images.githubusercontent.com/33239151/35779989-83eb8f7c-09cd-11e8-810d-d17aecc90a65.png)

The configuration to load is available [here](https://gist.github.com/karlbateman/c094b116584

[2018-02-04 20:51] omgitsjoao commented on #261
I think I will replicate the layout on my Chroma, see what it looks like 😸

[2018-02-05 02:35] teddybradford commented on #232
@marcdeop I've been trying these colors out in my terminal theme and like it a lot.

Out of curiosity, how were the bright colors chosen? Were they generated using a formula (e.g. +15% brightness) or were they chosen by eye?

[2018-02-08 20:08] pudge opened #262 "New BBEdit theme"
Here's my repo: https://github.com/pudge/bbedit-dracula

<img width="752" alt="bbedit" src="https://user-images.githubusercontent.com/15170/35995593-b682ffe4-0cc8-11e8-889b-5610fb4f23e2.png">

[2018-02-10 20:55] marcdeop commented on #232
I didn't choose this colors. They are based on the RFC that is posted in this discussion and, furthermore, it also says where the colors come from:

[2018-02-10 21:01] teddybradford commented on #232
Sorry, @marcdeop! My question should have been aimed at @dsifford: I was just wondering, was there a systematic way that the additional colors were generated (which would be fun to see documented if so), did you pick ones simply based on what looked good to you, or did you use a combination of those two methods?

[2018-02-10 21:16] dsifford commented on #232
@teddybradford To be honest, I can't recall how the ansi bright colors were chosen. The base scheme came from the table in this repo.

Color 7 most likely came from tweaking the color several times until people using the vscode integrated terminal stopped opening issues about it. IIRC, that color was one of the most problematic in terms of contrast ratio.

[2018-02-14 08:32] duttaditya18 commented on #262
Looks cool.

[2018-02-14 22:52] teddybradford commented on #232
@dsifford Ah, okay. Thanks for commenting on that!

I also took a stab at a color scheme for the ANSI colors, which provides a bit more contrast between base and highlight colors. To come up with the dark/light variations of the Dracula theme colors, I added or subtracted rgb(32, 32, 32) from each color. This way the hue always remains the same between the base and the highlight color, and the dif

[2018-02-14 23:13] dsifford commented on #232
@teddybradford Looks great to me. Any chance you can diff the old scheme vs your scheme side by side and post it in this thread?

Also, if you're a VSCode user, please send a PR for this in that repo. 👍

[2018-02-14 23:34] teddybradford commented on #232
@dsifford I went ahead and added a diff of your old color scheme and my new proposed one. I also slightly changed the method of choosing the alt color; instead of adding/subtracting rgb(32, 32, 32), I added/subtracted rgb(22, 24, 28). This value stems from the RGB difference between the Dracula theme background color and the Dracula theme selection color--the difference of which is rgb(11, 12, 14)

[2018-02-15 04:37] teddybradford commented on #232
@dsifford I'll make a PR for the VSCode repo, too. :)

[2018-02-15 04:47] teddybradford commented on #232
I updated the diff again and tripled the rgb(11, 12, 14) value; previously I had only doubled it. The increased contrast allows for more versatility on lower screen brightnesses.

[2018-02-15 04:56] zenorocha commented on #262
Hey @pudge, that's awesome man!

I just cloned your repo and pushed all the commits to a [new one over here](https://github.com/dracula/bbedit). I also sent you an invite to join the Dracula org. You'll continue maintaining this project, the only difference is that we can make it more visible and include it on the [site](https://draculatheme.com).

We have the screenshot already, that's great! The

[2018-02-15 04:57] pudge commented on #262
Sounds great. I’ll get that soon. Thanks!

On Wed, Feb 14, 2018 at 20:56 Zeno Rocha <notifications@github.com> wrote:

[2018-02-15 04:59] zenorocha commented on #260
Hey @gladosfromaperturelabs,

There is no theme for Geany yet, but the good news is that you can create one and submit it over here.

Here are some instructions on how to do it: https://github.com/dracula/dracula-theme#how-do-i-submit-a-new-theme

[2018-02-15 04:59] #260 closed

[2018-02-15 05:06] zenorocha commented on #258
Hey @peter-er!

First of all, sorry for taking so long to reply.

Now about your theme... I'm glad to see a theme for jGrasp! You did a great job for a new GitHub user ;)

I just cloned your repo and pushed all the commits to a [new one over here](https://github.com/dracula/jgrasp). I also sent you an invite to join the Dracula org. You'll continue maintaining this project, the only difference is

[2018-02-15 05:12] zenorocha commented on #251
Hey @Trollwut, that's great!

I just cloned your repo and pushed all the commits to a [new one over here](https://github.com/dracula/steam). I also sent you an invite to join the Dracula org. You'll continue maintaining this project, the only difference is that we can make it more visible and include it on the [site](https://draculatheme.com).

We have the screenshot and instructions already, that

[2018-02-15 05:28] zenorocha commented on #248
Hey @arandilopez!

First of all, sorry for taking so long to reply.

Now about your theme... I'm glad to see a theme for MacDown!

I just cloned your repo and pushed all the commits to a [new one over here](https://github.com/dracula/macdown). I also sent you an invite to join the Dracula org. You'll continue maintaining this project, the only difference is that we can make it more visible and inc

[2018-02-15 05:32] zenorocha commented on #261
Hey @karlbateman, that's great!

I'll go ahead and great a repository to host that configuration file. I'll also invite you to participate on the Dracula organization, so you can make any changes you want to that theme.

What do you think?

[2018-02-15 05:48] arandilopez commented on #248
Thanks @zenorocha, I'm happy to work with all of you!

[2018-02-15 06:57] karlbateman commented on #261
@zenorocha That's great, thank you.

[2018-02-15 07:17] duttaditya18 commented on #251
@Trollwut Colors are a little bit all over the place. Some work needs to be done.

[2018-02-15 08:15] teeli commented on #214
Actually I forgot about this completely and haven't really been maintaining my stuff (shame on me). Check the repository link in my first message, it should still work. Actually now that there's actually demand for this, I think I have to get active again.

[2018-02-15 11:39] benknoble commented on #250
@zenorocha Thanks for the invite; I'm glad you like the theme !

For the team section, who specifically do I include ?

[2018-02-15 16:34] pudge commented on #262
Here's the instructions, @zenorocha.  Let me know what else you need.

[instructions.md.txt](https://github.com/dracula/dracula-theme/files/1728491/instructions.md.txt)

[2018-02-15 19:50] Trollwut commented on #251
@zenorocha Hey, that sounds great! Would like to do it that way. I joined the org, just tell me how to go on. I'll do changes to fit the template in time! :)

@duttaditya18 Yes, as being said in the README.md. Unfortunately I'm not that skilled in theming Steam and just got a quick version up for now. I'll look over it when I have some time or maybe someone else knows it already. :)

[2018-02-16 08:10] zenorocha commented on #262
Awesome!

* Added a page on the site: https://github.com/dracula/dracula.github.io/commit/cd852744e5d1e9c082026c59aba35de65c87c6fc
* Made some changes on the theme repo: https://github.com/dracula/bbedit/commit/e4bda3b9257e64a6a096b587081bb445cd701f0e https://github.com/dracula/bbedit/commit/286ca3206e02a05ddcd825ee5a716eeb5da45499
* Added as a submodule on the main repo: https://github.com/dracul

[2018-02-16 08:10] #262 closed

[2018-02-16 08:37] zenorocha commented on #250
Awesome! About your questions I...

* Added a page on the site: https://github.com/dracula/dracula.github.io/commit/d61e85fc8b091324a20d93d55abb7eac936bad57
* Made some changes on the theme repo: https://github.com/dracula/quiver/commit/93a98adb43dff2303c9e0b14958bb44c41be114b https://github.com/dracula/quiver/commit/9fc947e7a98274f6c58f33fd3c11c49eb3078920 https://github.com/dracula/quiver/commit

[2018-02-16 08:37] #250 closed

[2018-02-16 08:55] zenorocha commented on #248
Awesome! I'm happy to work with you too ;D

* Added a page on the site: https://github.com/dracula/dracula.github.io/commit/59dfc5761a86ed0606ec6b747950c148082e5d90
* Made some changes on the theme repo: https://github.com/dracula/macdown/commit/57771c57afdc4cdc953a5872d2c078e3e3e5e479
* Added as a submodule on the main repo: https://github.com/dracula/dracula-theme/commit/ef4d70150fbdf2c36db7be14

[2018-02-16 08:56] #248 closed

[2018-02-16 09:26] benknoble commented on #250
Epic ! Thanks for your work maintaining this amazing theme 😱

[2018-02-16 09:28] zenorocha commented on #250
You got it ;D Thank you for your contribution 👻

[2018-02-28 16:53] Devaashish-23 opened #263 "@ Emacs : M-x package-install <RET> dracula-theme command is not working. Error: Package not found."
## New Theme?

We would love to support all code editors out there, but we need your help to accomplish that. Feel free to create a new theme based on our [color palette](https://github.com/dracula/dracula-theme#color-palette).

## Existing Theme?

Consider fixing the issue yourself. That's the best way to contribute ;)

If that doesn't work, take a screenshot that shows the actual bug and mention

[2018-02-28 16:54] zenorocha commented on #263
Hey @Devaashish-23, if you're having problem with Emacs, please open an issue on: https://github.com/dracula/emacs

[2018-02-28 16:54] #263 closed

[2018-02-28 16:57] Devaashish-23 commented on #263
I already tried that but the problem is not with the website.
It's the package.
On executing **M-x package-install <RET> dracula-theme**
Error: **Package not found**

[2018-03-11 20:26] AurelienLourot opened #265 "Dracula for gitk"
Hey :) I've made a [Dracula theme for `gitk`](https://github.com/AurelienLourot/gitk).

![Screenshot](https://raw.githubusercontent.com/AurelienLourot/gitk/master/screenshot.png)

[2018-03-22 11:33] eivindml opened #266 "New Dracula theme for MindNode.app"
Hi,

I'm a new Dracula fan 🧛🏻‍♂️ and a user of the mind mapping app MinNode for macOS, so I decided to create a theme file for it.

Take a look:

<img width="1012" alt="screenshot" src="https://user-images.githubusercontent.com/202450/37768215-154d74d0-2dcd-11e8-9675-19bd03aa4bc2.png">

I've also created a repo and updated README etc. Take a look here, and let me know if there is anything else nee

[2018-03-31 02:27] clarfon opened #267 "Alacritty theme"
I put together a color scheme that works in [alacritty](/jwilm/alacritty):

[code]

You just have to replace the `colors` section in `~/.config/alacritty/alacritty.yml` with this.

[2018-03-31 20:33] paultownsend opened #268 "New theme: Mutt"
I have created a theme for the Mutt email client:

![Screenshot](https://i.imgur.com/XZbANR1.png)

Repository: https://github.com/paultownsend/dracula-mutt

[2018-04-05 22:34] ppartarr opened #269 "Dracula for Facebook Messenger"
I've made a new theme for [Facebook Messenger](https://www.messenger.com)

The repository can be found here: https://github.com/ppartarr/dracula-messenger

*Edit: fixed picture formatting & added description*

[2018-04-11 16:32] backlands opened #270 "GitHub Pages Dracula"
I have created a GitHub Pages theme using Dracula that I am planning on maintaining moving forward. I was wondering if it could get added to the organization and the repository? Let me know your thoughts, you can find it over at [backlands/dracula](https://github.com/backlands/dracula). A screenshot is below and you can view a page at the [github.io page](https://backlands.github.io/dracula/).

![

[2018-04-14 16:44] sleepiejohn commented on #267
Hi @clarcharr could you please create a repository on your account with a README following our [template](https://github.com/dracula/template) ? This will ensure consistency and inclusion on the website. Thanks 😸

[2018-04-14 16:59] sleepiejohn commented on #259
Hi @oguhpereira could you please create a repository on your account with a README following our [template](https://github.com/dracula/template) ? This will ensure consistency and inclusion on the website. Thanks 😸

[2018-04-14 17:03] sleepiejohn opened #271 "Include new maintainers for their repositories"
This is mostly directed to @zenorocha since he has the proper rights on the organization.

We need to include the maintainers of the themes that are in the [issues tagged promote](https://github.com/dracula/dracula-theme/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3Apromote). Also include them as modules for this repository.

I went ahead and created the repositories for them, there is

[2018-04-14 17:16] sleepiejohn commented on #269
Hello @ppartarr I created the repository at https://github.com/dracula/messenger and pushed your commits there

[2018-04-14 17:24] sleepiejohn commented on #265
Hello @AurelienLourot  I created the repository at https://github.com/dracula/gitk and pushed your commits there

[2018-04-14 17:26] sleepiejohn commented on #270
Hello @backlands I created the repository at https://github.com/dracula/jekyll and pushed your commits there

[2018-04-15 23:51] sleepiejohn commented on #241
Hello @screendriver I created the repository at https://github.com/dracula/vivaldi and pushed your commits there  😸 :

[2018-04-16 00:11] zenorocha commented on #241
Hey guys, so cool to see a Dracula theme for Vivaldi!

I added @screendriver to the organization and moved screenshot/instructions to the site:

👉https://draculatheme.com/vivaldi

https://github.com/dracula/vivaldi/commit/ffc352cc17f6a881412b4fc089317cb146266054
https://github.com/dracula/dracula.github.io/commit/7e65f8ea54cca3aa66f9e721ecd7c7783211bc48

[2018-04-16 00:11] #241 closed

[2018-04-16 00:25] zenorocha commented on #270
Hey guys!

A Dracula theme for GitHub Pages, that's exciting!

I just added you @backlands to the organization, you should be able to edit now.

Before I include it on the site, would you mind applying the template we created for the README and LICENSE? https://github.com/dracula/template

Thanks!

[2018-04-16 00:27] zenorocha commented on #270
Another question, which name do you think it's more appropriate `dracula-jekyll` or `dracula-ghpages`?

[2018-04-16 00:31] zenorocha commented on #265
Hey @AurelienLourot, I added you to the GitHub organization ;)

[2018-04-16 00:55] zenorocha commented on #265
And it's live! https://draculatheme.com/gitk/

https://github.com/dracula/gitk/commit/cd85c8a6671602a934f14388ae3b27f9166fe3cf
https://github.com/dracula/dracula.github.io/commit/1471dd7c16d8458cbd227f485aff3cfa0dfd6f8e

[2018-04-16 00:55] #265 closed

[2018-04-16 01:04] zenorocha commented on #266
That's sooo cool! I love Mindnode and use it all the time, it's great to see a Mindnode theme for it ;)

[2018-04-16 01:15] backlands commented on #270
Great, thanks a bunch @zenorocha!

I have edited the README and adjusted the LICENSE slightly to match the template linked. I will make further changes to the README once we nail down the permanent repository name.

On that note, I think that dracula/ghpages would be more fitting, because while the theme would most likely _work fine_ with any jekyll site, it would require quite a few changes by th

[2018-04-16 01:32] zenorocha commented on #266
It's live! https://draculatheme.com/mindnode/

https://github.com/dracula/mindnode/commit/474a812396e9531984425596aadcb2056f3f33ee
https://github.com/dracula/dracula.github.io/commit/78f93c21b9277bb7bf229c4c44d7e352ebcf17a0

[2018-04-16 01:32] #266 closed

[2018-04-16 02:25] zenorocha commented on #271
Just added them all ;)

Thank you so much @sleepiejohn for taking the initiative to create those repos!

[2018-04-16 02:25] #271 closed

[2018-04-16 03:35] sleepiejohn commented on #271
Also a shoutout to @AurelienLourot who pinged me about it!

[2018-04-16 04:46] zenorocha commented on #270
It's live! https://draculatheme.com/gh-pages/

https://github.com/dracula/gh-pages/commit/e3560267ad69dfc70254446442ee9894fa0543ab
https://github.com/dracula/dracula.github.io/commit/1eca9a43fadd5ed19e87a8dfae7247aa5353d4c0

[2018-04-16 04:46] #270 closed

[2018-04-16 04:53] zenorocha commented on #215
Closing since we recently changed the way items are sorted by number of visits.

[2018-04-16 04:53] #215 closed

[2018-04-16 04:53] zenorocha commented on #194
Closing due to inactivity.

[2018-04-16 04:53] #194 closed

[2018-04-16 05:01] zenorocha commented on #193
As seen by the last update on this issue, it looks like we won't be able to move this forward. Unfortunately not all themes are code related, so this makes things even harder. I still like the idea of using these code samples instead of random ones though.

[2018-04-16 05:01] #193 closed

[2018-04-16 05:02] zenorocha commented on #192
Closing in favor of #232

[2018-04-16 05:02] #192 closed

[2018-04-16 05:04] #191 closed

[2018-04-16 05:04] zenorocha commented on #191
Closing due to inactivity.

[2018-04-16 05:16] zenorocha commented on #261
Hey @karlbateman, I still didn't have a chance to create the repository. Would you mind create one based on the [template we created](https://github.com/dracula/template)? I can move to the organization right after.

[2018-04-16 05:24] zenorocha commented on #234
Closing this one since we weren't able to create a Netbeans theme so far.

If you're reading this and interested in having a Netbeans theme, feel free to create one based on the [template we created](https://github.com/dracula/template) and send a comment over here.

[2018-04-16 05:24] #234 closed

[2018-04-16 05:25] zenorocha commented on #261
Awesome ;D

[2018-04-16 05:28] #238 closed

[2018-04-16 05:29] zenorocha commented on #258
Hey @peter-er, any news about this? I'm afraid we'll have to archive the repository in case we don't hear from you since there are no instructions for people to use the theme.

[2018-04-16 05:31] zenorocha commented on #244
Closing since this has been fixed on https://github.com/dracula/sublime.

[2018-04-16 05:31] #244 closed

[2018-04-16 05:44] screendriver commented on #241
Cool! 🆒
Thank you very much 👍 💃

[2018-04-16 05:51] screendriver commented on #241
Now I could delete [my repository](https://github.com/screendriver/dracula-vivaldi), right? @sleepiejohn @zenorocha

[2018-04-16 06:06] zenorocha commented on #241
Yes ;)

[2018-04-16 22:33] peter-er commented on #258
Hi @zenorocha, so sorry. I updated it awhile ago but I only did my personal repository and not the actual one. I think it should be good now.

[2018-04-17 07:40] gusbemacbe opened #272 "I created a Dracula theme for Prism.js which isn't listed in this repository"
Hello,

I didn't fix two bugs for 3 years because of my college, but today I saw somebody interested in my theme and wanting to use it, I have solved today and just finished fixing the bugs. I have updated the version of Prism.

[Prism](https://github.com/PrismJS/prism) is a syntax highlighting developed by @LeaVerou, like Highlight.js. It is popular.

You can check my repository:

https://github.

[2018-04-17 15:57] AurelienLourot commented on #272
Thanks a lot @gusbemacbe ! In order to accept your theme we need to bring your `README.md` closer to [this template](https://github.com/dracula/template). Is it OK for you? You can still keep your additional doc/sentences in a separate file, e.g. in your `index.html`.

[2018-04-17 15:59] AurelienLourot commented on #269
Thanks @zenorocha I think this can be closed (I don't have permissions)

[2018-04-17 18:28] ppartarr commented on #269
Thanks @sleepiejohn @zenorocha !

[2018-04-17 18:58] #269 closed

[2018-04-17 19:46] gusbemacbe commented on #272
Yes, I do. But I do not understand.

Do you suggest I copy the Dracula for X to my readme and all my instructions to my index? I'm a bit confused.

Please, can you explain me the steps?

[2018-04-17 19:50] AurelienLourot commented on #272
yes exactly, your README has to look like "Dracula for X" where you replace X (and other things of course, like put your own name/avatar as a contributor, fix the links). That means you'll have to delete many of your text. Moving your text somewhere else instead of deleting it was just a suggestion.

[2018-04-17 20:46] gusbemacbe commented on #272
Ready, I copied README template to mine. I moved the instructions to my index.html.

You are free to modify my index.html if you want to improve.

[2018-04-17 21:26] gusbemacbe commented on #272
Ready and merged.

[2018-04-17 21:42] AurelienLourot commented on #272
@gusbemacbe I have cloned your repo to https://github.com/dracula/prism and made you admin :) @zenorocha I believe this is enough? If yes, the issue can be closed.

@gusbemacbe note that your readme is still pointing to https://gusbemacbe.github.io/dracula-prism/ and when you'll delete your old repo, this website will be down. Probably you'll want to serve your website based on our new repository,

[2018-04-17 22:12] gusbemacbe commented on #272
I suggest I transfer my repository to you, @AurelienLourot.

If you think it is not bad idea, please, show me the steps.

[2018-04-17 22:29] gusbemacbe commented on #272
I thought I understood.

1. I will remove my old repository.
2. Modify the settings of new repository to enable Github Pages.
3. Change the links.

Right?

[2018-04-17 22:31] AurelienLourot commented on #272
:+1: exactly, thanks :)

[2018-04-17 22:40] gusbemacbe commented on #272
Ready.

If you suggest I change the geek vampire geek icon for another, do not hesitate. And if you suggest I improve something, ask me somehting.

[2018-04-17 22:42] gusbemacbe commented on #272
Another suggestion - add Prism.js to your website because Prism.js is one of most popular syntax highlighting libraries or plugins. Besides, Lea Verou, Prism.js's author, is very known for the programming conferences.

[2018-04-17 23:49] gusbemacbe commented on #272
@zenorocha and @AurelienLourot,

Should my `index.html` look like https://draculatheme.com/highlightjs/ to improve it? I read Dracula Themes site (dracula.github.io) is under MIT.

[2018-04-18 00:02] gusbemacbe commented on #272
I found a Haloween icon to Prismjs icon to replace the geek vampire. It is a crystall ball, used by witches. Does it make sense?

[2018-04-18 03:45] zenorocha commented on #268
It's live! https://draculatheme.com/mutt

https://github.com/dracula/dracula.github.io/commit/34b9cda1b0591654a9a7cb26c0f8451acc62d9f6
https://github.com/dracula/mutt/commit/6a521416618ffb677157f56e61a7bc3d7cef4d03

[2018-04-18 03:45] #268 closed

[2018-04-18 07:57] AurelienLourot commented on #272
Looks like I'm totally wrong: I see that your `index.html` is being served at https://draculatheme.com/prism. Not sure what is happening.

[2018-04-18 10:01] gusbemacbe commented on #272
Great, @AurelienLourot. I hope Zeno considerate it.

[2018-04-18 14:17] AurelienLourot commented on #249
@gabrielsimoes I have now cloned your repo to https://github.com/dracula/termite and made you admin :)

@zenorocha we need to serve now the installation instructions at draculatheme.com/termite. Can I help you with this?

[2018-04-22 01:25] finalpatch opened #273 "Emacs: font-lock-variable-name-face is indistinguishable from default face"
font-lock-variable-name-face is indistinguishable from default face.

They are both "#f8f8f2",  which defeats the purpose of having this face.

[2018-04-22 02:07] #273 closed

[2018-04-23 11:34] oguhpereira commented on #259
Thank you for your feedback.
I created the respository [Dracula theme for WordPress](https://github.com/oguhpereira/Dracula-WordPress)
:smile:

[2018-04-24 17:18] oguhpereira opened #274 "Dracula for cmder"
## New Theme?

I created dracula theme to cmder.
[dracula-cmder](https://github.com/oguhpereira/Dracula-cmder) is simar to [dracula-conemu](https://github.com/dracula/conemu).

![dracula-cmder](https://raw.githubusercontent.com/oguhpereira/Dracula-cmder/master/cmdericon.PNG)

This printscreen is the cmder in bash terminal and cmd terminal.

[2018-04-25 14:01] jackdp opened #275 "Dracula for CudaText"
Hi Dracula Team!

I made Dracula theme for [CudaText](https://github.com/Alexey-T/CudaText) editor.

Repository
https://github.com/jackdp/Dracula-CudaText

Screenshot
![Screenshot](http://www.pazera-software.com/cudatext/themes/cudatext_dracula.png)

Installation
https://github.com/jackdp/Dracula-CudaText#install

[2018-04-30 21:33] rojagit opened #276 "messed up for groovy scripts"
## Existing Theme?

Groovy scripts - I had installed the groovy user-defined lang, and after I installed this theme the colors got inversed and look like this
![image](https://user-images.githubusercontent.com/4193031/39451364-6cc6f45a-4c9c-11e8-801c-3d126280758a.png)

[2018-04-30 22:29] zenorocha commented on #276
What software is this? Please open an issue on the right repository: https://github.com/dracula

[2018-04-30 22:29] #276 closed

[2018-04-30 23:17] rojagit commented on #276
I posted here coz I downloaded and used the theme from https://github.com/dracula; after which the groovy script shows like this; maybe it is an issue of the groovy user-lang-def which I down loaded from https://gist.github.com/Thermionix/9ff4a362f2bdc026c0ec - So maybe I will post it there

[2018-04-30 23:55] zenorocha commented on #276
My question was what theme for what software? From your snippet I noticed it was Notepad++, so the appropriate repository would be https://github.com/dracula/notepad-plus-plus.

[2018-05-01 00:07] rojagit commented on #276
Had no clue Dracula was for different software...thanks for the info !

[2018-05-01 04:12] sleepiejohn commented on #276
Yes, we have different implementations for each editor, so you can find more help in the theme repository for your editor ☺️

[2018-05-01 12:58] rojagit commented on #241
I added the Vivaldi theme from the link mentioned. How is it different from the dark theme already provided by Vivaldi...also this too works only for browser areas, not for web pages. Anything that will darken web pages also ?

[2018-05-01 15:57] screendriver commented on #241
@rojagit please open a new issue for that. But to answer your questions:

- it's different in terms that it uses different colours than the dark theme
- UI theming in Vivaldi has nothing to do with theming web pages. You can't theme web pages with Vivaldi natively

[2018-05-01 17:37] rojagit commented on #241
Thanks! An yes I will remember to log a new issue next time.

[2018-05-01 18:59] screendriver commented on #241
No problem. You're welcome ☺️

[2018-05-09 13:12] d1monster commented on #232
Hello Community!
Can I find somewhere something like "colour's explanation"? E.g. some folder inside my project is dark-blue or file is yellow... what does it means?
Thank you in advance.

[2018-05-15 10:26] songjave opened #277 "Can you creat Dracula-theme for Typora"
Dracula-them is very nice.
But Typora is not supported,so Can you consider adding support to Typora

[2018-06-05 03:30] aklap opened #279 "SublimeText Instructions: No package found"
Searching in packages doesn't find any package with the name Dracula or Dracula Color Scheme.

[2018-06-05 15:37] zenorocha commented on #279
Hey @aklap, thanks for reporting. I checked the package control and it seems like everything is correct. Can you try this one? https://packagecontrol.io/packages/Dracula%20Color%20Scheme

[2018-06-05 23:19] DOMApe commented on #246
I use Ant-Dracula

[2018-06-06 18:56] oguhpereira commented on #277
I stated to create dracula to typora.
https://github.com/oguhpereira/Dracula-Typora

[2018-06-06 18:59] oguhpereira opened #280 "Dracula for Typora"
I created dracula theme to [Typora](https://typora.io/).
my repository is https://github.com/oguhpereira/Dracula-Typora
![image](https://user-images.githubusercontent.com/24482087/41059279-6ce57c9a-69a2-11e8-860f-80738dbd9185.png)

[2018-06-26 14:24] eduardomoroni opened #281 "Firefox Color Theme"
Firefox just launched [Firefox Color](https://color.firefox.com/) a new theme system for Firefox.
I've tried to create support for this new awesome theme system, but I failed.

Could anyone with more expertise create and share with us?
https://github.com/dracula/dracula-theme#color-palette

Thanks

[2018-06-27 10:41] hacknug commented on #281
Like this? https://color.firefox.com/?theme=XQAAAALrAAAAAAAAAABBqYhm849SCiazH1KEGccwS-xNVAVU52hsH-vWaG_44BqU3aonaJe5I4Ohp5xTZgxNtKhNXqWhWjJPgwg1qKVhJcS2YIc92lM34bCs2ived0PtTJd62px8cBPBzotac9o2JRtKIh4-9mnar7Goflxrvy7X2t78g10W7CH4gjVFzCEHhpncSSmuJECJCbs20r5OS81K_WbZCWHsemq5Ngm11KJbfhM2__QLLQA

[2018-06-27 12:47] eduardomoroni commented on #281
Awesome, looks gorgeous!
Thanks @hacknug.

[2018-06-27 14:07] hacknug commented on #281
@zenorocha should we add this to the site and maybe create a new repo for it?

[2018-07-03 17:14] sumanbk92 opened #282 "Block representation/hint for Notepad++"
Hi,

Recently i installed the **dracula** theme for **notepad++**.
But i wonder why there is no hint of the **current block**.
Many in-built theme styles have got block hints.

I mean at least an underline for the brackets - { and }, would be helpful.
Please add a way to represent the same.

Image :
![issue](https://user-images.githubusercontent.com/8256637/42234989-e7ff9d76-7f13-11e8-915e-51ca5d6

[2018-07-07 09:45] itsmoirob opened #283 "Anyone have their own mobile Telegram theme?"
I know theres a desktop telegram, but anyone have a mobile telegram theme? Wanted to ask first before I start manually creating one

[2018-07-09 11:14] sim4life opened #284 "Dracula theme doesn't show git branch name"
My dracula theme is working fine on my macOS High Sierra Terminal except that it doesn't show any git branch name and I've to type `git branch` every time.
Any suggestions?

<img width="1068" alt="platform_ _-bash_ _151x46_and_app_store" src="https://user-images.githubusercontent.com/302743/42447344-730c02c2-8371-11e8-9396-37586d6d77db.png">

[2018-07-09 19:33] zenorocha commented on #284
This is done by https://github.com/dracula/zsh

[2018-07-09 19:34] #284 closed

[2018-07-13 08:09] pichardoJ commented on #247
I checked this, and it looks good, however, there are some colors that are not on the palette. May I suggest the use of the following palette:

[code]

[2018-07-13 09:10] krzysztofzuraw commented on #247
@pichardoJ sure, changed in: https://github.com/krzysztofzuraw/dracula-tilix/commit/79597ecb93d2237a142ac36c4c4eb8614200d6e8

[2018-07-13 17:09] pichardoJ commented on #247
@zenorocha Should this theme be added to the main repository?

[2018-07-13 22:00] gkroon commented on #214
Hi all, I sent @teeli a pull request a week ago about a quick PowerShell import script I created for dracula-putty but I felt like creating my own fork (no offense!). Seems that my PuTTY settings are stored in the HKU registry hive, rather than his proposed HKCU registry hive (can anyone confirm HKU as well??). @teeli: If you still want the pull request, please reach out to me. If you no longer wi

[2018-07-13 22:48] gkroon opened #285 "New theme for i3"
I've created a new theme for [i3](https://i3wm.org/) @ https://github.com/gkroon/dracula-i3.

![Screenshot](https://github.com/gkroon/dracula-i3/raw/master/dracula-i3.png)

[2018-07-14 09:02] teeli commented on #214
@gkroon I've been meaning to get back to this but life keeps getting in the way. I'm happy to hand over the project to you if you want.

[2018-07-14 09:36] gkroon commented on #214
I'd be happy to take over then. :slightly_smiling_face:

[2018-08-09 07:23] KeunwooPark opened #286 "Question about using dracula theme on vim"
Hi.

I'm trying to use dracula theme with tmux and vim(7.2.1689).
I followed instruction on the webpage. I'm using Vim-plug.

However, the actual result doesn't seem right.
The left shows my sample python code, and the right image shows my vimrc.

![dracula](https://user-images.githubusercontent.com/1640277/43884181-61d8cb42-9bf0-11e8-9ebb-74d5ba7784ef.PNG)

Could anyone tell me what option I shou

[2018-08-11 19:37] 4ban opened #287 "New theme for ranger"
## Dracula theme for ranger
Theme for ranger filemanager based on dracula xresources color scheme.
[Repository](https://github.com/4ban/ranger-dracula)

![ranger-dracula](https://user-images.githubusercontent.com/2269864/43995496-7aa9d9ee-9d7c-11e8-9fba-a42366677e2c.png)

[2018-08-16 06:51] wenindoubt commented on #286
On the left pane, can you run `:colorscheme` and confirm that it is using dracula?

It's also possible your VIM is unable to find the `dracula.vim` file since Vim-Plug installs the theme to `~/.local/share/nvim/plugged/dracula/colors/dracula.vim`

So basically, try this so your VIM can read your `dracula.vim` color file properly:

`ln -s ~/.local/share/nvim/plugged/dracula/colors/dracula.vim ~/.vi

[2018-08-20 02:01] KeunwooPark commented on #286
I ran :colorscheme on the left pane, and it showed that I'm using dracula.

And I don't have 'nvim' directory. I'm using regular vim.
But I found dracula.vim file in Vim-Plug.
So I did "ln -s ~/.vim/plugged/dracula/colors/dracula.vim ~/.vim/colors"
But it didn't solve the problem.

[2018-08-20 18:07] nitinsurana commented on #87
https://draculatheme.com/slack/ - That's no theme, only the sidebar changes. The chat and every other thing is still white. There's already an in-built styling for sidebar.

[2018-08-22 11:53] kizivat commented on #211
Hi.
 The same happened to me in gnome-terminal (Ubuntu 18.04). Any solutions yet, please?

[2018-08-24 02:32] dlionz opened #288 "Install Question/Issue"
Hello, Im pretty new to Vim and I was hoping to install the dracula theme however my colors are looking a bit funky.

@nesl247

here is my vimrc file
[code]

and here is a screen shot of what its looking like currently
<img width="780" alt="screen shot 2018-08-23 at 9 26 42 pm" src="https://user-images.githubusercontent.com/14165549/44561750-d12ad180-a71b-11e8-9a2f-b2b555dca99b.png">

Im not super

[2018-08-27 20:23] gpattersonm opened #289 "Request: Theme for SQL Operations Studio"
Can you create a new theme for SQL Operations Studio?

[2018-09-02 18:46] lwm commented on #218
<3

[2018-09-17 21:42] NoahTheDuke commented on #232
Is this the issue to bikeshed about color decisions?

[2018-09-18 04:38] fakemonster commented on #286
try setting your TERM env variable to 256 colors: `export TERM=xterm-256color`. long term you can set that in your .bashrc

[2018-09-18 08:15] KeunwooPark commented on #286
Thanks for the comment, but your solution did not work too. I added 'export TERM=xterm-256color' in .bashrc and .vimrc is same as the above image. And the output is also the same.

[2018-09-25 09:24] Link512 opened #290 "Request: Theme for protonmail"
It'd be awesome if we can have a dracula theme for [proton mail](https://protonmail.com/)

[2018-09-28 20:54] shariquesha commented on #210
Look here https://draculatheme.com/zsh/

[2018-10-02 23:44] CottonEaster opened #291 "Highlight colour is too dim (in SublimeText)"
## Existing Theme?

Yes.

I do not really have the knowledge to do that, I am afraid.

If that doesn't work, take a screenshot that shows the actual bug and mention the [specific maintainer](https://github.com/dracula/dracula-theme#team) of your theme.

Screenshot (with the first of the two `readonly` lines selected/highlighted, believe it or not):

![image](https://user-images.githubusercontent.c

[2018-10-05 16:48] waf opened #292 "New theme for Windows 10 Console (cmd.exe and powershell)"
Hi, I've created a new theme for the default terminal in Windows 10 (both cmd.exe and powershell). Even though a lot of developers are probably using conemu or cmder, it's good to have the basic terminal look nice too.

I have a [dracula-cmd](https://github.com/waf/dracula-cmd/) repo based on the template repo. Here's a screenshot:

![dracula](https://raw.githubusercontent.com/waf/dracula-cmd/mast

[2018-10-07 05:14] tplk commented on #292
Isn't it basically [iTerm](https://github.com/dracula/iterm) theme?

[2018-10-07 05:27] waf commented on #292
It's close to the iterm theme (based off the itermcolors) but has a modification to support the different way that iterm and Windows handle background colors. Windows supports a colortable with 16 colors, iterm supports more, so it's not a 1-to-1 mapping.

In addition, it provides a custom prompt for both cmd and powershell, along with fixes when used with posh-git and psreadline. PSReadLine is bu

[2018-10-07 05:35] tplk commented on #292
I actually think that Windows 10 terminal supports 256 colors. At least, work for me in WSL.
![image](https://user-images.githubusercontent.com/20531968/46578530-68699100-ca0b-11e8-85b7-b80d7347f5a5.png)

[2018-10-07 05:42] waf commented on #292
You're right about the color display capabilities, but when we're talking specifically about the colortable it only supports 16 (but each color in the table supports full rgb). See https://github.com/Microsoft/console/issues/23#issuecomment-365079360 for details. That entire issue has good context.

[2018-10-08 04:09] ChildishGiant opened #293 "New theme for Blender"
Here's a screenshot
![Screenshot](https://user-images.githubusercontent.com/13716824/46592153-fac76e80-cab7-11e8-8b63-70d36f20c282.png)

And here's the repo:
https://github.com/ChildishGiant/dracula-blender

[2018-10-08 11:04] HasanAliKaraca opened #294 "[New Theme Request]Android Studio theme"
Can someone add android studio theme please?

[2018-10-08 20:10] #288 closed

[2018-10-08 20:10] zenorocha commented on #288
Issue moved to [dracula/vim #105](https://github.com/dracula/vim/issues/105) via [**ZenHub**](https://www.zenhub.com/)

[2018-10-08 20:10] zenorocha commented on #288
Issue moved to [dracula/vim #106](https://github.com/dracula/vim/issues/106) via [**ZenHub**](https://www.zenhub.com/)

[2018-10-08 20:12] #286 closed

[2018-10-08 20:12] zenorocha commented on #286
Issue moved to [dracula/vim #107](https://github.com/dracula/vim/issues/107) via [**ZenHub**](https://www.zenhub.com/)

[2018-10-08 20:13] zenorocha commented on #290
Hello @Link512, feel free to create one and send it over https://github.com/dracula/dracula-theme#are-you-going-to-support-editor-x. Thanks for using Dracula!

[2018-10-08 20:13] #290 closed

[2018-10-08 20:14] zenorocha commented on #294
Hello @HasanAliKaraca, feel free to create one and send it over https://github.com/dracula/dracula-theme#are-you-going-to-support-editor-x. Thanks for using Dracula!

[2018-10-08 20:14] #294 closed

[2018-10-08 20:19] zenorocha commented on #292
That's great @waf! I love seeing better support for Windows tools.

Do you want to join the [dracula organization](https://github.com/dracula)? That way we can go ahead and feature your theme on the website. No worries you'll still be the main maintainer of the repository and have control over the future of the theme.

If you're ok with that, I sent you an invitation, after you accept it you shoul

[2018-10-08 20:20] #291 closed

[2018-10-08 20:20] zenorocha commented on #291
Issue moved to [dracula/sublime #16](https://github.com/dracula/sublime/issues/16) via [**ZenHub**](https://www.zenhub.com/)

[2018-10-08 20:21] zenorocha commented on #289
Hello @gpattersonm, feel free to create one and send it over https://github.com/dracula/dracula-theme#are-you-going-to-support-editor-x. Thanks for using Dracula!

[2018-10-08 20:21] #289 closed

[2018-10-08 20:22] #282 closed

[2018-10-08 20:23] zenorocha commented on #282
Issue moved to [dracula/notepad-plus-plus #8](https://github.com/dracula/notepad-plus-plus/issues/8) via [**ZenHub**](https://www.zenhub.com/)

[2018-10-08 20:23] #279 closed

[2018-10-08 20:50] zenorocha commented on #249
Here's a PR that includes termite: https://github.com/dracula/dracula.github.io/pull/67

I can merge it as soon as I have the instructions to activate the theme.

[2018-10-08 20:50] #249 closed

[2018-10-09 01:11] waf commented on #292
Thanks @zenorocha, I've joined the organization and transferred the repository.

Just a heads up, I renamed the repository to `powershell`, as that more accurately reflects how the repository has evolved; it used to be cmd.exe only. Please let me know if you have concerns about this name.

I'd like to spend a bit of time tweaking the README to reflect this change, and after that should I open a PR

[2018-10-12 21:36] BilelJegham opened #295 "New theme for Couscous"
I make a template for Couscous which generates a GitHub pages website from your markdown documentation (http://couscous.io/).

![screenshot](https://user-images.githubusercontent.com/20130405/46895035-2fe01200-ce66-11e8-9fbb-d642b740c5f9.png)
The repo : https://github.com/BilelJegham/DraculaThemeCousous

Never forget Couscous is good  :smiley:

[2018-10-14 09:33] keegancsmith opened #296 "Dracula theme for kitty"
A dark theme for [kitty](https://sw.kovidgoyal.net/kitty/).

https://github.com/keegancsmith/kitty-dracula

![Screenshot](https://user-images.githubusercontent.com/187831/46914836-1abccd80-cfa3-11e8-9d59-c0be8736175d.png)

[2018-10-19 16:54] yougotwill commented on #224
Hi @zenorocha, not sure what happened to this previous user and if this is the right place to post this. If it's a problem I'm happy to be redirected to the correct place. 😄

However given the lack of activity on this issue I've made the theme from scratch and made my own repo https://github.com/yougotwill/coteditor-dracula-theme .

Hopefully this can also be helpful to other cot users out there 👍

[2018-10-27 21:45] leobel96 opened #297 "Dracula theme for VHDL language"
Please add VHDL language to the supported languages

[2018-11-22 06:56] keegancsmith commented on #296
Ping

[2018-11-24 09:43] dohzer commented on #297
+1 (or should that be ++1?)

Would be very much appreciated!
VHDL is love. VHDL is life.

[2018-11-26 09:58] Heimo-He opened #298 "Dracula theme for kakaoTalk iOS"
Dracula theme for kakaoTalk iOS

https://github.com/Heimo-He/dracula-theme-kakao

My technique for designing pictures is very bad. = =

[2018-11-26 10:01] Heimo-He commented on #298
![](http://ww1.sinaimg.cn/large/005H70QEgy1fxlmbhg476j30tz1sx7b5.jpg)

[2018-11-28 01:35] JulioVMelo commented on #281
i`m created one theme in the new version on firefox
[Dracula dark theme](https://addons.mozilla.org/pt-BR/firefox/addon/draculadarktheme/)

[2018-11-28 16:54] weitieda opened #299 "VSCode Javascript File lost Certain Color Highlight"
Hi,

In VSCode, I have a styles.js file, but for the const declared at top, when I use them below, it's not highlighted with color.

Is it normal?

Thanks

![image](https://user-images.githubusercontent.com/35972055/49167752-0ee35b80-f304-11e8-95bb-5217acfaeb85.png

[2018-11-29 14:43] JulioVMelo commented on #281
@zenorocha

[2018-12-02 04:55] kendocode commented on #247
What needs to be done to get this into the main repo so it's easier to find? Could @krzysztofzuraw just submit a PR or is there another procedure?

Thanks for making this!

[2018-12-18 10:42] kmichl opened #300 "Dracula theme for Linux console"
Dracula theme for the Linux console made by @grugq

See his [gist](https://gist.github.com/grugq/23dca2557e45f8c16a38e8acf50595a1)

[2018-12-18 12:49] kmichl commented on #300
My bad, will made it into an actual repo in the near future

[2018-12-18 12:49] #300 closed

[2018-12-26 14:44] marko-avlijas opened #301 "Ruby syntax highlighting broken in VIM 8.1"
Syntax highlighting is broken for ruby on my vim. It only recognizes strings and private keyword. Everything else is white (except line numbers). Html file works fine.

My platform is linux mint 18.3 Cinnamon desktop.
All other themes work for ruby.

VIM - Vi IMproved 8.1 (2018 May 17, compiled May 24 2018 22:39:34)
Included patches: 1-22
Huge version with GTK2 GUI.  Features included (+) or not (

[2018-12-26 19:33] pstorozenko commented on #287
Repository 404 not found :(

[2018-12-28 05:39] mzhukovs opened #302 "VS2019 Compatibility (and consider adding to VS-ColorThemes)"
By far my favorite theme. Thanks to all contributors for this one...
2 quick things:
1. Didn't see an option to download the theme from your website for VS2019 (currently in preview). Will you be releasing an extension soon?
2. You guys should consider adding this as a theme to the "Color Themes for Visual Studio" extension, if possible: [https://github.com/Microsoft/VS-ColorThemes](https://github

[2018-12-30 03:51] 4ban commented on #287
Yeah, there was no response for about 5 months, so ...

[2018-12-30 21:15] ChildishGiant commented on #287
Yea seems like no one at dracula adds themes. I'd keep the repo up for the people who look through issues to find themes. I've had a few times trying to use dracula and it turns out that often the themes exist, just not officially.

[2018-12-31 02:19] #261 closed

[2019-01-03 12:57] timorunge commented on #287
I'd also love to see and use the dracula-ranger theme... :)

[2019-01-03 23:51] zenorocha commented on #287
Sorry guys, I wasn't able to be active enough on this project, if you still have the code feel free to create a repo so we can finally move to this organization. Sorry again.

[2019-01-04 18:15] dsifford commented on #299
The javascript syntax changed recently and removed the support for highlighting assignments in all caps as constants.

So to answer your question: Yes, this is the new normal.

[2019-01-04 18:18] weitieda commented on #299
Alright, thanks for your reply.

[2019-01-05 00:42] mienaikage commented on #296
I should have probably checked the issues before creating my own :see_no_evil:

https://github.com/mienaikage/kitty-theme-dracula

![screenshot from 2019-01-05 00-07-42](https://user-images.githubusercontent.com/966706/50717894-bc275d00-1082-11e9-8d59-50d5ba6cf252.png)

[2019-01-05 13:56] mienaikage commented on #232
I'd personally prefer a color other than foreground for variables if possible. Foreground doesn't stand out to well, especially not with string interpolation (white + yellow).

Is there a reason foreground is used over any other colors in the spec?

[2019-01-05 22:58] mienaikage opened #303 "Fish syntax theme"
I've noticed there are a few previously closed issues regarding fish themes, but those appear to be relating to the prompt. I have a colorscheme which is purely for fish's syntax highlighting, set via the color variables specified in the [fish documentation](https://fishshell.com/docs/current/index.html#variables-color). This has no effect on the prompt selected by the user.

![screenshot from 201

[2019-01-06 11:31] mienaikage commented on #303
I created a branch and shuffled around a few colors.

![screenshot from 2019-01-06 11-24-22](https://user-images.githubusercontent.com/966706/50735407-824f7700-11a6-11e9-83be-3d2fbc9b66f8.png)

[2019-01-08 04:29] scaraux opened #305 "Colors looking different with Jetbrains"
I have been using the theme on various IDEs for many years (Xcode, Visual Studio, Emacs etc...)
I just installed it on Webstorm and PhpStorm, and the colors look different. I don't understand why, you can see that on JetBrains the colors are way too bright.

Maybe I am missing something ?

[2019-01-08 04:34] #305 closed

[2019-01-08 04:35] scaraux commented on #305
After re-installing the theme twice, colors are looking fine...

[2019-01-09 16:43] timorunge commented on #303
Added some colors for "fish_pager_color_XXX".

[2019-01-16 06:53] #298 closed

[2019-01-17 23:52] adityarpillai opened #306 "Not changing lightline color"
After installing Dracula in vim via Vundle, it does not change the color scheme of lightline.

<img width="1123" alt="screen shot 2019-01-17 at 6 48 32 pm" src="https://user-images.githubusercontent.com/29032680/51356494-a9e8ee00-1a88-11e9-811d-945c54df4cbf.png">

Note: the menu at the bottom doesn't follow the Dracula color scheme.

I have run :PluginInstall after saving the file and sourcing `~/

[2019-01-18 00:06] #306 closed

[2019-01-18 00:06] adityarpillai commented on #306
Issue with my `.vimrc`

[2019-01-26 22:24] Phuurl opened #308 "Dracula for MobaXterm"
😱 Dracula theme for [MobaXterm](https://mobaxterm.mobatek.net)

[https://github.com/Phuurl/dracula-mobaxterm](https://github.com/Phuurl/dracula-mobaxterm)

![Screenshot](https://raw.githubusercontent.com/Phuurl/dracula-mobaxterm/master/dracula-mobaxterm.png)

[2019-01-27 13:14] pavel-agarkov opened #309 "Dracula for all websites"
## New Theme: [Dracula - Midnight Lizard color scheme](https://midnight-lizard.org/schemes/index/full/ad0ef141-360c-4cf7-906e-110f4bf3b276)
I've implemented Dracula color theme in Midnight Lizard web-extension ([Chrome](https://chrome.google.com/webstore/detail/midnight-lizard/pbnndmlekkboofhnbonilimejonapojg), [Firefox](https://addons.mozilla.org/en-US/firefox/addon/midnight-lizard-quantum)).
Wit

[2019-01-27 15:02] STiXzoOR opened #310 "Dracula for Arduino IDE"
😱 Dracula for [Arduino IDE](https://www.arduino.cc/en/main/software)

I created a dracula theme for Arduino IDE. I know it's not perfect but there is plenty of room for improvements. You can check it out [here](https://github.com/STiXzoOR/Dracula-for-Arduino).

![Screenshot](https://raw.githubusercontent.com/STiXzoOR/Dracula-for-Arduino/master/img/screenshot.png)

[2019-01-28 15:36] sdeibel opened #311 "Dracula for Wing Python IDE"
https://github.com/sdeibel/dracula-wing -- already contains the screenshot

Thanks!

[2019-02-02 06:17] marbuser opened #312 "Why does the ZSH theme look nothing like dracula?"
So I'm just curious as to why the ZSH dracula theme looks nothing like the others themes.

I've become accustom to a look like below;
![image](https://user-images.githubusercontent.com/34422459/52160701-2fa9a200-26f5-11e9-8869-093ed45e6783.png)

But instead, the ZSH theme looks like this (which is really ugly if I'm honest...)
![image](https://user-images.githubusercontent.com/34422459/52160702-3c

[2019-02-02 12:00] tryton-vanmeer commented on #312
You would need to set the theme of your terminal to Dracula to get the right colours.

I assume that's the default Terminal in MacOS? If so, this is what you want https://draculatheme.com/terminal/

[2019-02-02 14:17] marbuser commented on #312
Thanks but I've already done that. I'm using iTerm2.
If I open iTerm it's black like the image shown in OP, but if I open a new tab or a new window, it shows the Dracula colours. Any idea how to fix this? 🤔

[2019-02-02 15:02] tryton-vanmeer commented on #312
Hmm, that's an odd issue. I'm not familiar with iTerm, so not sure  of any fixes. Only thing I can think of is an option for setting the default profile.

[2019-02-02 20:33] marbuser commented on #312
Very odd. Managed to fix this by just resetting my iTerm completely. Seems to be working now. Must have been some sort of error/corruption in my profile.

Thanks for the help. :)

[2019-02-02 20:33] #312 closed

[2019-02-04 12:44] shmink opened #313 "Dracula for LimeChat"
<img width="917" alt="screenshot 2019-02-04 at 12 12 29" src="https://user-images.githubusercontent.com/4008082/52209016-7248b700-287a-11e9-9818-dd1021158a0e.png">

[Repo](https://github.com/shmink/dracula-limechat)

I suppose still a work in progress but updating as I go along.

[2019-02-06 23:00] #259 closed

[2019-02-07 03:20] AGitBoy opened #314 "ZSH theme needs a new maintainer."
The zsh theme needs a new maintainer. The [issue](https://github.com/dracula/zsh/issues/1) was opened two years ago on the zsh repository, and has not been touched since. I have been the only person to volunteer as a maintainer, and it has been left ignored for two days, and from the looks of it, there hasn't been any activity since over a year ago.

So, it is my hope that by bringing it to the ma

[2019-02-07 19:19] cweagans opened #315 "Dracula for ulauncher"
## New theme: [Dracula for ulauncher](https://github.com/cweagans/dracula-ulauncher)

I've released a theme for [ulauncher](https://ulauncher.io). I'd be glad to transfer it to the dracula org if there's some interest.

[2019-02-08 10:18] shmink commented on #313
Anything new with this? Feedback or anything?

[2019-02-08 19:36] hacknug commented on #313
I tried to get in touch with @zenorocha on Slack to see how I could help him maintain the organization. Hopefully he'll see this and maybe reach out soon.

[2019-02-18 09:49] shmink commented on #313
@zenorocha let me know what you're thinking about this issue. At the least, some feedback would be nice so I could improve.

[2019-02-19 21:09] #299 closed

[2019-02-21 11:16] JRevirthuum opened #316 "Create Dracula for Editplus"
Hi guys.

I created the Editplus theme.
I hope Editplus users like it.

thank you.

[Dracula for Editplus](https://github.com/JRevirthuum/dracula-theme-editplus)

[2019-03-09 02:31] leandropincini commented on #267
Hello @sleepiejohn
I didn't realize this issue is already open before crate my repo as requested. But can I?

Repo:
https://github.com/leandropincini/alacritty

Screen:

https://github.com/leandropincini/alacritty/raw/master/dracula-alacritty.png

TIA
Best Regards!

[2019-03-11 12:21] #272 closed

[2019-03-11 15:46] timorunge commented on #267
I think adding a screenshot which is showing Alacritty completely would help; as well an "how to apply the colors for alacritty" as already done by @clarfon in his description. :)

[2019-03-11 16:10] clarfon commented on #267
My profile explicitly says I use they/them/their pronouns; please do not use "his" for me.

I appreciate you making a template repo; I currently don't have the time for this but I'm glad someone else does. :)

[2019-03-11 16:39] leandropincini commented on #267
Hello you :)

@timorunge Any special command that you want into the screenshot?

@clarfon Tks, by the way, I wish to add you into the credits (after @timorunge response) if there are no problems, of course.

[2019-03-11 16:53] timorunge commented on #267
I'm sorry, @clarfon. I was not reading your profile.

@leandropincini I'd follow the schema which is used in:

- https://draculatheme.com/iterm/
- https://draculatheme.com/terminal/

[2019-03-11 19:03] leandropincini commented on #267
@timorunge done

[2019-03-11 23:43] sleepiejohn commented on #267
thanks guys!
@zenorocha could you please put https://github.com/leandropincini/alacritty under the organization? thanks!

[2019-03-12 12:26] leandropincini commented on #267
@zenorocha @sleepiejohn can I change the repository's name? TIA

[2019-03-21 17:15] bricerebsamen opened #318 "comments hard to read when highlighted"
comments are very hard to read when highlighted (vim c++). See dracula/vim#95

### Screenshot
![selection_036](https://user-images.githubusercontent.com/1027398/41791568-efcefc70-760a-11e8-9239-a6d24c218bb8.png)

[2019-03-21 17:16] bricerebsamen commented on #318
I really love dracula otherwise, but this has become too much of a pain point so I'm switching to jellybean for the time being

[2019-03-22 13:16] 1337M0nst3r opened #319 "Dracula for Termite"
I made the Dracula color scheme for the Termite terminal emulator.

Here's the link to the repo: https://github.com/1337M0nst3r/dracula-termite

And here's the screenshot:
![screenshot](https://user-images.githubusercontent.com/34712352/54825071-59268900-4cb5-11e9-8cc8-495245b21a58.png)

[2019-03-26 22:31] tonystr opened #320 "Dracula for GameMaker Studio 2"
# New theme for [GameMaker Stuido 2](https://www.yoyogames.com/gamemaker)

![Screenshot](https://user-images.githubusercontent.com/30723101/55037507-4e098b00-501e-11e9-9437-952f729ec06e.png)

Here's a link to the repository: [https://github.com/tonystr/Dracula](https://github.com/tonystr/Dracula)

[2019-04-10 13:00] minusf opened #321 "mutt theme missing from main listing"
the mutt submodule seems to be missing from the main list?

[2019-04-13 15:26] Trollwut commented on #251
@zenorocha Hey mate! Despite I'm being late for just a couple of minutes, I finally changed it to the Dracula's readme template.

I already pushed it to your linked repo. Please tell me what you think!

[2019-04-15 20:10] guerremdq commented on #309
Looks like that Json is not compatible with the newer version of the plugin.  Attached the converted to the new format
[dracula.json.zip](https://github.com/dracula/dracula-theme/files/3081889/dracula.json.zip)

[2019-04-15 20:18] pavel-agarkov commented on #309
@guerremdq - both formats are correct and actual.
mine is for publishing color schemes
yours is for installation

But users don't need any json files - color scheme can be installed in one click from [midnight-lizard.org](https://midnight-lizard.org/schemes/index/full/ad0ef141-360c-4cf7-906e-110f4bf3b276)

[2019-04-16 14:41] sergey27564 opened #322 "Geany theme"
![image](https://user-images.githubusercontent.com/16984827/56219115-de138100-606e-11e9-9582-4dc19ff62179.png)

https://github.com/sergey27564/geany-Dracula-Theme

[2019-04-23 20:45] Phuurl commented on #308
Pinging @zenorocha if you get chance to add this

[2019-05-08 03:40] PopeRigby commented on #251
How is this coming along?

[2019-05-08 14:43] Trollwut commented on #251
May you clarify your question?

The wished changes have been made in this repo, if this is what you asked for: https://github.com/dracula/steam :)

[2019-05-08 14:48] PopeRigby commented on #251
I thought it was going to be put on the website.

[2019-05-08 17:56] Trollwut commented on #251
@zenorocha may know more :)

[2019-05-31 23:09] yougotwill commented on #224
@hacknug Looks like you are still active on this repo. Is there any chance we can integrate my repo?

[2019-06-03 12:02] hacknug commented on #224
@yougotwill Hey there! 👋

I've managed to talk to Zeno about helping out maintaining the organization and will be sending invitations to join the organization to everyone with a new theme as soon as I'm a co-owner.

Will get back to you asap!

[2019-06-03 17:58] hacknug commented on #224
@yougotwill just sent you an invite to join the organization. Once you've joined we can move your repo to it. Let me know if there's anything else you need me to do 👍

[2019-06-03 18:22] hacknug commented on #251
Feel free to open a PR in [the site's repo](https://github.com/dracula/dracula.github.io/) and I'll merge it in asap.

Closing this as the theme has been moved to the repo 👍

[2019-06-03 18:22] #251 closed

[2019-06-03 19:13] hacknug commented on #308
@Phuurl just sent you an invite to join the organization. Once you've joined we can move your repo to it. Let me know if there's anything else you need me to do 👍

[2019-06-03 22:40] yougotwill commented on #224
Amazing! Thank you so much. 🙏

[2019-06-03 22:47] yougotwill commented on #224
@hacknug I have joined the organisation. I haven"t transferred a repo before so just to confirm.

1. I go to "transfer ownership" in the settings tab and click the transfer button.
2. Then enter the repo and the organisation name "dracula".
3. Update the remote as mentioned above?

Anything else I need to do. I just want to make sure this goes smoothly 😆

[2019-06-04 09:54] hacknug commented on #224
@yougotwill I'd say yes but you're going to be the first one I do this with so… 🤷‍♂

One thing I'm not sure of is what can happen with the repo being a fork of `dracula/template`. I think @ghost ☝️ was having issues with that so maybe you'll have to do something so it's not a fork.

I guess we'll see. Let me know if you need any help!

[2019-06-04 19:39] Phuurl commented on #308
@hacknug Cool, I've moved it over - could you give me write/admin permissions to that repo? Need to drop the 'dracula-' from the name.
https://github.com/dracula/dracula-mobaxterm

[2019-06-04 23:28] yougotwill commented on #224
Cool @hacknug Will sort it out this evening

[2019-06-05 10:41] hacknug commented on #308
@Phuurl just did! I've replicated the settings on other repos so I think this should be enough.

[2019-06-05 12:07] yougotwill commented on #224
@hacknug I managed to successfully transfer the repo. Though it looks like I don't have the correct permissions to edit things. For example I want to change `dracula-coteditor` to just `coteditor` for consistency. Could you help with that please?

Also the solution to @ghost 's problem is to create a new repo. You can't transfer a forked repo into the same network if another repo exists. You would

[2019-06-05 12:39] hacknug commented on #224
@yougotwill can you try now?

[2019-06-06 00:43] yougotwill commented on #224
@hacknug It works thanks! Will look into making a pr for the website when I have time.

[2019-06-06 09:34] hacknug commented on #224
Sounds good. Thanks!

[2019-06-06 09:34] #224 closed

[2019-06-06 09:38] hacknug commented on #313
Hey @shmink 👋 Would you like to move the theme to the organization?

[2019-06-06 09:40] hacknug commented on #322
Hey @sergey27564 👋 Would you like to move the theme to the organization?

[2019-06-06 09:48] sergey27564 commented on #322
Yes :)
чт, 6 июн. 2019 г., 12:40 Nestor Vera <notifications@github.com>:

[2019-06-06 09:55] hacknug commented on #322
Just sent you the invite. Let me know once you've joined the org and transfered the repo, and I'll set everything up.

[2019-06-06 10:04] sergey27564 commented on #322
joined, but i'll transfer repo later

чт, 6 июн. 2019 г., 12:55 Nestor Vera <notifications@github.com>:

[2019-06-06 19:58] Phuurl commented on #308
👍 renamed it - was going to add it to the site as well, but it sounds like you might be rewriting it soon - would it be better for me to wait until that's done before adding it?

[2019-06-07 10:20] hacknug commented on #308
I'll be using the content of the repo for the new version so feel free to add it whenever you can. Only issue is I can't publish new versions of the current site due to the contributors section on every page being broken 😢

[2019-06-12 12:48] leandropincini commented on #267
@zenorocha @sleepiejohn @timorunge  news?

[2019-06-12 14:58] hacknug commented on #267
Hey @leandropincini! 👋 I've just invited you to the organization. Feel free to transfer the repo whenever you have a moment.

[2019-06-12 23:24] leandropincini commented on #267
@hacknug  Hi!
https://github.com/dracula/alacritty

Done.

[2019-06-13 10:22] hacknug commented on #267
@leandropincini thank you!

[2019-06-13 10:22] #267 closed

[2019-06-13 10:24] #308 closed

[2019-06-13 10:24] hacknug commented on #320
Hey @tonystr 👋 Would you like to move the theme to the organization?

[2019-06-13 10:25] hacknug commented on #310
Hey @STiXzoOR 👋 Would you like to move the theme to the organization?

[2019-06-13 10:30] tonystr commented on #320
I sure would! Anything specific I should change first?

[2019-06-13 10:31] hacknug commented on #319
Hey @1337M0nst3r 👋 We already have https://github.com/dracula/termite, have you seen that?

[2019-06-13 10:44] hacknug commented on #237
Hey @makitsune! 👋 Just sent you a new invitation to join the organization and the DuckDuckGo team. Should we get rid of your personal repo to prevent users from using an out of date version of the theme?

Closing the issue since the theme was already migrated. Let me know if you need anything else.

[2019-06-13 10:44] #237 closed

[2019-06-13 10:56] hacknug commented on #320
Rename the repo to something like `gamemaker-studio` and it should be ready to move. just sent you the invite to the team!